<!DOCTYPE html>

<html lang="en" >

<head>
<meta charset="utf-8"/>
<title ng-if="loginView && loginTpl == 0" >Curve - Login</title>
<title ng-if="!loginView  || (loginView && loginTpl != 0)" >Curve</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<link href="Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="Images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://use.typekit.net/fph3tyi.js"></script>

<script>try{Typekit.load({ async: true });}catch(e){}</script>

<script src="http://s3.amazonaws.com/curve.repo/sdk/curve.min.js" type="text/javascript"></script>

<link href="Styles/index_styles.css" type="text/css" rel="stylesheet" ></link>
<script src="Javascript/index_libs.js"></script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-52DZKZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'http://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-52DZKZ');</script>
<!-- End Google Tag Manager -->

<!--base href="/" -->

<style>
.mobile-screen{display:none;}

@media only screen and (max-width: 1200px){
	.mobile-screen{display:block;position:fixed;top:0;left:0;width:100%;min-height:500px;background:#41B7E9;text-align:center;z-index: 10000;}
	.mobile-screen h3{color:#FFFFFF;}
}


</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.2/amcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.2/radar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/amcharts/3.21.2/themes/light.js"></script>
</head>

<body ng-controller="MainCtrl" ng-class="{'body-bg' : loginView}" id="MainWrap" >
	<!-- <div class="mobile-screen">
		<h3> No support for low resolution, please use a laptop </h3>
	</div> -->
	<div class="loading-page">
		<i class="fa fa-cog fa-spin"></i>
	</div>	
	<div class="loading-dashboard" >
		<i class="fa fa-cog fa-spin" style="color: #00b3ff;    position: relative;    top: 30%;" ></i>
	</div>
	<div ng-view ></div>
		
	<div class="modal fade" id="myModalNewApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog tutorial_new_app_popup">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button"  class="close tutorial_new_app_close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<img src="/Images/doughnut1-1.png" style="width:54px;height:54px; float:left; margin-right:10px; border-radius: 15px !important;">
			<h3 class="modal-title" style="font-size: 16px;">Stage 1/3</h3>
			<h2 class="modal-title" id="main_title_newapp">New application</h2>
			<h4 class="modal-title" id="please_wait_newapp"  style="display:none"></h4>
			<div id="instruct_newapp">
				<h4 class="modal-title">Please type the application name</h4>
				<h5 class="modal-title">You can use only alphabetical or numerical characters and "_"</h5>
			</div>
		  </div>
		  <div class="modal-body">
			<div class="new_app upload_form" id="newApp_uploadForm">
				<div class="input-icon" style="margin-bottom: 6px; padding-top: 15px;">
					<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Company </h4>
					<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="The company that the application will be assigned to."></i>
					<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:95%" id="company_name_title">
						<span style="margin-right:10px" >{{comNameTitle}}</span><i class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu" role="menu"  style="width:95%">
						<div class="slimScrollDiv" id="company_names_dropdown" style="position: relative; overflow: hidden; width: auto; height: auto;">
							<li ng-repeat="(k,app) in arrCompanies" role="presentation" style="width:100%">
								<span role="menuitem" ng-click="newAppCompanySelected(app.CompanyName,app.ID);" tabindex="-1" >{{app.CompanyName}}</span>
							</li>
						</div>
					</ul>
				</div>
				<h4 class="modal-title" id="myModalLabel">Application Name</h4>
				<input type="text" name="GameName" id="GameName" style="width:95%;margin-bottom:10px;margin-top:10px;"/>
				
				<div class="modal-footer">
					<button type="button" class="btn new gray tutorial_new_app_discard" data-dismiss="modal">Discard</button>
					<button type="button" class="btn submit new green" ng-click="createNewApplication();">Apply</button>
				</div>
						
				<div class="error_text"></div>
			</div>

			<div class="new_app loading" style="display:none;background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;min-height: 300px;"></div>
		  </div>
		</div>
	  </div>
	</div>
	
	
	<div class="modal fade" id="myModalNewApp2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog newapp" style="max-width: 925px; min-width:540px;">
		<div class="modal-content newapp" style="padding-left: 30px;">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<img src="Images/doughnut1-4.png" style="margin-top:5px; float:left; margin-right:10px; border-radius: 15px !important;">
			<h3 class="modal-title" style="font-size: 16px;">Stage 2/3</h3>
			<h2 class="modal-title" id="main_title_newapp" style="margin-top: -6px;">New application</h2>
			<div id="instruct_newapp2">
				<h5 class="modal-title">Curve is now creating your app's dashboards which may take up to 10 minutes. You will recieve an E-mail upon completion.</h5>
				<h4 class="modal-title" style="padding-top: 5px;">Meanwhile, let's start integrating the API.</h4>
			</div>
		  </div>
		  <div class="modal-body">
			<div class="new_app choosePlatform">
				<h2 class="modal-title inline" id="">Your Application Token </h2><span class="curve_app_report_token tutorial_new_app_token" id="newAppTokenHolder" style="border: 1px solid #eee;background: #eee;border-radius: 5px !important;padding: 2.5px 5px;font-size: 20px;">CURVE_APP_REPORT_TOKEN</span>
				
				<div style="margin-top:30px; margin-bottom: 30px;"><h4>Initializing Curve is as simple as the following lines:</h4></div>
				<div class="platform_container">
					<div style="width:70px; height:70px; display: inherit;">
						<img src="Images/ios.png">
					</div>
					<h4>Curve for iOS</h4>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="sendEmailToDeveloper('iOS')">
								<i class="fa fa-envelope"/></i>&nbsp;&nbsp; Email instructions
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="downloadSDK('iOS')">
								<i class="fa fa-cloud-download"/></i>&nbsp;&nbsp; Download SDK
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="SDKinstructions('iOS')">
								<i class="fa fa-book"/></i>&nbsp;&nbsp; Instructions
							</button>
						</div>
					</div>
				</div>
				<div class="platform_container">
					<div style="width:70px; height:70px; display: inherit;">
						<img src="Images/iosTV.png">
					</div>
					<h4>Curve for tvOS</h4>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="sendEmailToDeveloper('tvOS')">
								<i class="fa fa-envelope"/></i>&nbsp;&nbsp; Email instructions
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="downloadSDK('tvOS')">
								<i class="fa fa-cloud-download"/></i>&nbsp;&nbsp; Download SDK
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="SDKinstructions('tvOS')">
								<i class="fa fa-book"/></i>&nbsp;&nbsp; Instructions
							</button>
						</div>
					</div>
				</div>
				<div class="platform_container">
					<div style="width:70px; height:70px; display: inherit;">
						<img src="Images/android.png">
					</div>
					<h4>Curve for Android</h4>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="sendEmailToDeveloper('Android')">
								<i class="fa fa-envelope"/></i>&nbsp;&nbsp; Email instructions
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="downloadSDK('Android')">
								<i class="fa fa-cloud-download"/></i>&nbsp;&nbsp; Download SDK
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="SDKinstructions('Android')">
								<i class="fa fa-book"/></i>&nbsp;&nbsp; Instructions
							</button>
						</div>
					</div>
				</div>
				<div class="platform_container">
					<div style="width:70px; height:70px; display: inherit;">
						<img src="Images/computer.png">
					</div>
					<h4>Curve for JavaScript</h4>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="sendEmailToDeveloper('JS')">
								<i class="fa fa-envelope"/></i>&nbsp;&nbsp; Email instructions
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="SDKinstructions('JS')">
								<i class="fa fa-book"/></i>&nbsp;&nbsp; Instructions
							</button>
						</div>
					</div>
				</div>
				<div class="platform_container">
					<div style="width:70px; height:70px; display: inherit;">
						<img src="Images/googletag.png">
					</div>
					<h4>Curve for GTM</h4>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="sendEmailToDeveloper('Google Tag Manager')">
								<i class="fa fa-envelope"/></i>&nbsp;&nbsp; Email instructions
							</button>
						</div>
					</div>
					<div class="platform_action">
						<div class="icon_holder">
							<button type="button" class="btn submit new green platform_button" ng-click="SDKinstructions('GTM')">
								<i class="fa fa-book"/></i>&nbsp;&nbsp; Instructions
							</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn submit new green" style="background-color: #76c9dc;" data-dismiss="modal" ng-click="gotoTutorial('CREATE_NEW_APP_PAGE_3');">Done</button>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</body>
</html>