.page-sidebar .page-sidebar-menu > li > a > i.nav-icon-audiences{background: url(/../Images/audience/audience.png) no-repeat;width: 55px;height: 60px;display: block;margin: 20px auto 5px;background-position: 0% -1%;}
.page-sidebar .page-sidebar-menu > li:hover > a > i.nav-icon-audiences{background-position: 0% 120%;}
.page-sidebar .page-sidebar-menu > li.active a .nav-icon-audiences{background-position: 0% 120%;}
.create-audience-box{float:right;margin-bottom:15px;color:#535353;background:#f7f7f7;border-radius: 0 20px 20px 0;cursor:pointer;}
.create-audience-box .create-btn{background: url(/../Images/audience/create-btn.png) no-repeat;width: 57px;height: 57px;display: block;background-position: 0% 0%;float:right;cursor:pointer;}
.create-audience-box:hover .create-btn{background-position: 0% 100%;}
.audience-accordion{background-color: #f7f7f7;height:70px;}
.audience-accordion .audience-accordion-name{float:left;width: 250px;background-color: #F1F1F1;height: 100%;color: #535353;font-size: 14px;font-weight: bold;padding: 25px 0 0 25px;text-overflow: ellipsis;}
.audi-inisight-triangle{
    float: left;
position: relative;
width: 40px;
height: 100%;
   }
.audi-inisight-triangle::after {
    content: '';
position: absolute;
left: 0px;
top: 0px;
border: 35px solid transparent;
border-left: 25px solid #F1F1F1;
   }

   
.audience-accordion .audi-arrow .fa-angle-double-down{font-size: 30px;color: #6ca3ba;
    margin-top: 23px;}

.audience-accordion .audi-arrow .fa-angle-double-down:hover, .fa-angle-double-down:focus {
	color: #6ca3ba;
}

.audience-accordion .audi-arrow .fa-angle-double-down.des{font-size: 30px;color: #d0cdcd;
    margin-top: 30px;}

.audience-accordion .audi-arrow .fa-angle-double-down.des:hover, .fa-angle-double-down-des:focus {
	color: #d0cdcd;
}


.audience-accordion .audi-arrow .fa-angle-double-up{font-size: 30px;color: #6ca3ba;
    margin-top: 23px;}

.audience-accordion .audi-arrow .fa-angle-double-up:hover, .fa-angle-double-up:focus {
	color: #6ca3ba;
}

.audience-accordion .audi-arrow .fa-angle-double-up.des{font-size: 30px;color: #d0cdcd;
    margin-top: 20px;}

.audience-accordion .audi-arrow .fa-angle-double-up.des:hover, .fa-angle-double-up-des:focus {
	color: #d0cdcd;
}


.audience-accordion .audi-vertical-border{float: right;
    height: 100%;    padding-right: 20px;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;}
.audience-accordion .audience-accordion-icon{float: right;text-align: center;}
.audience-accordion .icon-25{width: 80px;padding-top: 15px;}
.audience-accordion .audience-accordion-icon .audience-label{color:#a4a4a4;width:100%;}
.audience-accordion .audience-accordion-icon .up{color: #3db765;font-size: 18px;}
.audience-accordion .audience-accordion-icon .down{color: #ff643f;font-size: 18px;}
.audience-accordion .audience-accordion-icon .stay{color: #a4a4a4;font-size: 18px;}

.audience-accordion .audi-lebel-color{color:#575757;font-size:17px;height: 24px;}
.audience-accordion .audi-sLebel-color{color:#575757;font-size:15px;}
.audience-accordion .audience-label{color:#a1a1a1;}

/* old audi accordion detls */
.audience-details{background: #fcfcfc;width: 95%;margin: -5px auto 0;padding: 30px;}
.audience-details .audience-details-continer{    display: inline-block;    width: 100%;}
.audience-details .audience-details-box{background-color: #f7f7f7;padding: 25px 20px 70px 20px;border: 1px solid #e6e6e6;border-radius: 10px;display: inline-block;width: 100%;}
.audience-details .audience-details-title{text-align: center;    margin-bottom: 10px;    color: #535353;}
.audience-details .audience-details-ul{margin: 0;padding: 0;}
.audience-details .audience-details-ul li{list-style: none;    background-color: #f7f7f7;    margin: 0;}
.audience-details .audience-details-ul li label{    font-weight: bold; color: #535353;}
.audience-details .audience-details-box .similar-inp{float: left;cursor: pointer;    height: 33px;    border: none;    border-radius: 10px;    width: 70%;    padding: 5px 20px;    background: #ffffff;    margin-bottom: 10px;}
/* .audience-details .audience-details-box .similar-inp:focus{    outline: none;} */
.audience-details .audience-details-box .similar-btn{background-color: #f7f7f7;    float: left;    height: 35px;    border-radius: 10px;    margin-left: -15px;    padding: 5px;}
.audience-details .audience-details-box .similar-btn button{    color: #FFFFFF;    border: none;    height: 100%;        padding: 0 30px;}
.audience-details .audience-details-box .similar-btn .join{background-color: #6ca3ba;border-radius: 10px 0 0 10px;}
.audience-details .audience-details-box .similar-btn .compare{background-color: #82c4e0;border-radius: 10px; }
.audience-details .statistic{float: left;    width: 49%;}
.audience-details .actions{float: right;    width: 49%;}

/* new audi accordion detls */
.new-audi-detls{    background: #f7f7f7; padding: 0;padding-bottom: 2px;
    width: 96%;
    margin: -6px auto 0;
    display: inline-block;
    margin-left: 2%;
    border-top: 3px solid #93a6ae;
    border-bottom: 3px solid #93a6ae;
     line-height: 1.42857143;}
.new-audi-detls .tabs-left{width: 100%;}
.new-audi-detls .tabs-left .new-audi-vertical{    float: left;
    width: 140px;
    margin: 0;
    border: none;}
.new-audi-detls .tabs-left .new-audi-vertical li{width: 100%;
    height: 100px;
    text-align: center;
    border-top: 1px solid #d2d2d2;    background: #e8e8e8;}
.new-audi-detls .tabs-left .new-audi-vertical li a{text-align: center;border:none;color:#808080;
    font-size: 13px;border-left:3px solid transparent;
    padding-top: 15px;
    height: 100px;}
.new-audi-detls .tabs-left > .new-audi-vertical > li.active > a, .new-audi-detls .tabs-left > .new-audi-vertical > li.active > a:hover
> li.active > a:focus{border:none;border-left:3px solid #42b8ea;text-align: center;   background: #fcfcfc;color:#5e5e5e;border-radius: 0;
    font-size: 13px;font-weight:bold;
    padding-top: 15px;
    height: 100px;}
.new-audi-detls .tabs-left > .new-audi-vertical > li.active > a p, .new-audi-detls .tabs-left > .new-audi-vertical > li.active > a:hover > p{color:#5e5e5e;}
.new-audi-detls .tabs-left .new-audi-vertical li a p{margin-top:10px;color:#808080;}

.new-audi-detls .tabs-left .vertical-content{float: left;    width: calc(100% - 140px);padding: 40px 30px 20px 30px;}
.new-audi-detls .tabs-left .vertical-content .vertical-content-title{height:60px;padding-top: 10px;}
.new-audi-detls .tabs-left .vertical-content .vertical-content-title label{font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #d6d6d6;
    color: #535353;}
.new-audi-detls .tabs-left .vertical-content .vertical-content-box{background: #fcfcfc;
    display: inline-block;
    height: 369px;padding: 20px;
    width: 100%;}
/*12) e8e8e8
13) adafb1 (разделительная линия)*/

/* .new-audi-detls .audience-details-continer{    display: inline-block;    width: 100%;}
.new-audi-detls .audience-details-box{background-color: #f7f7f7;padding: 25px 20px 70px 20px;border: 1px solid #e6e6e6;border-radius: 10px;display: inline-block;width: 100%;}
.new-audi-detls .audience-details-title{text-align: center;    margin-bottom: 10px;    color: #535353;}*/
.new-audi-detls .audience-details-ul{margin: 0;padding: 0;}
.new-audi-detls .audience-details-ul li{list-style: none;  margin: 0;}
.new-audi-detls .audience-details-ul li label{    font-weight: bold; color: #535353;}
/*.new-audi-detls .audience-details-box .similar-inp{float: left;cursor: pointer;    height: 33px;    border: none;    border-radius: 10px;    width: 70%;    padding: 5px 20px;    background: #ffffff;    margin-bottom: 10px;}
.new-audi-detls .audience-details-box .similar-btn{background-color: #f7f7f7;    float: left;    height: 35px;    border-radius: 10px;    margin-left: -15px;    padding: 5px;}
.new-audi-detls .audience-details-box .similar-btn button{    color: #FFFFFF;    border: none;    height: 100%;        padding: 0 30px;}
.new-audi-detls .audience-details-box .similar-btn .join{background-color: #6ca3ba;border-radius: 10px 0 0 10px;}
.new-audi-detls .audience-details-box .similar-btn .compare{background-color: #82c4e0;border-radius: 10px; }
.new-audi-detls .statistic{float: left;    width: 49%;}
.new-audi-detls .actions{float: right;    width: 49%;} */



.audience-modal{width:65%;min-width:1200px;}
.audience-modal .modal-header{background-color: #42b8ea;    border-bottom: 0;    border-radius: 6px 6px 0 0;    color: #ffffff; }
.audience-modal .modal-header .modal-title0{float: left;    color: #FFFFFF;    margin-left: 2%;    margin-top: 13px;    margin-bottom: 3px;}
.audience-modal .modal-header .audience-modal-name-box{margin-left: 10%;border-bottom: 1px solid #FFFFFF;    margin-top: 7px;    width: 71%;}
.audience-modal .modal-header .audience-modal-name-box input{background: #42b8ea;    border: none;    width: 95%;}
.audience-modal .modal-header .audience-modal-name-box input:focus{    outline: none;}
.audience-modal .modal-header .audience-modal-name-box input::-webkit-input-placeholder { /* WebKit browsers */color:    #ffffff;}
.audience-modal .modal-header .audience-modal-name-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #ffffff;}
.audience-modal .modal-header .audience-modal-name-box input::-moz-placeholder { /* Mozilla Firefox 19+ */    color:    #ffffff;}
.audience-modal .modal-header .audience-modal-name-box input:-ms-input-placeholder { /* Internet Explorer 10+ */    color:    #ffffff;}

.audience-modal .modal-header .audience-modal-name-box .name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eaeaea;
}
.audience-modal .modal-header .audience-modal-name-box .name::-moz-placeholder { /* Firefox 19+ */
  color: #eaeaea;
}
.audience-modal .modal-header .audience-modal-name-box .name:-ms-input-placeholder { /* IE 10+ */
  color: #eaeaea;
}
.audience-modal .modal-header .audience-modal-name-box .name:-moz-placeholder { /* Firefox 18- */
  color: #eaeaea;
}

/* .audience-modal .add-icon{ background: url(/../Images/audience/add-btn.png) no-repeat;    width: 163px;    height: 163px; margin: 20px auto; cursor: pointer; background-position: 0% 0%;}
.audience-modal .add-icon:hover{ background-position: 0% 100%;} */
.audience-modal .add-icon{ width: 163px;    height: 163px; margin:113px auto 20px; cursor: pointer; }


.audience-modal .modal-header .modal-title1{color: #ffffff;    text-align: center;}
/* .kkk{ width: 100px;    height: 100px;    background-color: yellow;    -ms-transform: rotate(50deg);   -webkit-transform: rotate(50deg);  transform: rotate(50deg);} */
.audience-modal .active-step-num{width: 30px;    height: 30px;    background: #cdcdcd;    color: #ffffff;    text-align: center;    border-radius: 50%;    font-size: 15px;    padding-top: 4px;position: absolute;    top: 20px;}
.audience-modal .active-step-border{width: 2px; height: 100%; background: #cdcdcd;    margin-left: 14px;}
.audience-modal .active-step-right{float: right;    background: #ebebeb;    padding: 20px;    height: 100%;    width: 15%;}
.audience-modal .step-num{width: 30px;    height: 30px;    background: #ffffff;    color: #999999;    text-align: center;    border-radius: 50%;    font-size: 15px;    padding-top: 4px;    border: 1px solid #cdcdcd;    float: left;    margin: 3px 30px;}
.audience-modal .system-checkmark {border-radius: 50%;    background: #6ac259;    width: 16px;    height: 16px;    display: block;    padding: 0 0 0 4px;    float: right;    margin: 10px 30px 0 0;}  
.audience-modal .system-checkmark:after {  font-size: 12px;    font-weight: 100;    position: relative;    content: "✓";     color: #FFF;}
.audience-modal .radio-yellow{    width: 10px;
    height: 10px;
    background: #ffe240;
    display: block;
    border-radius: 50%;
    }
.audience-modal .radio-grey{width: 10px;
    height: 10px;
    background: #e2e2e2;
    display: block;
    border-radius: 50%;
   }
.audience-modal .btn-yellow1{cursor: pointer;color:#757575;    background: #ffe240;    height: 50px;width:100%;  border-radius: 0 0 6px 6px;    text-align: center;    font-size: 18px;    padding-top: 14px;}
.audience-modal .btn-yellow3{cursor: pointer; color:#757575;   background: #ffe240;    float: left;    width: 78%;    height: 50px;    text-align: center;font-size: 18px;padding-top: 14px;}
.audience-modal .btn-back{cursor: pointer;    background: #e5cb3a;    float: left;    width: 7%;    height: 50px;    text-align: center;    color: #FFFFFF;    padding-top: 15px;    border-right: 1px solid #ffffff;    border-radius: 0 0 0 6px;}
.audience-modal .btn-complete{cursor: pointer;    background: #6ac259;font-size: 18px;    width: 15%;    float: left;    height: 50px;    border-left: 1px solid #ffffff;    text-align: center;    color: #ffffff;    padding-top: 13px;    border-radius: 0 0 6px 0;}
.audience-modal .btn-complete .v:after{font-size: 18px;margin-left: 5px;font-weight: 100;  content: "✓";     color: #FFF;}
.audience-modal .audience-items{margin-top: 10px;width: 100%;
    display: inline-block;}
.audience-modal .audience-item{width: 30%;
    float: left;
    height: 175px;
    margin-bottom: 55px;}
.audience-modal .and-or{border: 0;    padding: 5px 0;    width: 70px;}
.audience-modal .and-or-active{background: #06789e;    color: #ffffff;}

.audience-modal .details-box-action{margin-right:16px;background:#fcfcfc; border-radius: 20px;padding:20px;float:left;}
.audience-modal .details-action{background: #FFFFFF;    border-radius: 22px;    border: 2px solid #d7d7d7;    width: 135px;    height: 135px;    position: relative;}
.details-action-delete{background: url(/../Images/audience/square-x-btn.png) no-repeat;    width: 50px;    height: 25px;    display: block;    background-position: 0% 0%;    position: absolute;    top: 0;    left: calc(50% - 25px);    cursor: pointer;}
.details-action-delete:hover{background-position: 0% 105%;}
.details-action-edit{background: url(/../Images/audience/square-edit-btn.png) no-repeat;    width: 132px;    height: 85px;    display: block;    background-position: 0% 0%;    position: absolute;    bottom: 0;cursor: pointer;}
.details-action-edit:hover{background-position: 0% 100%;}

.audience-modal .details-box-behavior{margin-right:45px;background:#fcfcfc; border-radius: 20px;padding:20px;float:left;-ms-transform: rotate(45deg);   -webkit-transform: rotate(45deg);  transform: rotate(45deg);margin-top: 20px;}
.audience-modal .details-behavior{background: #FFFFFF;    border-radius: 15px;    border: 2px solid #d7d7d7;    width: 100px;    height: 100px;    position: relative;}
.details-behavior-delete{background: url(/../Images/audience/rhomb-x-btn.png) no-repeat;    width: 42px;    height: 30px;    display: block;    background-position: 0% 0%;    position: absolute;    top: -2px;    left: -9px;    cursor: pointer;    -ms-transform: rotate(50deg);    -webkit-transform: rotate(50deg);transform: rotate(-48deg);}
.details-behavior-delete:hover{background-position: 0% 105%;}
.details-behavior-edit{background: url(/../Images/audience/rhomb-edit-btn.png) no-repeat;    width: 125px;    height: 80px;    display: block;    background-position: 0% -1%;    position: absolute;    bottom: -8px;
    cursor: pointer;    -ms-transform: rotate(50deg);    -webkit-transform: rotate(50deg);    transform: rotate(-45deg);    left: 3px;}
.details-behavior-edit:hover{background-position: 0% 101%;}
.next-condition{float: left;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;}
.next-condition .icon-or{    background: url(/../Images/audience/connect-or-and.png) no-repeat;
    width: 43px;
    height: 37px;
    display: block;
    background-position: 0% 0%;
    cursor: pointer;
    margin: 0 auto 16px auto;}
.next-condition .icon-and{    background: url(/../Images/audience/connect-or-and.png) no-repeat;
    width: 43px;
    height: 37px;
    display: block;
    background-position: 1% 99%;
    cursor: pointer;
    margin: 0 auto 16px auto;}
	
	.details-action-step1{background: #FFFFFF;
    border-radius: 22px;
    border: 2px solid #90d5f3;
    width: 150px;
    height: 150px;
    position: relative;}
	
.details-behavior-step1{background: #FFFFFF;
    border-radius: 15px;
    border: 2px solid #90d5f3;
    width: 115px;
    height: 115px;
    position: relative;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
.BehaviorType{height:427px}
.BehaviorType div .active-step-border{height:100%}
.ActionType{height:390px}
.searchEventInput input:focus{    outline: none;}


.audienceModal-select-box{height: 40px; margin-bottom: 20px;}
.audienceModal-select{width: 100%;    float: left;    border: 2px solid rgb(179, 179, 179);    height: 40px;    padding: 8px 40px 0px 20px;}
.audienceModal-select-icon{background: #6ca3ba;    float: right;    margin-top: -38px;    height: 37px;    width: 40px;    color: #FFFFFF;    text-align: center;cursor:pointer;}

.checkboxGreen{cursor: pointer;margin-top: 8px;
    border: 1px solid rgb(179, 179, 179);
    padding: 1px;
    width: 24px;
    height: 24px;
    float: left;
    border-radius: 2px;
    background: #ececec;} 
.audience-accordion .newName{border: 1px solid #999999;    height: 30px;    padding: 0 10px;    border-radius: 4px;}
.audience-accordion .newName:focus{    outline: none;}
.radio-yellow{    width: 10px;
    height: 10px;
    background: #ffe240;
    display: block;
    border-radius: 50%;
    }
.radio-grey{width: 10px;
    height: 10px;
    background: #e2e2e2;
    display: block;
    border-radius: 50%;
   }
.and-or{border: 0;    padding: 5px 0;    width: 70px;}
.and-or-active{background: #06789e;    color: #ffffff;}

.smart-tabs>.nav-tabs ,.smart-tabs>.nav-tabs>li>a{border: none;}
.smart-tabs>.nav>li>a:hover{border:none;}
.smart-tabs>.nav-tabs>li.active>a, .smart-tabs>.nav-tabs>li.active>a:hover, .smart-tabs>.nav-tabs>li.active>a:focus {border: none;}

.smart-tabs>.smart-tabs-ul>li {border-bottom: 3px solid #f1f1f1;}
.smart-tabs>.smart-tabs-ul>li.active {border-bottom: 3px solid #82c4e0;}
.smart-tabs>.smart-tabs-ul>li>a {color: #919191}
.smart-tabs>.smart-tabs-ul>li.active>a {color: #535353}

.smart-tabs-content .panel-collapse,#audienceAccordion .panel-collapse{line-height: 0}

.audi-arrow{width: 80px;
    background: #f1f1f1;
    height: 100%;
    border-left: 1px solid #d2d2d2;}


/*10) fcfcfc
11) 42b8ea

*/


.similar-ul{margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background: #fcfcfc;
    display: inline-block;
    /* line-height: 0; */
    height: 53px;}
.similar-ul li{margin: 0;
    padding: 0;
    float: right;
    border: 1px solid #f1f1f1;
    height: 100%;}
.similar-ul li .active-border{background:#fff7c2; width:5px;height:100%;float:left;}
.similar-ul li .not-active-border{ width:5px;height:100%;float:left;}
.similar-ul li .audi-lebel-color{color: #575757;
    font-size: 20px;
    margin: 0;}
.similar-ul li .audi-sLebel-color{color:#575757;font-size:15px;}
.similar-ul li .audience-label{color: #a1a1a1;
    margin: 0;
    font-size: 11px;}


