/***
Login page
***/
/* logo page */
    .body-bg{background-color: #fff}
    .login {
      background-color: #fff !important;
    }

    .login-logo{
      margin-top: 13px;
    }

    .loginFormWrap{
        margin-top: -30px;
    }

    .welcomeAndReset {
      text-align: center;
      padding-bottom: 0px !important;
      margin: 0 auto !important;
      font-family: proxima-nova;
      color: #43474d !important;
      letter-spacing: 2px;
    }

    .welcomeAndReset .capital_welcome {
      font-size: 28px !important;
      font-weight: 500 !important;
      color: #43474d !important;
    }

    .welcomeAndReset .rest_welcome {
      font-size: 28px !important;
      font-weight: 500 !important;
      color: #43474d !important;
    }

    .welcomeAndReset .capital_reset {
      font-size: 28px !important;
      font-weight: 500 !important;
      color: #43474d !important;
    }

    .welcomeAndReset .rest_reset {
      font-size: 28px !important;
      font-weight: 500 !important;
      color: #43474d !important;
    }

    .secondary_title{
      text-align: left;
      font-size: 16px !important;
      margin-top: 20px;
      color: #43474d !important;
    }

    .titlesWidte{
      width: 290px;
    }

    .disable-padding-lettersSpacing{
      padding-bottom: 4px !important;
      letter-spacing: 0px;
    }

    .errorMessage{
      height: 40px;
      color: red;
      text-align: center;
      margin-bottom: 10px;
    }

    .errorMessagePadding{
    padding-top: 18px;
    }

    .marginPlaceholder{
      margin-top: 60px !important;
    }

    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 40px #e8e8e8 inset;
    }

.btnSignin {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 68px;
  font-size: 22px;
  font-family: proxima-nova;
  color: #f7f7f7;
  background-color: #42b8ea !important;
  border-width: 0;
}

.login .logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
}

.login .content {
 /* background-color: #fff;*/
  width: 400px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  padding-top: 120px;
  padding-bottom: 100px;
}

.login .content h3 {
  color: #43474d;
}

.login .content h4 {
    color: #FFF;
    font-weight: 700;
    font-size: 15px;
}

.login .content h7 {
  color: #ffffff;
  font-size: 14px;
}
.login .content p {
  font-size: 17px;
}


.login  .content a {
  text-shadow: none;
  color: #ffffff;
  font-weight:400;
}
.login  .content a:hover {
  color: #fcc540;
    font-weight:400;
}
.login  .content a:focus, a:hover, a:active {
  outline: 0;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}

.login .content .input-icon {
 /* border-left: 10px solid #19afe0 !important;*/
}


.login .content .input-icon .form-control {
  border-left: 0;
}

.login .content .form-title {
  color: #43474d !important;
  font-weight: 300;
  margin-bottom: 25px;
  text-align: center;
}

.login .content .form-actions {
 /* background-color: #fff;*/
  clear: both;
  border: 0px;
 /* border-bottom: 1px solid #eee;*/
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  margin-left: 20px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 70px !important;
  color: #a5a9ac !important;
}


.login .content .forget-password p:hover {
  cursor: pointer;
  color: #42b8ea  !important;
  opacity: 0.5;
}

.login .content .forget-password p {
  display: inline-block;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
  border-left: 2px solid #35aa47 !important;
}

.login .content .select2-container .select2-choice {
  border-left: none !important;
}

.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}



.login_placeholder{
  height: 68px;
  padding-top: 30px;
  color: #1b1b1b !important;
  background-color: #fefefe !important;
  border: 1px solid #e8e8e8 !important;
  margin-bottom: -16px;
}


.round_top_borders{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Input placeholder font color */
.login_placeholder::-moz-placeholder {
  color: #42b8ea  !important;
  font-style: italic;
  opacity: 0.5;
}

.login_placeholder:-ms-input-placeholder {
  color: #42b8ea !important;
  font-style: italic;
  opacity: 0.5;
}

.login_placeholder::-webkit-input-placeholder {
   color: #42b8ea !important;
  font-style: italic;
  opacity: 0.5;
}


/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #43474d;
  font-size: 13px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }

  .login .content {
    width: 339px;
    margin-bottom: 0px;
    padding: 120px 0px 100px 0px;
  }

  .registerPadding{
  padding-top: 230px !important;
  }

  .login .content .form-actions{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }

  .login .content .forget-password {
    margin-top: -10px !important;
  }

  .login .copyright {
    font-size: 16px;
    margin-top: -30px;
  }
  .copyrightRegister{
    margin-top: -50px !important;
  }

}
@media (min-width: 412px)and (max-width: 412px) {
  .registerPadding {
    padding-top: 180px !important;
  }
}

@media (max-width: 380px) {
  .login .content {
    width: 300px;
    margin-bottom: 0px;
    padding: 120px 0px 100px 0px;
  }

  .registerPadding{
    padding-top: 160px !important;
  }
}

@media (max-width: 360px){
  .login .content {
    width: 285px;
    margin-bottom: 0px;
    padding: 120px 0px 100px 0px;
  }

  .registerPadding{
    padding-top: 130px !important;
  }
}
#cupon_loading{display:none;position: absolute; top: 0px; right: 10px;}
#cupon_check{display:none;color: rgb(0, 170, 0) ! important; position: absolute; top: 0px; right: 10px;}
#cupon_fail{display:none;color: rgb(170, 0, 0) ! important; position: absolute; top: 0px; right: 10px;}
.cursor-pointer{cursor:pointer}