.serverstatus
{
	margin-left: 10px;
	font-family: "Open Sans", sans-serif;
}

h3
{	
	margin:2px;
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
}

h3
{	
	margin-top: 12px;
}

.servers_status_description
{	
	margin-left: 2px;
	margin-bottom: 8px;
	font-size: 11px;
	font-family: "Open Sans", sans-serif;
}

.base_status_span
{
	margin-left: 10px;
}

.folder_reads_title
{
	margin-top: 15px;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight:bold;
}

.folder_read
{
	margin-top: 0px;
	margin-left: 20px;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	font-weight:200;
}

.serverstatus_desc
{
	font-size: 11px;
}

.serverstatus_ok
{
	color: #0c0;
	font-size: 18px;
}

.time_diff_good
{
	color: #0c0;
	font-size: 18px;
}

.time_diff_bad
{
	color: #c00;
	font-size: 18px;
}

.serverstatus_fail
{
	color: #c00;
	font-size: 18px;
}