<link href="Styles/Libraries/bootstrap-tour.min.css" type="text/css" rel="stylesheet" ></link>
<link href="Styles/Global/curve.css" type="text/css" rel="stylesheet" ></link>

<script src="Javascript/Libraries/Bootstrap/Markdown/bootstrap-markdown.js" type="text/javascript"></script> 
<script src="Javascript/Libraries/Bootstrap/Markdown/to-markdown.js" type="text/javascript"></script> 
<script src="Javascript/Libraries/Bootstrap/Markdown/markdown.js" type="text/javascript"></script> 

<script src="Javascript/Application/applications.js"></script>
<script src="Javascript/Application/curve.constants.js"></script>
<script src="Javascript/Application/global.painter.js"></script>

<!-- START TUTORIAL -->
<script src="Javascript/Libraries/Bootstrap/bootstrap-tour.min.js"></script>
<script src="Javascript/Application/Tutorials/tutorial.texts.en.js" type="text/javascript"></script>
<script src="Javascript/Application/Tutorials/tutorial.factory.js" type="text/javascript"></script>
<script src="Javascript/Application/Tutorials/tutorial.manager.js" type="text/javascript"></script>
<!-- END TUTORIAL -->

<script src="Javascript/Application/Email/sendEmail.js"></script>
<script src="Javascript/Application/Email/emailValidatorManager.js"></script>
<script src="Javascript/Libraries/Jquery/ZeroClipboard.js"></script>
		
<script>
	jQuery(document).ready(function() {       
		// initiate layout and plugins
		Metronic.init(); // init metronic core components
		Layout.init(); // init current layout
		QuickSidebar.init(); // init quick sidebar
		//$('#userImage').append(getUserImageModalBox());
		//$('#companyIcon').append(getCompanyIconModalBox());
		$('a').tooltip();
		//show_trial_text();
	});
</script>
		
<div class="page-header-fixed page-quick-sidebar-over-content ">

		<div ng-include src="'Templates/Global/top-panel.html'" ></div>
		
		<!-- <div class="clearfix"></div> -->

		<div class="page-container">
			
			<div ng-include src="'Templates/Global/side-panel.html'" ></div>
			<div ng-include src="'Templates/Application/page-content.html'" ></div>
			
		</div>
		
		
		<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">Discard</button>
						<button type="button" class="btn green">Apply</button>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-include src="'Templates/Global/footer.html'" ></div>

		<!-- <div class="modal fade" id="userImage" tabindex="-1" role="userImage" aria-hidden="true"></div> -->

		<div class="modal fade" id="companyIcon" tabindex="-1" role="companyIcon" aria-hidden="true"></div>
		
		<div class="modal fade" id="welcome_screen" tabindex="-1" role="basic" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						
						<div>
							<img alt="" id="user_welcome_img" class="welcome-img-circle" src=""></img>
							<h4 class="modal-title welcome_title" style="color:#777777; font-size: 22px;" id="welcome_note">Welcome back, Guest!</h4>
						</div>
					</div>
					<div class="modal-body permission_box">
						<div class="portlet-body flip-scroll">
							<h3 id="last_login_div" class="welcome_msg">Your last login was:</h3>
							
							
							<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
								<button data-dismiss="modal" class="btn gray">Dismiss</button>
							</div>
									
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
		<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
		<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
		<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
		
		<div class="modal fade" id="delete-prompt" tabindex="-1" role="basic" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title"style="color:#aa0000; font-size:30px;">Warnning!</h4>
					</div>
					<div class="modal-body permission_box">
						<div class="portlet-body flip-scroll">
							<h3 id="delete-prompt-title"></h3>
							<p id="delete-prompt-remark"></p>
							<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
								<button id="delete-prompt-cancel" class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
								<button id="delete-prompt-accept" data-dismiss="modal" class="btn red">Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="notify-box" tabindex="-1" role="basic" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title" style="color:#aa0000; font-size:30px;" id="notification_title">TITLE</h4>
					</div>
					<div class="modal-body permission_box" style="padding: 25px;">
						<div class="portlet-body flip-scroll">
							<h3 id="notification_msg_1"> Are you sure you wish to permanently delete this graph? </h3>
							<p id="notification_msg_2"></p>
							<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
								<button data-dismiss="modal" class="btn red" id="notify-right-btn">Close</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
</div>
		