<div class="page-content-wrapper">
	<div class="page-content">
		
		<div class="row page-content-top">
			<div class="settings_data tab-content">
				<!-- BEGIN Settings Data Output-->
				
				<div class="col-md-12" style="padding-left:45px;">
					<div class="applications_list">
						<!-- <div class="clearfix"></div> -->
						<div class="app_list">
							<h3 class="page-title" style="margin-top:30px; width:100%;">Applications</h3>

							
							
						</div>

						
						<div class="app_list">
							<h3 class="page-title" style="margin-top:30px; width:100%;">Disabled Applications</h3>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>