<div class="content" style="padding-bottom:55px;">
	<form class="reset-form" method="post">
		<h3 class="form-title">Use your invitation</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			Enter any password. </span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9 label-login">Inviting Company</label>
			<div class="input-icon">
				<i class="fa fa-users"></i>
				<input readonly="readonly" id="companyName" class="form-control placeholder-no-fix" type="text" placeholder="companyName" name="companyName"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9 label-login">Email</label>
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input readonly="readonly" id="resetEmail" class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9 label-login">Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input id="passwordSelect" class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9 label-login">Re-type Your Password</label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" id="register-submit-btn" class="btn reset_btn green pull-right">
				Register<i class="fa fa-sign-in" style="margin-left:5px;"></i>
			</button>
		</div>
	</form>
</div>
	