<script src="Javascript/login_libs.js" type="text/javascript" ></script>
<link href="Styles/login_styles.css" type="text/css" rel="stylesheet" ></link>
<div ng-include src="'Templates/Global/top-panel.html'" ></div>
<div  class="login" >

	<!-- includes -->
	<div ng-if="loginTpl == 0" ng-include src="'Templates/Login/login.form.html'" ></div>
	<div ng-if="loginTpl == 1" ng-include src="'Templates/Login/register-trial.html'" ></div>
	<div ng-if="loginTpl == 2" ng-include src="'Templates/Login/start-trial.html'" ></div>
	<div ng-if="loginTpl == 3" ng-include src="'Templates/Login/resetpassword.html'" ></div>
	<div class="copyright">Copyright &copy; Curve 2017</div>
	
	<div class="modal fade" id="notify-box" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" style="color:#aa0000; font-size:30px;" id="notification_title">TITLE</h4>
				</div>
				<div class="modal-body permission_box" style="padding: 25px;">
					<div class="portlet-body flip-scroll">
						<h3 id="notification_msg_1"> Are you sure you wish to permanently delete this graph? </h3>
						<p id="notification_msg_2"></p>
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button data-dismiss="modal" class="btn red" id="notify-right-btn">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>