
<div class="content" >
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" method="post" ng-if="$parent.showForm == 0" ng-enter="doLogin($event)" >
		<div class="welcomeAndReset" ng-if="loginTpl == 0">
			<span class="capital_welcome">P</span><span class="rest_welcome">lease sign in</span>
		</div>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
				Enter any username and password.
			</span>
		</div>
		<div class="errorMessage errorMessagePadding">
			<p>{{loginPage.textError}}</p>
		</div>
        <div class="loginFormWrap">
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <div class="input-icon marginPlaceholder">
                    <label class="control-label label-login">Email</label>
                    <i class="input-icon-login"><img src="Images/icons/login.png"></i>
                    <input  id="LoginEmail" class="login_placeholder form-control-login placeholder-no-fix round_top_borders"
                            placeholder="mail@address.com" type="text" name="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'mail@address.com'" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <label class="control-label label-login">Password</label>
                    <i class="input-icon-login"><img src="Images/icons/password.png"></i>
                    <input  id="LoginPassword" class="login_placeholder form-control-login placeholder-no-fix "
                            placeholder="Enter your password" type="password" name="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your password'" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btnSignin pull-right login_btn" ng-click="doLogin($event)" id="loginSubmitBtn" >
                    Sign in
                </button>
                <!--<label class="checkbox checkbox_login">
                <!<input type="checkbox" id="LoginRememberMe" name="remember" checked="checked" value="true" /> Remember me </label>-->
            </div>
        </div>
		<div class="forget-password">
			<p ng-click="showFormFun(1)">Forgot Password ?</p>
		</div>
	</form>

	<!-- END LOGIN FORM -->
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="forget-form" method="post" ng-if="$parent.showForm == 1" >
		<div class="welcomeAndReset titlesWidte disable-padding-lettersSpacing" ng-if="loginTpl == 0">
			<span class="capital_reset">F</span><span class="rest_reset">orgot password?</span>
			<p class="secondary_title">
				Enter your email address below to reset your password.
			</p>
		</div>
		<div class="form-group">
			<div class="errorMessage ">
				<p>{{loginPage.textError}}</p>
			</div>
			<div class="input-icon">
				<label class="control-label label-login">Email</label>
				<i class="fa fa-envelope input-icon-login"></i>
				<input  id="resetEmail" class="login_placeholder form-control-login placeholder-no-fix login_placeholder round_top_borders"
						placeholder="mail@address.com" type="text" name="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'mail@address.com'" />
			</div>
		</div>
			<!--<button type="button" id="back-btn" class="btn green" ng-click="showFormFun(0)"  > -->
		<div class="form-actions">
			<button type="submit" class="btnSignin green pull-right login_btn" ng-click="forgetFun($event)" id="forgetSubmitBtn" >
				Submit<i class="fa fa-paper-plane" style="margin-left:5px;"></i>
			</button>
		</div>
		<div class="forget-password">
			<p ng-click="showFormFun(0)">Sign in</p>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->
</div>

