
<div class="content registerPadding" style="padding-bottom:55px;" ng-if="showRegStatus == 0" >

	<!-- BEGIN Reset FORM -->
	<form class="reset-form" method="post">
		<h3 class="form-title" style="color:#fff;">Get your free <span id="trial_length">14</span> days trial now!</h3>
		<!-- <div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
		</div> -->
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9 label-login">Email</label>
			<div class="input-icon">
				<i class="fa fa-envelope input-icon-login"></i>
				<input  id="userEmail" class="login_placeholder form-control-login placeholder-no-fix login_placeholder" type="text" placeholder="Email *" name="email"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9 label-login">Company Name</label>
			<div class="input-icon">
				<i class="fa fa-users input-icon-login"></i>
				<input  id="companyName" class="login_placeholder form-control-login placeholder-no-fix login_placeholder" type="text" placeholder="Company Name *" name="companyname"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9 label-login">Name</label>
			<div class="input-icon">
				<i class="fa fa-user input-icon-login"></i>
				<input  id="userName" class="login_placeholder form-control-login placeholder-no-fix login_placeholder" type="text" placeholder="Name *" name="name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9 label-login">Coupon</label>
			<div class="input-icon">
				<i id="cupon_icon" class="fa fa-scissors input-icon-login"></i>
				<input id="cupon" ng-change="checkCouponFun();" ng-model="coupon.Value" class="login_placeholder form-control-login placeholder-no-fix login_placeholder" type="text" placeholder="Coupon" name="cupon"/>
				<i ng-show="coupon.Status == 'L'" class="fa fa-spinner input-icon-login" style="right: 4px;top: -2px;" ></i>
				<i ng-show="coupon.Status == 'V'" class="fa fa-check input-icon-login" style="right: 4px;top: -2px;color:green !important" ></i>
				<i ng-show="coupon.Status == 'X' && coupon.Value.length" class="fa fa-times input-icon-login" style="right: 4px;top: -2px;color:red !important" ></i>
			</div>
		</div> 
		<div class="form-group">
			<button type="submit" class="btn green pull-right login_btn send_button btnRegister" ng-click="regSubmit($event);" id="regSubmitBtn" >
				Send<i class="fa fa-sign-in" style="margin-left:5px;"></i>
			</button>
		</div>
	</form>
</div>

<div id="success-content" ng-if="showRegStatus == 1" >
	<div style="color:#fff; width:420px; margin-left: auto; margin-right: auto;text-align:center;">
		<h3 class="form-title" style="color:#fff;">Thanks for registering for a free trial!</h3>	
		<h3 class="form-title" style="color:#eee; font-size: 16px; margin-top:1px;">An email has been sent with further instructions.</h3>	
	</div>
</div>
