<!-- <script src="Javascript/Libraries/Jquery/jquery.form.js"></script> -->

<div class="content">
	<!-- BEGIN Reset FORM -->
	<form class="reset-form" method="post">
		<h3 class="form-title">Reset password for your account</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>Errors Detected.</span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9 label-login">Email</label>
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input ng-model="urlParameters.Email" readonly="readonly" id="resetEmail" class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9 label-login">Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input id="resetPassword" class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" autocomplete="off" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9 label-login">Re-type Your Password</label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword"/>
				</div>
			</div>
		</div>
		<div class="form-group" style="margin-bottom:50px;">
				<button type="submit" class="btn reset_btn green pull-right" ng-click="resPaswSubmitFun()" id="resPaswSubmitBtn" >Reset<i class="fa fa-reply" style="margin-left:5px;"></i>
				</button>
		</div>
	</form>
	<!-- END Reset FORM -->
</div>
