<!-- <script src="Javascript/Libraries/Jquery/jquery.form.js"></script> -->

<div id="page-content">
	<div class="content" style="padding-bottom:55px;">
		<form class="reset-form" method="post">
		<span ng-if="startStatus == 0" >
			<h3 class="form-title" style="color:#fff; margin-bottom: 10px;">Hello again, <span id="userName">{{mName}}</span>!</h3>
			<h3 class="form-title" style="color:#fff; font-size:16px; margin-bottom: 10px !important; margin-top: 10px;">You are 1 step away from using Curve.</h3>
		</span>
		<span ng-if="startStatus == 1" >
			<h3 class="form-title">Use your invitation</h3>
		</span>
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<!-- <span>
				Enter any password. </span> -->
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9 label-login">Company</label>
				<div class="input-icon">
					<i style="color:#fff;" class="fa fa-users"></i>
					<input ng-model="userParam.companyName" readonly="readonly" id="companyName" class="login_placeholder form-control placeholder-no-fix login_placeholder" type="text" placeholder="CompanyName" name="companyName"/>
				</div>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9 label-login">Email</label>
				<div class="input-icon">
					<i style="color:#fff;" class="fa fa-envelope"></i>
					<input ng-model="userParam.email" readonly="readonly" id="userEmail" class="login_placeholder form-control placeholder-no-fix login_placeholder" type="text" placeholder="email" name="Email"/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9 label-login">First name</label>
				<div class="input-icon">
					<i class="fa fa-user" aria-hidden="true"></i>
					<input id="firstName" class="form-control placeholder-no-fix" type="text" autocomplete="off"  placeholder="First name" name="firstName" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9 label-login">Last name</label>
				<div class="input-icon">
					<i class="fa fa-user" aria-hidden="true"></i>
					<input id="lastName" class="form-control placeholder-no-fix" type="text" autocomplete="off"  placeholder="Last name" name="lastName" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9 label-login">Password</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i>
					<input id="passwordSelect" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9 label-login">Re-type Your Password</label>
				<div class="controls">
					<div class="input-icon">
						<i class="fa fa-check"></i>
						<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword"/>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn reset_btn green pull-right login_btn register_btn" ng-click="startSubmitFun($event);" id="startSubmitBtn" >
					Register<i class="fa fa-sign-in" style="margin-left:5px;"></i>
				</button>
			</div>
		</form>
	</div>
</div>
