<div class="page-footer">
	<div class="page-footer-inner">
		 2014 &copy; Gingee.
	</div>
	<div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>