<div ng-if="!loginView">
 <div class="page-header navbar navbar-fixed-top" style="background-color:{{cssApp.bgColor}}" >
	<div class="page-header-inner">
	
		<div class="page-logo" style="cursor:pointer">
			<a ng-click="setTabFun(homePage.id,homePage.name)" >
				<img src="{{cssApp.logo}}" alt="logo" class="logo-default systemLogo"/>
			</a>
			
			<div class="menu-toggler sidebar-toggler hide">
			</div>
		</div>
		
		<a href="javascript:;" class="menu-toggler responsive-toggler" ng-click="openLeftMenu()">
		</a>
		
		<div class="top-menu">
			<button id="ftue1Start1" ng-click="ftueAStart();" style="visibility: hidden;" ></button>
		
			<ul class="nav navbar-nav hide-on-very-small-screen">
				<li class="dropdown dropdown-user tutorial_learn_btn">
					<a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" >
					
						<i class="new-icon new-icon-learn" ></i>
						<span class="username username-hide-on-mobile" style="margin-top: -3px;font-size: 12px;    float: left;    margin-left: -4px;" >Learn</span>
					</a>
					
					<ul class="dropdown-menu pull-right">
						<li ng-click="dashboardView.active = 10" ><a>Machine learning</a></li>
						<li><a onclick="$('#user_segments_and_characteristics').modal('show');">Segments And Characteristics</a></li>
						<li ng-click="SDKinstructions('def')" class="tutorial_sdk_instructions" ><a>SDK instructions</a></li>
						<li ng-click="tutorialGetStarted();" ><a>Get Started</a></li>
						<li><a style="color: rgba(128, 128, 128, 0.5);cursor: default;">Graph options</a></li>
						<li><a style="color: rgba(128, 128, 128, 0.5);cursor: default;">Data filtering</a></li>
						<li><a style="color: rgba(128, 128, 128, 0.5);cursor: default;">Find my App Token</a></li>
					
					</ul>
				</li>	
			</ul>
			
			<ul class="nav navbar-nav">
				<li>
					<i style="margin: 15px;" class="new-icon new-icon-notification" ></i>
				</li>
			</ul>
			
			
			<ul class="nav navbar-nav">

				<li>
				
					<div ng-if="appsArr && !activeAppImg.icon" class="appIcon blue"  style="background: url({{cssApp.bgImg}}) no-repeat;" >
						<img class="icon" ng-if="appsArr[0].Icon" title="{{activeAppLabel}}" ng-src="{{appsArr[0].Icon}}" />
					</div>
					<div ng-if="appsArr && activeAppImg.icon" class="appIcon blue" style="background: url({{cssApp.bgImg}}) no-repeat;" >
						<img class="icon" title="{{activeAppLabel}}" ng-src="{{activeAppImg.icon}}" />
					</div>
				
				</li>
				<li class="dropdown dropdown-user tutorial_dropdown_btn" >
						<a class="a-hover-none tutorial_dropdown_btn_drop"   data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding-top: 12px;cursor:pointer;" >
							<span class="appName" title="{{activeAppLabel}}" style="font-size: 12px;" >{{activeAppLabel}}</span>
							<i class="fa fa-angle-down floatLeft" style="font-size: 12px;color: #FFF;margin-top: 4px;" ></i>
						</a>
						
						<ul class="dropdown-menu pull-right tutorial_dropdown_list" >
							<li><div  style="max-height: 170px;overflow-y: auto;">
								<ul style="list-style-type: none;    padding: 0;    margin: 0;" >
									<li ng-repeat="(key,val) in appsArr" ng-attr-id="{{val.Demo ? val.Demo.divId : ''}}" > <!-- ng-if="val.GameName != activeAppLabel"  -->
										<span class="ellipsis faHoverClass" >
											<label style="cursor:pointer;float:left;width: calc(100% - 30px);" ng-click="iconClicked(val.GameName, val.Token, val.Icon, val.HasWritePermission);" >{{val.GameName}}</label>
											<i class="fa fa-star" aria-hidden="true" title="Default application" style="float:right;width: 25px;" ng-if="val.ID == DefaultAppId" ></i>
<i class="fa fa-star-o" aria-hidden="true" title="Set default application" style="float:right;width: 25px;" ng-if="val.ID != DefaultAppId" ng-click="modalDefaultApp(val.ID,val.GameName);" ></i>
										</span>
									</li>
								</ul>
								</div>
							</li>
							<li><hr style="margin:10px;border-color: #999999;" /></li>
							<li><span class="tutorial_app_settings" ng-click="settingsFun();" >App Settings</span></li>
							<li><span class="tutorial_new_app"  ng-click="setCurrentCustomerID(CCid); showNewApplication();" >New App</span></li>
							<li><hr style="margin:10px;border-color: #999999;" /></li>
							<li><span class="username username-hide-on-mobile" style="padding-left: 6px;cursor:default;" ><img alt="" class="img-circle" style="width: 29px;" src="{{$parent.userImage}}" /><span style="color: rgba(128, 128, 128, 0.5);cursor: default;">{{$parent.email}}</span></span></li>
							<li><a ng-click="updateImageModalOpenFun('user')" ><i class="fa fa-file-image-o" aria-hidden="true" ></i>Update Profile Picture </a></li>
							<li><a style="color: rgba(128, 128, 128, 0.5);cursor: default;" ><i class="fa fa-dollar"></i> My Bills </a></li>
							<li><a style="color: rgba(128, 128, 128, 0.5);cursor: default;" ><i class="fa fa-inbox"></i> Inbox <span id="inbox_text_holder"></span></a></li>
							<li><span ng-click="logoutFun();" ><i class="icon-logout" style="margin-right: 7px;" ></i>Logout</span></li>
							<li><hr style="margin:10px;border-color: #999999;" /></li>
							<li ng-click="SDKinstructions('def')" ><a>Download SDK</a></li>
							
						</ul>
				</li>
				
	
				
			</ul>
			
		</div>
		
	</div>
	
</div>


	<!-- popups -->
<div class="modal fade" ng-if="!loginView  || (loginView && loginTpl != 0)" id="updateImg" tabindex="-1" role="userImage" aria-hidden="true" style="display:none" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Update profile picture</h4>
			</div>
			<div class="modal-body" style="min-height: 224px;" >
				<div class="profile_upload loading" style="display:none;background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;min-height: 300px;"></div>
				
				<div class="newUpload" style="display: inline-block;width: 100%;"  >
					<div style="float: left;width: 60%;text-align: center;" >
						<div style="padding: 20px;border: 3px dashed #d6d6d6;border-radius: 20px;cursor: pointer;" class="upload" ngf-max-size="20MB" ngf-resize="{width: 154}" ngf-drop="profPicReadSRCFun($file)"	ngf-select="profPicReadSRCFun($file)" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'" ng-model="modelUploadImg.image" >
							<img src="Images/icons/icon-upload-photo.png" />
							<h3>Click or drop image here</h3>
						</div>
					</div>
					<div style="float: left;width: 40%;text-align: center;" >
						<div ng-if="!modelUploadImg.code || modelUploadImg.code == ''" >
							<img id="code" ng-src="Images/icons/icon-user-profile.png" style="width: 154px;" />
						</div>
						<div ng-if="modelUploadImg.code != ''" >
							<div>
								<img id="code" ng-src="{{modelUploadImg.code}}" style="width: 154px;border-radius: 20px;" />
							</div>
							<div style="margin-top: 10px;" >
								<i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer;" ></i>
								<label type="button" ng-click="profPicRemoveFun()" style="cursor: pointer;" >Remove</label>
							</div>
						</div>
					</div>
				</div>
				<div style="height:20px;width:100%" > {{modelUploadImg.statusImgMes}} </div>
			</div>
			<div class="modal-footer" >
				<button data-dismiss="modal" class="btn gray" >Cancel</button>
				<button class="btn green" ng-click="profPicUploadFun();" >Upload</button>
			</div>	
		</div>
	</div>
</div>


<div class="modal fade" id="setDefaultApp" tabindex="-1" role="setDefaultApp" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Update default app</h4>
			</div>
			<div class="modal-body">
				<p>Do you want to make '{{newDefAppName}}' as default app ?</p>
				<div class="modal-footer" style="border:none" >
					<button type="button" class="btn new gray" data-dismiss="modal">Discard</button>
					<button type="button" class="btn submit new green" ng-click="setDefaultAppFun();">Apply</button>
				</div>
			</div>
		</div>
	</div>
</div>


 <div ng-intro-options="ftueIntroOptions" ng-intro-method="ftueStart"
		     ng-intro-oncomplete="ftueCompletedEvent" ng-intro-onexit="ftueExitEvent"
		     ng-intro-onchange="ftueChangeEvent" ng-intro-onbeforechange="ftueBeforeChangeEvent"
		     ng-intro-onafterchange="ftueAfterChangeEvent"
		     ng-intro-autostart="ftueShouldAutoStart" ngIntroRefreshMethod="ftueRefreshMethod">
			
		</div>
		 <div ng-intro-options="ftueAIntroOptions" ng-intro-method="ftueAStart"
		     ng-intro-oncomplete="ftueACompletedEvent" ng-intro-onexit="ftueAExitEvent"
		     ng-intro-onchange="ftueAChangeEvent" ng-intro-onbeforechange="ftueABeforeChangeEvent"
		     ng-intro-onafterchange="ftueAAfterChangeEvent"
		     ng-intro-autostart="ftueAShouldAutoStart" ngIntroRefreshMethod="ftueARefreshMethod">
			
		</div>
		<div ng-intro-options="ftue2IntroOptions" ng-intro-method="ftue2Start"
		     ng-intro-oncomplete="ftue2CompletedEvent" ng-intro-onexit="ftue2ExitEvent"
		     ng-intro-onchange="ftue2ChangeEvent" ng-intro-onbeforechange="ftue2BeforeChangeEvent"
		     ng-intro-onafterchange="ftue2AfterChangeEvent"
		     ng-intro-autostart="ftue2ShouldAutoStart" >
		</div>
			<div ng-intro-options="ftue3IntroOptions" ng-intro-method="ftue3Start"
		     ng-intro-oncomplete="ftue3CompletedEvent" ng-intro-onexit="ftue3ExitEvent"
		     ng-intro-onchange="ftue3ChangeEvent" ng-intro-onbeforechange="ftue3BeforeChangeEvent"
		     ng-intro-onafterchange="ftue3AfterChangeEvent"
		     ng-intro-autostart="ftue3ShouldAutoStart" >
		</div>

			<div ng-intro-options="ftue4IntroOptions" ng-intro-method="ftue4Start"
		     ng-intro-oncomplete="ftue4CompletedEvent" ng-intro-onexit="ftue4ExitEvent"
		     ng-intro-onchange="ftue4ChangeEvent" ng-intro-onbeforechange="ftue4BeforeChangeEvent"
		     ng-intro-onafterchange="ftue4AfterChangeEvent"
		     ng-intro-autostart="ftue4ShouldAutoStart" >
		</div>

			<div ng-intro-options="ftue5IntroOptions" ng-intro-method="ftue5Start"
		     ng-intro-oncomplete="ftue5CompletedEvent" ng-intro-onexit="ftue5ExitEvent"
		     ng-intro-onchange="ftue5ChangeEvent" ng-intro-onbeforechange="ftue5BeforeChangeEvent"
		     ng-intro-onafterchange="ftue5AfterChangeEvent"
		     ng-intro-autostart="ftue5ShouldAutoStart" >
		</div>
		
			<div ng-intro-options="ftue6IntroOptions" ng-intro-method="ftue6Start"
		     ng-intro-oncomplete="ftue6CompletedEvent" ng-intro-onexit="ftue6ExitEvent"
		     ng-intro-onchange="ftue6ChangeEvent" ng-intro-onbeforechange="ftue6BeforeChangeEvent"
		     ng-intro-onafterchange="ftue6AfterChangeEvent"
		     ng-intro-autostart="ftue6ShouldAutoStart" >
		</div>
		
			<div ng-intro-options="ftue7IntroOptions" ng-intro-method="ftue7Start"
		     ng-intro-oncomplete="ftue7CompletedEvent" ng-intro-onexit="ftue7ExitEvent"
		     ng-intro-onchange="ftue7ChangeEvent" ng-intro-onbeforechange="ftue7BeforeChangeEvent"
		     ng-intro-onafterchange="ftue7AfterChangeEvent"
		     ng-intro-autostart="ftue7ShouldAutoStart" >
		</div>
		
			<div ng-intro-options="ftue8IntroOptions" ng-intro-method="ftue8Start"
		     ng-intro-oncomplete="ftue8CompletedEvent" ng-intro-onexit="ftue8ExitEvent"
		     ng-intro-onchange="ftue8ChangeEvent" ng-intro-onbeforechange="ftue8BeforeChangeEvent"
		     ng-intro-onafterchange="ftue8AfterChangeEvent"
		     ng-intro-autostart="ftue8ShouldAutoStart" >
		</div>
		
		<div ng-intro-options="cardsIntroOptions" ng-intro-method="cardsStart"
		     ng-intro-oncomplete="cardsCompletedEvent" ng-intro-onexit="cardsExitEvent"
		     ng-intro-onchange="cardsChangeEvent" ng-intro-onbeforechange="cardsBeforeChangeEvent"
		     ng-intro-onafterchange="cardsAfterChangeEvent"
		     ng-intro-autostart="cardsShouldAutoStart" >
			 
		</div> 
</div>

<div ng-if="loginView">
	<div class="page-header navbar navbar-fixed-top page-header-inner page-header-login" style="background-color:{{cssApp.bgColor}}" >
		<div class="page-logo">
			<a href="https://curve.tech/" >
				<img src="Images/cssApp/logoDefault.svg" alt="logo" class="logo-default login-logo"/>
			</a>
		</div>
	</div>
</div>