
<div>


<div id="dashboardView_tabs">
	<ul class="nav nav-tabs" style="position: fixed;width: 100%;height: 30px;z-index: 4;" ng-style="HasWritePermission==false && {'top' : '197px'} " >
		<!-- <li class="nav active" style="width:33%" id="audience_tab" ><a href="#My_Audiences" data-toggle="tab">My Audiences</a></li> -->
		<li class="nav active" style="width:33%" id="audience_tab" ><a href="#My_Audiences2" data-toggle="tab">New My Audiences</a></li>
		<!-- <li class="nav" style="width:34%;border-left: 1px solid #cdcdcd;border-right: 1px solid #cdcdcd;" id="smart_tab" ><a href="#Smart_Audiences" data-toggle="tab">Smart Audiences </a></li> -->
		<li class="nav" style="width:34%;border-left: 1px solid #cdcdcd;border-right: 1px solid #cdcdcd;" id="smart_tab" ><a href="#Smart_Audiences" data-toggle="tab">New Smart Audiences </a></li>
		<li class="nav" style="width:33%" >
			<a href="#Single_Customer" data-toggle="tab" id="" ng-click="goToSingleCustomerFun()" >Single Customer</a>
		</li>
	</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade in active" id="My_Audiences" >

		<div class="status-page" >
		
			<div class="col-md-12" style="margin-bottom: 400px;margin-top: 25px;"  >
				
				<div class="kpi-welcome">
					<div style="    width: 50%;    float: left;" >
						<h1>My Audiences</h1>
						<span>Create and explore your user audiences</span>
					</div>
					<!-- <button style="float: right;" class="but-grey" ng-click="createNewCohort();">+ New Audience</button> -->
				</div>
			
			
			<div class="create-audience-box" ng-click="createAudienceModalFun();" >
				<label style="font-size: 18px;margin: 16px;cursor:pointer;" >Create New Audience</label><div class="create-btn" ></div>
			</div>
			<span ng-if="!statusAudience.showSpinner" >
			<p ng-if="audiencesArr.length == 0" >NO DATA</p>
		
		<div class="accordion" id="audienceAccordion" >
			<div style="width: 100%;" ng-repeat="(key,val) in audiencesArr" class="panel-heading feeds accordion-toggle" >
				<div style="background-color: #ffffff;" >
					<div class="audience-accordion" >
					
						<div class="audience-accordion-name" >	
							<p>{{val.name}}</p>
						</div>
						<div class="inisight-triangle" ></div>
						
						<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;">
							<a style="list-style: none; text-decoration: none;" ng-click="getAudienceDetailsFun(val.audienceid)" data-toggle="collapse" data-parent="#audienceAccordion" href="#audience_details_{{val.audienceid}}" > 
								<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
							</a>
						</div>
						
						
						<!-- ng-click="getAudienceDetailsFun(val.audienceid)" -->
						<!-- <div class="audience-accordion-icon accordion-toggle"  style="width: 80px;background:#f1f1f1;height: 100%;"  >
							<a style="list-style: none; text-decoration: none;" ng-click="getAudienceDetailsFun(val.audienceid)" data-toggle="collapse" data-parent="#audienceAccordion" href="#audience_details_{{val.audienceid}}" > 
								 <i class="fa fa-angle-double-down" aria-hidden="true"></i>	
							</a>
						</div> -->
						
					<span ng-if="!val.recalculetedNOW" > 
						<div title="delete" style="float: right;width: 60px;text-align: center;cursor: pointer;" ng-click="statusAudience.deleteAUDid = val.audienceid;" data-toggle="modal" data-target="#delete_audience"  >
							<i class="fa fa-trash-o" style="margin-top: 35px;font-size: 22px;color: red;" aria-hidden="true"></i>
						</div>
						
						 <div title="calculate" class="audience-accordion-icon" style="width: 70px;padding-top: 23px;position: relative;" >
							<p class="audience-label" ng-click="getAudienceUsersFun(val.audienceid,'audience');" style="padding-top: 14px;" ><img src="Images/audience/arrow-up.png" style="width: 35px;cursor:pointer">
							</p>
						</div>
						
						
						
						<div title="calculate" class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;" ><!-- ng-click="val.calculatedShow = !val.calculatedShow;"  -->
							<img src="Images/audience/refresh.png" style="cursor: pointer;" class="calculatedShow" ng-click="calculatedShowHideFun(val.audienceid);" />
							<p class="audience-label" >{{val.lastcalculated}}</p>
<div ng-if="val.calculatedShow" style="position: absolute;z-index: 1;background: #FFF;top: 50px;left: 0px;border-radius: 2px;width: 150px;border: 1px solid #cdcdcd;" >
	<span ng-if="val.status == 'pending'" >
		<span ng-if="val.is_active && val.is_active == '1'" >
			<p style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    color: #555555;" >Next Calculation : {{val.nextruntime}}</p>
			<p ng-click="deleteAutomationFun(val.audienceid);val.calculatedShow = false" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" > Cancel Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
		<span ng-if="!val.is_active" >
			<p ng-click="recalculetedFun(val.audienceid);val.calculatedShow = false;"  style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    cursor: pointer;    color: #555555;" >Now</p>
			<p ng-click="showAutomationFun(val.audienceid);val.calculatedShow = false;"  style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
	</span>
	<span ng-if="val.status == 'calculation'" >
		<p  style="padding: 10px;border-bottom: 1px solid #cdcdcd;color: #555555;" >In process</p>
		<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
	</span>
</div>
						</div>
						
						<div title="users"  class="audience-accordion-icon icon-25" style="position:relative;width: 70px;" >
						
							<!-- <img src="Images/audience/people.png" ng-click="showSampleUsers(val.audienceid, val.name);" /> -->
						
							<img style="cursor: pointer;"  src="Images/audience/people.png" ng-click="getAudienceListUsersFun(val.audienceid,'audience');" />
							<!-- <div ng-if="val.usersListShow" style="position: absolute;z-index: 1;background: #FFF;top: 65px;left: -65px;border-radius: 2px;width: 200px;border: 1px solid #cdcdcd;" >
								<div ng-if="!val.usersList" style="padding: 10px;" ><i class="fa fa-spinner" aria-hidden="true"></i></div>
								<ul ng-if="val.usersList.length > 0" style="margin: 0;padding: 10px;list-style: none;" ><li ng-repeat="(k,v) in val.usersList" >{{v.userid}}</li></ul>
								<div ng-if="val.usersList.length == 0" style="padding: 10px;" >No Users</div>
								<p ng-click="val.usersListShow = !val.usersListShow;" style="border-top: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" > Cancel</p>
							</div> -->
						</div>
						
						<!-- <div class="audience-accordion-icon icon-25" >
							<img src="Images/audience/indic-up.png" />
							<img src="Images/audience/indic-down.png" />
						</div> -->
						
						<div  title="total users" class="audience-accordion-icon" style="width: 100px;padding-top: 20px;"  >
							<p class="up" ng-if="val.trend == 'Grow'" >{{val.count}}</p>
							<p class="down" ng-if="val.trend == 'Decay'" >{{val.count}}</p>
							<p class="stay" ng-if="val.trend == 'Stay'" >{{val.count}}</p>
							<p class="audience-label" >people</p>
						</div>
						
						<div title="edit name" class="audience-accordion-icon icon-25"  style="position:relative;width: 70px;" >
							<img style="cursor: pointer;"  src="Images/audience/edit.png" ng-click="val.editName = !val.editName;val.newName = val.name" />
							<div ng-if="val.editName" style="position: absolute;z-index: 1;background: #FFF;top: 65px;left: -65px;border-radius: 2px;width: 200px;border: 1px solid #cdcdcd;" >
						
								<p style="padding:10px 10px 0 10px;color: #555555;" >
									<input type="text" ng-model="val.newName" class="newName" />
								</p>
								<p ng-if="val.newName == val.name || val.newName == ''" style="border-bottom: 1px solid #cdcdcd;padding: 10px;color: #999999;" >
									Apply
								</p>
								<p ng-if="val.newName != val.name && val.newName != ''" ng-click="editAudienceNameFun(val);val.editName = !val.editName" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >
									Apply
								</p>
								<p ng-click="val.editName = !val.editName;val.newName = val.name" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
								
							</div>
						</div>
				</span>	
				<span ng-if="val.recalculetedNOW">
				<div style="height: 87px;float: left;width: 54%;text-align: center;padding-top: 30px;">
					<i style="font-size: 20px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				</div>
				</span>
					</div>
					
				</div>
				
				
			<!-- 	<div id="audience_details_{{val.audienceid}}" class="panel-collapse collapse audience-details" >
					
					<div class="panel-body" style="border-top: none;padding: 0px;" >
					<span ng-if="val.lastcalculated" >	
						<div class="audience-details-continer" >
							<div style="width:35%;float: left;" >
								<p class="audience-details-title" >DETAILS {{val.audienceid}}</p>
								<div class="audience-details-box" style="height: 170px;" >
									<ul class="audience-details-ul" >
										<li>
											<label>Created: </label>
											<span>{{val.details.audience.creationtime}}</span>
										</li>
										<li>
											<label>Actions Preformed: </label>
											<span>{{val.details.interactionsperformed}}</span>
										</li>
										<li>
											<label>Calculated </label>
											<span>{{val.details.audience.num_calculations}} times</span>
										</li>
										<li>
											<label>Magnitude by </label>
	<select ng-change="audienceMagnitudeFun(val.audienceid,selectedVal)"  style="margin-left:3px;border: 0;padding: 2px;color:#6ca3ba;"
        ng-model="selectedVal" 
        ng-options="option[1] for option in val.details.magnitudes.Records">
	</select>
											<span ng-if="val.details.magnitudes.value" >{{val.details.magnitudes.value}}</span>
										</li>
										<li>
											<label>Description</label>
											<span>{{val.details.audience.description}}</span>
										</li>
									</ul>
								</div>
							</div>
							<div style="width:62%;float: right;" >
								<p class="audience-details-title" >SIMILAR AUDIENCES</p>
								<div class="audience-details-box" style="height: 170px;" >
									<span ng-if="!val.details.similaraudiences || val.details.similaraudiences.length == 0" >NO DATA</span>
									<span ng-if="val.details.similaraudiences && val.details.similaraudiences.length > 0" >
										<div ng-repeat="(k,v) in val.details.similaraudiences" >
											<div class="similar-inp" >
												<label style="width:185px;cursor: pointer;" >{{v.name}}</label>
												<span>{{v.percent_of_total}} % users in common</span>
											</div>
											<div class="similar-btn" >
												
												<button class="compare" >Compare</button>
											</div>
										</div>
									</span>
								</div>
							</div>
						</div>
						
						<div>
							<div class="statistic" >
								<p class="audience-details-title" >STATISTICS</p>
								
								<div class="audience-details-box" style="height: 347px;" >
									<span ng-if="!val.details || !val.details.audiencesize.Records || !val.details.audiencesize.ColumnNames" >NO DATA</span>
									
								</div>
							</div>
							<div class="actions" >
								<p class="audience-details-title" >ACTIONS</p>
								<div class="audience-details-box" style="height: 347px;" >
							<span ng-if="!val.details.interactions || val.details.interactions.length == 0" >NO DATA</span>		
				<div style="height: 300px; overflow:auto;" >
				<ul ng-if="val.details.interactions.length > 0" style="margin: 0; padding: 0;" >
					<li ng-repeat="(k,v) in val.details.interactions" style="list-style: none;list-style: none; border-bottom: 1px solid #dcdcdc; padding: 17px 0;color: #333;background: #FFFFFF;padding-left: 10px;cursor: pointer;" >
						<table width="100%" ng-click="setTabFunRRR(v.interaction_id,v.interaction_type);" >
							<tr>
	<td width="70px" ng-if="v.interaction_type.toLowerCase() != 'gotowebinar' && v.interaction_type.toLowerCase() != 'facebook' && v.interaction_type.toLowerCase() != 'infusionsoft'" >
		<img style="height: 40px;" ng-src="{{'Images/api_icons/'+v.interaction_type.toLowerCase()+'.jpg'}}" /></td>
	<td width="70px" ng-if="v.interaction_type.toLowerCase() == 'gotowebinar' || v.interaction_type.toLowerCase() == 'facebook' || v.interaction_type.toLowerCase() == 'infusionsoft'" >
		<img style="height: 40px;" ng-src="{{'Images/api_icons/'+v.interaction_type.toLowerCase()+'.png'}}" /></td>
									
								<td width="70px" style="cursor: pointer;" >
									<span ng-if="v.type == 'sms'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/sms.jpg'}}" /></span>
									<span ng-if="v.type == 'email' || v.type == 'promotion'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/email.jpg'}}" /></span>
									<span ng-if="v.type == 'push notification'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/push.jpg'}}" /></span>
									<span ng-if="v.type == 'tracking'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/campaign.jpg'}}" /></span>
									
								</td> 
								<td style="cursor: pointer;" >
									<label style="display: inherit;cursor: pointer;">{{v.title}}</label>
									<label style="color: #c3c3c3;cursor: pointer;"> created: {{ newFormatDateFun(v.creation_time) | date:'dd/mm/yyyy'}} </label>
								</td> 
								<td><label style="cursor: pointer;" >{{v.interaction_action}}</label>
							</tr>
						</table>
					</li>
				</ul>
				</div>					
								</div>
							</div>
						</div>
					</span>
					<span ng-if="!val.lastcalculated" >
						<p>This audience has never been calculated before, please calculate to view details.</p>
					</span>	
					</div>
					
				</div> -->
				
			</div>
		</div>		 
			</span>	
			<span ng-if="statusAudience.showSpinner" style="display: inline-block;width: 100%;text-align: center;padding-top: 20px;" >
				<i style="font-size: 30px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			</span>
				</div>			
				
							
					</div>
	</div>
	
	
	<!------------------------------          New My Audience                         ----------------------------->
		<div class="tab-pane fade in active" id="My_Audiences2" >
		
		<div class="status-page" >
		
			<div class="col-md-12" style="margin-bottom: 400px;margin-top: 25px;"  >
				
				<div class="kpi-welcome">
					<div style="    width: 50%;    float: left;" >
						<h1>My Audiences</h1>
						<span>Create and explore your user audiences</span>
					</div>
					<!-- <button style="float: right;" class="but-grey" ng-click="createNewCohort();">+ New Audience</button> -->
				</div>
			
			
			<div class="create-audience-box" ng-click="createAudienceModalFun();" >
				<label style="font-size: 18px;margin: 16px;cursor:pointer;" >Create New Audience</label><div class="create-btn" ></div>
			</div>
			<span ng-if="!statusAudience.showSpinner" >
			<p ng-if="audiencesArr.length == 0" >NO DATA</p>
		
		<div class="accordion" id="audienceAccordion" >
		
		
			<div style="width: 100%;" ng-repeat="(key,val) in audiencesArr" class="panel-heading feeds accordion-toggle" >
				<div style="background-color: #ffffff;" >
					<div class="audience-accordion" >
					
						<div class="audience-accordion-name" >	
							<p>{{val.name}}</p>
						</div>
						<div class="inisight-triangle" ></div>
						
						<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;">
							<a style="list-style: none; text-decoration: none;" ng-click="getAudienceDetailsFun(val.audienceid)" data-toggle="collapse" data-parent="#audienceAccordion" href="#audience_details_{{val.audienceid}}" > 
								<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
							</a>
						</div>
						
					<span ng-if="!val.recalculetedNOW" > 
						<div title="delete" style="float: right;width: 60px;text-align: center;cursor: pointer;" ng-click="statusAudience.deleteAUDid = val.audienceid;" data-toggle="modal" data-target="#delete_audience"  >
							<i class="fa fa-trash-o" style="margin-top: 35px;font-size: 22px;color: red;" aria-hidden="true"></i>
						</div>
						
						 <div title="calculate" class="audience-accordion-icon" style="width: 70px;padding-top: 23px;position: relative;" >
							<p class="audience-label" ng-click="getAudienceUsersFun(val.audienceid,'audience');" style="padding-top: 14px;" ><img src="Images/audience/arrow-up.png" style="width: 35px;cursor:pointer">
							</p>
						</div>
						
						
						
						<div title="calculate" class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;" ><!-- ng-click="val.calculatedShow = !val.calculatedShow;"  -->
							<img src="Images/audience/refresh.png" style="cursor: pointer;" class="calculatedShow" ng-click="calculatedShowHideFun(val.audienceid);" />
							<p class="audience-label" >{{val.lastcalculated}}</p>
<div ng-if="val.calculatedShow" style="position: absolute;z-index: 1;background: #FFF;top: 50px;left: 0px;border-radius: 2px;width: 150px;border: 1px solid #cdcdcd;" >
	<span ng-if="val.status == 'pending'" >
		<span ng-if="val.is_active && val.is_active == '1'" >
			<p style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    color: #555555;" >Next Calculation : {{val.nextruntime}}</p>
			<p ng-click="deleteAutomationFun(val.audienceid);val.calculatedShow = false" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" > Cancel Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
		<span ng-if="!val.is_active" >
			<p ng-click="recalculetedFun(val.audienceid);val.calculatedShow = false;"  style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    cursor: pointer;    color: #555555;" >Now</p>
			<p ng-click="showAutomationFun(val.audienceid);val.calculatedShow = false;"  style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
	</span>
	<span ng-if="val.status == 'calculation'" >
		<p  style="padding: 10px;border-bottom: 1px solid #cdcdcd;color: #555555;" >In process</p>
		<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
	</span>
</div>
						</div>
						
						<div title="users"  class="audience-accordion-icon icon-25" style="position:relative;width: 70px;" >
						
						
							<img style="cursor: pointer;"  src="Images/audience/people.png" ng-click="getAudienceListUsersFun(val.audienceid,'audience');" />
							
						</div>
						
						<div  title="total users" class="audience-accordion-icon" style="width: 100px;padding-top: 20px;"  >
							<p class="up" ng-if="val.trend == 'Grow'" >{{val.count}}</p>
							<p class="down" ng-if="val.trend == 'Decay'" >{{val.count}}</p>
							<p class="stay" ng-if="val.trend == 'Stay'" >{{val.count}}</p>
							<p class="audience-label" >people</p>
						</div>
						
						<div title="edit name" class="audience-accordion-icon icon-25"  style="position:relative;width: 70px;" >
							<img style="cursor: pointer;"  src="Images/audience/edit.png" ng-click="val.editName = !val.editName;val.newName = val.name" />
							<div ng-if="val.editName" style="position: absolute;z-index: 1;background: #FFF;top: 65px;left: -65px;border-radius: 2px;width: 200px;border: 1px solid #cdcdcd;" >
						
								<p style="padding:10px 10px 0 10px;color: #555555;" >
									<input type="text" ng-model="val.newName" class="newName" />
								</p>
								<p ng-if="val.newName == val.name || val.newName == ''" style="border-bottom: 1px solid #cdcdcd;padding: 10px;color: #999999;" >
									Apply
								</p>
								<p ng-if="val.newName != val.name && val.newName != ''" ng-click="editAudienceNameFun(val);val.editName = !val.editName" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >
									Apply
								</p>
								<p ng-click="val.editName = !val.editName;val.newName = val.name" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
								
							</div>
						</div>
				</span>	
				<span ng-if="val.recalculetedNOW">
				<div style="height: 87px;float: left;width: 54%;text-align: center;padding-top: 30px;">
					<i style="font-size: 20px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				</div>
				</span>
					</div>
					
				</div>
				
	<!------------------------------------------  audience accordion open -------------------------------------------------------->			
				
				<div id="audience_details_{{val.audienceid}}" class="panel-collapse collapse new-audi-detls" >
	<div class="tabs-left">				
		<ul class="nav nav-tabs new-audi-vertical" >
			<li class="nav active" ><a href="#Description" data-toggle="tab">Description</a></li>
			<li class="nav" ><a href="#Similar" data-toggle="tab">Similar Audiences</a></li>
			<li class="nav" ><a href="#Statistics" data-toggle="tab">Statistics</a></li>
			<li class="nav" ><a href="#Actions" data-toggle="tab" >Actions</a></li>
			<li class="nav" ><a href="#Attributes" data-toggle="tab" >Attributes</a></li>
		</ul>
	
		<!-- details tabs -->
		<div class="tab-content vertical-content">
			<div class="tab-pane active" id="Description" >
			
				Description
				
					<div>
									<ul class="audience-details-ul" >
										<li>
											<label>Created: </label>
											<span>{{val.details.audience.creationtime}}</span>
										</li>
										<li>
											<label>Actions Preformed: </label>
											<span>{{val.details.interactionsperformed}}</span>
										</li>
										<li>
											<label>Calculated </label>
											<span>{{val.details.audience.num_calculations}} times</span>
										</li>
										<li>
											<label>Magnitude by </label>
	<select ng-change="audienceMagnitudeFun(val.audienceid,selectedVal)"  style="margin-left:3px;border: 0;padding: 2px;color:#6ca3ba;"
        ng-model="selectedVal" 
        ng-options="option[1] for option in val.details.magnitudes.Records">
	</select>
											<span ng-if="val.details.magnitudes.value" >{{val.details.magnitudes.value}}</span>
										</li>
										<li>
											<label>Description</label>
											<span>{{val.details.audience.description}}</span>
										</li>
									</ul>
								</div>
			</div>
			
			
			<div class="tab-pane" id="Similar" >
			
				Similar
				
				<div>
									<span ng-if="!val.details.similaraudiences || val.details.similaraudiences.length == 0" >NO DATA</span>
									<span ng-if="val.details.similaraudiences && val.details.similaraudiences.length > 0" >
										<div ng-repeat="(k,v) in val.details.similaraudiences" >
											<div class="similar-inp" >
												<label style="width:185px;cursor: pointer;" >{{v.name}}</label>
												<span>{{v.percent_of_total}} % users in common</span>
											</div>
											<div class="similar-btn" >
												<!-- <button class="join" >Join</button> -->
												<button class="compare" >Compare</button>
											</div>
										</div>
									</span>
								</div>
				
			</div>
			<div class="tab-pane" id="Statistics" >
			
				Statistics
				
				<div>
	
			
		<div ng-if="!val.details.audiencesize.dataChartjs" class="chart" >
			<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
		</div>	
			
		<div ng-if="val.details.audiencesize.dataChartjs" >		
			<canvas id="line" class="chart-line" style="width: 380px; height: 270px;" chart-data="val.details.audiencesize.dataChartjs.datasets" chart-labels="val.details.audiencesize.dataChartjs.labels" chart-series="val.details.audiencesize.dataChartjs.series" 
			chart-options="val.details.audiencesize.dataChartjs.options" chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="val.details.audiencesize.dataChartjs.colors" >
			</canvas>		
		</div>
			
	
			</div>
								
			</div>
			<div class="tab-pane" id="Actions" >
			
				Actions
				
				<div class="audience-details-box" style="height: 347px;" >
							<span ng-if="!val.details.interactions || val.details.interactions.length == 0" >NO DATA</span>		
				<div style="height: 300px; overflow:auto;" >
				<ul ng-if="val.details.interactions.length > 0" style="margin: 0; padding: 0;" >
					<li ng-repeat="(k,v) in val.details.interactions" style="list-style: none;list-style: none; border-bottom: 1px solid #dcdcdc; padding: 17px 0;color: #333;background: #FFFFFF;padding-left: 10px;cursor: pointer;" >
						<table width="100%" ng-click="setTabFunRRR(v.interaction_id,v.interaction_type);" >
							<tr>
	<td width="70px" ng-if="v.interaction_type.toLowerCase() != 'gotowebinar' && v.interaction_type.toLowerCase() != 'facebook' && v.interaction_type.toLowerCase() != 'infusionsoft'" >
		<img style="height: 40px;" ng-src="{{'Images/api_icons/'+v.interaction_type.toLowerCase()+'.jpg'}}" /></td>
	<td width="70px" ng-if="v.interaction_type.toLowerCase() == 'gotowebinar' || v.interaction_type.toLowerCase() == 'facebook' || v.interaction_type.toLowerCase() == 'infusionsoft'" >
		<img style="height: 40px;" ng-src="{{'Images/api_icons/'+v.interaction_type.toLowerCase()+'.png'}}" /></td>
									
								<td width="70px" style="cursor: pointer;" >
									<span ng-if="v.type == 'sms'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/sms.jpg'}}" /></span>
									<span ng-if="v.type == 'email' || v.type == 'promotion'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/email.jpg'}}" /></span>
									<span ng-if="v.type == 'push notification'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/push.jpg'}}" /></span>
									<span ng-if="v.type == 'tracking'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/campaign.jpg'}}" /></span>
									
								</td> 
								<td style="cursor: pointer;" >
									<label style="display: inherit;cursor: pointer;">{{v.title}}</label>
									<label style="color: #c3c3c3;cursor: pointer;"> created: {{ newFormatDateFun(v.creation_time) | date:'dd/mm/yyyy'}} </label>
								</td> 
								<td><label style="cursor: pointer;" >{{v.interaction_action}}</label>
							</tr>
						</table>
					</li>
				</ul>
				</div>					
			</div>
			
			</div>
			
			<div class="tab-pane" id="Attributes" >
			
				Attributes
			
			</div>
		</div>
		
	</div>	

					
				</div>
				
		<!------------------------------------------   -------------------------------------------------------->		
				
			</div>
		</div>		 
			</span>	
			<span ng-if="statusAudience.showSpinner" style="display: inline-block;width: 100%;text-align: center;padding-top: 20px;" >
				<i style="font-size: 30px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			</span>
				</div>			
				<!-- <table id="cohorts_table_div55" class="campaigns-table"></table>	 -->		

							
					</div>
	</div>
	
	
	<!----------------------------------------------------------------------------------------------------------------------------------------------------->
	
	
	<!-- /************************************** Smart_Audiences  ******************************************************/ -->
	
	<div id="Smart_Audiences" class="tab-pane" >
		<div class="status-page" >
			
			<div class="col-md-12" style="margin-bottom: 150px;margin-top: 25px;"  >
				
		<div class="kpi-welcome">
			<div style="    width: 50%;    float: left;" >
				<h1>Smart Audiences</h1>
				<span></span>
			</div>
		</div>
	
		<!----------------------------------------------- ranksArr -------------------------------------------------->
		
			<span ng-if="!ranksArr" style="display: inline-block;width: 100%;height:700px;text-align: center;padding-top: 20px;" >
				<i style="font-size: 30px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			</span>
			<div ng-if="ranksArr" class="accordion" id="rankAccordion" style="width: 100%;" ng-repeat="(key,val) in ranksArr" >
				<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
					<div class="audience-accordion" >
					
					
						<div class="audience-accordion-name" >	
							<p>{{val.rank.name}}</p>
						</div>
						<div class="inisight-triangle" ></div>
						
						<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;" >
							<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="#rankAccordion" href="#rank_details_{{val.rank.type}}_{{val.rank.id}}"> 
								<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
							</a>
						</div>
						
						 <div title="calculate" class="audience-accordion-icon" style="width: 50px;padding-top: 23px;position: relative;" >
							<p class="audience-label" ng-click="getAudienceUsersFun(val.rank.id, val.rank.type);"><img src="Images/audience/arrow-up.png" style="width: 35px;cursor:pointer">
							</p>
						</div>
					
						<div style='position:relative;' >
						<div class="dropdown audience-accordion-icon icon-25" style="width: 50px;cursor:pointer" >
							<div class="dropdown-toggle" data-toggle="dropdown"  >
								<img src="Images/audience/balance.png" />
							</div>
							<ul class="dropdown-menu" style="width:100%">
								<li><a tabindex="-1" ng-if="v.rank.name != val.rank.name" ng-click="val.showCompereID = v.rank.id; val.showCompereName = v.rank.name; val.showCompereData = v.behaviors_graph; val.showCompere = !val.showCompere;" ng-repeat="(k,v) in ranksArr" >{{v.rank.name}}</a></li>		
							</ul>
						</div>
						<div class="audience-accordion-icon icon-25" style="position:relative;width: 70px;" >
							<img style="cursor: pointer;"  src="Images/audience/people.png" ng-click="getAudienceListUsersFun(val.rank.id,'rank');" />
						</div>
						<div ng-if="val.showCompere" style="background: rgb(247, 247, 247);border: 1px solid rgb(230, 230, 230);border-radius: 10px;width: 1071px;padding: 20px;position: absolute;z-index: 1;right: 0;top: 90px;" >
							<button type="button" class="close" ng-click="val.showCompereID = ''; val.showCompereName = ''; val.showCompereData = ''; val.showCompere = !val.showCompere;" ></button>
							<div style="height: 347px;float:left;width: 50%;text-align: left;" >
								<div>{{val.rank.name}}</div>
								<div ng-if="!val.behaviors_graph.ReportDataTable.Data" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
								<div ng-if="val.behaviors_graph.ReportDataTable.Data.length === 0" class="chart" >
									<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
								</div>
								<span ng-if="val.behaviors_graph.ReportDataTable.Data.length > 0"  >
									<p></p>
									<div chartamnon style="width: 430px; height: 300px;" type="rank" grid="{{val.rank.id}}" graph-data="val.behaviors_graph.ReportDataTable" ></div>
								</span>
							</div>
							
							<div style="height: 347px;float:right;width: 50%;text-align: left;" >
								<div>{{val.showCompereName}}</div>
								<div ng-if="!val.showCompereData.ReportDataTable.Data" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
								<div ng-if="val.showCompereData.ReportDataTable.Data.length === 0" class="chart" >
									<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
								</div>
								<span ng-if="val.showCompereData.ReportDataTable.Data.length > 0"  >
								<p></p>
									<div chartamnon style="width: 430px; height: 300px;" type="rank" grid="{{val.showCompereID}}" graph-data="val.showCompereData.ReportDataTable" ></div>
								</span>
								
							</div>
						</div>
						</div>
						<div title="calculate" class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;" >
							<p class="audience-label" >Predicted: {{val.rank.predicted_revenue| number : 0 }}</p>
							<p class="audience-label" >Avg. {{(val.rank.predicted_revenue/val.rank.size )| number : 2 }}</p>
						</div>
						<div title="calculate" class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;" >
							<p class="audience-label" >Revenue: {{val.rank.revenue| number : 0 }}</p>
							<p class="audience-label" >Avg. {{val.rank.avg_revenues| number : 0 }}</p>
						</div>
						<div title="calculate" class="audience-accordion-icon" style="width: 100px;padding-top: 23px;position: relative;" >
							<!--<p class="audience-label" >last calculation</p>-->
							<img src="Images/audience/refresh.png" class="calculatedShow">
							<p class="audience-label" >{{val.rank.calculation_date}}</p>
						</div>
						<div title="calculate" class="audience-accordion-icon" style="width: 100px;padding-top: 23px;position: relative;" >
							<p class="audience-label" >{{val.rank.size | number : 0 }} people</p>
							<p class="audience-label" >{{val.rank.precentage_size| number : 2}}% of total</p>
						</div>
				
					</div>
					
				</div>
				<div id="rank_details_{{val.rank.type}}_{{val.rank.id}}" class="panel-collapse collapse audience-details" >
					
					<div class="panel-body" style="border-top: none;padding: 0px;" >
			
						<div class="audience-details-continer" >
							<div style="width:35%;float: left;" >
								<p class="audience-details-title" >DESCRIPTION</p>
								<div class="audience-details-box" style="height: 170px;" >
									
									<!-- <label>Description:</label><br /> -->
									<p ng-bind-html="val.rank.description" style="height: 105px;overflow: auto;" ></p>
									
								</div>
							</div>
							<div style="width:62%;float: right;" >
								<p class="audience-details-title" >Top 6 Behaviral Audience</p>
								<div class="audience-details-box" style="height: 170px;" >
									<span ng-if="!val.behaviors || val.behaviors.length == 0" >NO DATA</span>
									<button class="btn gray" style="float: right;" >History</button>
									<span ng-if="val.behaviors && val.behaviors.length > 0" ng-if="$index > 6" >
										<div ng-repeat="(k,v) in val.behaviors" > 
											
											<div class="similar-inp" style="float: left;height: 19px;border: none;border-radius: 10px;width: 100%;padding: 0px 20px;background: #ffffff;margin-bottom: 3px;" >
												<label style="width:185px;" >{{v.name}}</label>
												<span>{{v.percentage}}%</span>
												<span> from total</span>
								
												<input ng-if="ExternalAPIsTableData && ExternalAPIsTableData.length > 0" type="checkbox" ng-model="v.checked" ng-change="checkBehavFun(val.rank.id,v.id);" style="float:right;"  />
												<a class="btn gray" style="float: right;margin-right:10px;padding: 0;" ng-click="openSelectedAudienceFun('behavior',v.subtype,v.id);"  >more</a>
											</div>
											
										</div>
									</span>
										<div class="dropdown" style="float: right;" >
											<div ng-if="val.check" class="dropdown-toggle" data-toggle="dropdown" >
												<button class="btn gray" style="float: right;" >Create Engegement</button>
											</div>
											<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="goToEngnCenterFun(j.type,'behavior',val.behaviors);" ng-repeat="(i,j) in ExternalAPIsTableData" ng-if="j.type != 'ad'" >{{j.name}}</a></li>		
											</ul>
										</div>
									
								</div>
							</div>
						
						<div style="width: 100%;display: inline-block;margin-top: 25px;" >
							
							<div class="statistic" >
								<p class="audience-details-title" >STATISTICS</p>
								
								<div class="audience-details-box" style="height: 347px;" >
	
			
		<div ng-if="!val.behaviors_graph.dataChartjs" class="chart" >
			<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
		</div>	
			
		<div ng-if="val.behaviors_graph.dataChartjs" >		
			<canvas id="line" class="chart-line" style="width: 380px; height: 270px;" chart-data="val.behaviors_graph.dataChartjs.datasets" chart-labels="val.behaviors_graph.dataChartjs.labels" chart-series="val.behaviors_graph.dataChartjs.series" 
			chart-options="val.behaviors_graph.dataChartjs.options" chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="val.behaviors_graph.dataChartjs.colors" >
			</canvas>		
		</div>
			
	
								</div>
							</div>
							
							<div class="actions" >
								<p class="audience-details-title" >ACTIONS</p>
								<div class="audience-details-box" style="height: 347px;" >
									<span ng-if="!val.actions || val.actions.length == 0" >NO DATA</span>		
									<div style="height: 300px; overflow:auto;" >
									<ul ng-if="val.actions.length > 0" style="margin: 0; padding: 0;" >
										<li ng-repeat="(k,v) in val.actions" style="list-style: none;list-style: none; border-bottom: 1px solid #dcdcdc; padding: 17px 0;color: #333;background: #FFFFFF;padding-left: 10px;" >
											<table width="100%" ng-click="setTabFunRRR(v.interaction_id,v.interaction_type);" >
												<tr>
													<td width="70px" ng-if="v.interaction_type.toLowerCase() != 'gotowebinar' && v.interaction_type.toLowerCase() != 'infusionsoft'" >
													<img style="height: 40px;" ng-src="{{'Images/api_icons/'+v.interaction_type.toLowerCase()+'.jpg'}}" /></td>
													<td width="70px" ng-if="v.interaction_type.toLowerCase() == 'gotowebinar' || v.interaction_type.toLowerCase() == 'infusionsoft'" >
													<img style="height: 40px;" ng-src="{{'Images/api_icons/'+v.interaction_type.toLowerCase()+'.png'}}" /></td>
													<td width="70px" >
														<span ng-if="v.type == 'sms'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/sms.jpg'}}" /></span>
														<span ng-if="v.type == 'email' || v.type == 'promotion'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/email.jpg'}}" /></span>
														<span ng-if="v.type == 'push notification'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/push.jpg'}}" /></span>
														<span ng-if="v.type == 'tracking'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/campaign.jpg'}}" /></span>
														
													</td> 
													<td>
														<label  style="margin:0 0 0 3px; " >created: {{ newFormatDateFun(v.creation_time) | date:'dd/mm/yyyy'}} </label>
													</td> 
													<td><label>{{v.interaction_action}}</label>
												</tr>
											</table>
										</li>
									</ul>
									</div>					
								</div>
							</div>
							</div> 
						<div style="margin: 25px 0;" >
							<p class="audience-details-title" style="text-align: left;padding-left: 21%;" >ATTRIBUTES</p>
							<div class="audience-details-box" style=" position:relative;width:100%" >
							<span ng-if="!val.attributes.Records" >NO DATA</span>	
								<div ng-if="val.attributes.Records" graph-data-moshe="val.attributes.Records" chartmoshe  style="position:relative;height:500px;width: 915px;"  >
							
								</div>
							</div>
						</div>
												
					</div> 
					
				</div>
				
			</div>
	
		</div>
		
		<!-- ***************************************************************  behaviors  ******************************************  -->
		
	
				<span ng-if="!newBehaviorsArr" style="display: inline-block;width: 100%;text-align: center;padding-top: 20px;" >
					<i style="font-size: 30px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				</span>
				<div ng-if="newBehaviorsArr" class="accordion" id="behaviorTypeAccordion" style="width: 100%;" ng-repeat="typeOfBehav in newBehaviorsArr" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
						<div class="audience-accordion" >
						
							<div class="audience-accordion-name" >	
								<p>{{typeOfBehav.typeName}}</p>
							</div>
							<div class="inisight-triangle" ></div>
							
							<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;" ng-click="getBehaviorTypeDetailsFun()" >
								<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="#behaviorTypeAccordion" href="#behaviors_{{typeOfBehav.subtype}}"> 
									<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
								</a>
							</div>
						
							<div style="color: #a4a4a4;width: 42%;    padding-top: 34px;    float: left;    text-align: left;    text-overflow: ellipsis;display: -webkit-box;    -webkit-line-clamp: 2;    -webkit-box-orient: vertical;    overflow: hidden;" >
								<p class="audience-label" >{{typeOfBehav.typeDescr}}</p>
							</div> 
					
								<div title="calculate" class="audience-accordion-icon" style="width: 100px;padding-top: 23px;position: relative;" >
								<p class="audience-label" >{{typeOfBehav.size | number : 0}} people</p>
							</div>
							
						</div>
						
					</div>
					<div id="behaviors_{{typeOfBehav.subtype}}" class="panel-collapse collapse audience-details" >
					<div id="behaviorAccordion" >
						<div class="panel-heading feeds accordion-toggle" style="width: 100%;" ng-repeat="(k,v) in typeOfBehav.data" >
							<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
								<div class="audience-accordion" >
								
									<div class="audience-accordion-name" >	
										<p>{{v.behavior.name}}</p>
									</div>
									<div class="inisight-triangle" ></div>
							
									<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;"  >
										<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="#behaviorAccordion" href="#behavior_details_{{v.behavior.subtype}}_{{v.behavior.behaviorid}}"> 
											<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
										</a>
									</div>

							
						<div title="calculate" class="audience-accordion-icon" style="width: 100px;padding-top: 23px;position: relative;" >
							<p class="audience-label" ng-click="getAudienceUsersFun(v.behavior.behaviorid, v.behavior.type);"><img src="Images/audience/arrow-up.png" style="width: 35px;cursor:pointer">
							</p>
						</div>
						
					<div style='position:relative;' >
						<div class="dropdown audience-accordion-icon icon-25" style="width: 50px;cursor:pointer" >
							<div class="dropdown-toggle" data-toggle="dropdown"  >
								<img src="Images/audience/balance.png" />
							</div>
			<ul class="dropdown-menu" style="width: 250px;    height: 300px;    overflow: auto;">
				<li>
					<a tabindex="-1" ng-if="v.behavior.name != r.behavior.name" ng-click="v.showCompereName = r.behavior.name; v.showCompereData = r.ranks_graph; v.showCompere = !v.showCompere;" ng-repeat="(e,r) in behaviorsArray" >
							{{r.behavior.name}}</a>
						
				</li>		
			</ul>
						</div>
						<div ng-if="v.showCompere" style="background: rgb(247, 247, 247);border: 1px solid rgb(230, 230, 230);border-radius: 10px;width: 1071px;padding: 20px;position: absolute;z-index: 1;right: 0;top: 90px;" >
							<div style="width: 100%;" ><button type="button" class="close" ng-click="v.showCompereName = ''; v.showCompereData = ''; v.showCompere = !v.showCompere;" ></button></div>
							<div class="" style="height: 347px;float:left;width: 50%;text-align: left;" >
								<div>{{v.behavior.name}}</div>
								<div ng-if="!v.ranks_graph.ReportDataTable.Data" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
								<div ng-if="v.ranks_graph.ReportDataTable.Data.length === 0" class="chart" >
									<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
								</div>
								<span ng-if="v.ranks_graph.ReportDataTable.Data.length > 0"  >
									<div chartamnon style="width: 430px; height: 300px;" type="behavior" grid="{{v.behavior.behaviorid}}" graph-data="v.ranks_graph.ReportDataTable" ></div>
								</span>
							</div>
							
							<div class="" style="height: 347px;float:right;width: 50%;text-align: left;" >
								<div>{{v.showCompereName}}</div>
								<div ng-if="!v.showCompereData.ReportDataTable.Data" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
								<div ng-if="v.showCompereData.ReportDataTable.Data.length === 0" class="chart" >
									<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
								</div>
								<span ng-if="v.showCompereData.ReportDataTable.Data.length > 0"  >
									<div chartamnon style="width: 430px; height: 300px;" type="behavior" grid="{{v.behavior.behaviorid}}" graph-data="v.showCompereData.ReportDataTable" ></div>
								</span>
							</div>
						</div>
					</div>
						
							<div class="audience-accordion-icon icon-25" style="position:relative;width: 70px;" >
							<img style="cursor: pointer;"  src="Images/audience/people.png" ng-click="getAudienceListUsersFun(v.behavior.behaviorid,'behavior');" />
						</div>	
						<div title="calculate" class="audience-accordion-icon" style="width: 100px;padding-top: 23px;position: relative;" >
							<!--<p class="audience-label" >last calculation</p>-->
							<img src="Images/audience/refresh.png" class="calculatedShow">
							<p class="audience-label" >{{v.behavior.calculation_date}}</p>
						</div>
						<div title="calculate" class="audience-accordion-icon" style="width: 100px;padding-top: 23px;position: relative;" >
							<p class="audience-label" >{{v.behavior.size | number : 0}} people</p>
						</div>
				
								</div>
								
							</div>
							
							<div id="behavior_details_{{v.behavior.subtype}}_{{v.behavior.behaviorid}}" class="panel-collapse collapse audience-details" >
								<div style="width:35%;float: left;" >
									<p class="audience-details-title" >DESCRIPTION</p>
									<div class="audience-details-box" style="height: 170px;" >
										
												<!-- <label>Description:</label><br /> -->
												<p style="height: 105px;overflow: auto;" >{{v.behavior.description}}</p>
										
									</div>
								</div>
							<div style="width:62%;float: right;" >
								<p class="audience-details-title" >Top 6 Ranked Audience</p>
								<div class="audience-details-box" style="height: 170px;" >
									<span ng-if="!v.ranks || v.ranks.length == 0" >NO DATA</span>
									<button class="btn gray" style="float: right;" >History</button>
									<span ng-if="v.ranks && v.ranks.length > 0" ng-if="$index > 6" >
										<div ng-repeat="(i,j) in v.ranks" > 
											
											<div class="similar-inp" style="float: left;cursor: pointer;height: 19px;border: none;border-radius: 10px;width: 100%;padding: 0px 20px;background: #ffffff;margin-bottom: 3px;" >
												<label style="width:185px;" >{{j.name}}</label>
												<span>{{j.percentage}}%</span>
												<span> from total</span>
												<input ng-if="ExternalAPIsTableData && ExternalAPIsTableData.length > 0" type="checkbox" ng-model="j.checked" style="float:right;" ng-change="checkRankFun(typeOfBehav.subtype,v.behavior.behaviorid,j.id)" />
												<a style="float: right;margin-right:10px;padding: 0;" ng-click="openSelectedAudienceFun('rank',j.subtype,j.id);"  >more</a>
											</div>
											
										</div> 
									</span>
									<div class="dropdown" style="float: right;" >
											<div ng-if="v.check" class="dropdown-toggle" data-toggle="dropdown" >
												<button class="btn gray" style="float: right;" >Create Engegement</button>
											</div>
											<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="goToEngnCenterFun(j.type,'rank',v.ranks);" ng-repeat="(i,j) in ExternalAPIsTableData" ng-if="j.type != 'ad'" >{{j.name}}</a></li>		
											</ul>
										</div>
								</div>
							</div>
					<div style="width: 100%;display: inline-block;margin-top: 15px;position: relative;" >
						<button ng-if="v.similarbehaviors.length > 0" ng-click="v.showSimilars = !v.showSimilars" class="btn gray" style="float: right;" >Find Similar</button>
						<div ng-if="v.showSimilars" style="background: rgb(247, 247, 247);border: 1px solid rgb(230, 230, 230);border-radius: 10px;width: 416px;padding: 20px;position: absolute;z-index: 1;right: 0;top: 50px;" >
							<div ng-repeat="(q,w) in v.similarbehaviors" >
								<label >{{w.name}}</label>
								<label>{{w.users_in_common | number : 0 }} people</label>
							</div>
						</div>
					</div>
						<div style="width: 100%;display: inline-block;margin-top: 25px;" >
							<div class="statistic" >
								<p class="audience-details-title" >STATISTICS</p>
								
								<div class="audience-details-box" style="height: 347px;" >
	
			
		<div ng-if="!v.ranks_graph.dataChartjs" class="chart" >
			<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
		</div>	
			
		<div ng-if="v.ranks_graph.dataChartjs" >		
			<canvas id="line" class="chart-line" style="width: 380px; height: 300px;" chart-data="v.ranks_graph.dataChartjs.datasets" chart-labels="v.ranks_graph.dataChartjs.labels" chart-series="v.ranks_graph.dataChartjs.series" chart-options="v.ranks_graph.dataChartjs.options" 
				chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="v.ranks_graph.dataChartjs.colors" >
			</canvas>		
		</div>
			
	
								</div>
							</div>
							<div class="actions" >
								<p class="audience-details-title" >ACTIONS</p>
								<div class="audience-details-box" style="height: 347px;" >
									<span ng-if="!v.actions || v.actions.length == 0" >NO DATA</span>		
									<div style="height: 300px; overflow:auto;" >
									<ul ng-if="v.actions.length > 0" style="margin: 0; padding: 0;" >
										<li ng-repeat="(i,j) in v.actions" style="list-style: none;list-style: none; border-bottom: 1px solid #dcdcdc; padding: 17px 0;color: #333;background: #FFFFFF;padding-left: 10px;" >
											<table width="100%" ng-click="setTabFunRRR(j.interaction_id,j.interaction_type);" >
												<tr>
													<td width="70px" ng-if="j.interaction_type.toLowerCase() != 'gotowebinar' && j.interaction_type.toLowerCase() != 'infusionsoft'" >
													<img style="height: 40px;" ng-src="{{'Images/api_icons/'+j.interaction_type.toLowerCase()+'.jpg'}}" /></td>
													<td width="70px" ng-if="j.interaction_type.toLowerCase() == 'gotowebinar' || j.interaction_type.toLowerCase() == 'infusionsoft'" >
													<img style="height: 40px;" ng-src="{{'Images/api_icons/'+j.interaction_type.toLowerCase()+'.png'}}" /></td>
													<td width="40px" >
														<span ng-if="j.type == 'sms'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/sms.jpg'}}" /></span>
														<span ng-if="j.type == 'email' || j.type == 'promotion'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/email.jpg'}}" /></span>
														<span ng-if="j.type == 'push notification'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/push.jpg'}}" /></span>
														<span ng-if="j.type == 'tracking'"><img style="height: 40px;" ng-src="{{'Images/api_icons/services2/campaign.jpg'}}" /></span>
														
													</td> 
													<td>
														<label style="margin:0 0 0 3px; ">created: {{ newFormatDateFun(j.creation_time) | date:'dd/mm/yyyy'}} </label>
													</td> 
													<td><label>{{j.interaction_action}}</label>
												</tr>
											</table>
										</li>
									</ul>
									</div>					
								</div>
							</div>
							</div> 
						<div style="margin: 25px 0;" >
							<p class="audience-details-title" style="text-align: left;padding-left: 21%;" >ATTRIBUTES</p>
							<div class="audience-details-box" style=" position:relative;width:100%" >
							<span ng-if="!v.attributes.Records" >NO DATA</span>	
								<div ng-if="v.attributes.Records" graph-data-moshe="v.attributes.Records" chartmoshe  style="position:relative;height:400px;width:800px;"  >
							
								</div>
							</div>
						</div>
							
							</div>
								
						</div>
					</div>
				</div>
	</div>
</div>		
	<!--	</div>		 
		
		<div id="Insights_tab" class="tab-pane" >
			<span ng-if="insightsAll" ng-repeat="(key,val) in insightsAll" ng-if="val.done == '0'" >
					<div class="panel-heading feeds accordion-toggle" style="width: 100%;">
						<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
							<div style="background-color: #f7f7f7;height:86px;" >
								<div style="float:left;width: 130px;background-color: #F1F1F1;height: 100%;" >
									<div class="inisight-info-box" ><div class="inisight-info" style="text-align: center;" ><i class="fa fa-info inisight-info-icon" aria-hidden="true"></i></div></div>
									<div class="outcome_text" ><p>{{val.outcome_text}}</p></div>	
								</div>
								<div class="inisight-triangle" ></div>
								<div style="float: left;  width: calc(100% - 550px);" >
									<p class="inisight-tilte" style="margin-top: 10px;" >{{val.outcome_text}}</p><br />
									<p class="inisight-text" >{{val.short_text.text}}</p>
									
								</div>
								
								<div style="float: right;width: 80px;background:#f1f1f1;height: 100%;text-align: center;" >
									<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="parentId" id="headingID" onclick="" href="#collapse_parentIdClean_insightData_{{val.id}}"> 
										<i class="fa fa-angle-double-down" aria-hidden="true"></i>
									</a>	
								</div>
								<div style="float: right;    margin-top: 24px;    margin-right: 66px;width: 215px;text-align: center;" class="inisight-action" >
									<div ng-if="val.feedback == '0'" "class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'1','smart')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
										<i class="insight-heart-icon feedback0" aria-hidden="true"></i>
									</div>
									<div ng-if="val.feedback == '1'" class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'0','smart')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
										<i class="insight-heart-icon feedback1" aria-hidden="true"></i>
									</div>
									<a ng-if="val.action=='Audience'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onCreateCohortClick(val.id, val.short_text.text);">{{val.action_call}}</a>
									<a ng-if="val.action=='Interact'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onInteractClick(val.id, val.short_text.text);">{{val.action_call}}</a>
								</div>
							</div>
							
						</div>
						<div id="collapse_parentIdClean_insightData_{{val.id}}" class="panel-collapse collapse" style="margin-top: -5px;height: 80px !important;" >
							<div class="inisight-descr-box" ></div>
							<div class="panel-body" style="border-top: none;padding: 0px;" >
								<p style="margin-left: 168px;margin-top: 20px;text-align: left;">{{val.long_text}}</p>
							</div>
						</div>
						
					</div>
					<div id="collapse_parentIdClean_insightData_6" class="panel-collapse collapse" >
						<div class="panel-body" style="border-top: none;">
							<p style="margin-left:153px; text-align: left;" class="ng-binding">Yesterday's most selling product was Mesh Trainers. Last week it was Cotton Jumper and last month it was Disco Pants.</p>
						</div>
					</div>
				</span>
		</div>
		</div> -->
	</div>
</div>	

	<div id="Single_Customer" class="tab-pane" >
		<div class="status-page" >
			<span ng-include src="'Templates/Dashboard/includesGraph.html'" ></span>
		</div>
	</div>
	
	<div id="ML" class="tab-pane" >
		<div class="status-page" >
			<span ng-include src="'Templates/Dashboard/GraphsTpl/MLGraph.html'" ></span>
		</div>
	</div>

</div>

<!-- 
<div class="modal fade" id="SampleUsersModal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 700px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" >Sample Users</h4>
			</div>
			<div class="modal-body">
				<div class="portlet-body">
					
					<label style="width: 100%;" >Audience: {{SampleUsersModal.name}}</label>
									
					<div class="table-scrollable">
						<table class="table table-striped table-bordered table-hover dataTable" role="grid" aria-describedby="cohorts_sample_users_table_div_info" >
							<thead>
								<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="cohorts_sample_users_table_div" rowspan="1" colspan="1" aria-label=" User ID : activate to sort column descending" style="width: 0px;" aria-sort="ascending"> User ID </th></tr> 
							</thead>
							<tbody class="ng-scope">									
								<tr role="row" ng-class="$index%2 == 0 ? 'odd' : 'even'" ng-repeat="(key,val) in SampleUsersModal.userIdArr" >
									<td class="sorting_1">{{val.userid}}
										<div style="float: right;cursor: pointer;" ng-click="goToSingleUser(val)" >
											<i style="color: #555;" class="fa fa-user" aria-hidden="true"></i>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					
				
			</div>
		</div>
		<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
						<button data-dismiss="modal" class="btn gray">Close</button>
					</div>
		<!-- /.modal-content -->
<!-- 	</div>
</div>
</div> --> 
	<div class="modal fade" id="delete_audience" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" style="color:#a1a1a1; font-size:30px;">Delete Audience</h4>
				</div>
				
				<div class="portlet-body" style="padding: 20px 20px 20px 20px;">
					<p style="font-size: 18px;" >Are you sure you want to delete this audience?</p>
					<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
						<button data-dismiss="modal" class="btn gray">Cancel</button>
						<button data-dismiss="modal" class="btn green" ng-click="deleteAudienceFun();" >Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="modal fade" id="automation" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 700px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" >Automation</h4>
			</div>
			<div class="modal-body" style="display: inline-block;width: 97%;" >
				<div class="portlet-body">
					<div style="width: 100%;margin-bottom: 10px;" >
						<label style="width: 100%;" >Recalculate every</label>
									
						<div style="position: relative;    width: 48%;    height: 40px;    margin-bottom: 20px;float: left;" >
							<input type="number" class="audienceModal-select" min="1" ng-model="automationModal.Interval" style="padding: 0 20px;" />
						</div>
	<div class="dropdown" style="width: 48%;    float: right;">
		<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown" style="    margin-bottom: 0;" >
			<div class="audienceModal-select" ng-init="automationModal.daysORmonths = 'Days';" >{{automationModal.daysORmonths}}</div>
			<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
											
		<ul class="dropdown-menu" style="width:100%">
			<li><a tabindex="-1" ng-click="automationModal.daysORmonths = 'Days'" >Days</a></li>
			<li><a tabindex="-1" ng-click="automationModal.daysORmonths = 'Months'" >Months</a></li>		
		</ul>
	</div>
						
					</div>	
					<div style="width: 100%;margin-bottom: 10px;" >
						<div style="width: 100%;margin-bottom: 20px;float: left;    height: 40px;" >
							<div class="checkboxGreen" ng-click="automationModal.repeatCheck = !automationModal.repeatCheck" >
								<i ng-if="automationModal.repeatCheck" class="fa fa-check" aria-hidden="true" style="color: green;font-size: 20px;"></i>
							</div>
							<label style="    margin:10px;float: left;" >Repeat</label>
							<span ng-if="automationModal.repeatCheck" >
								<div style="position: relative;    width: 22%;    height: 40px;float: left;" >
									<input type="number" class="audienceModal-select" min="1" ng-model="automationModal.Count" style="padding: 0 20px;" />
								</div>
								<label style="margin:10px;float: left;" >times</label>
							</span>
						</div>
						<div style="width: 100%;margin-bottom: 10px;float: left;    height: 40px;" >
							<div class="checkboxGreen" ng-click="automationModal.startCheck = !automationModal.startCheck" >
								<i ng-if="automationModal.startCheck" class="fa fa-check" aria-hidden="true" style="color: green;font-size: 20px;"></i>
							</div>
							<label style="    margin:10px;float: left;">Start at</label>
							<div id="automationStartDate" ng-if="automationModal.startCheck" style="margin-top: 3px;" >
								<div audiencedate class="tooltips btn btn-fit-height grey-salt">
									<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
				
				<p style="margin: 0;height: 20px;float: left;width: 100%;color:red" ng-if="automationModal.repeatCheck" ><span ng-if="!automationModal.Interval || !automationModal.Count" >Invalid value of input</span></p>
				<p style="margin: 0;height: 20px;float: left;width: 100%;color:red" ng-if="!automationModal.repeatCheck" ><span ng-if="!automationModal.Interval" >Invalid value of input</span></p>
				
			</div>
			<div class="modal-footer" style="padding: 10px 10px 10px 0px; margin-top:20px;">
				<button data-dismiss="modal" class="btn gray">Cancel</button>
				
				<span ng-if="automationModal.repeatCheck" >
					<button ng-if="!automationModal.Interval || !automationModal.Count" class="btn green" style="opacity:0.5" >Apply</button>
					<button ng-if="automationModal.Interval > 0 && automationModal.Count > 0" class="btn green" ng-click="AutomateAudience();">Apply</button>
				</span>
				<span ng-if="!automationModal.repeatCheck" >
					<button ng-if="!automationModal.Interval" class="btn green" style="opacity:0.5" >Apply</button>
					<button ng-if="automationModal.Interval > 0" class="btn green" ng-click="AutomateAudience();">Apply</button>
				</span>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
</div>


<div class="modal fade" id="createAudienceModal" role="dialog">
    <div class="modal-dialog audience-modal">
    
      <!-- Modal content-->
		 <div class="modal-content" style="height: 590px;" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" style="opacity: 0.5;" >&times;</button>
				<span style="display: flex;width: 100%;" >
					<h4 class="modal-title0">Create Audience</h4>
					<div class="audience-modal-name-box" >
						<input ng-model="newAudience.name" type="text" placeholder="Name of my audience" class="name" />
						<!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
						<img src="Images/audience/edit-pen.png" style="    float: right;" />
					</div>
				</span>
			</div>
			<!-- class="audience-modal-name" -->
			<div class="modal-body" style="padding: 0;float: left;width: 100%;" >
				<!-- step 0 -->
				
				<span ng-if="audienceModal.step == 0 && audienceModalDetails.length == 0" style="height: 465px;" >
					<div ng-click="audienceModal.step = 1" class="add-icon" >
						<div class="status-graph-plus" style="    width: 100%;    height: 100%;    text-align: center;    padding-top: 55px;    margin: 0;" >
							<i class="fa fa-plus" style="font-size: 40px;" aria-hidden="true"></i>
						</div>
					</div>
					<h3 style="text-align: center;color:#949494;" >ADD FIRST ONE</h3>
				</span>
				
				<div ng-if="audienceModal.step == 0 && audienceModalDetails.length > 0" style="padding:5px 40px;height: 465px;" >
					<div class="audience-items" >
						<div ng-repeat="(key,val) in audienceModalDetails" class="audience-item" >
							<span ng-if="val.Type == 'Action'" >
							<div style="" >
								<p>{{val.checkEventName}}</p>
								<div class="details-box-action" >
									<div class="details-action" ><div class="details-action-delete" ng-click="audienceDelItemFun(val.itemID)"  ></div><div class="details-action-edit" ng-click="audienceEditItemFun(val.itemID)" ></div></div>
								</div>
								
								
								<div class="next-condition" ng-if="!$last" style="margin-top: 50px;" >
									<div ng-if="val.NextCondition == 'AND'" class="icon-and" ></div>
									<div ng-if="val.NextCondition == 'OR'" class="icon-or" ></div>
									<div style="width: 100%;" ng-click="changeConditionFun($index);" >
										<button class="and-or" ng-class="val.NextCondition == 'AND' ? 'and-or-active' : ''" >AND</button><button class="and-or" ng-class="val.NextCondition == 'OR' ? 'and-or-active' : ''" >OR</button>
									</div>
								</div>
							</div>
							</span>
							<span ng-if="val.Type != 'Action'" >
								<div style="" >
								<p>{{val.behaviorName}}</p>
								<div class="details-box-behavior" >
									<div class="details-behavior" ><div class="details-behavior-delete" ng-click="audienceDelItemFun(val.itemID)" ></div><div class="details-behavior-edit" ng-click="audienceEditItemFun(val.itemID)" ></div></div>
								</div>
						
								<div class="next-condition" ng-if="!$last" >
									<div ng-if="val.NextCondition == 'AND'" class="icon-and" ></div>
									<div ng-if="val.NextCondition == 'OR'" class="icon-or" ></div>
									<div ng-click="changeConditionFun($index);" >
										<button class="and-or" ng-class="val.NextCondition == 'AND' ? 'and-or-active' : ''" >AND</button><button class="and-or" ng-class="val.NextCondition == 'OR' ? 'and-or-active' : ''" >OR</button>
									</div>
								</div>
								</div>
							</span>
						</div>
						
					</div>
					<div ng-click="audienceModal.step = 1" class="add-icon" style="margin: 0; position: absolute;    right: 25px;    bottom: 21px;" >
						<div class="status-graph-plus" style="    width: 100%;    height: 100%;    text-align: center;    padding-top: 55px;    margin: 0;" >
							<i class="fa fa-plus" style="font-size: 40px;" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<!-- step 1 -->
				<div ng-if="audienceModal.step == 1" style="width:100%;float: left;height: 100%;" >
					<div ng-class="audienceModal.ViewType == 'Behavior' ? 'BehaviorType' : 'ActionType'" >
						<div style="padding: 20px 20px 0 20px;float: left;width: 84%;" ng-class="audienceModal.ViewType == 'Behavior' ? 'BehaviorType' : 'ActionType'" >
							<div style="float: left;margin: 10px 20px 0 10px;height: 100%;" >
								<div class="active-step-num" >1</div>
								<div class="active-step-border" ></div>
							</div>
							<p style="margin: 3px 0 23px 70px;font-size: 18px;color:#555;" >Make a choice</p>
							<div style="float: left;    padding-top: 17px;    margin-left: 28%;" >
								
								
								<div style="float: left;cursor:pointer;" ng-click="changeTypeFun('Action')" >
									
										<div class="details-action-step1" ><p style="    font-size: 20px;    font-weight: bold;    color: #555;    text-align: center;    padding-top: 40%;" >Action</p></div>
									
									<span ng-if="audienceModal.ViewType == 'Action'" class="radio-yellow" style="margin:23px auto;"></span>
									<span ng-if="audienceModal.ViewType == 'Behavior'" class="radio-grey" style="margin:23px auto;"></span>
								</div>
								
								<div style="float: left;    width: 200px;    text-align: center;    padding-top: 50px;" ><img src="Images/audience/choice.png" /></div>
								<div style="float: left;    cursor: pointer;    margin-top: 16px;" ng-click="changeTypeFun('Behavior')" >
									
								<div class="details-behavior-step1" >
<p style="    -ms-transform: rotate(45deg);    -webkit-transform: rotate(45deg);    transform: rotate(-45deg);    font-size: 20px;    font-weight: bold;    color: #555;    text-align: center;    padding-top: 46%;    margin-left: -36px;" >
Behavior</p></div>
									
									
									<span ng-if="audienceModal.ViewType == 'Behavior'" class="radio-yellow" style="margin:42px auto;" ></span>
									<span ng-if="audienceModal.ViewType == 'Action'" class="radio-grey" style="margin:42px auto;" ></span>
								</div>
							</div>
						</div>
						
						<div ng-if="audienceModal.ViewType == 'Behavior'" class="active-step-right" style="overflow: auto;" >
							<label>Behavior</label>
							<p>Behaviors are a subset of actions that has a psychological meaning.<br/>
							These behaviors are mathematically calculated in accordance to the data in your databases, giving you a great way to understand who are your users or how big is a certain behavioral group becoming.<br/><br/>
							For example: you can find out who your Loyal customers are and recalculate that group regularly to see if this group is growing or shrinking.</p>
						</div>
						<div ng-if="audienceModal.ViewType == 'Action'" class="active-step-right" style="overflow: auto;" >
							<label>Action</label>
							<p>Actions are basically things you reported that your users have done or did not do. The actions you selected will define the audience you create.<br/><br/>
							 It can be selected from a given (dynamic) set of event types. These can very between interacting with an email, viewing a screen, purchasing more than 2000 dollars in the past week etc.<br/>
							Than you use modifiers to filter the audience by this action and set action timing. for example: Users that visited a the home screen in the past week. Users who spent less than 5$ in the past month.</p>
						</div>
					</div>
					
					<div style="width:100%;display: inline-block;" >
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Tuning</label>
						</div>
						<div ng-if="audienceModal.ViewType == 'Action'" style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >3</div>
							<label style="margin-top: 9px;" >Timing</label>
						</div>
					</div>
					
				</div>
				
				<!-- step 2 action -->
				<div ng-if="audienceModal.step == 2 && audienceModal.ViewType == 'Action'" style="width:100%;" class="ActionType" >
					
					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" >Action</label>
							<span class="system-checkmark"></span>
							<!-- <img src="Images/audience/step-ok.png" style="float: right;" /> -->
						</div>
					</div>
					
					<div style="height: 100%;" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 84%;" >
							<div style="float: left;margin: 0 43px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >2</div>
								<div class="active-step-border" ></div>
							</div>
							
							<div style="float: left;padding-top: 23px;    width: 90%;" >
								<p style="margin: 0 0 23px 0;font-size: 18px;color:#555;" >Tuning</p>
								<div style="float: left;    margin: 60px 30px 0 0;" >
									<div class="details-action-step1" ><img src="Images/audience/icon-action.png" style="margin: 12px;" /></div>
								</div>
								
								<div style="float: left;    width: 50%;" >
									<label>Users who</label>
									
	<div class="dropdown" >
		<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
			<input type="text" ng-model="audienceModal.data.checkEventName" ng-keyup="searchEventFun(audienceModal.data.checkEventName)" class="audienceModal-select" style="padding-top:0" placeholder="did what?" />
			<div class="audienceModal-select-icon" >
				<i class="fa fa-search" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
		<ul class="dropdown-menu" style="width:100%;max-height: 184px;    overflow: auto;" >
			<li ng-if="!tempEventDescrArr" style="text-align: center;padding: 10px 0;" ><i class="fa fa-spinner fa-spin" aria-hidden="true" ></i></li>
			<li ng-if="tempEventDescrArr" ng-repeat="(k,v) in tempEventDescrArr" >
				<a ng-click="checkEventTypeFun(v)" tabindex="-1" >{{v}}</a>
			</li>
		</ul>
	</div>
									
								 	<div ng-if="audienceModal.data.Modifier == '1'" textual >
										<div class="dropdown" textual >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >{{newAudience.ConditionType}}</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
											
											<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals'; audienceModal.data.Condition = '1001'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'ends with'; audienceModal.data.Condition = '1002'" >ends with</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals'; audienceModal.data.Condition = '1003'" >equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not null'; audienceModal.data.Condition = '1004'" >not null</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'contains'; audienceModal.data.Condition = '1005'" >contains</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'starts with'; audienceModal.data.Condition = '1006'" >starts with</a></li>		
											</ul>
										</div>
										<input type="text" ng-model="audienceModal.data.Value" class="audienceModal-select" placeholder="enter text" style="padding: 0 12px 0 20px;" />
									</div>

									<div ng-if="audienceModal.data.Modifier == '2'" numeric >
										<div class="dropdown" numeric >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >{{newAudience.ConditionType}}</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
										<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'less than';audienceModal.data.Condition = '2001'" >less than</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals';audienceModal.data.Condition = '2002'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'greater than';audienceModal.data.Condition = '2003'" >greater than</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals';audienceModal.data.Condition = '2004'" >equals</a></li>
												<!-- <li><a tabindex="-1" ng-click="newAudience.ConditionType = 'between';audienceModal.data.Condition = '2005'; newAudience.viewByCondition = 2;"  >between</a></li> -->	
											</ul>
										</div>
										
										<span ng-if="newAudience.viewByCondition == 1" >
											<input type="number" ng-model="audienceModal.data.Value" class="audienceModal-select" style="padding: 0 12px 0 20px;" />
										</span>
										<span ng-if="newAudience.viewByCondition == 2" >
											<input type="number" ng-model="audienceModal.data.ValueFrom" class="audienceModal-select" style="width:46%;margin-right:8%" placeholder="enter number from" />
											<input type="number" ng-model="audienceModal.data.ValueTo" class="audienceModal-select" style="width:46%;" placeholder="enter number to" />
										</span>
									</div>
									
									<div ng-if="audienceModal.data.Modifier == '3'" ng-init="audienceModal.tempValueArr = audienceModal.valueArr" closed_group >
										<div class="dropdown" closed_group >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >{{newAudience.ConditionType}}</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
											<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals';audienceModal.data.Condition = '3001'" >equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals';audienceModal.data.Condition = '3002'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'contains';audienceModal.data.Condition = '3003'" >contains</a></li>
												<!-- <li><a tabindex="-1" ng-click="newAudience.ConditionType = 'starts with';audienceModal.data.Condition = '3004'" >starts with</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'ends with';audienceModal.data.Condition = '3005'" >ends with</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not null';audienceModal.data.Condition = '3006'" >not null</a></li>	 -->
											</ul>
										</div>
									
	<div class="dropdown" >
		<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
			<input type="text" ng-model="audienceModal.data.Value" ng-keyup="searchValueFun(audienceModal.data.Value)" class="audienceModal-select" style="padding-top:0" placeholder="select" />
			<div class="audienceModal-select-icon"  >
				<i class="fa fa-search" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
		<ul class="dropdown-menu" style="width:100%;max-height: 170px;    overflow: auto;" >
			<li><a tabindex="-1" ng-repeat="(k,v) in audienceModal.tempValueArr" ng-click="audienceModal.data.Value = v" >{{v}}</a></li>
		</ul>
	</div>
								
									</div>
									
									<div ng-if="audienceModal.data.Modifier == '4'" date ng-init="audienceModal.data.Value = audienceDateDef" >
										<div class="dropdown" date >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >
			<span ng-if="newAudience.ConditionType == 'greater than'" >before</span>
			<span ng-if="newAudience.ConditionType == 'less than'" >after</span>
			<span ng-if="newAudience.ConditionType != 'greater than' && newAudience.ConditionType != 'less than'" >{{newAudience.ConditionType}}</span>
		</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
											<ul class="dropdown-menu" style="width:100%">												
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals';audienceModal.data.Condition = '4001'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals';audienceModal.data.Condition = '4002'" >equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'greater than';audienceModal.data.Condition = '4003'" >before</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'less than';audienceModal.data.Condition = '4004'" >after</a></li>
												<!-- <li><a tabindex="-1" ng-click="newAudience.ConditionType = 'between';audienceModal.data.Condition = '4005'; newAudience.viewByCondition = 2;" >between</a></li> -->
											</ul>
										</div>
										<span ng-if="newAudience.viewByCondition == 1" >
											<div id="audienceDate" >
												<div audiencedate class="tooltips btn btn-fit-height grey-salt">
													<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
												</div>
											</div>
										</span>
										<span ng-if="newAudience.viewByCondition == 2" >
											<div id="audienceDateFrom" >
												<div audiencedate class="tooltips btn btn-fit-height grey-salt">
													<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
												</div>
											</div>
											<div id="audienceDateTo" >
												<div audiencedate class="tooltips btn btn-fit-height grey-salt">
													<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
												</div>
											</div>
										</span>
									</div> 
									
								</div>
							</div>
						</div>
						
						<div class="active-step-right" style="overflow: auto;" >
							<label>Action</label>
							<p>Actions are basically things you reported that your users have done or did not do. The actions you selected will define the audience you create.<br/><br/>
							 It can be selected from a given (dynamic) set of event types. These can very between interacting with an email, viewing a screen, purchasing more than 2000 dollars in the past week etc.<br/>
							Than you use modifiers to filter the audience by this action and set action timing. for example: Users that visited a the home screen in the past week. Users who spent less than 5$ in the past month.</p>
						</div>
					</div>
					
					<div style="width:100%;display: inline-block;" >
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >3</div>
							<label style="margin-top: 9px;" >Timing</label>
						</div>
					</div>
					
				</div>
				
				<!-- step 2 behavior -->
				<div ng-if="audienceModal.step == 2 && audienceModal.ViewType == 'Behavior'" style="width:100%;" class="BehaviorType" >

					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" >Behavior</label>
							<span class="system-checkmark"></span>
						</div>
					</div>
					
					<div style="height: 100%" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 84%;" >
							<div style="float: left;margin: 0 43px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >2</div>
								<div class="active-step-border" style="height: 100%;" ></div>
							</div>
							<div style="float: left;padding-top: 23px;width: 90%;" >
								<p style="margin: 0 0 23px 0;font-size: 18px;color:#555;" >Tuning</p>
								<div style="float: left;    margin: 60px 30px 0 0;" >
									<div class="details-behavior-step1" ><img src="Images/audience/icon-behavior.png" style=" -ms-transform: rotate(45deg);    -webkit-transform: rotate(45deg);    transform: rotate(-45deg);    padding-top: 13%; margin-left: 16px;	" /></div>
								</div>
							
								<div style="float: left;width: 50%;" >
								<label>select behavior</label>
<div class="dropdown" >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select"  >{{audienceModal.data.behaviorName}}</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="menu1"  style="width:100%;max-height: 236px;    overflow: auto;"  >
		<li ng-repeat="(k,v) in ranksBehaviorsArr" >
			<a ng-click="checkBehaviorFun(v.id,v.type);" tabindex="-1" >{{v.name}}  ({{v.type}})</a>
	</li></ul>
</div>
									
									
								</div>
							</div>
						</div>
						
						<div class="active-step-right" style="height: 100%;overflow: auto;" >
							<label>Behavior</label>
							<span ng-if="audienceModal.data.ID == ''" >
								<p>Behaviors are a subset of actions that has a psychological meaning.<br/>
							These behaviors are mathematically calculated in accordance to the data in your databases, giving you a great way to understand who are your users or how big is a certain behavioral group becoming.<br/><br/>
							For example: you can find out who your Loyal customers are and recalculate that group regularly to see if this group is growing or shrinking.</p>
							</span>
							<span ng-if="audienceModal.data.ID != ''" >
								<p>{{audienceModal.data.behaviorDiscFinal}}</p><br /><p>{{audienceModal.data.behaviorDisc}}</p>
							</span>
						</div>
						
					</div>
					
					
					
				</div>
				
				<!-- step 3 -->
				<div ng-if="audienceModal.step == 3 && audienceModal.ViewType == 'Action'" style="width:100%;" class="ActionType" >
					
					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" ng-if="audienceModal.ViewType == 'Behavior'" >Behavior</label>
							<label style="margin-top: 9px;" ng-if="audienceModal.ViewType == 'Action'" >Action</label>
							<span class="system-checkmark"></span>
						</div>
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;height:100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Tuning</label>
							<span class="system-checkmark"></span>
						</div>
					</div>
					
					<div style="height: 100%;" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 84%;" >
							<div style="float: left;margin: 0 43px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >3</div>
								<div class="active-step-border" ></div>
							</div>
							<div style="float: left;padding-top: 23px;    width: 90%;" >
								<p style="margin: 0 0 23px 0;font-size: 18px;color:#555;" >Timing</p>
								<div style="float: left;    margin: 60px 30px 0 0;" >
									<div class="details-action-step1" ><img src="Images/audience/icon-action.png" style="margin: 12px;" /></div>
								</div>
							<div style="float: left;width:50%" >
								<label>when did the user performed the action?</label>
								
<div class="dropdown" >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<span ng-if="!audienceModal.data.TimingDefinition" >
			<div class="audienceModal-select" ng-init="audienceModal.data.TimingDefinition = 'always';audienceModal.data.TimingDefinitionView = 'always'" >{{audienceModal.data.TimingDefinitionView}}</div>
		</span>
		<span ng-if="audienceModal.data.TimingDefinition" >
		<div class="audienceModal-select" >{{audienceModal.data.TimingDefinitionView}}</div>
		</span>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="menu1"  style="width:100%" >
		<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingDefinition = 'always';audienceModal.data.TimingDefinitionView = 'always'" >always</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingDefinition = 'last';audienceModal.data.TimingDefinitionView = 'in the last'" >in the last</a></li>
	</ul>
</div>
<span ng-if="audienceModal.data.TimingDefinition == 'last'" >
	<div style="position: relative;width: 100%;height:40px; margin-bottom: 20px;">
		<input type="number" ng-model="audienceModal.data.Timing"  class="audienceModal-select" min="0"  style="padding: 0 12px 0 20px;" />
	</div>
																	
	<div class="dropdown" >

		<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
			<div class="audienceModal-select" ng-init="audienceModal.data.TimingPeriod = 'days';" >{{audienceModal.data.TimingPeriod}}</div>
			<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width:100%"> 
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingPeriod = 'days'" >days</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingPeriod = 'months'" >months</a></li>
		</ul>
	</div>
</span>								
							
							</div>
							
							</div>
						</div>
						<div class="active-step-right" style="overflow: auto;" >
							<label>Action</label>
							<p>Actions are basically things you reported that your users have done or did not do. The actions you selected will define the audience you create.<br/><br/>
							 It can be selected from a given (dynamic) set of event types. These can very between interacting with an email, viewing a screen, purchasing more than 2000 dollars in the past week etc.<br/>
							Than you use modifiers to filter the audience by this action and set action timing. for example: Users that visited a the home screen in the past week. Users who spent less than 5$ in the past month.</p>
						</div>
					</div>

					
				</div>
				
				<div ng-if="messageError.empty" style="position: absolute;    bottom: 20px;width:100%;text-align:center; color: red;    font-size: 18px;" >please fill in all the information before applying</div>
				<div ng-if="messageError.name" style="position: absolute;    bottom: 20px;width:100%;text-align:center;color: red;    font-size: 18px;" >Must supply a name for this audience</div>
				<div ng-if="messageError.emptyBehaviorsArr" style="position: absolute;    bottom: 50px;width:100%;text-align:center;color: red;    font-size: 18px;" >No data</div>
				
			</div>
			
			<div class="modal-footer" ng-if="audienceModal.step != 0" style="    position: absolute;bottom: 0;width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
				<span ng-if="audienceModal.step == 1" >
					<div class="btn-back" ng-click="audienceModal.step = 0" ><img src="Images/audience/go-back.png" /></div>
					<div ng-if="audienceModal.ViewType == 'Behavior' && ranksBehaviorsArr.length == 0" class="btn-yellow3" style="width: 93%;border-radius: 0 0 6px 0;" ng-click="messageError.emptyBehaviorsArr = true" >Next</div>
					<div ng-if="(ranksBehaviorsArr.length != 0 && audienceModal.ViewType == 'Behavior' )|| audienceModal.ViewType == 'Action'" class="btn-yellow3" style="width: 93%;border-radius: 0 0 6px 0;" ng-click="audienceModal.step = 2" >Next</div>
				</span>
				<span ng-if="audienceModal.step == 2" >
					
					<span ng-if="audienceModal.ViewType == 'Action'" >
						<div class="btn-back" ng-click="changeTypeFun('Action');audienceModal.step = 1;" ><img src="Images/audience/go-back.png" /></div>
				<span ng-if="audienceModal.data.Modifier == '2'" >
					<div  class="btn-yellow3" ng-if="audienceModal.data.Value < 0" ng-click="messageError.empty = true" >Next</div>
					<div  class="btn-yellow3" ng-if="audienceModal.data.Value >= 0" ng-click="audienceModal.step = 3" >Next</div>
					<div ng-if="audienceModal.data.Value  < 0" class="btn-complete" ng-click="messageError.empty = true" >Complete <span class="v" ></span></div>
					<div ng-if="audienceModal.data.Value  >= 0" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" >Complete <span class="v" ></span></div>
				</span>
				<span ng-if="audienceModal.data.Modifier != '2'" >
					<div  class="btn-yellow3" ng-if="audienceModal.data.Value == ''" ng-click="messageError.empty = true" >Next</div>
					<div  class="btn-yellow3" ng-if="audienceModal.data.Value != ''" ng-click="audienceModal.step = 3" >Next</div>
					<div ng-if="audienceModal.data.Value  == ''" class="btn-complete" ng-click="messageError.empty = true" >Complete <span class="v" ></span></div>
					<div ng-if="audienceModal.data.Value  != ''" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" >Complete <span class="v" ></span></div>
				</span>
					</span>
					<span ng-if="audienceModal.ViewType == 'Behavior'" >
						<div class="btn-back" ng-click="changeTypeFun('Action');audienceModal.step = 1" ><img src="Images/audience/go-back.png" /></div>
						<div ng-if="audienceModal.data.ID == ''" class="btn-complete" ng-click="messageError.empty = true" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
						<div ng-if="audienceModal.data.ID != ''"class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
					</span>
				</span>
				<span ng-if="audienceModal.step == 3" >
					<div class="btn-back" ng-click="audienceModal.step = 2" ><img src="Images/audience/go-back.png" /></div>
					
					<div ng-if="audienceModal.data.TimingDefinition != 'always' && !audienceModal.data.Timing" class="btn-complete" ng-click="messageError.empty = true" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
					
					<div ng-if="audienceModal.data.TimingDefinition != 'always' && audienceModal.data.Timing > 0" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
			
					<div ng-if="audienceModal.data.TimingDefinition == 'always'" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
				</span>
			</div>
			<div class="modal-footer" ng-if="audienceModal.step == 0 && audienceModalDetails.length > 0" style="float: left;    width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
				<div ng-if="newAudience.name == ''" class="btn-yellow1" ng-click="messageError.name = true" >SAVE</div>
				<div ng-if="newAudience.name != ''" class="btn-yellow1" ng-click="CreateAudienceFun();" data-dismiss="modal" >SAVE</div>
			</div>
		 </div>
      
    </div>
</div>

<script src="https://cdn.rawgit.com/MichaelZinsmaier/CurvedLines/1.1.1/curvedLines.js"></script>

<script src="https://rawgit.com/flot/flot/v0.8.3/jquery.flot.stack.js"></script>


