<div  class="col-md-6 status_graph_holder" ng-if="dashboardView.active == 4" >
	<div class="head-graph" ></div>
	<div class="status_comparable_counter box blue" >
		
		<div ng-if="!graphs.dataGraph.chartData" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
		
		<span ng-if="!graphs.descrShow" >
			<div class="top-graph" >
				<div class="status_comparable_top graph_icon_info" ng-click="compDescShowFun(graphs.ID,true);" >
					<i class="fa fa-info" aria-hidden="true"></i>
				</div>
				<div class="status_comparable_top graph_icon_close" ng-click="statusRemoveGraph(activeTab.dashboardActive.ID, graphs.ID);" >
					<i class="fa fa-times"></i>
				</div>
			</div>
            <div class="mobileDataWrap">
                <div ng-if="parseFloat(graphs.dataGraph.chartData.ReportDataTable.Records[0][1]) != null" class="status_inner_comparable_number mobileStatus_inner_comparable_number" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][1] | number}}</div>
                <div ng-if="parseFloat(graphs.dataGraph.chartData.ReportDataTable.Records[0][1]) == null" class="status_inner_comparable_number" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][1]}}</div>
                <div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records[0][0]" class="status_inner_comparable_precent" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}%</div>
            </div>
                <div class="status_display" style="margin-top:0;" ng-if="graphs.dataGraph.chartData.ReportDataTable.Records" id="scanvas_div_id_{{graphs.ID}}" compcounter text="{{graphs.Options}}" value="{{graphs}}"  ></div>
                <span ng-if="graphs.isData === false" >
                    <div class="status_inner_comparable_precent" >
                        <div style="width: 100%;height: 100%;">NO DATA</div>
                    </div>
                </span>
		</span>
		<div ng-if="graphs.descrShow" class="status_display" id="comparDsr" ng-click="compDescShowFun(graphs.ID,false);" style="cursor: pointer;">
			<div class="inner_comparable_text_comp" style="top: 20%;" >{{graphs.Description}}</div>
		</div>
		
	</div>
	<div class="footer-graph" >
		<div class="status_comparable_title">
			{{graphs.Name}}
		</div>
		<p ng-if="graphs.dataGraph.ComparePeriod != null" style="color:#5a5a5a;" >{{graphs.dataGraph.ComparePeriod}}</p>
	</div>
</div>

<div  class="col-md-6 comp_graph_holder insight_panel_view" ng-if="dashboardView.active != 4">
	<div class="comparable_counter portlet box insight_panel_view" >
		<div ng-if="!graphs.dataGraph.chartData" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
		<div style="width: 240px;    height: 240px;    margin: 0 auto;    position: relative;" >
		<div ng-if="!graphs.descrShow && tabVizible" style="height: 100%; width: 100%;" >
			
            <div class="comparable_info" ng-if="graphs.dataGraph.chartData" ng-click="compDescShowFun(graphs.ID,true);" style="z-index:1;cursor:pointer;" >
                <i class="fa fa-info" style="color: #636363;    margin: 7px 3px;    font-size: 15px;"></i>
            </div>
            <div class="mobileDataWrap">
				<div ng-if="parseFloat(graphs.dataGraph.chartData.ReportDataTable.Records[0][1]) != null"  class="status_inner_comparable_number" style="top:85px" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][1] | number}}</div>
				<div ng-if="parseFloat(graphs.dataGraph.chartData.ReportDataTable.Records[0][1]) == null" class="status_inner_comparable_number" style="top:85px" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][1]}}</div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records[0][0]" class="status_inner_comparable_precent" style="top:110px" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}%</div>
            </div>
	            <div class="status_display compcounterAttr" style="margin-top:0;" ng-if="graphs.dataGraph.chartData" id="canvas_div_id_{{graphs.ID}}" compcounter text="{{graphs.Options}}" value="{{graphs}}"  ></div>
			
				<span ng-if="graphs.isData === false" >
					<div class="status_inner_comparable_precent" style="top:100px" >
						NO DATA
					</div>
				</span>
		</div>
		<div ng-if="graphs.descrShow" class="mobileComparDsr" id="comparDsr" ng-click="compDescShowFun(graphs.ID,false);" style="cursor: pointer;width: 201px;height: 201px;margin:0 auto;position: relative;">
			
			<div class="comparable_flap"><i class="fa fa-undo" aria-hidden="true" style="float: right; margin: 2px 6px 0 0;" ></i></div>
			<div class="mobileGraphsDescription" style="font-size: 14px;    font-weight: 100;color: #5f5f5f;background: #e8e8e8;border-radius: 50%;width: 201px;height: 201px;padding: 32px;position: absolute;right:0;margin: 0;" >{{graphs.Description}}</div>
		</div>
		</div>
		<div class="comparable_title">
		<span ng-if="!graphs.descrShow" >
			<div ng-if="graphs.dataGraph.graphStatus == 1" class="comparable-arrow-up"></div>
			<div ng-if="graphs.dataGraph.graphStatus == 0" class="comparable-arrow-down"></div>
		</span>
			<span style="margin-left: 3px;" >{{graphs.Name}}</span>
		</div>
		
	</div>
	<p class="kpi-lastWeek-label" style="text-align: center;color: #5f5f5f;margin: 5px 0 0 0;" >Vs Last Week</p>
</div>