
	<div class="col-md-3 col-md-3-4">
		<div class="portlet box green">
			<div class="portlet-body">
				<div style="height: 420px;">
					<div class="title" style="font-size: 18px;text-align: center;">{{graphs.Name.split('|')[0]}}</div>
					<span ng-repeat="value in [0,1,2]" >
						<div class="col-md-4" style="float: none;width: 100%;margin-top:20px;">
							<div class="easy-pie-chart">
								<div class="number transactions" >
									<span ng-if="!graphs.dataGraph.chartData.ReportDataTable" >N\A %</span>
									<span ng-if="graphs.dataGraph.chartData.ReportDataTable" >
										<span>{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0].split('|')[$index]}} %</span>
										<div class='easyPieChart11' percent="graphs.dataGraph.chartData.ReportDataTable.Records[0][0].split('|')[$index]" ></div>
									</span>
								</div>
								<div class="title">{{graphs.Name.split('|')[$index + 1]}}</div>
						   </div>
						</div>
					</span>						
				</div>
			</div>
		</div>
	</div>

