<span ng-if="dashboardView.active != 4" >
	<div class="counter-continer" >
		<div class="counter-body-box"  >
				
					<div class="counter-body-img" >
						<img ng-src="../Images/Dashboard/counter.png" />
					</div>
					<div class="counter-text-box" ng-if="activeTab.dashboardActive.Name != 'Single Customer'" >
					
						<p class="counter-text-box-name" >{{graphs.Name}}</p>
						<div ng-if="graphs.responceStatus == -1" class="counter-text-box-number" style="font-size: 12px;" >Loading...</div>
						<div ng-if="graphs.responceStatus == 0" class="counter-text-box-number" style="font-size: 12px;"  >NO DATA</div>
						<p class="counter-text-box-number" title="{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}</p>
					 
					
						<!-- <p class="counter-text-box-name" >{{graphs.Name}}</p>
						<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" class="counter-text-box-number" style="font-size: 12px;" >Loading...</div>
						<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length == 0 || graphs.dataGraph.chartData.ReportDataTable.Records[0][0] === null" class="counter-text-box-number" style="font-size: 12px;"  >NO DATA</div>
						<p class="counter-text-box-number" title="{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}</p>
					 -->
					</div>
					<div class="counter-text-box" ng-if="activeTab.dashboardActive.Name == 'Single Customer'" >
						<p class="counter-text-box-name" >{{graphs.Name}}</p>
						<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records && SingleCustomerData" class="counter-text-box-number" style="font-size: 12px;" >Loading...</div>
						<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length == 0 || graphs.dataGraph.chartData.ReportDataTable.Records[0][0] === null || SingleCustomerData === false" class="counter-text-box-number" style="font-size: 12px;"  >NO DATA</div>
						<p class="counter-text-box-number" title="{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}" >{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}</p>
					</div>
					
		</div>
	</div>
</span>	

<span ng-if="dashboardView.active == 4" >
	<div class="col-md-6 status_graph_holder" >
	<div class="head-graph" ></div>
		<div class="status_comparable_counter box blue" >
			<div class="top-graph" >
				<!-- <div class="status_comparable_top graph_icon_info" ng-click="compDescShowFun(graphs.ID,true);" >
					<i class="fa fa-info" aria-hidden="true"></i>
				</div> -->
				<div class="status_comparable_top graph_icon_close" ng-if="dashboardView.active == 4" ng-click="statusRemoveGraph(activeTab.dashboardActive.ID, graphs.ID);" >
					<i class="fa fa-times"></i>
				</div>
			</div>
			
				<div class="status_counter_data">
					<h3 class="status_counter_metric" >
					<img src="../Images/Status/status-counter-icon.png" />
						
						<div ng-if="graphs.responceStatus == -1" class="status_counter_title" style="text-align: center;width: 100%;bottom: 15px;" >Loading</div>
						<div ng-if="graphs.responceStatus == 0" class="status_counter_title" style="text-align: center;width: 100%;bottom: 15px;" >NO DATA</div>
						
						<!-- <div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" class="status_counter_title" style="text-align: center;width: 100%;bottom: 15px;" >Loading</div>
						<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length == 0 || graphs.isData === false" class="status_counter_title" style="text-align: center;width: 100%;bottom: 15px;" >NO DATA</div>
 -->
					</h3>
				</div>
				<div class="status_counter_title" style="text-align: center;    width: 100%;    bottom: 15px;" >
					<span ng-if="graphs.responceStatus == 1" title="{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}" data-value="{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}">{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}</span>
					
					<!-- <span ng-if="graphs.dataGraph.chartData.ReportDataTable.Records" title="{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}" data-value="{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}">{{graphs.dataGraph.chartData.ReportDataTable.Records[0][0]}}</span>
				 -->
				</div>
				
			
		</div>
		<div class="footer-graph" >
			<div class="status_comparable_title">
				{{graphs.Name}}
			</div>
			<p ng-if="graphs.dataGraph.ComparePeriod != null" style="color:#5a5a5a;" >{{graphs.dataGraph.ComparePeriod}}</p>
		</div>
	</div>
</span>
