

<span ng-if="dashboardView.active != 4">

<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" ng-class="graphs.Options && graphs.Options.setFullWidth ? 'col-md-12' :( graphs.Name == 'CSV Table' ? 'big-table' : 'col-md-6')" >
	
	<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="portlet box blue" >
		<div class="portlet-title">
			<div class="graph-text-box-name" style="text-align: left;width: 60%;float:left;padding:0;" >{{graphs.Name}}</div>
			<div class="tools" ng-if="graphs.dataGraph.chartData.ReportDataTable" >
			
	<span ng-if="graphs.graphOwnerType != 'SystemGenerated'" >
		<a title="Delete Graph" alt="Delete Graph" ng-click="setDeleteGraph(graphs.ID)" ><i style="font-size: 14px;" class="fa fa-trash dashboard_graph_icon"></i></a>
		<a href="#graph_permissions" title="Graph Permissions" alt="Delete Graph" data-toggle="modal" ng-click="loadGraphPermissions(graphs.ID)" ><i class="fa fa-users dashboard_graph_icon"></i></a>	
	</span>
	<span style="float:right" >

		<a ng-if="graphs.GraphType != 'SmallTable'" id="first_raw_data_btn_div" href="#show-data" title="Show raw data" alt="Show raw data" data-toggle="modal" ng-click="fillModalData(graphs.ID, 'Avg. Load Time (ms) - The average amount of time it takes your pages/app to finish loading completely. ', graphs.AxisX, 'Number',graphs.Name,graphs.Options);">
		<i class="fa fa-database dashboard_graph_icon"></i></a>			
		<a ng-click="saveGraphFun(graphs)" title="Save raw data to disk" alt="Save Raw Data to Disk" ><i style="font-size: 14px;" class="fa fa-download dashboard_graph_icon"></i></a>
		<a ng-click="exportToMail(graphs)" title="Export data" alt="Export data" ><i style="font-size: 14px;" class="fa fa-share-square-o  dashboard_graph_icon"></i></a>

	</span> 
				
			</div>
			
			<span ng-if="graphs.GraphType =='MultiChoiceLines' || graphs.GraphType == 'MultiChoicePie'" style="width: 60%;display: inline-block;" >
				
				<select class="select-fulter" ng-model="multiGraph[$index]" ng-change="multiFilterFun(graphs.dataGraph,multiGraph[$index],null,graphs.GraphType)">
					<option ng-repeat="(key,val) in graphs.dataGraph.chartData.ReportDataTable.Products" >{{val.title}}</option>	
				</select>
				
			</span>
			
		</div>
<span ng-if="activeTab.dashboardActive.Name != 'Single Customer'" >		
		<div class="portlet-body" ng-if="graphs.GraphType == 'amMap'" >
			<span   id="{{graphs.ID}}" >
				
				<div ng-if="graphs.responceStatus == -1" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div class="chart" graphmap ng-if="graphs.responceStatus == 1" ></div>
				<div ng-if="graphs.responceStatus == 0" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
				
				<!-- <div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div class="chart" graphmap ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0" ></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length === 0" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div> -->
				
			</span>
		</div>
		
		<div class="portlet-body" ng-if="graphs.GraphType == 'BarChart' || graphs.GraphType == 'TrackingChart'  || graphs.GraphType == 'BasicChart' " style="height:300px" >
			<span  id="{{graphs.ID}}" >
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length > 0" chart attrtype="graphs.GraphType" class="chart" style="overflow: inherit;" ></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length === 0" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
			</span>
		</div>
		
	<!-- 	<div class="portlet-body" ng-if="graphs.GraphType == 'MultiChoicePie'" style="height:300px" >
			<span  id="{{graphs.ID}}" >
				
				<!-- <div ng-if="graphs.responceStatus == -1" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div ng-if="graphs.responceStatus == 1" chart class="chart" style="overflow: inherit;" ></div>
				<div ng-if="graphs.responceStatus == 0" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div> -->
				
	<!--		<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Data.Records" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records.length > 0" chart class="chart" style="overflow: inherit;" ></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records.length === 0" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
				
			</span>
		</div> -->
		
		<div class="portlet-body" ng-if="graphs.GraphType =='MultiChoiceLines'"  >
			<span  id="{{graphs.ID}}" >
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Data.Records" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records && graphs.dataGraph.chartData.ReportDataTable.Data.Records.length > 0" chart attrtype="graphs.GraphType" class="chart" ></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records.length === 0" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
			</span>
		</div>
		
		<div class="portlet-body" ng-if="graphs.GraphType == 'SmallTable' && graphs.Name == 'CSV Table'" >
			<span  >
				<div id="{{graphs.ID}}" class="chart"  style="overflow:auto;    width: auto;    height: 370px;" >
					<small-table ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0" ></small-table>
				
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length === 0"  >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
				</div>
			</span>
		</div>
		<div class="portlet-body" ng-if="graphs.GraphType == 'SmallTable' && graphs.Name != 'CSV Table'" >
			<span  >
				<div id="{{graphs.ID}}" class="chart"  >
					<small-table ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0" ></small-table>
				
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length === 0"  >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
				</div>
			</span>
		</div>
		
</span>

<span ng-if="activeTab.dashboardActive.Name == 'Single Customer'" >		
		<div class="portlet-body" ng-if="graphs.GraphType == 'amMap'" >
			<span   id="{{graphs.ID}}" >
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records && SingleCustomerData" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div class="chart" graphmap ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0 && SingleCustomerData" ></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length === 0 || SingleCustomerData === false" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
			</span>
		</div>
		
		<div class="portlet-body" ng-if="graphs.GraphType == 'BarChart' || graphs.GraphType == 'TrackingChart' || graphs.GraphType == 'BasicChart'"  >
			<span  id="{{graphs.ID}}" >
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records && SingleCustomerData" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length > 0 && SingleCustomerData" chart attrtype="graphs.GraphType" class="chart" ></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length === 0 || SingleCustomerData === false" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
			</span>
		</div>
		
		<div class="portlet-body" ng-if="graphs.GraphType == 'MultiChoiceLines'"  >
			<span  id="{{graphs.ID}}" >
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Data.Records && SingleCustomerData" class="chart" >
					<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records && graphs.dataGraph.chartData.ReportDataTable.Data.Records.length > 0 && SingleCustomerData" chart attrtype="graphs.GraphType" class="chart" ></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records.length === 0 || SingleCustomerData === false" class="chart" >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
			</span>
		</div>
		
		<div class="portlet-body" ng-if="graphs.GraphType == 'SmallTable'" >
			<span  >
				<div id="{{graphs.ID}}" class="chart" slimscroll>
					<small-table ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0 && SingleCustomerData" ></small-table>
				
				<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records && SingleCustomerData" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length === 0 || SingleCustomerData === false"  >
					<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
				</div>
				</div>
			</span>
		</div>
		
		<!-- <div class="portlet-body" ng-if="graphs.GraphType == 'Funnel' || graphs.GraphType == 'MultiChoiceFunnel' || graphs.GraphType == 'MultiChoiceFunnel_2'" >
			<span  >
				<div id="{{graphs.ID}}" class="chart" slimscroll >
					<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Data.Records && SingleCustomerData" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
					<funnel ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records.length > 0 && SingleCustomerData" style="height:261px;overflow:auto;" ></funnel>
					<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.Records.length === 0 || SingleCustomerData === false"  >
						<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
					</div>
				</div>
			</span>
			
		</div> -->
</span>

		<div class="caption_desc" ng-if="graphs.Description" >{{graphs.Description}}</div>
		<div class="caption_desc" ng-if="!graphs.Description" >Graph</div>
	</div>
</div>
</span>

<span ng-if="dashboardView.active == 4">
	<div class="col-md-6 status_graph_holder">
		<div class="head-graph" ></div>
		<div class="status_comparable_counter box blue" >
			<div class="top-graph" >
				<!-- <div class="status_comparable_top graph_icon_info" ng-click="compDescShowFun(graphs.ID,true);" >
					<i class="fa fa-info" aria-hidden="true"></i>
				</div> -->
				<div class="status_comparable_top graph_icon_close" ng-if="dashboardView.active == 4" ng-click="statusRemoveGraph(activeTab.dashboardActive.ID, graphs.ID);" >
					<i class="fa fa-times"></i>
				</div>
			</div>
			
			<div class="portlet-body" ng-if="graphs.GraphType == 'amMap'"  >
				
				<span  id="{{graphs.ID}}" >
					<div class="chart status_chart" graphmap ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0" ></div>
					<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 60%;"></div>
					<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length == 0  || graphs.isData === false" class="chart" >
						<div style="width: 100%;height: 100%;">NO DATA</div>
					</div>
				</span>

			</div>
		
			<div class="portlet-body" ng-if="graphs.GraphType == 'BarChart' || graphs.GraphType == 'TrackingChart' || graphs.GraphType == 'BasicChart' || graphs.GraphType == 'MultiChoiceLines'"  >
				
				<span  id="{{graphs.ID}}" >
					
					<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0" chart attrtype="graphs.GraphType" class="status_chart" ></div>
					<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" class="chart" >
						<div style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 60%;"></div>
					</div>
					<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length == 0 || graphs.isData === false" class="chart" >
						<div style="width: 100%;height: 100%;">NO DATA</div>
					</div>
					
				</span>
				
			</div>
			
			<div class="portlet-body" ng-if="graphs.GraphType == 'SmallTable'" style="margin-top: 6px;    width: 95%;     margin-left: 2.5%;" >
				<div  class="chart status_chart_table" >
					<span  id="{{graphs.ID}}" >
						<small-table ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0" ></small-table>
						<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 73%;"></div>
						<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length == 0 || graphs.isData === false"  >
						<div style="width: 100%;height: 100%;">NO DATA</div>
					</span>
					<!-- <span ng-if="graphs.isData === false" >
						<div class="chart" >
							<div style="width: 100%;height: 100%;">NO DATA</div>
						</div>
					</span> -->
				</div>
				</div>
			</div>
			
			<div class="portlet-body" ng-if="graphs.GraphType == 'Funnel'" >
				<div  class="chart status_chart" slimscroll >
					<span  id="{{graphs.ID}}" >
						<div ng-if="!graphs.dataGraph.chartData" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 60%;"></div>
						<funnel ng-if="graphs.dataGraph.chartData"  ></funnel>
					</span>
					<span ng-if="graphs.isData === false" >
						<div class="chart" >
							<div style="width: 100%;height: 100%;">NO DATA</div>
						</div>
					</span>
				</div>
			</div>
			

			
		</div>
		<div class="footer-graph" >
			<div class="status_comparable_title">
				{{graphs.Name}}
			</div>
			<p ng-if="graphs.dataGraph.ComparePeriod != null" style="color:#5a5a5a;" >{{graphs.dataGraph.ComparePeriod}}</p>
		</div>
	</div>
</span>		
