<div style="text-align: center;" >
	
	<div ng-if="!graphData" style="font-size: 30px;color: rgb(206, 206, 206);width: 240px;margin-left: auto;margin-right: auto;margin-top: 100px;"> FUNNEL EMPTY </div>
	<span  ng-if="graphData">

		
			<div class="funnel_step_div" align="center">
				<div class="funnel_amount_div" style="font-size: 16px;" >
					{{graphData[0].amount}}<i class="fa fa-user" style=" margin-left: 5px;" ></i>
				</div>
				<div class="funnel_precent_div">{{graphData[0].precentage}}%</div>
				<div class="funnel_title_div"><span title="{{graphData[0].title}}" >{{graphData[0].title}}</span></div>
			</div>
			

		
		<span ng-repeat="(key,val) in graphData" ng-if="$index != 0" >
		
			<div class="funnel_connector_div" align="center">
				<i class="fa fa-angle-double-right arrow_right_funnel"></i>
				<div class="{{val.divclass}}" >{{val.diff}}% <i class="fa {{val.divarrow}}"></i></div>
			</div>
			
			<div class="funnel_step_div" align="center">
				<div class="funnel_amount_div" style="font-size: 16px;" >
					{{val.amount}}<i class="fa fa-user" style=" margin-left: 5px;" ></i>
				</div>
				<div class="funnel_precent_div">{{val.precentage}}%</div>
				<div class="funnel_title_div"><span title="{{val.title}}" >{{val.title}}</span></div>
			</div>
			
		</span>
	</span>
	
</div>
