<div class="col-md-12">
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-directions font-green hide"></i>
					<span class="caption-subject bold font-dark uppercase "> Sessions</span>
					<span class="caption-helper">Horizontal Timeline</span>
				</div>
			</div>
			<div class="portlet-body">
				<div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_loading" style="display: none; background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div>
				<div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_no_data">NO DATA</div>
				<div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_body" class="cd-horizontal-timeline mt-timeline-horizontal loaded" style="display: none;">
					<div class="timeline">
						<div class="events-wrapper">
							<div class="events">
								<ol id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_header">
	
	<!--// // resp += headerStr; -->
	
								</ol>
								<span class="filling-line bg-red" aria-hidden="true"></span>
							</div>
						</div>
						<ul class="cd-timeline-navigation mt-ht-nav-icon">
							<li>
								<a href="#0" class="prev btn timeline-btn btn-outline red md-skip">
									<i class="fa fa-chevron-left"></i>
								</a>
							</li>
							<li>
								<a href="#0" class="next btn timeline-btn btn-outline red md-skip">
									<i class="fa fa-chevron-right"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="events-content">
						<ol id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_data">
	
	<!--// // resp += dataStr;-->
		
						</ol>
					</div>
				</div>
			</div>
		</div>
		</div>

		
		