
	<div class="col-md-9">
		<div class="portlet box green">
			<div class="portlet-body">
				<div class="title" style="font-size: 18px;text-align: Left;padding-bottom: 10px;">Actionable Insights</div>
				<div style="height: 386px;" slimscroll >
					
					
			<div class="panel-group" id="accordion" role="tablist"  >
			
				<div ng-if="insightData" ng-repeat="(key,val) in insightData" class="panel panel-default" >
				
					<div class="panel-heading" role="tab" id="heading{{val.id}}">
						
						<div class="accordion-toggle">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{val.id}}" aria-expanded="true" aria-controls="collapse{{val.id}}" > 
							
							<div class="cont-colLeft">
								<div class="label label-sm" style="color:{{val.color}}">
									<i class="fa {{val.icon}} insightIcon" ></i>
								</div>
							
								<div class="desc" >
									{{val.heading}}	
								</div>
							</div>
							<div class="cont-colRight">
								<span class="wideCol2 hide-on-medium-screen" style="padding-top: 25px;">
									<i class="fa fa-chevron-down" style="color:{{val.color}};font-size: 1.5em;" ></i>
								</span>
								<span ng-if="val.seen == 'true'" class="wideCol2 hide-on-small-screen">
									<div class="date" style="color:#606060;font-size: 14px;padding-top: 15px;"> {{val.time}}</div>
								</span>
								<span ng-if="val.seen != 'true'" class="wideCol2 hide-on-small-screen">
									<div class="btn red" style="background-color:' + this.Colors.new + ';margin-top: 15px;margin-left: 25px;color:#000000"> NEW </div>
								</span>
							</div>
							
							
						</a>
						</div>
					</div>
					
					<div id="collapse{{val.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{val.id}}">
						<div class="panel-body">
							<p>{{val.text}}</p>
							<div ng-if="val.action == 'Cohort'" class="wideCol2">
								<a class="btn" ng-click="onCreateCohortClick(val.id,val.heading);" style="background-color:{{val.color}};margin-top: 15px;margin-left: 72px;color:#ffffff"> Create Audience </a>
							</div>
							
							<div ng-if="val.action == 'LinkToSdkInstructions'" class="wideCol2">
								<a class="btn" style="background-color:' + this.Colors.action + ';margin-top: 15px;margin-left: 72px;color:#ffffff" href="' + URLConst.CurveSDKConstants.JS_SDK_INSTRUCTIONS_URL + '&AppToken=' + $rootScope.Token + '"  target="_blank">SDK instructions </a>
							</div>

							<div ng-if="val.action == 'GoToCohortsPanel'" class="wideCol2">
								<a class="btn" onclick="$(\'#cohorts_tab_button\').click();" style="background-color:' + this.Colors.action + ';margin-top: 15px;margin-left: 72px;color:#ffffff"> Goto Audiences </a>
							</div>
						
							<div ng-if="val.action == 'ShowUserSegmentsAndCharacteristics'" class="wideCol2">
								<a class="btn" onclick="$(\'#user_segments_and_characteristics\').modal(\'show\');" style="background-color:' + this.Colors.action + ';margin-top: 15px;margin-left: 72px;color:#ffffff"> Segments And Characteristics </a>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>		
					
	<!-- 				<div class="panel-group accordion" id="chart_{{graphs.graphOwnerType}}_{{dashboardActive.ID}}_{{graphs.ID}}">
					
		<div class="panel panel-default" ng-if="insightData" ng-repeat="(key,val) in insightData" >
			<div class="panel-heading feeds">
				<div class="accordion-toggle" data-toggle="collapse" data-parent="' + parentId + '"  > 
					
					<div class="cont-colLeft">
						<div class="label label-sm" style="color:{{val.color}}">
							<i class="fa {{val.icon}} insightIcon" aria-hidden="true"></i>
						</div>
					
						<div class="desc" >
							{{val.heading}}	
						</div>
					</div>
					<div class="cont-colRight">
						<span class="wideCol2 hide-on-medium-screen" style="padding-top: 25px;">
							<i class="fa fa-chevron-down" style="color:{{val.color}};font-size: 1.5em;" aria-hidden="true"></i>
						</span>
						<span ng-if="val.seen == 'true'" class="wideCol2 hide-on-small-screen">
							<div class="date" style="color:#606060;font-size: 14px;padding-top: 15px;"> {{val.time}}</div>
						</span>
						<span ng-if="val.seen != 'true'" class="wideCol2 hide-on-small-screen">
							<a class="btn red" style="background-color:' + this.Colors.new + ';margin-top: 15px;margin-left: 25px;color:#000000"> NEW </a>
						</span>
					</div>
					
					
				</div>
			</div>
			
		 -->	
			
			
		<!-- 
		// body
			<div id="collapse_' + parentIdClean + '_' + insightData.id + '" class="panel-collapse collapse">
				<div class="panel-body">
					<p style="margin-left:72px; margin-right:60px;"> ' + insightData.text + ' </p>
		
		// call to action from body:
		ans += this.getButton(insightData);
		
				</div>
			</div> -->
<!-- 			
		</div>

					
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<!--            POPUP INSIGHT           -->

	<div class="modal fade" id="create_cohort_from_insights" tabindex="-1" role="basic" aria-hidden="false" >
		<div class="modal-dialog">
			<div class="modal-content col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Create new Audience from Insight:</h4>
					<div id="create_cohort_from_insights_header"><span class="label label-sm" style="color:#2779A1;"><i class="fa fa-user" style="font-size: 3em;line-height: 1;" aria-hidden="true"></i></span><span class="desc" style="font-size: 16px;color: #000000;font-weight: 600;padding-top: 10px;padding-left: 10px;">{{insightPopupTitle}}</span></div>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<div id="create_cohort_from_insights_loading" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div>
						<div id="create_cohort_from_insights_content">
							<h5 class="modal-title" style="margin-bottom: 3px;">Curve will create a new Audience from this insight's corresponding users.</h5>
							<br>
							<h4 class="modal-title" style="margin-bottom: 3px;">Audience name: </h4>
							<form name="insight">
								<input data-ng-model="Input.insight" required data-insight-id="{{insightPopupID}}" id="create_cohort_from_insights_name" type="text" style="margin-bottom:10px; width:100%;" />
								<br>
								<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
									<button data-dismiss="modal" class="btn gray">Close</button>
									<button ng-disabled="insight.$invalid" class="btn green" ng-click="createCohort();">Create</button>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
<!--       end POPUP INSIGHT           -->