<!--
// function drawMap(type, name, description, globalItemID, ID, graphOwnerType, div_id)

	// var graphID = '#' + identifier;
	// var containerID = 'container_' + graphOwnerType + "_" + globalItemID + '_' + ID;
	// var onClickFunc = 'onClick="fillModalData(\'' + graphID + '\', \'' + name + ' - ' + description + '\');"';
	// var onClickDownload = 'onClick="saveCSV(\'' + graphID + '\', \'' + name + ' - ' + description + '\');"';
	// var onDeleteClick = 'onClick="setDeleteGraph(\'' + ID + '\', \'' + div_id + '\');"';
	// var onPermissionsClick = 'onClick="loadGraphPermissions(\'' + ID + '\');"';
-->

<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="col-md-6">
	
	<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="portlet box blue" style="overflow:hidden;">
	<div class="portlet-title">
	<div class="tools">
		<a href="#show-data" class="btn-circle btn-icon-only btn-default" title="Export data" alt="Export data" onClick="exportToMail('#chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}','map','{{graphs.Name}}', '{{graphs.Description}}', '{{graphs.GraphType}}');" >
		<i class="fa fa-share-square-o  dashboard_graph_icon"></i></a>
	
	<span ng-if="graphs.graphOwnerType != 'SystemGenerated'" >
		<a href="#graph_permissions" class="btn-circle btn-icon-only btn-default" title="Graph Permissions" alt="Delete Graph" data-toggle="modal" ' + onPermissionsClick + ' style="margin-right:10px;"><i class="fa fa-users dashboard_graph_icon"></i></a>
		<a href="#delete-graph" class="btn-circle btn-icon-only btn-default" title="Delete Graph" alt="Delete Graph" data-toggle="modal" ' + onDeleteClick + ' style="margin-right:10px;"><i class="fa fa-trash dashboard_graph_icon"></i></a>
	</span>
	</div>
							
	<div class="caption">' + shortenGraphName(name) + '</div><div class="caption_desc">'+shortenGraphName(description)+'</div>
	</div>
	<div class="portlet-body"><div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}">
	<div class="vmap" id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_map" style="width: 600px; height: 300px;"></div>
	</div></div></div>
	</div>
	 <my-elem ></my-elem>
	<!-- registerMap(graphID); -->

<!--  <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="Javascript/Dashboards/directives/graph.map.js" ></script> -->