		<div class="kpi-welcome" style="margin: 20px 0;" >
			<div style="    width: 50%;    float: left;" >
				<h1>Prediction</h1>
				<span>Machine learning analysis, based on auto segmentation</span>
			</div>
		</div>
		
		<div class="col-md-12" style="border: 1px solid #f2f2f2;border-radius: 10px;padding: 15px;margin-bottom:20px" >
			
			<div ng-if="!MLMagnitudeGraph.Data" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
			<div ng-if="MLMagnitudeGraph.Data.length === 0" class="chart" >
				<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
			</div>
			<span ng-if="MLMagnitudeGraph.Data.length > 0" >
				<div mlchart  style="margin-top: 20px;" ></div>
				<div id='container_mlchart'  style="position:relative;width: 1100px;height: 535px;" ></div>
			</span>	
			
		</div>	
		
		<div class="col-md-12" style="border: 1px solid #f2f2f2;border-radius: 10px;padding: 15px;margin-bottom:20px" >
			
			<div ng-if="!MLMagnitudeGraph.Data" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
			<div ng-if="MLMagnitudeGraph.Data.length === 0" class="chart" >
				<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
			</div>
			<span ng-if="MLMagnitudeGraph.Data.length > 0" >
				<div style="width: 100%;height: 100%;text-align:center;"><h3 style="margin: 0;color: #000;font-size: 25px;" >Prediction Table</h3></div>
				<div mltablekoko  style="margin: 0 0 20px 0;overflow: auto;" id="mltable" ></div>
			</span>	
			
		</div>	
