
<!--
function drawChartIntoMultichoiceTrackingChart(prevItemHtmlStr, name, description, globalItemID, ID, graphOwnerType, div_id, xAxis, yAxis, setFullWidth)
// var graphID = '#chart_' + graphOwnerType + "_" + globalItemID + '_' + ID;
	// var onClickFunc = 'onClick="fillModalData(\'' + graphID + '\', \'' + name + ' - ' + description + '\', \'' + xAxis + '\', \'' + yAxis + '\');"';
	// var onClickDownload = 'onClick="saveCSV(\'' + graphID + '\', \'' + name + ' - ' + description + '\');"';
	// var onClickExport = 'onClick="exportToMail(\'' + graphID + '\', \'pie\', \'' + name + '\', \'' + description + '\', \'MultichoiceTrackingChart\');"';
	// var onDeleteClick = 'onClick="setDeleteGraph(\'' + ID + '\', \'' + div_id + '\');"';
	// var onPermissionsClick = 'onClick="loadGraphPermissions(\'' + ID + '\');"';
	-->

<div id="'+containerID+'" ng-class="graphs.Options && graphs.Options.setFullWidth ? 'col-md-12' : 'col-md-6'" >

	<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
		<span ng-if="graphs.GraphType == 'MultichoiceTrackingChart'" >

	<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="portlet box blue">
		<div class="portlet-title">
			<div class="tools">
			
				<span ng-if="graphs.graphOwnerType != 'SystemGenerated'" >
					<a href="#graph_permissions" class="btn-circle btn-icon-only btn-default" title="Graph Permissions" alt="Delete Graph" data-toggle="modal" ' + onPermissionsClick + '><i class="fa fa-users dashboard_graph_icon"></i></a>
					<a href="#delete-graph" class="btn-circle btn-icon-only btn-default" title="Delete Graph" alt="Delete Graph" data-toggle="modal" ' + onDeleteClick + '><i class="fa fa-trash dashboard_graph_icon"></i></a>
				</span>

				<div id="'+graphID.substr(1)+'_dropdown" class="dropdown" style="display: none;color: black;padding: 0px 7px;height: 20px;">
					<button class="btn gray dropdown-toggle cohorts_dropdown" id="'+graphID.substr(1)+'_dropdown_menu_title" type="button" data-toggle="dropdown" style="padding: 5px 7px;margin-top: -2px;font-size: 13px;">
						Select Product <span class="caret cohort_caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="'+graphID.substr(1)+'_dropdown_menu">
					</ul>
				</div>
			<!--	
				// var ide = !TUTORIAL_GINGEE_GLOBALS.is_export_raw_first ? "" : TUTORIAL_RAW_DATA_EXPORT_BTN;
				// TUTORIAL_GINGEE_GLOBALS.is_export_raw_first = false;
				
				// if (ide != "")
					<a id="'+ide+'" href="#show-data" class="btn-circle btn-icon-only btn-default" title="Export data" alt="Export data" ' + onClickExport + ' ><i class="fa fa-share-square-o  dashboard_graph_icon"></i></a>
				// else
				<a href="#show-data" class="btn-circle btn-icon-only btn-default" title="Export data" alt="Export data" ' + onClickExport + ' ><i class="fa fa-share-square-o  dashboard_graph_icon"></i></a>
				
				// var ids = !TUTORIAL_GINGEE_GLOBALS.is_save_raw_first ? "" : TUTORIAL_RAW_DATA_SAVE_BTN;
				// TUTORIAL_GINGEE_GLOBALS.is_save_raw_first = false;
				
				// if (ids != "")
					<a id="'+ids+'" href="#show-data" class="btn-circle btn-icon-only btn-default" title="Save raw data to disk" alt="Save Raw Data to Disk" ' + onClickDownload + ' ><i class="fa fa-download dashboard_graph_icon"></i></a>
				// else
				<a href="#show-data" class="btn-circle btn-icon-only btn-default" title="Save raw data to disk" alt="Save Raw Data to Disk" ' + onClickDownload + ' ><i class="fa fa-download dashboard_graph_icon"></i></a>
				
				
				// var id = !TUTORIAL_GINGEE_GLOBALS.is_show_raw_first ? "" : TUTORIAL_RAW_DATA_BTN;
				// TUTORIAL_GINGEE_GLOBALS.is_show_raw_first = false;
				
				// if (id != "")
					<a id="'+id+'" href="#show-data" class="btn-circle btn-icon-only btn-default" title="Show raw data" alt="Show raw data" data-toggle="modal" ' + onClickFunc + ' ><i class="fa fa-database dashboard_graph_icon"></i></a>
				// else
				<a href="#show-data" class="btn-circle btn-icon-only btn-default" title="Show raw data" alt="Show raw data" data-toggle="modal" ' + onClickFunc + ' ><i class="fa fa-database dashboard_graph_icon"></i></a>
				-->
			</div>
		</div>
		<div class="portlet-body">
			<div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="chart">
				<div id="loader" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
			</div>
		</div>
	</div>
		
		</span>
	</span>
</div>
	