
	<div class="col-md-3">
		<div class="portlet dashboard-stat curve-light-blue">
			<div class="number" id="{{graphs.ID}}" style="text-align: center;margin-top: 20px;">
				<graphsparkline ng-if="graphs.dataGraph.chartData" ></graphsparkline>
			</div>
			<div class="more" style="text-align: center;">{{graphs.Name}}</div>
		</div>
	</div>
