
	<div class="col-md-12">
		<div class="portlet box green">
			<div class="portlet-body">
				<div class="title" style="font-size: 18px;text-align: Left;padding-bottom: 10px;"> Summery Analysis </div>
				<div id="products_panel" style="border-bottom: 1px solid #eee; margin-bottom: 30px;">
					<div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_loading" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div>
					<div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" style="width:95%; background-color: #fff; margin-left: auto; margin-right: auto;">
						<table id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_table" class="table table-bordered table-hover">
							<thead id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_table_head">
							</thead>
							<tbody id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}_table_body">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
