
<!--
// function drawTable(type, name, description, globalItemID, ID, graphOwnerType, div_id)

	// var graphID = '#chart_' + graphOwnerType + "_" + globalItemID + '_' + ID;
	// var containerID = 'container_' + graphOwnerType + "_" + globalItemID + '_' + ID;
	// var onClickDownload = 'onClick="saveCSV(\'' + graphID + '\', \'' + name + ' - ' + description + '\');"';
	// var onDeleteClick = 'onClick="setDeleteGraph(\'' + ID + '\', \'' + div_id + '\');"';
	// var onPermissionsClick = 'onClick="loadGraphPermissions(\'' + ID + '\');"';
-->
	<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" ng-class="graphs.GraphType == 'SmallTable' ? 'col-md-6' : 'col-md-12'" >
		<div id="'+containerID+'" class="portlet box blue">
			<div class="portlet-title">
				<div class="tools">
				
					<a href="#show-data" class="btn-circle btn-icon-only btn-default" title="Export data" alt="Export data" onClick="exportToMail(\'' + graphID + '\', \'map\', \'' + name + '\', \'' + description + '\', \'' + type + '\');" >
						<i class="fa fa-share-square-o  dashboard_graph_icon"></i>
					</a>
					
					<span ng-if="graphs.graphOwnerType != 'SystemGenerated'" > 
						<a href="#graph_permissions" class="btn-circle btn-icon-only btn-default" title="Graph Permissions" alt="Delete Graph" data-toggle="modal" ' + onPermissionsClick + '">
							<i class="fa fa-users dashboard_graph_icon" ></i>
						</a>
						<a href="#delete-graph" class="btn-circle btn-icon-only btn-default" title="Delete Graph" alt="Delete Graph" data-toggle="modal" ' + onDeleteClick + '">
							<i class="fa fa-trash dashboard_graph_icon"></i>
						</a>
					</span>
					<a href="#show-data" class="btn-circle btn-icon-only btn-default" title="Save raw data to disk" alt="Save Raw Data to Disk" ' + onClickDownload + ' >
						<i class="fa fa-download dashboard_graph_icon"></i>
					</a>
					
				</div>
										
				<div class="caption">' + shortenGraphName(name) + '</div>
				<div class="caption_desc">'+shortenGraphName(description)+'</div>
			</div>
			
			<div class="portlet-body">
				<div id="chart_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="chart">
					<div id="loader" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
				</div>
			</div>
		</div>
	</div>
