
				
	<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="col-md-12 user_journy_holder" >
		<div id="container_{{graphs.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graphs.ID}}" class="portlet box blue" style="overflow:hidden;width: 100%;height: 100%;">
			<div class="portlet-title">
				<div class="tools" >
					<span ng-if="graphs.graphOwnerType != 'SystemGenerated'" >
						<a href="#graph_permissions" class="btn-circle btn-icon-only btn-default" title="Graph Permissions" alt="Delete Graph" data-toggle="modal" ' + onPermissionsClick + ' style="margin-right:10px;">
							<i class="fa fa-users dashboard_graph_icon"></i>
						</a>
						<a href="#delete-graph" class="btn-circle btn-icon-only btn-default" title="Delete Graph" alt="Delete Graph" data-toggle="modal" ' + onDeleteClick + ' style="margin-right:10px;">
							<i class="fa fa-trash dashboard_graph_icon"></i>
						</a>
					</span>
					<span>	
					<a style="width: 100px;border-radius: 20px;" title="Show trending journey" ng-click="mostCommonJourney()" >
						<i class="fa fa-arrow-circle-up dashboard_graph_icon"></i> Trending
					</a>
					<a style="width: 100px;border-radius: 20px;" title="Show un-trending journey" ng-click="leastCommonJourney()" >
						<i class="fa fa-arrow-circle-down dashboard_graph_icon"></i> Un-Trending
					</a>
					</span>
				</div>
				<div class="uj_navigation_toolbox" style="float: right; border: 1px solid #ccc;color: #3F3F3F !important; border-radius: 25px !important;margin-top: 8px;padding: 4px 18px 4px 10px;    margin-right: 2px;">
					
						<span id="uj_buttons" >
							<a class="uj_nav_button uj_navigation" title="Go to start" alt="Go to start" onclick="selectFirstPage();" >
								<i class="fa fa-fast-backward dashboard_graph_icon"></i>
							</a>
							<a class="uj_nav_button uj_navigation" title="Previous Page" alt="Previous Page" onclick="selectPrevPage();" >
								<i class="fa fa-step-backward dashboard_graph_icon"></i>
							</a>
							
							<span id="uj_pages">
							
							</span>
							
							<a class="uj_nav_button uj_navigation" title="Next Page" alt="Next Page"  onclick="selectNextPage();" >
								<i class="fa fa-step-forward dashboard_graph_icon"></i>
							</a>
							<a class="uj_nav_button uj_navigation" title="Go to end" alt="Go to end"  onclick="selectLastPage();" >
								<i class="fa fa-fast-forward dashboard_graph_icon"></i>
							</a>
							
						</span>	
					</div>
				<div style="float: left;    color: #333333;" >
					<div class="caption">User Journey</div>
				</div>
				
			</div>
		<div style="padding-left: 30px;    margin-bottom: 15px;" id="UJchart_{{graphs.ID}}_caption"></div>	
		<span ng-if="graphs.isData"  id="{{graphs.ID}}" >
			<div class="portlet-body" style="width:1068px;height:100%;" id="UJchart_{{graphs.ID}}">
			
			<div ng-if="graphs.dataGraph.chartData.ReportDataTable.length == 0"  >
				<div style="width: 100%;height: 100%;padding-left: 30px;">NO DATA</div>
			</div>
			<div ng-if="!graphs.dataGraph.chartData.ReportDataTable" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100%;"></div>
			</div>
		</span>
		<span ng-if="!graphs.isData" >
				<div class="chart" >
					<div style="width: 100%;height: 100%;padding-left: 30px;">NO DATA</div>
				</div>
		</span>
			
		</div>
	</div>

