<!DOCTYPE html>

<html lang="en" >

<head>
<meta charset="utf-8"/>
<title ng-if="loginView" >Certua Signup</title>
<title ng-if="!loginView" >Curve</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />


<script src="http://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script> 
<!--<script src="http://s3.amazonaws.com/curve.repo/sdk/curve.min.js" type="text/javascript"></script>-->
<script src="curve.js" type="text/javascript"></script>
</head>

<body>
<script>

function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) 
	   {
		   var pair = vars[i].split("=");
		   if(pair[0] == variable){return pair[1];}
       }
	   
       return null;
}

var uid = getQueryVariable("u");
var iid = getQueryVariable("i");

jQuery(document).ready(function()
{
	if(uid != "" || uid != null)
	{
		var config = {userID: uid};
		Crv.DEBUG = true;
		Crv.i("CERT-7OMARQZURC8", config); //initializing Curve
//		alert(iid);
		Crv.event("landingpage", "landingpage", null, null, null, (iid != null && iid != "") ? {"interaction_id": iid} : null);
	}
});

function signup()
{
	if(uid != "" || uid != null)
		Crv.event("signup", "signup", null, null, null, (iid != null && iid != "") ? {"interaction_id": iid} : null);
		
	document.getElementById("thankyou").style.display = "";
	document.getElementById("signup").style.display = "none";
	
}

</script>

<div style="margin-top: 25px;">
	<div id="signup" style="width: 100%; margin-left: 42%;">
		<button style="width: 200px; height: 30px;" onclick="signup();">Click To Signup</button>
	</div>

	<div id="thankyou" style="font-size: 29px; display:none;  margin-left: 42%;">Thank you</div>
</div>


</body>

</html>
