<div class="page-header-fixed page-quick-sidebar-over-content" >

	<div ng-include src="'Templates/Onboarding/top-panel-onboarding.html'" ></div>
	
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class = "portlet light bordered" style="width: 80%;    margin: 0 auto;">
					<div class="portlet-title tabbable-line">
						<div class="caption">
							<span class="caption-subject green bold uppercase">Using the SDK</span>
						</div>
						<ul class="nav nav-tabs">
							<li id="onboarding_ios_tab" ng-class="extUrlParam.type == 'ios' ? 'active' : 'game_mode'" >
								<a href="#onboarding_ios" data-toggle="tab"> iOS </a>
							</li>
							<li id="onboarding_tvos_tab" ng-class="extUrlParam.type == 'tvos' ? 'active' : 'game_mode'" >
								<a href="#onboarding_tvos" data-toggle="tab"> tvOS </a>
							</li>
							<li id="onboarding_android_tab" ng-class="extUrlParam.type == 'android' ? 'active' : 'game_mode'" >
								<a href="#onboarding_android" data-toggle="tab"> Android </a>
							</li>
							<li id="onboarding_js_tab" ng-class="extUrlParam.type == 'js' ? 'active' : 'game_mode'" >
								<a href="#onboarding_js" data-toggle="tab"> JavaScript </a>
							</li>
							
							<li id="onboarding_gts_tab" ng-class="extUrlParam.type == 'gtm' ? 'active' : 'game_mode'" >
								<a href="#onboarding_gts" data-toggle="tab"> Google Tag Manager </a>
							</li>
						</ul>
					</div>
						<div class="tab-content">
							<div class="tab-pane settings_list" id="onboarding_android">
								<div class="mk-accordion-pane" style="display: block;">
									<p>
									</p><h2 id="fancy-title-7" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
											After downloading the <span style="color:#41B7E9;cursor:pointer;" ng-click="windowOpenFun(URLConst.CurveSDKConstants.ANDROID_SDK_DOWNLOAD_URL);">curve Android SDK</span>, lets include it in our project.
										</span>
									</h2>
									<div class="clearboth"></div>
									<h2 id="fancy-title-8" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													<strong>SETUP:</strong><p></p>
									<p>1. Add the curve jar file to build path.<br>
									2. Include the jar on the Order and Export tab.<br>
									3. Add Internet permissions to the project.<br>
									4. Set minimum android SDK to 11.			
									</p></span></h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-10" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													<strong>USING CURVE:</strong><p></p>
									<p>1. import Curve:<br>
									write the following import clause in your class:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-11 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-11" class="mk-title-box clear ">
										<span>import com.gingee.curve.Curve;</span>
									</h3>


									<h2 id="fancy-title-12" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													2. Initialize Curve reporting engine.<br>
									In the MainActivity class, Lets write the following code:<br>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-13 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-13" class="mk-title-box clear ">
										<span ng-if="extUrlParam.token" >Curve.getInstance().init("<span class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span>", null, this);</span>
										<span ng-if="!extUrlParam.token" >Curve.getInstance().init("<span class="curve_app_report_token" style="box-shadow:none !important;"></span>", null, this);</span>
									</h3>


									<h2 id="fancy-title-14" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													And we are done setting curve up!			</span>
									</h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-15" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													3. [OPTIONAL] Manually supplying a user ID for the current app user<br>
									Instead of initializing with the previous code lets do this:<br>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-16 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-16" class="mk-title-box clear ">
										<span><p></p>
									Map&lt;String, String&gt; config = new HashMap&lt;String, String&gt;();<br>
									config.put("userID", "<span class="curve_app_user_id" style="box-shadow:none !important;">YOUR_USER’S_ID</span>");
									Curve.getInstance().init("<span ng-if="extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span><span ng-if="!extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;"></span>", config, this);
									<p>
									</p></span></h3>


									<h2 id="fancy-title-17" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													4.[OPTIONAL] Manually report other events<p></p>
									<p>Additional important commands:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-18 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-18" class="mk-title-box clear ">
										<span>
									Curve.getInstance().event (); // Reporting app custom events<br>
									Curve.getInstance().screen (); // Reporting app screen / popup events<br>
									Curve.getInstance().transaction(); // Reporting app purchase and real/fun money trasnsaction events<br>
									Curve.getInstance().error(); // Application error reporting
									</span></h3>

									<p></p>
									<div class="clearboth"></div>
								</div>
								
							</div>
							
							<div class="tab-pane settings_list" id="onboarding_gts">
								<div class="mk-accordion-pane" style="display: block;">
									<p>
									</p>
									<div class="clearboth"></div>


									<h2 id="fancy-title-8" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													1. Login into <a style="color:#41B7E9;" href="http://tagmanager.google.com" target="_blank">Google Tag Manager</a> and select the desired account.			
									</span></h2>
									<img src="Images/gtm_integration/tag_1.png" alt="logo" class="logo-default"/>

									<div class="clearboth"></div>

									<h2 id="fancy-title-10" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													2. Click on 'New Tag'.			</span>
									</h2>
									<img src="Images/gtm_integration/tag_2.png" alt="logo" class="logo-default"/>
									<div class="clearboth"></div>

									<br/>
									<h2 id="fancy-title-10" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
											3. Create a new Tag:
											<br/>
									<br/>			
											<ol> 
												<li>Under 'Choose Product' click on 'Custom HTML Tag'.</li>
									<img src="Images/gtm_integration/tag_3.png" alt="logo" class="logo-default"/>
									<br/>
									<br/>
												<li>Under Configure Tag copy and paste the the following code:
												
													<style>#mk-title-box-18 {font-family: Arial, Helvetica, sans-serif !important}</style>
													<h3 id="mk-title-box-18" class="mk-title-box clear ">
														<span><p></p>
													&lt;script src="http://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript">&lt;/script&gt;<br>
													&lt;script src="https://s3.amazonaws.com/curve.repo/sdk/curve.min.js" type="text/javascript">&lt;/script&gt;<br>
													&lt;script src="https://s3.amazonaws.com/curve.repo/sdk/plugins/curve.data.layer.plugin.min.js" type="text/javascript">&lt;/script&gt;<br>
													&lt;script&gt;<br>
													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jQuery(document).ready(function()<br>
													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {<br>
													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Crv.i("<span ng-if="extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span><span ng-if="!extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;"></span>"); //initializing Curve<br>
													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Crv.err(window);<br>
													&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br>
													&lt;/script&gt;<br>
													<p>
													</p></span></h3>
												</li>
												
									<img src="Images/gtm_integration/tag_4.png" alt="logo" class="logo-default"/>
									<br/>
									<br/>
												<li>Click on 'Continue'.</li>
									<br/>
												<li>Under 'Fire On' click on 'All Pages'.</li>
									<img src="Images/gtm_integration/tag_5.png" alt="logo" class="logo-default"/>
									<br/>
									<br/>
												
												<li>Click on 'Create Tag'.</li>
									<br/>
												<li>You can name the tag "Curve" and click 'Save'.</li>
									<img src="Images/gtm_integration/tag_6.png" alt="logo" class="logo-default"/>
									<br/>
									<br/>
												
											</ol>
										</span>
									</h2>

									<div class="clearboth"></div>


									<h2 id="fancy-title-12" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													4. After the tag was successfully created, click on the 'Publish' button on the upper right corner, and in  the pop-up click on 'Publish Now'.</span>
									</h2>
									<img src="Images/gtm_integration/tag_7.png" alt="logo" class="logo-default"/>
									<div class="clearboth"></div>

									<br/>
									<br/>
									<h2 id="fancy-title-12" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													&nbsp;&nbsp; In the pop-up click on 'Publish Now'.</span>
									</h2>
									<img src="Images/gtm_integration/tag_8.png" alt="logo" class="logo-default"/>
									<div class="clearboth"></div>

									<br/>
									<br/>
									<h2 id="fancy-title-12" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													
										And we are done setting curve up!</span>
									</h2>
									<div class="clearboth"></div>


									<p></p>
									<div class="clearboth"></div>
								</div>
							</div>
							
							
							<div class="tab-pane settings_list active" id="onboarding_ios">
								<div class="mk-accordion-pane" style="display: block;">
									<p>
									</p><h2 id="fancy-title-7" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
										After downloading the <span style="color:#41B7E9;cursor:pointer;" ng-click="windowOpenFun(URLConst.CurveSDKConstants.IOS_SDK_DOWNLOAD_URL);">curve iOS SDK</span>, lets include it in our project.
										</span>
									</h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-8" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													<strong>SETUP:</strong><p></p>
									<p>1. Drag the "curveSDK.a" &amp; "Include" folder to your project.<br>
									2. Add Internet permissions to the project.<br>
									3. Add "AdSupport.framework" to the project.			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-9 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-9" class="mk-title-box clear ">
										<span>Go to "Build Phases" -&gt;open "Link Binary With Libraries" menu -&gt; click on the "+" -&gt; add the "AdSupport.framework".</span>
									</h3>


									<h2 id="fancy-title-10" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													<strong>USING CURVE:</strong><p></p>
									<p>1. import Curve:<br>
									write the following import clause in your class:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-11 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-11" class="mk-title-box clear ">
										<span>#import "CRVCurve.h";</span>
									</h3>


									<h2 id="fancy-title-12" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													2. Initialize Curve reporting engine.<br>
									In the beginning of your app creation (Could be the ViewController.m) class, Lets write the following code:</span>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-13 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-13" class="mk-title-box clear ">
										<span ng-if="extUrlParam.token">[[CRVCurve instance] initialization:@"<span class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span>" config:nil];</span>
										<span ng-if="!extUrlParam.token" >[[CRVCurve instance] initialization:@"<span class="curve_app_report_token" style="box-shadow:none !important;"></span>" config:nil];</span>
									</h3>


									<h2 id="fancy-title-14" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													And we are done setting curve up!			</span>
									</h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-15" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													3. [OPTIONAL] Manually supplying a user ID for the current app user<br>
									Instead of initializing with the previous code lets do this:</span>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-16 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-16" class="mk-title-box clear ">
									<span>
									NSMutableDictionary *config = [[NSMutableDictionary alloc] init];<br>
									[config setValue:@"userID" forKey:@"<span class="curve_app_user_id" style="box-shadow:none !important;">YOUR_USER’S_ID</span>"];<br>
									[[CRVCurve instance] initialization:@"<span ng-if="extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span><span ng-if="!extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;"></span>" config:config];
									</span></h3>


									<h2 id="fancy-title-17" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													4.[OPTIONAL] Manually report other events<p></p>
									<p>Additional important commands:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-18 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-18" class="mk-title-box clear ">
										<span>
									[[CRVCurve instance] event:..]; // Reporting app custom events<br>
									[[CRVCurve instance] screen:..]; // Reporting app screen / popup events<br>
									[[CRVCurve instance] transaction:..]; // Reporting app purchase and real/fun money trasnsaction events<br>
									[[CRVCurve instance] error:..]; // Application error reporting
									</span></h3>

									<p></p>
											<div class="clearboth"></div>
								</div>
							</div>
							
							<div class="tab-pane settings_list" id="onboarding_tvos">
								<div class="mk-accordion-pane" style="display: block;">
									<p>
									</p><h2 id="fancy-title-7" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
											After downloading the <span style="color:#41B7E9;cursor:pointer;" ng-click="windowOpenFun(URLConst.CurveSDKConstants.TVOS_SDK_DOWNLOAD_URL);">curve tvOS SDK</span>, lets include it in our project.
										</span>
									</h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-8" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													<strong>SETUP:</strong><p></p>
									<p>1. Drag the "curveSDK.tvOS.a" &amp; "Include" folder to your project.<br>
									2. Add Internet permissions to the project.<br>
									3. Add "AdSupport.framework" to the project.			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-9 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-9" class="mk-title-box clear ">
										<span>Go to "Build Phases" -&gt;open "Link Binary With Libraries" menu -&gt; click on the "+" -&gt; add the "AdSupport.framework".</span>
									</h3>


									<h2 id="fancy-title-10" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													<strong>USING CURVE:</strong><p></p>
									<p>1. import Curve:<br>
									write the following import clause in your class:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-11 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-11" class="mk-title-box clear ">
										<span>#import "CRVCurve.h";</span>
									</h3>


									<h2 id="fancy-title-12" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													2. Initialize Curve reporting engine.<br>
									In the beginning of your app creation (Could be the ViewController.m) class, Lets write the following code:</span>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-13 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-13" class="mk-title-box clear ">
										<span ng-if="extUrlParam.token" >[[CRVCurve instance] initialization:@"<span class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span>" config:nil];</span>
										<span ng-if="!extUrlParam.token" >[[CRVCurve instance] initialization:@"<span class="curve_app_report_token" style="box-shadow:none !important;"></span>" config:nil];</span>
									</h3>


									<h2 id="fancy-title-14" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													And we are done setting curve up!			</span>
									</h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-15" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													3. [OPTIONAL] Manually supplying a user ID for the current app user<br>
									Instead of initializing with the previous code lets do this:</span>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-16 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-16" class="mk-title-box clear ">
									<span>
									NSMutableDictionary *config = [[NSMutableDictionary alloc] init];<br>
									[config setValue:@"userID" forKey:@"<span class="curve_app_user_id" style="box-shadow:none !important;">YOUR_USER’S_ID</span>"];<br>
									[[CRVCurve instance] initialization:@"<span ng-if="extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span><span ng-if="!extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;"></span>" config:config];
									</span></h3>


									<h2 id="fancy-title-17" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													4.[OPTIONAL] Manually report other events<p></p>
									<p>Additional important commands:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-18 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-18" class="mk-title-box clear ">
										<span>
									[[CRVCurve instance] event:..]; // Reporting app custom events<br>
									[[CRVCurve instance] screen:..]; // Reporting app screen / popup events<br>
									[[CRVCurve instance] transaction:..]; // Reporting app purchase and real/fun money trasnsaction events<br>
									[[CRVCurve instance] error:..]; // Application error reporting
									</span></h3>

									<p></p>
											<div class="clearboth"></div>
								</div>
							</div>
							
							<div class="tab-pane settings_list" id="onboarding_js">
								<div class="mk-accordion-pane" style="display: block;">
									<p>
									</p><h2 id="fancy-title-7" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													Lets include Curve JavaScript SDK in our project:			</span>
									</h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-8" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
									<p>1. In between the <span style="color: #dd1144;">&lt;head&gt;&lt;/head&gt;</span> section, Add the following import:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-9 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-9" class="mk-title-box clear ">
										<span><span style="color: #dd1144;">&lt;script src="https://s3.amazonaws.com/curve.repo/sdk/curve.min.js" type="text/javascript"&gt;&lt;/script&gt;</span></span>
									</h3>


									<h2 id="fancy-title-10" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													2. Curve requires jQuery in order to work properly, lets import it.<br>
									In between the <span style="color: #dd1144;">&lt;head&gt;&lt;/head&gt;</span> section, Add the following import:			</span>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-11 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-11" class="mk-title-box clear ">
										<span>&lt;script src="http://code.jquery.com/jquery-2.2.0.min.js"&nbsp;type="text/javascript"&gt;&lt;/script&gt;</span>
									</h3>


									<h2 id="fancy-title-12" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													Initialize Curve reporting engine.<br>
									In the <span style="color: #dd1144;">&lt;body&gt;&lt;/body&gt;</span> section, Lets write the following code:<br>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-18 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-18" class="mk-title-box clear ">
										<span><p></p>
									&lt;script&gt;<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jQuery(document).ready(function()<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Crv.i("<span ng-if="extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span><span ng-if="!extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;"></span>"); //initializing Curve<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br>
									&lt;/script&gt;<br>
									<p>
									</p></span></h3>


									<h2 id="fancy-title-14" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													And we are done setting curve up!			</span>
									</h2>
									<div class="clearboth"></div>


									<h2 id="fancy-title-15" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													3. [OPTIONAL] Setup automatic crash report<br>
									AFTER initializing curve (STEP 3), Write the following code:			</span>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-16 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-16" class="mk-title-box clear ">
										<span>Crv.err(window);</span>
									</h3>


									<h2 id="fancy-title-17" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													4. [OPTIONAL] Manually supplying a user ID for the current app user<br>
									Instead of initializing with the previous code lets do this:<br>
									</h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-18 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-18" class="mk-title-box clear ">
										<span><p></p>
									&lt;script&gt;<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; jQuery(document).ready(function()<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;var config = {userID: "<span class="curve_app_user_id" style="box-shadow:none !important;">YOUR_USER’S_ID</span>"};<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Crv.i("<span ng-if="extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;">{{extUrlParam.token}}</span><span ng-if="!extUrlParam.token" class="curve_app_report_token" style="box-shadow:none !important;"></span>", config); //initializing Curve with custom user id<br>
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; });<br>
									&lt;/script&gt;<br>
									<p>
									</p></span></h3>


									<h2 id="fancy-title-19" class="mk-fancy-title align-left  simple-style  color-single">
										<span>
													5.[OPTIONAL] Manually report other events<p></p>
									<p>Additional important commands:			
									</p></span></h2>
									<div class="clearboth"></div>

									<style>#mk-title-box-18 {font-family: Arial, Helvetica, sans-serif !important}</style>
									<h3 id="mk-title-box-18" class="mk-title-box clear ">
										<span><p></p>
									Crv.event (); // Reporting app custom events<br>
									Crv.screen (); // Reporting app screen / popup events<br>
									Crv.transaction(); // Reporting app purchase and real/fun money trasnsaction events<br>
									Crv.error(); // Application error reporting
									<p>
									</p></span></h3>

									<p></p>
									<div class="clearboth"></div>
								</div>
							</div>
							
						</div>
						
					
				</div>
			
				<div style="margin-top: 7px;">
					
					<div class="modal-body permission_box">
						<div class="portlet-body" id="onboarding_container_div">
							
						</div>
					</div>
				</div>
			
			
				
			</div>
		</div>

</div>	