<div class="page-header navbar navbar-fixed-top">
	<div class="page-header-inner">
	
		<div class="page-logo">
			<a href="/#/" >
				<img src="Images/logo.svg" alt="logo" class="logo-default"/>
				<img src="Images/logo-small.png" alt="logo" class="logo-small" style="display:none;"/>
			</a>
		</div>
		
		<div ng-if="extUrlParam.appsData && extUrlParam.appsData.length > 1" class="top-menu" style="margin-bottom: 6px;margin-right: 36px;" >
			<div class="input-icon" id="application_name_container" >
				<button class="btn green dropdown-toggle" data-toggle="dropdown" id="application_name_title">{{extUrlParam.name}}<i class="fa fa-angle-down" style="margin-left: 5px;" ></i>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					<!-- <div class="slimScrollDiv" id="application_names_dropdown" style="position: relative; overflow: hidden; width: auto; height: auto;"></div> -->
					<li ng-repeat="(key,val) in extUrlParam.appsData" ng-click="extUrlParam.token = val.token ; extUrlParam.name = val.name" style="margin-left: 0;" ><a href="">{{val.name}}</a></li>
				</ul>
			</div>
		</div>
		
	</div>
</div>
