.comparable_flap.comparable_info_flap 
{
	right: 21px;
}

.comparabletitle_kpi 
{
	border-bottom: 3px solid #e8e8e8;
	padding-bottom: 7px;
	padding-top: 25px;
	font-size: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.comparable .externalholder
{
	position: relative;
	display:inline-block;
	margin-right: 15px;
	border-radius: 5%;
	width: 260px;
	height: 350px;
	text-align: center;
	margin-bottom: 30px;
}

.comparable .kpi_holder
{
	position: relative;
	display:inline-block;
	margin-right: 15px;
	width: 260px;
	height: 350px;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 0;
}

.comparable .canvasholder 
{
	border-radius: 10px; 
	width: 100%; 
	height: 72%; 
	text-align: center;
	padding-top: 40px;
	border: 1px solid #e3e3e3;
}

.comparable .canvasholder_kpi 
{
	border-radius: 10px; 
	width: 100%; 
	height: 72%; 
	text-align: center;
	padding-top: 0;
}

.comparable .comparabletitle_holder
{
	width: 85%; 
	height: 15%; 
	background-color:#fafafa; 
	margin-left: auto; 
	margin-right: auto; 
	border: 5px solid #f8f8f8;
}

.comparable .comparabletitle
{
	padding-top: 20px;
	font-size: 20px;
}

.comparable .comparable_button
{
	height: 30px;
	top: 0;
	font-size: 20px;
	position: absolute;
	border: 1px solid #e3e3e3;
	line-height: 28px;
	padding-top: 5px;
	background-color: #fdfdfd;
	font-weight: bold;
	color: #636363;
}

.comparable .comparable_flap 
{
	height: 30px;
	top: 4px;
	font-size: 20px;
	position: absolute;
	line-height: 28px;
	padding-top: 5px;
	font-weight: bold;
	color: #636363;
}

.comparable .comparable_info
{
	width: 37px;
	right: -2px;
	border-radius: 0 10px 10px 14px;
}

.comparable .comparable_close
{
	width: 42px;
	left: 0;
	border-radius: 10px 0 14px 10px;
}