
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

/***
Curve light yellow
***/
/* Button */
.curve-light-yellow.btn {
  color: white;
  background-color: #e35b5a;
  border-color: "";
}
.curve-light-yellow.btn:hover, .curve-light-yellow.btn:focus, .curve-light-yellow.btn:active, .curve-light-yellow.btn.active {
  color: white;
  background-color: #dd3837;
}
.open .curve-light-yellow.btn.dropdown-toggle {
  color: white;
  background-color: #dd3837;
}
.curve-light-yellow.btn:active, .curve-light-yellow.btn.active {
  background-image: none;
}
.open .curve-light-yellow.btn.dropdown-toggle {
  background-image: none;
}
.curve-light-yellow.btn.disabled, .curve-light-yellow.btn.disabled:hover, .curve-light-yellow.btn.disabled:focus, .curve-light-yellow.btn.disabled:active, .curve-light-yellow.btn.disabled.active, .curve-light-yellow.btn[disabled], .curve-light-yellow.btn[disabled]:hover, .curve-light-yellow.btn[disabled]:focus, .curve-light-yellow.btn[disabled]:active, .curve-light-yellow.btn[disabled].active, fieldset[disabled] .curve-light-yellow.btn, fieldset[disabled] .curve-light-yellow.btn:hover, fieldset[disabled] .curve-light-yellow.btn:focus, fieldset[disabled] .curve-light-yellow.btn:active, fieldset[disabled] .curve-light-yellow.btn.active {
  background-color: #e35b5a;
}
.curve-light-yellow.btn .badge {
  color: #e35b5a;
  background-color: white;
}

/* Button Strip */
.btn.curve-light-yellow-stripe {
  border-left: 3px solid #e35b5a;
}


/* Portlet */
.portlet > .portlet-body.curve-light-yellow,
.portlet.curve-light-yellow {
  background-color: #e35b5a;
}

.portlet.solid.curve-light-yellow > .portlet-title,
.portlet.solid.curve-light-yellow > .portlet-body {
  border: 0;
  color: white;
}
.portlet.solid.curve-light-yellow > .portlet-title > .caption > i {
  color: white;
}

.portlet.box.curve-light-yellow {
  border: 1px solid #ea8686;
  border-top: 0;
}
.portlet.box.curve-light-yellow > .portlet-title {
  background-color: #e35b5a;
}
.portlet.box.curve-light-yellow > .portlet-title > .caption {
  color: white;
}
.portlet.box.curve-light-yellow > .portlet-title > .caption > i {
  color: white;
}
.portlet.box.curve-light-yellow > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #f3baba;
  color: #f7d0d0;
}
.portlet.box.curve-light-yellow > .portlet-title > .actions .btn-default > i {
  color: #f9dddd;
}
.portlet.box.curve-light-yellow > .portlet-title > .actions .btn-default:hover, .portlet.box.curve-light-yellow > .portlet-title > .actions .btn-default:focus, .portlet.box.curve-light-yellow > .portlet-title > .actions .btn-default:active, .portlet.box.curve-light-yellow > .portlet-title > .actions .btn-default.active {
  border: 1px solid #fbe6e6;
  color: #fefbfb;
}

/* Statistic Block */
.dashboard-stat.curve-light-yellow {
  background-color: white;
}
.dashboard-stat.curve-light-yellow .visual > i {
  color: #fcc540;
 /*opacity: 0.3;*/
  filter: alpha(opacity=30);
}
.dashboard-stat.curve-light-yellow .details .number {
  color: black;
}
.dashboard-stat.curve-light-yellow .details .desc {
  color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.dashboard-stat.curve-light-yellow .more {
  color: black;
  background-color: #ffffff;
}

/* General Element */
.bg-curve-light-yellow {
  border-color: #e35b5a !important;
  background-image: none !important;
  background-color: #e35b5a !important;
  color: white !important;
}

/* General Text & Icon Font Colors */
.font-curve-light-yellow {
  color: #e35b5a !important;
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

/***
Curve light red
***/
/* Button */
.curve-light-red.btn {
  color: white;
  background-color: #e35b5a;
  border-color: "";
}
.curve-light-red.btn:hover, .curve-light-red.btn:focus, .curve-light-red.btn:active, .curve-light-red.btn.active {
  color: white;
  background-color: #dd3837;
}
.open .curve-light-red.btn.dropdown-toggle {
  color: white;
  background-color: #dd3837;
}
.curve-light-red.btn:active, .curve-light-red.btn.active {
  background-image: none;
}
.open .curve-light-red.btn.dropdown-toggle {
  background-image: none;
}
.curve-light-red.btn.disabled, .curve-light-red.btn.disabled:hover, .curve-light-red.btn.disabled:focus, .curve-light-red.btn.disabled:active, .curve-light-red.btn.disabled.active, .curve-light-red.btn[disabled], .curve-light-red.btn[disabled]:hover, .curve-light-red.btn[disabled]:focus, .curve-light-red.btn[disabled]:active, .curve-light-red.btn[disabled].active, fieldset[disabled] .curve-light-red.btn, fieldset[disabled] .curve-light-red.btn:hover, fieldset[disabled] .curve-light-red.btn:focus, fieldset[disabled] .curve-light-red.btn:active, fieldset[disabled] .curve-light-red.btn.active {
  background-color: #e35b5a;
}
.curve-light-red.btn .badge {
  color: #e35b5a;
  background-color: white;
}

/* Button Strip */
.btn.curve-light-red-stripe {
  border-left: 3px solid #e35b5a;
}


/* Portlet */
.portlet > .portlet-body.curve-light-red,
.portlet.curve-light-red {
  background-color: #e35b5a;
}

.portlet.solid.curve-light-red > .portlet-title,
.portlet.solid.curve-light-red > .portlet-body {
  border: 0;
  color: white;
}
.portlet.solid.curve-light-red > .portlet-title > .caption > i {
  color: white;
}

.portlet.box.curve-light-red {
  border: 1px solid #ea8686;
  border-top: 0;
}
.portlet.box.curve-light-red > .portlet-title {
  background-color: #e35b5a;
}
.portlet.box.curve-light-red > .portlet-title > .caption {
  color: white;
}
.portlet.box.curve-light-red > .portlet-title > .caption > i {
  color: white;
}
.portlet.box.curve-light-red > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #f3baba;
  color: #f7d0d0;
}
.portlet.box.curve-light-red > .portlet-title > .actions .btn-default > i {
  color: #f9dddd;
}
.portlet.box.curve-light-red > .portlet-title > .actions .btn-default:hover, .portlet.box.curve-light-red > .portlet-title > .actions .btn-default:focus, .portlet.box.curve-light-red > .portlet-title > .actions .btn-default:active, .portlet.box.curve-light-red > .portlet-title > .actions .btn-default.active {
  border: 1px solid #fbe6e6;
  color: #fefbfb;
}

/* Statistic Block */
.dashboard-stat.curve-light-red {
  background-color: white;
}
.dashboard-stat.curve-light-red .visual > i {
  color: #f2545d;
 /*opacity: 0.3;*/
  filter: alpha(opacity=30);
}
.dashboard-stat.curve-light-red .details .number {
  color: black;
}
.dashboard-stat.curve-light-red .details .desc {
  color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.dashboard-stat.curve-light-red .more {
  color: black;
  background-color: #ffffff;
}

/* General Element */
.bg-curve-light-red {
  border-color: #e35b5a !important;
  background-image: none !important;
  background-color: #e35b5a !important;
  color: white !important;
}

/* General Text & Icon Font Colors */
.font-curve-light-red {
  color: #e35b5a !important;
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

/***
Curve light blue
***/
/* Button */
.curve-light-blue.btn {
  color: white;
  background-color: #e35b5a;
  border-color: "";
}
.curve-light-blue.btn:hover, .curve-light-blue.btn:focus, .curve-light-blue.btn:active, .curve-light-blue.btn.active {
  color: white;
  background-color: #dd3837;
}
.open .curve-light-blue.btn.dropdown-toggle {
  color: white;
  background-color: #dd3837;
}
.curve-light-blue.btn:active, .curve-light-blue.btn.active {
  background-image: none;
}
.open .curve-light-blue.btn.dropdown-toggle {
  background-image: none;
}
.curve-light-blue.btn.disabled, .curve-light-blue.btn.disabled:hover, .curve-light-blue.btn.disabled:focus, .curve-light-blue.btn.disabled:active, .curve-light-blue.btn.disabled.active, .curve-light-blue.btn[disabled], .curve-light-blue.btn[disabled]:hover, .curve-light-blue.btn[disabled]:focus, .curve-light-blue.btn[disabled]:active, .curve-light-blue.btn[disabled].active, fieldset[disabled] .curve-light-blue.btn, fieldset[disabled] .curve-light-blue.btn:hover, fieldset[disabled] .curve-light-blue.btn:focus, fieldset[disabled] .curve-light-blue.btn:active, fieldset[disabled] .curve-light-blue.btn.active {
  background-color: #e35b5a;
}
.curve-light-blue.btn .badge {
  color: #e35b5a;
  background-color: white;
}

/* Button Strip */
.btn.curve-light-blue-stripe {
  border-left: 3px solid #e35b5a;
}


/* Portlet */
.portlet > .portlet-body.curve-light-blue,
.portlet.curve-light-blue {
  background-color: #e35b5a;
}

.portlet.solid.curve-light-blue > .portlet-title,
.portlet.solid.curve-light-blue > .portlet-body {
  border: 0;
  color: white;
}
.portlet.solid.curve-light-blue > .portlet-title > .caption > i {
  color: white;
}

.portlet.box.curve-light-blue {
  border: 1px solid #ea8686;
  border-top: 0;
}
.portlet.box.curve-light-blue > .portlet-title {
  background-color: #e35b5a;
}
.portlet.box.curve-light-blue > .portlet-title > .caption {
  color: white;
}
.portlet.box.curve-light-blue > .portlet-title > .caption > i {
  color: white;
}
.portlet.box.curve-light-blue > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #f3baba;
  color: #f7d0d0;
}
.portlet.box.curve-light-blue > .portlet-title > .actions .btn-default > i {
  color: #f9dddd;
}
.portlet.box.curve-light-blue > .portlet-title > .actions .btn-default:hover, .portlet.box.curve-light-blue > .portlet-title > .actions .btn-default:focus, .portlet.box.curve-light-blue > .portlet-title > .actions .btn-default:active, .portlet.box.curve-light-blue > .portlet-title > .actions .btn-default.active {
  border: 1px solid #fbe6e6;
  color: #fefbfb;
}

/* Statistic Block */
.dashboard-stat.curve-light-blue {
  background-color: white; /*border: 1px solid #cfcfcf;  */  box-shadow: 0px 0px 3px #d3d3d3;
}
.dashboard-stat.curve-light-blue .visual > i {
  color: #06789e;
 /*opacity: 0.3;*/
  filter: alpha(opacity=30);
}
.dashboard-stat.curve-light-blue .details .number {
  color: black;
}
.dashboard-stat.curve-light-blue .details .desc {
  color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.dashboard-stat.curve-light-blue .more {
  color: black;
  background-color: #ffffff;
}

/* General Element */
.bg-curve-light-blue {
  border-color: #e35b5a !important;
  background-image: none !important;
  background-color: #e35b5a !important;
  color: white !important;
}

/* General Text & Icon Font Colors */
.font-curve-light-blue {
  color: #e35b5a !important;
}


/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

/***
Curve light green
***/
/* Button */
.curve-light-green.btn {
  color: white;
  background-color: #e35b5a;
  border-color: "";
}
.curve-light-green.btn:hover, .curve-light-green.btn:focus, .curve-light-green.btn:active, .curve-light-green.btn.active {
  color: white;
  background-color: #dd3837;
}
.open .curve-light-green.btn.dropdown-toggle {
  color: white;
  background-color: #dd3837;
}
.curve-light-green.btn:active, .curve-light-green.btn.active {
  background-image: none;
}
.open .curve-light-green.btn.dropdown-toggle {
  background-image: none;
}
.curve-light-green.btn.disabled, .curve-light-green.btn.disabled:hover, .curve-light-green.btn.disabled:focus, .curve-light-green.btn.disabled:active, .curve-light-green.btn.disabled.active, .curve-light-green.btn[disabled], .curve-light-green.btn[disabled]:hover, .curve-light-green.btn[disabled]:focus, .curve-light-green.btn[disabled]:active, .curve-light-green.btn[disabled].active, fieldset[disabled] .curve-light-green.btn, fieldset[disabled] .curve-light-green.btn:hover, fieldset[disabled] .curve-light-green.btn:focus, fieldset[disabled] .curve-light-green.btn:active, fieldset[disabled] .curve-light-green.btn.active {
  background-color: #e35b5a;
}
.curve-light-green.btn .badge {
  color: #e35b5a;
  background-color: white;
}

/* Button Strip */
.btn.curve-light-green-stripe {
  border-left: 3px solid #e35b5a;
}


/* Portlet */
.portlet > .portlet-body.curve-light-green,
.portlet.curve-light-green {
  background-color: #e35b5a;
}

.portlet.solid.curve-light-green > .portlet-title,
.portlet.solid.curve-light-green > .portlet-body {
  border: 0;
  color: white;
}
.portlet.solid.curve-light-green > .portlet-title > .caption > i {
  color: white;
}

.portlet.box.curve-light-green {
  border: 1px solid #ea8686;
  border-top: 0;
}
.portlet.box.curve-light-green > .portlet-title {
  background-color: #e35b5a;
}
.portlet.box.curve-light-green > .portlet-title > .caption {
  color: white;
}
.portlet.box.curve-light-green > .portlet-title > .caption > i {
  color: white;
}
.portlet.box.curve-light-green > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #f3baba;
  color: #f7d0d0;
}
.portlet.box.curve-light-green > .portlet-title > .actions .btn-default > i {
  color: #f9dddd;
}
.portlet.box.curve-light-green > .portlet-title > .actions .btn-default:hover, .portlet.box.curve-light-green > .portlet-title > .actions .btn-default:focus, .portlet.box.curve-light-green > .portlet-title > .actions .btn-default:active, .portlet.box.curve-light-green > .portlet-title > .actions .btn-default.active {
  border: 1px solid #fbe6e6;
  color: #fefbfb;
}

/* Statistic Block */
.dashboard-stat.curve-light-green {
  background-color: white;
}
.dashboard-stat.curve-light-green .visual > i {
  color: #4db3a4;
 /*opacity: 0.3;*/
  filter: alpha(opacity=30);
}
.dashboard-stat.curve-light-green .details .number {
  color: black;
}
.dashboard-stat.curve-light-green .details .desc {
  color: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.dashboard-stat.curve-light-green .more {
  color: black;
  background-color: #ffffff;
}

/* General Element */
.bg-curve-light-green {
  border-color: #e35b5a !important;
  background-image: none !important;
  background-color: #e35b5a !important;
  color: white !important;
}

/* General Text & Icon Font Colors */
.font-curve-light-green {
  color: #e35b5a !important;
}