.blur_content
{
	/*-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);*/
}

.platform_img
{
	float: left;
	width: 55px;
}

.platform_code_cont
{
	border: 1px solid #eee;
	background: #eee;
	border-radius: 5px !important;
	padding: 2.5px 5px;
	font-size: 14px;
}

.not_in_mode 
{
	display: none !important;
}

.welcome-img-circle 
{ 
	width: 30px;
	height: 30px;
	border-radius: 15px !important;
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
}

.welcome_title
{ 
	display: inline-block;
	margin-left: 15px;
}
	
.welcome_msg
{ 
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 30px;
}

.filter_line { color: #2e2e2e ; border-color: #c1c1c1; border-style: solid; border-width: 0.5px; margin:2px 2px 2px 5px; border-radius: 3px !important; }
.filter_delete { color: #b6b6b6 ; padding:2px 2px 2px 7px; display: inline-block; cursor:pointer;}
.filter_title { padding:2px 2px 2px 7px; display: inline-block;}
.filtersbox {  border-color: #c1c1c1; border-style: solid; border-width: 0.5px; padding: 5px;}
.freevalue {  width: 83%; display: inline-block;}
.freevaluecheck { display: inline-block; margin-left: 10px;}

.floating_plus 
{
				color: #FFF !important;
				cursor:pointer;
				padding: 7px 5px 5px;
				width: 100px;
				height: 36px;
				background-color: #06789e;
				text-align: center;
				font-size: 15px;
				float: left;
				z-index: 1;
				right: 5px;
				bottom: 5px;
				position: absolute;
				opacity: 0.5;
				box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
				}
				
.sub_icon { 
				margin-right:3px;
}
.dashboard_button { 
				text-align:left !important;
				padding-left: 10px !important;
}
.floating_plus_red { 
				background-color: #41B7E9; 
				position: fixed; 
				bottom: 25px; 
				right: 25px; 
				width: 50px;
				height: 50px;
				font-size: 27px;
				border-radius: 25px !important;
				opacity: 0.8;
				}
.cohort_icon {
	text-align:center;
	color: #999 !important;
	color: #999 !important;
}

.cohort_item {
	font-weight: 100;
}	

.floating_plus:hover { 
				opacity: 1;
				}		
				
.applications_game_icon_holder {
				margin-top: 15px;
				margin-bottom: 15px;
				font-weight: 200;
				font-family: proxima-nova;
				text-align:center;
				}
				
.dashboard_game_icon_holder {
				margin-top: 15px;
				margin-bottom: 15px;
				font-weight: 200;
				font-family: proxima-nova;
				text-align:center;
				}
				
.list-unstyled {
				background-color: transparent;
				box-sizing: border-box;
				color: #000;
				font-size: 14px;
				font-weight: 200;
				line-height: 18.2px;
				list-style: outside none none;
				margin: 0px;
				padding: 10px;
				padding-left: 20px;
				position: relative;
				text-align: left !important;
				text-decoration: none;
}

.list-unstyled:hover{
				background-color: #ededed;
				color: #000;
				}
				
.uj_navigation
				{/* 
					display: inline-block;
					width:32px;
					background:#FFF; 
					border:1px solid #ccc; */
				}
.application_game_icon {
				width: 50px;
				height: 50px;
				border-radius:25px !important;
				border: 1px solid #e7e7e7;
				cursor: pointer;
				}		
				
.application_game_icon_title {
				font-size: 14px;
				}
				
.dashboard_game_icon {
				width: 50px;
				height: 50px;
				border-radius:25px !important;
				border: 1px solid #e7e7e7;
				}		
				
.dashboard_game_icon_title {
				font-size: 14px;
				}
								
.dashboard_game_icon_company {
				font-weight: bold;
				font-size: 12px;
				}
				
.dashboards { 
				border-top: 1px solid rgb(231, 232, 233);
			}
				
@media (max-width: 767px)
{
	.page-content-wrapper .page-content .page-title {
		margin-bottom: 10px;
		margin-top: 10px;
		font-size: 24px;
	}
}	


.interactionsArr li{    list-style-type: none;display: inline-block;
    margin-right: 100px;}	
	
#search_user_result_panel div{background-color: #e5e5e5;cursor:pointer;}
#search_user_result_panel div:hover{background-color: #d1d1d1;}

.graphCheck{border-radius: 5px;
    /* background: #999999; */
    width: 16px;
    height: 16px;
    display: block;
    padding: 0 0 0 3px;
    float: right;
    margin: 4px 20px 0 0;
    border: 1px solid #999999;
    cursor: pointer;}  
.graphCheck .v:after {font-size: 12px; font-weight: bold;position: relative;    content: "✓";     color:  #6ac259;top: -2px;}

.flot-x-axis .flot-tick-label {
    white-space: nowrap;
    transform: translate(-1px, 0) rotate(-30deg);
    text-indent: -100%;
    transform-origin: top right;
    text-align: right !important;

}

