.nav-tabs-center
{
	margin-bottom: 20px;
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
}

.tab-center
{
	display: inline-block;
    position: relative;
    top: 0.6px;
    padding: 2px 2px 2px 0px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
}
	
.tab-center:hover{}
/*
label.hover_show {display: none;}
label.hover_show:hover {display: inline;}

label.regular_show {display: inline;}
label.regular_show:hover {display: none;}
*/

.tab-center.active
{
	border-bottom: 1px solid #000;
}
	
.tab-center a:link,.tab-center a:hover,.tab-center a:active
{
    text-decoration:none;
	color:#555;
	background:#ffffff;
}

.tab-center.active a:link,.tab-center.active a:hover,.tab-center.active a:active
{
    text-decoration:none;
	color:#41B7E9;
}

/* admin page */

.tab-center-admin
{
	display: inline-block;
    position: relative;
    top: 0.6px;
    padding: 2px 2px 2px 0px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
}
.tab-center-admin.active
{
	border: 1px solid #000;
	padding:10px;
}
	
.tab-center-admin a:link,.tab-center-admin a:hover,.tab-center-admin a:active
{
    
	color:#555;
	background:#ffffff;
	
}

.tab-center-admin.active a:link,.tab-center-admin.active a:hover,.tab-center-admin.active a:active
{
	
    text-decoration:none;
	color:#41B7E9;
}

/* end admin page*/

.but-grey
{
	border-color: #e8e8e8;
    padding: 5px 13px;
    font-weight: bold;
    font-size: 12px;
    color: #444;
    border-radius: 2px !important;
    background-color: #e8e8e8;
    border: 1px;
}
	
.campaigns-table{width: 100%;}
.campaigns-table>tbody>tr,.campaigns-table>thead>tr{border-bottom: 1px solid #dcdcdc;color: #333;}
.campaigns-table>tbody>tr>td,.campaigns-table>thead>tr>th{padding: 17px 0;}	

/******************************************** Sequences **********************************************/
	.newSequenceInput{ width: 300px;
    margin: 0 5px;
    height: 36px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #bbbbbb;}
	
	.btn-complete_green {
    cursor: pointer;
    background: #6ac259;
	float:right;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
	padding: 7px 14px;
    font-size: 15px;
}
.btn-complete_green:hover{background:#7adc68}
.btn-complete_green  .v::after {
    font-size: 18px;
    margin-left: 5px;
    font-weight: 100;
    content: "✓";
    color: rgb(255, 255, 255);
}
.closeFFF{float: right;
    border: none;
    background: transparent;
    font-size: 30px;
    margin: 0 5px;
    padding: 0;
    height: 10px;}
	
	#myPaletteDiv canvas:focus{border:none;}
	.row-g{background:#f1f1f1;}
	.row-w{background:#ffffff;}
	
	
	