.funnel_description_title
{
	color:#232323;
	font-size: 15px;
}
.funnel_step_div 
{
	color:#232323;
	font-size: 17px;
	height: 110px;
	width: 130px;
	background: #F9F9F9;
	padding-top: 10px;
	border-radius: 10px !important;
	font-family: proxima-nova;
	display: inline-block;
	margin-bottom: 15px;
	border: 1px solid #D5D5D5;
}

.funnel_precent_div 
{
	color: #06789e;
	font-size: 25px;
	font-weight: bold;
}

.funnel_title_div 
{
	font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 96%;
    text-align: center;
	height:37px;
}

.funnel_amount_div 
{
	color: #88ce5c;
	font-size: 12px;
}

/* ............ CONNECTOR .................. */

.funnel_connector_down 
{
	color:#900;
	font-size: 12px;
}

.funnel_connector_up 
{
	color:#090;
	font-size: 12px;
}

.funnel_connector_none
{
	color:#090;
	font-size: 12px;
}

.funnel_connector_div {
	font-size: 14px;
	width: 60px;
	font-family: proxima-nova;
	display: inline-block;
}

.arrow_right_funnel 
{
	color:#41B7E9;
	font-size:25px;
	margin-top:5px;
}