/* Copyright 1998-2016 Northwoods Software Corporation. All Rights Reserved. */

.footer {
  text-align: right;
  font-size: 10px;
}

#sample {
  margin-left: 0px;
}

#menu {
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #DDD;
  padding: 4px;
  margin-right: 5px;
  background-color: #F9F9F9;
  width: 120px;
  float: left;
}

#sections {
  list-style-type: none;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  line-height: 1.3em;
}

a { text-decoration: none; }
li a { display: block; }
a:hover { text-decoration: underline; }

li a { color: #0645AD; }
li a:hover, a li:focus { }
li a.selected { background: #1E90FF; color: white }

.index {
  margin-top: 0px;
}

.samplespan {
  position: absolute;
  z-index: 99;
  display: none;
  left: 135px;
  margin-top: -80px;
  border: 2px solid gray;
  height: 200px;
}

a:hover .samplespan { display:block; }