.counter-continer{float: left;    list-style-type: none;    width: 25%;    max-width: 270px;    display: table;margin-bottom: 30px;}
.counter-body-box {
    border: 1px solid #f2f2f2;
    width: calc(100% - 14px);
    float: right;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px !important;
}
.counter-body-img{height:155px;width:100%;text-align:center;}
.counter-text-box{background: #fcfcfc;
    height: 100px;}
.counter-text-box-name{
	font-size: 13px;padding-top:5px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: 35px;
    color: #41B7E9;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px auto;
	white-space: nowrap;
   display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	}
	
	.graph-text-box-name{
	font-size: 13px;padding-top:5px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: 16px;
    color: #41B7E9;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px auto;
	white-space: nowrap;
  /*  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;*/
	}
	
.counter-text-box-number{
	font-size: 22px;
text-transform: uppercase;
margin: 0 auto;
color: #636363;
padding-top: 6px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
height: 35px;
width: 215px;
	}
	.select-fulter{float: left;
    color: #333333;
    width: 120px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #d2d2d2;}



.tableBox{width:498px;}
.tableBox section {
  position: relative;
  border: 1px solid #DDDDDD;
  padding-top: 34px;
  background: #FFFFFF;
}
.tableBox section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:100%;
  box-shadow: 0 0 15px #333;
}
.tableBox .tableContainer {
  overflow-y: auto;
  height: 264px;
  border-top: 1px solid #DDDDDD;
}
.tableBox table {
  border-spacing: 0;
  width:100%;
}
.tableBox td + td {
  border-left:1px solid #DDDDDD;
}
.tableBox td, .tableBox th {
  border-bottom:1px solid #DDDDDD;
  /*background: #ddd;*/
  color: #000;
  padding: 10px 25px;
}
.tableBox th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
.tableBox th div{
  position: absolute;
  background: transparent;
  color: #000;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #DDDDDD;
}
.tableBox th:first-child div{
  border: none;
}
	
	
	
	