#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {	display: block;	padding: 0.4em 0.6em;    outline: none;    font-weight:bold;   text-decoration: none;}


.accordion-toggle{width: 100%;display: inline-block; }
.accordion-toggle .cont-colLeft{float:left;max-width:65%;}
.accordion-toggle .cont-colLeft .label{float:left;margin-right: 2%;width:10%}
.accordion-toggle .cont-colLeft .insightIcon{float:left;font-size: 3em;line-height: 1;}
.accordion-toggle .cont-colLeft .desc{font-size: 16px;color: #000000;font-weight: 600;padding-top: 10px; }
.accordion-toggle .cont-colRight{float:right}
.accordion-toggle p {margin:0;padding:0}




.insights-body{
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #2c2d2d;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
	margin-bottom: 5px;
}
.insights-date{
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
	color: #2c2d2d;
	position: absolute;
    top: -22px;
    padding: 0px 25px;
}

.btn.action_call 
{
	display: block;
    font-size: 16px;
	font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 5px 14px;
	background-color: #fbe141;
	color:#00000;
    margin: auto;
    text-align: center;
	
}


.nav-tabs-insight{position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
	}

.tab-insight{display: inline-block;
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid #e9e9e9;
    background: #F4F4F4;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;}
.tab-insight:hover{background-color: #49555B;}
.tab-insight.active{
	background: #FFFFFF;
    border: 1px solid #e9e9e9;
    border-bottom: none;
	
    
}	

.tab-insight a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
	text-decoration: none !important;
	 outline: none;
}

.tab-insight .tab-blue{
   
	color: #41B7E9;
}
.tab-insight .tab-green{
   
	color: #37b76e;
}

.tab-insight a span {
	 border-radius: 30px 30px 0 0;
    display: block;
    overflow: hidden;
    padding: 0.65em 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tab-insight a span {
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
	
}

.tab-insight a span img{margin-right: 15px;}


.tab-box{width: 100%;
    margin: 0;
    padding-top: 30px;
    border: 1px solid #e9e9e9;
    border-top: none;}
	.tab-insight a, .tab-insight a:hover, .tab-insight a:after {
    overflow: visible;
    padding: 0;
    font-weight: 500; outline: none;
    text-decoration: none !important;
}
/* .tab-insight a:link,.tab-insight a:hover,.tab-insight a:active{
          text-decoration:none;color:#000000;
       }
.tab-insight.active a:link,.tab-insight.active a:hover,.tab-insight.active a:active{
          text-decoration:none;color:#41B7E9;
       } */
	   .insight-heart-box{font-size: 18px;
    background-color: #F1F1F1;margin-right:20px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    float: left}
.insight-heart-icon{
	width: 26px;
    height: 22px;
    display: block;
    background-image: url(/../../Images/Dashboard/insight-heart-icon.png);
    background-repeat: no-repeat;
    margin-top: 13px;
    margin-left: 10px;
	}
	
	
.feedback0{ background-position: 0 0;}
.feedback1{ background-position: 0 -22px;}

	.inisight-info-box{background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    left: -27px;
    top: 15px;
    float: left;}
	
	.inisight-info{background: #F4F4F4;
width: 70%;
height: 70%;
border-radius: 50%;
margin-top: 15%;
margin-left: 15%;}
.inisight-info i{color:#716f6f; }
.inisight-info-icon{font-size: 20px;
margin-top: 10px;}

.inisight-triangle{
    float: left;
position: relative;
width: 40px;
height: 100%;
   }
.inisight-triangle::after {
    content: '';
position: absolute;
left: 0px;
top: 0px;
border: 43px solid transparent;
border-left: 25px solid #F1F1F1;
   }
	
	.outcome_text{    
	width: 90px;
    height: 74px;
    margin: 10px 0px 0px 40px;
    position: absolute;}
	.outcome_text p{
	font-size: 15px;
    width: 100%;
    height: 65px;
    color: #555555;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    align-items: center;
    text-align: center;
	}
	
	.inisight-tilte{float: left;
    color: #41B7E9;width: 100%;
    text-align: left;}
	.inisight-text
	{    float: left;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}
	.fa-angle-double-down{font-size: 30px;color: #6ca3ba;
    margin-top: 30px;}

.fa-angle-double-down:hover, .fa-angle-double-down:focus {
	color: #6ca3ba;
}

.fa-angle-double-down.des{font-size: 30px;color: #d0cdcd;
    margin-top: 30px;}

.fa-angle-double-down.des:hover, .fa-angle-double-down-des:focus {
	color: #d0cdcd;
}


	.fa-angle-double-up{font-size: 30px;color: #6ca3ba;
    margin-top: 20px;}

.fa-angle-double-up:hover, .fa-angle-double-up:focus {
	color: #6ca3ba;
}

.fa-angle-double-up.des{font-size: 30px;color: #d0cdcd;
    margin-top: 20px;}

.fa-angle-double-up.des:hover, .fa-angle-double-up-des:focus {
	color: #d0cdcd;
}

.inisight-descr-box{background: #ffee8c;
    float: left;
    height: 80px;
    width: 20px;
    display: inline;
    }
	
	
.activestate{
    color: red;
	background:red;
}

.activestate a{
    color: blue;
	background:blue;
}