.uj_nav_button
{
	color: #333;
    cursor: pointer;
    margin-left: 9px;
    text-decoration: none;
    text-shadow: none;
    border-radius: 20px !important;
    display: inline-block;
    width: 23px;
    background: #FFF;
    border: 1px solid #ccc;
    height: 23px;
    text-align: center;
    padding-top: 2px;
}