.user-detl-continer{border: 1px solid #f2f2f2; border-radius: 10px;padding: 5px 20px 20px;display: inline-block;    width: 100%;}
.user-detl-head{display:inline-block;    width: 100%;}
.user-detl-head	img{width: 50px;    float: left;}
.user-detl-head	h5{padding: 0;    margin: 17px 10px 0 10px;    float: left;    font-size: 28px;    color: #41B7E9;}
.user-detl{width: 50%;float: left;}
.user-detl-list{border: 1px solid #f2f2f2; border-radius: 10px;height: 200px;margin-bottom: 40px;}	
.user-audienc{width: 48%;    float: right;    display: inline-block;}
.user-audienc h6{padding: 0;    margin: 2px 0 10px 2px;font-size: 23px;    color: #41B7E9;}
.user-audienc-list{    border: 1px solid #f2f2f2;    border-radius: 10px;height: 163px;margin-bottom: 40px;}
.user-detl-list ,.user-audienc-list{overflow: auto;padding: 15px}
.user-detl-list ul,.user-audienc-list ul{    list-style: none;    padding: 0;    margin: 0;}

