.status-page{margin:0 auto;    padding-top: 34px;
   max-width: 1100px;}


.status_loader
{
	background: url(images/AjaxLoader.gif) no-repeat center center;
	width: 100%;
	height: 100%;
}

.status_caption_desc 
{
  float: left;
  display: inline-block;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  padding: 14px 0 0 5px;
  color: #000;
}

.status_title
{
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.status_body_pie
{
	margin-left: 20px;
	margin-right: 20px;
}

.remove_status_box
{
	float: right;
	display: inline-block;
	font-size: 1px;
	font-weight: 400;
	color: #ddd;
	width: 27px;
	
}

.titledpane{
	position: relative
}
.titledpane .titlepaneTitle{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #41B7E9;
	padding: 11px 40px;
}
.titledpane .search-box,
.titledpane .titlepaneContent{
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
}
.titledpane .titlepaneContent{
	overflow-x: auto;
	bottom: 0;
}
.titledpane .withSearch .titlepaneContent{
	top: 71px;
}

.widget-chooser-modal{
	/* display:none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 21;
	-webkit-transition: background.3s;
	transition: background.3s; */
}
.widget-chooser-modal .off{
	background: transparent
}
.widget-chooser-modal .off .widget-chooser-pane{
	bottom: -378px
}
.widget-chooser-modal .widget-chooser-pane{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: auto;
	background: #49555B;
	height: 408px;
	-webkit-transition: bottom.3s;
	transition: bottom.3s;
}
.widget-chooser-modal .widget-chooser-pane .widgets-container{
	      overflow-x: auto;
    overflow-y: hidden;
}
.widget-chooser-modal .widget-chooser-pane .widgets-container .widget-chooser-list{
	margin: 0;
	padding: 10px;
	white-space: nowrap;
}

.widget-chooser-item{
    width: 256px;
    height: 288px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
	border-radius: 10px !important;
}
.widget-chooser-item .title{
	font-size: 20px;
	font-weight: 100;
	margin-left: 5px;
	margin: 8px;
}
.widget-chooser-item .description{
	font-size: 13px;color: #ccc;margin-left: 5px;
}
.widget-chooser-item:hover .widget-chooser-item-content{
	display: block
}
.widget-chooser-item .help-notice{
	background: none;
	cursor: default;
	outline: 1pxsolid#d4dbe1;
}
.widget-chooser-item .help-notice .widget-chooser-item-content{
	background: #fff;
	color: #000;
	display: block;
}
.widget-chooser-item .help-notice .widget-chooser-item-content .title{
	font-weight: 200;
	margin: 8px;
}
.widget-chooser-item .help-notice .widget-chooser-item-content .description{
	color: #787878;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 12px;
}
.widget-chooser-item-content{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	#padding: 20px;
}
.widget-chooser-item-content .title{
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 10px;
}
.widget-chooser-item-content .description{
	font-size: 13px;
	color: #eee;
}
.widget-chooser-item-content h3{
	color: #000;
	font-weight: 200;
	margin: 0;
}

.status_graph_holder
{
	width: 25%;
    min-width: 240px;
    display: inline-block;
    padding-right: 0%;
    margin-bottom: 20px;
    position: relative;
    max-width: 270px;
}
.comp_graph_holder
{
	width: 25%;
     min-width: 240px; 
    display: inline-block;
        padding: 0;
    /* margin-bottom: 20px; */
    position: relative;
    /* border-left: 1px solid #d3d3d3; */
    /* border-right: 1px solid #d3d3d3; */
    max-width: 270px;
    
}

.status_graph_holder.insight_panel_view
{
	padding: 0;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
}

.status_comparable_counter.insight_panel_view
{
	box-shadow: 0 0 0 0 !important;
	margin-bottom: 0;
	height: 330px;
}

.comparable_counter.insight_panel_view
{
	box-shadow: 0 0 0 0 !important;
	margin-bottom: 0;
	height: 245px;
}

.wtitlebar .title{
color: white;
font-size: 19px;
text-transform: uppercase;
font-weight: 500;}
/***************************** COUNTER ************************/
.status_counter
{
	height: 367px;
	background-color: #fff;
	text-align: center;
	
}

.icon-pie-chart
{
	font-size: 50px;
}

.status_display
{
	position: relative;
	height:100%;
	margin-top: -14px;
}

@media(max-width:900px)
{
	.status_counter_metric
	{
         font-size:50px !important;
    }
}

.status_counter_metric
{
	font-size: 2.5vw;
    color: #5f5f5f;
    font-weight: 600;
    text-transform: uppercase;
	margin-top: 47px;
}

.status_counter_title
{
	font-size: 22px; 
    color: #5f5f5f;
    font-weight: 600;
    text-transform: uppercase;
	text-align: left;
	padding: 0 21px;
	position: absolute;
	bottom: 0px;
	
}

.status_counter_icon
{	margin-top: 13px;
	color: #cbd4e0;
	text-align: left;
	padding:13px 13px 25px 13px;
}

/*********************    COMPARABLE *********************/
.head-graph{width: 85%;
    background:  #f8f8f8;
    height: 8px;
    margin: 0 auto;
    border: 1px solid  #f8f8f8;
    border-radius: 5px 5px 0 0 !important;}
	
.footer-graph{
	width: 90%;
    background:  #fafafa;
    height: 65px;
    margin: 0 auto;
    border: 5px solid #f8f8f8;
    border-radius: 0 0 5px 5px!important;
    text-align: center;
}
	
.top-graph{display: inline-block;
    width: 100%;
    height: 23px;}



.remove_comparable_box
{
    position: absolute;
    font-size: 1px;
    font-weight: 400;
    color: #ddd;
    width: 27px;
	right: 14px;
	top: 17px;
	z-index: 1;
}

.status_comparable_counter
{
	height: 240px;
    background-color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    border-radius: 10px !important;
}

.status_comparable_counter.advanced_dashboard
{
	box-shadow: 0 0 0 #000;
}

.comparable_counter
{
	height: 240px;
	background-color: #fff;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.comparable_counter.advanced_dashboard
{
	box-shadow: 0 0 0 #000;
}


.status_comparable_top
{
	z-index:1;cursor:pointer;
	border-bottom: 1px solid #e7e7e7;
	font-size: 10px;
}

.graph_icon_info{float: right;
	 border-left: 1px solid #e7e7e7;
	color: #aeaeae;
	border-radius: 0 0 0 10px !important;
	padding: 5px 10px;
    }
.graph_icon_close{float: left;
	border-right: 1px solid #e7e7e7;
    padding: 5px 6px;
	color: #b9b9b9;
	border-radius: 0 0 10px 0!important;
    }


.comparable_info{position: absolute;
	top: 1px;
	right: 28px;
	
	}
	
.status_comparable_data
{
	padding-top: 50px;
	margin-top: 20px;
}
.status_inner_comparable_number{ color:#696969;   
	-ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
	top: 115px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
	 z-index: 1;}
.status_inner_comparable_precent{
	color: #696969;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
    top: 140px;
    font-size: 13px;
    font-weight: 100;
    z-index: 1;}
.inner_comparable_text
{
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	position: absolute;
	left:50%;
	top: 100px;
	font-size: 27px;
	font-weight: 100;
}

.inner_comparable_text_comp
{
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	position: absolute;
	left:50%;
	top: 175px;
	font-size: 16px;
	font-weight: 100;
	color: #5f5f5f;
}

.inner_comparable_text_value
{
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	position: absolute;
	left: 50%;
	top: 135px;
	font-size: 30px;
	font-weight: 700;
	color: #fbe141;
}

.inner_comparable_text_value.negative
{
	color: #f93a2b !important;
}

.inner_comparable_text_value.neutral
{
	color: #fbe141 !important;
}

.inner_comparable_text_value.positive
{
	color: #48f943 !important;
}
.status_comparable_title{
    font-size: 20px;
    color: #1f1f1f;
    font-weight: 300;
    line-height: 20px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	}
.comparable_title
{
	font-size: 12px;
	text-transform: uppercase;
    color: #5f5f5f;
    font-weight: 300;
    text-align: center;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 25px;
    width: 201px;
    border-bottom: 2px solid #e8e8e8;
}

.comparable-arrow-up {
       width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 13px solid #24c364;
    position: absolute;
    bottom: 10px;
}

.comparable-arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 13px solid #ff643f;
    position: absolute;
    bottom: 10px;
}
/*********************   CHARTS *********************/
.status_loader
{
	background: url(images/AjaxLoader.gif) no-repeat center center;
	width: 100%;
	height: 100%;
}

.status_caption_desc 
{
  float: left;
  display: inline-block;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  padding: 14px 0 0 5px;
  color: #000;
}

.status_title
{
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

.status_body_pie
{
	margin-left: 20px;
	margin-right: 20px;
}


/**********************************************************/
.kpi-welcome{
	display: inline-block;
    width: 100%;
	margin: 0 0 28px 0;
}
.kpi-welcome h1,.kpi-chooser-list{padding:0;margin: 0;}

.kpi-chooser-item{
	float: left;
    list-style-type: none;
    width: 25%;
	max-width: 270px;
	display:table;
}
.kpi-chooser-item .kpi-title{
	font-size: 20px;
    font-weight: bold;
    margin: auto;
    padding-top: 10px;
    width: 85%;
    text-align: center;
    color: #2c2d2d;
    height: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.kpi-text-box{height: 90px;}
.kpi-chooser-item .kpi-body{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
	font-size: 14px;
    margin: auto;
    width: 90%;
    text-align: center;
    color: #636363;
	
}
.kpi-chooser-item .kpi-body-descr{
	height: 320px;
    color: #636363;
    margin-top: 20px;
    font-size: 14px;
    width: 90%;
    margin: 20px auto;
    display: inline-block;
	cursor:pointer;
}

@-moz-document url-prefix() { 
	.kpi-chooser-item .kpi-body-descr{height: 322px;}
}

.kpi-chooser-item .kpi-button,.inisight-action .kpi-button{
	font-size: 18px;
    border: none;
    border-radius: 10px !important;
    width: 90%;
    height: 40px;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #6ca3ba;
	margin-bottom: 10px;
}
.kpi-chooser-item .kpi-button-green{
	font-size: 18px;
    border: none;
    border-radius: 10px !important;
    width: 90%;
    height: 40px;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
	margin-bottom: 10px;
    background:  #39cc17;
	
}

.kpi-chooser-item .kpi-container{
	margin: 13px 17px;
   /*  min-width: 200px;
	height: 420px; */
	/* border: 1px solid #b7b7b7; */
	position: relative;
}
.kpi-chooser-item .kpi-image{
    display: block;
    margin-left: auto;
    margin-right: auto;cursor:pointer;
}
.kpi-chooser-item .kpi-description{
	font-size: 13px;
	color: #ccc;
	margin-left: 5px;
}

.kpi-welcome h1
{
	font-size: 28px;
    color: #41B7E9;
}

.kpi-welcome span
{
	font-size: 15px;
    color: #797979;
}

.kpi-head{
	background-color: #ffee8c;
    height: 40px;
    text-align: center;
    color: #636363;
    border-top-left-radius: 15px !important;
	}
	
.kpi-head-label{
	margin: 10px 0 0 15px;
    color: #636363;
    text-transform: uppercase;
    font-weight: bold;
	}	
.kpi-head-icon{
	cursor:pointer;
	float: right;
    border-left: 1px solid #d2d2d2;
    color: #636363;
    height: 100%;
    text-align: center;
    width: 40px;
    padding-top: 10px;
	}	
.kpi-head-icon-green{
	cursor:pointer;
	float: right;
    color: #FFFFFF;
    height: 100%;
    text-align: center;
    width: 40px;
    padding-top: 10px;
	background-color: #39cc17;
	
	}	
	
.kpi-top-triangle{
    background: #3c3c3c;
    position: relative;
    width: 20px;
    height: 10px;
   }
.kpi-top-triangle::after {
    content: '';
    position: absolute;
    right: -14px;
    top: 0px;
    border: 7px solid transparent;
    border-top: 9px solid #3c3c3c;
    border-right: 6px solid #3c3c3c;
   }
   
@-moz-document url-prefix() { 
	.kpi-top-triangle::after {
		top: 12px;
	}
}
   
.kpi-body-box{
	    border: 1px solid #f2f2f2;
    width: calc(100% - 14px);
    float: right;
    border-top: 14px solid #f8f8f8;
    background-color: #fcfcfc;
	text-align: center;
	border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
	
/* animate fadein  */
.logEntry.ng-enter 
      {
          -webkit-transition: 1s;
          transition: 1s;
          opacity:0;
      }
      .logEntry.ng-enter-active 
      {
          opacity:1;
      }
 
 
      .logEntry.ng-leave 
      {
          -webkit-transition: 1s;
          transition: 2s;
      }
      .logEntry.ng-leave-active 
      {
          opacity:0;
      }
	  
	  .status_chart{
    height: 205px;}
.status_chart_table{height: 193px;}
.icon-hover:hover{font-size:18px;}

.dashboard-graph-plus{
	padding: 6px 16px;
    color: #FFFFFF;
    background-color: #41B7E9;
    position: fixed;
    top: 225px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-size: 27px;
    border-radius: 25px !important;
    opacity: 0.8;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.dashboard-graph-plus:hover{opacity:1}

.status-graph-plus{
	padding: 10px 13px;float: right;margin-right: 30px;
	background-color:#95c5d9;
	border:5px solid  #f1f1f1;
	border-radius:50% !important;
	color:#FFFFFF;
	cursor:pointer;
	}	
	
	.widget-arrow-down{float: right;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 5px;}
	.widget-arrow-down:hover{font-size: 20px;}
	.widget-box-border{
	border: 1px solid #FFF;
    padding: 10px;
    width: 278px;
    display: inline-block;
    height: 310px;
    border-radius: 10px !important;
    margin-right: 10px;}
	
/* graph comparable counter */	
.comparable_flap 
{
	background: #f7f7f7;
    width: 50%;
    height: 50%;
	color: #636363;
	font-size: 20px;
    line-height: 28px;
    padding-top: 5px;
    font-weight: bold;
    float: right;
}

#prediction{width: 100%;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    margin-bottom: 20px;}
#prediction .title{font-size: 28px;    margin: 10px;
    color: #41B7E9;}
#prediction .prediction-ul{list-style: none;padding: 0;position: relative;
    top: -30px;}
#prediction .prediction-ul li{display: inline-block;margin-right: 5px;}
#prediction .prediction-ul .first,#prediction .prediction-ul .last{width:170px}
#prediction .prediction-ul .middle{width:150px}
#prediction .prediction-ul .first .icon{width: 78px;
    height: 78px;
    border: 5px solid #FFF;
    border-radius: 50%;
    position: relative;
    left: 45px;
    top: 33px;
    color: #ffffff;}
#prediction .prediction-ul .first .icon label{font-size: 14px;
    font-weight: bold;
    margin-top: 23px;}
#prediction .prediction-ul .first .body .head{height: 43px;
    background-color: #49555b;border-top-left-radius: 10px;
    text-align: center;}
#prediction .prediction-ul .first .body .foot,#prediction .prediction-ul .middle .body .foot,#prediction .prediction-ul .last .body .foot{border: 1px solid #999;
    padding: 7px 10px;
    height: 48px;}
#prediction .prediction-ul .first .body .foot{border-bottom-left-radius: 10px;}
#prediction .prediction-ul .last .body .foot{border-bottom-right-radius: 10px;}
#prediction .prediction-ul .first .body .foot .arrow,#prediction .prediction-ul .middle .body .head .arrow{float:left;}
#prediction .prediction-ul .first .body .foot .inform,#prediction .prediction-ul .middle .body .head .inform{float:right;}
#prediction .prediction-ul .first .body .foot label,#prediction .prediction-ul .middle .body .foot label,#prediction .prediction-ul .last .body .foot label{margin-top: 5px;
    color: #49555b;
    font-weight: bold;
    font-size: 18px;}
#prediction .prediction-ul .middle .icon{ width: 64px;
    height: 64px;
    border: 5px solid #FFFFFF;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(44deg);
    color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    left: 44px;
    top: 23px;
    z-index: 1;
	}
#prediction .prediction-ul .middle .icon label{
		-ms-transform: rotate(-44deg); /* IE 9 */
		-webkit-transform: rotate(-44deg); /* Safari */
		transform: rotate(-44deg);
   
    font-size: 14px;
    font-weight: bold;
    margin-top: 17px;
}
#prediction .prediction-ul .middle .body{position: relative;}
#prediction .prediction-ul .middle .body .head{    background-color: #49555b;
    border-top: 7px solid #6d777c;
    padding: 3px 14px;
    height: 43px;}
#prediction .prediction-ul .last .icon{
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    width: 160px;
    margin: 0 auto;
    position: relative;
    top: 33px;}
#prediction .prediction-ul .last .body .head{    height: 43px;
    background-color: #49555b;
    border-top-right-radius: 10px;}

















