
<div ng-if="activeTab.dashboardActive && activeTab.dashboardActive.Graphs" class="status-page" >

 
	<div id="data_filter_panel" class="pull-right page-toolbar page-content-top" style="margin-right: 16px;">
		<div data-toggle="modal" data-target="#modal_country_select" ng-click="simulateRangeClick();" class="filter-icon" >
			<i class="fa fa-filter" aria-hidden="true"></i>
		</div>
		
		<span id="date_range_toolbox" > <!--  ng-if="!dateStatus.singleDate" -->
			<div calendar id="dashboard-report-range" class="tooltips btn btn-fit-height grey-salt" data-placement="top"> 
				<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
			</div>
		</span>
	</div>
	
	<div style="display: inline-block;    width: 100%;    margin-top: 30px;" >
		
		<div class="col-md-12" style="text-align: center;" >
			<div style="margin: 0 auto;" >
					<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
						<span ng-if="graphs.GraphType == 'CounterChart' && graphs.Visible == '1'">
							<span ng-include src="graphs.tplSrc"  id="{{graphs.GraphType}}"></span>
						</span>
					</span>
				
					<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
						<span ng-if="graphs.GraphType != 'MultichoiceTrackingChart' && graphs.GraphType != 'CounterChart' && graphs.GraphType != 'SparkLine' && graphs.GraphType != 'ComparableCounter'  && graphs.Visible == '1'">
							<span ng-include src="graphs.tplSrc"  id="{{graphs.GraphType}}"></span>
						</span>
					</span>
					
				
					<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
						<span ng-if="graphs.GraphType == 'ComparableCounter' && graphs.Visible == '1'">
							<span ng-include src="graphs.tplSrc"  id="{{graphs.GraphType}}"></span>
						</span>
					</span>
					
				
					<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
						<span ng-if="graphs.GraphType == 'MultichoiceTrackingChart' && MultiChTrcChart  && graphs.Visible == '1'">
							<span ng-include src="'Templates/Dashboard/GraphsTpl/MultichoiceTrackingChart.html'"  id="{{graphs.GraphType}}"></span>
						</span>
					</span>
				
				
				
					<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
						<span ng-if="graphs.GraphType == 'SparkLine' && graphs.Visible == '1'">
							<span ng-include src="'Templates/Dashboard/GraphsTpl/SparkLine.html'"  id="{{graphs.GraphType}}"></span>
						</span>
					</span>
			
			</div>
		</div>
	</div>	

<!-- <div class="modal fade" id="modal_country_select" style="overflow-y: hidden ! important;" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Filter</h4>
				</div>
				<div class="modal-body permission_box" id="modal_country_select_and_apply_div">
					<div class="portlet-body flip-scroll">
						
						<div class="filterAge" style="margin-bottom: 10px;" >
					
					<label style=" width: 150px; font-size: 17px;" >Age</label>
							<span>min </span><input type="number" ng-model="filter.age.min" class="filterInput" />
							<span>max </span><input type="number" ng-model="filter.age.max" class="filterInput" />
						</div>
						<div class="filterValue" style="margin-bottom: 10px;" >
							<label style=" width: 150px; font-size: 17px;" >Value</label>
							<span>min </span><input type="number" ng-model="filter.val.min" class="filterInput" />
							<span>max </span><input type="number" ng-model="filter.val.max" class="filterInput" />
						</div>
						<div class="filterGender" style="position:relative;" >
							<label style=" width: 150px; font-size: 17px;" >Gender 555</label>
					
						</div>
						
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button class="btn gray" data-dismiss="modal" ng-click="clearCountries();">Clear (no filtering)</button>
							<button data-dismiss="modal" class="btn green" ng-click="commitCountries();">Apply & Refresh</button>
							<button data-dismiss="modal" class="btn gray" >Dismiss</button>
						</div>
								
					</div>
				</div>
			</div>
			
		</div>
	</div> -->
	
</div>
