
<div class="portlet box">
	<div style="margin-top: 37px; margin-bottom: 37px;" class="kpi-welcome">
		<h1 class="">Growth Insights & Suggestions</h1>
	</div>
	<!-- <svg class="hidden">
			<defs>
				<path id="tabshape" d="M80,60C34,53.5,64.417,0,0,0v60H80z"/>
			</defs>
		</svg> -->
		
		<div class="portlet-body" style="padding-top: 40px;">
		<div style="width: 100%;margin-left: auto;margin-right: auto;">
			<div class="panel-group accordion" id="chart_graphOwnerType_globalItemID_ID">
				<div class="panel panel-default" style="border: none;">
				
				
				<ul class="nav-tabs-insight">
					<li class="tab-insight active tutorial_insights_new">
						<a href="#C" data-toggle="tab" class="tab-blue" >
							<span>
								<img src="Images/Dashboard/insight-new-icon.png"  style="margin-right: 15px;" />
								New
							</span>
						</a>
					</li>
					<li class="tab-insight tutorial_insights_done">
						<a href="#D" data-toggle="tab" class="tab-green" >
							<span>
								<img src="Images/Dashboard/insight-done-icon.png" style="margin-right: 15px;" />
								Done
							</span>
						</a>
					</li>
				</ul>
				<div class="tab-content tab-box" >
				
			<div class="tab-pane fade active in" id="C" style="text-align: center;" >
				<span ng-repeat="(key,val) in activeTab.dashboardActive.insightsObj" ng-if="val.done == '0'" >
					<div class="mobileInsightWrapDiv" style="width: 100%;">
						<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
							<div class="mobileInsightDiv" style="background-color: #f7f7f7;height:86px;" >
								<div class="mobileInsightBox" style="float:left;width: 130px;background-color: #F1F1F1;height: 100%;" >
									<div class="inisight-info-box" ><div class="inisight-info"><i class="fa fa-info inisight-info-icon" aria-hidden="true"></i></div></div>
									<div class="outcome_text" ><p>{{val.outcome_text}}</p></div>	
								</div>
								<div class="inisight-triangle" ></div>
								<div style="float: left;  width: calc(100% - 550px);" >
									<p class="inisight-tilte" style="margin-top: 10px;" >{{val.outcome_text}}</p><br />
									<p class="inisight-text" >{{val.short_text.text}}</p>
								</div>
								<div style="float: right;width: 80px;background:#f1f1f1;height: 100%;" class="arrow55" >
									<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="parentId" id="headingID" onclick="" href="#collapse_parentIdClean_insightData_{{val.id}}"> 
                                        <i class="fa fa-angle-double-down mobileDoubleDownArrows" aria-hidden="true"></i>
                                        <img class="mobileMore-icon" src="\Images\icons\more-icon.png" style="display: none;">
                                        <!--<img class="mobileMore-icon" src="\Images\icons\up-arrow.png" style="display: none;">-->
									</a>	
								</div>
								<div style="float: right;    margin-top: 24px;    margin-right: 66px;width: 215px;" class="inisight-action" >
									<div ng-if="val.feedback == '0' " class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'1')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
										<i class="insight-heart-icon feedback0" aria-hidden="true"></i>
									</div>
									<div ng-if="val.feedback == '1'" class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'0')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
										<i class="insight-heart-icon feedback1" aria-hidden="true"></i>
									</div>
									<a ng-if="val.action=='Audience'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onCreateCohortClick(val.id, val.short_text.text);">{{val.action_call}}</a>
									<a ng-if="val.action=='Interact'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onInteractClick(val.id, val.short_text.text);">{{val.action_call}}</a>
								</div>
							</div>
							
						</div>
						<div id="collapse_parentIdClean_insightData_{{val.id}}" class="panel-collapse collapse" style="margin-top: -5px;height: 80px !important;" >
							<div class="inisight-descr-box" ></div>
							<div class="panel-body yellowTopBorder" style="border-top: none;padding: 0px;" >
                                <div class="mobileInsightDescriptionHeart">
                                    <p class="mobileInsight-text" style="display: none;">{{val.short_text.text}}</p>
                                    <div>
                                        <p style="margin: 20px 70px 0 168px;text-align: left;" class="mobileInsightDescription" >{{val.long_text}}</p>
                                    </div>
                                    <div style="display: none;" class="mobileInisight-heart">
                                        <div ng-if="val.feedback == '0' " class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'1')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
                                            <i class="insight-heart-icon feedback0" aria-hidden="true"></i>
                                        </div>
                                        <div ng-if="val.feedback == '1'" class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'0')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
                                            <i class="insight-heart-icon feedback1" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none;" class="mobileInisight-action">
                                    <a ng-if="val.action=='Audience'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onCreateCohortClick(val.id, val.short_text.text);">{{val.action_call}}</a>
                                    <a ng-if="val.action=='Interact'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onInteractClick(val.id, val.short_text.text);">{{val.action_call}}</a>
                                </div>
							</div>
						</div>
						
					</div>
					<!-- <div id="collapse_parentIdClean_insightData_6" class="panel-collapse collapse" >
						<div class="panel-body" style="border-top: none;">
							<p style="margin-left:153px; text-align: left;" class="ng-binding">Yesterday's most selling product was Mesh Trainers. Last week it was Cotton Jumper and last month it was Disco Pants.</p>
						</div>
					</div> -->
				</span>
			</div>	
				
			<div class="tab-pane fade" id="D" style="text-align: center;" >	
				<span ng-repeat="(key,val) in activeTab.dashboardActive.insightsObj" ng-if="val.done == '1'" >
					<div class="mobileInsightWrapDiv" style="width: 100%;">
						<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
							<div class="mobileInsightDiv" style="background-color: #f7f7f7;height:86px;" >
								<div class="mobileInsightBox" style="float:left;width: 130px;background-color: #F1F1F1;height: 100%;" >
									<div class="inisight-info-box" ><div class="inisight-info"><i class="fa fa-info inisight-info-icon" aria-hidden="true"></i></div></div>
									<div class="outcome_text" ><p>{{val.outcome_text}}</p></div>
								</div>
								<div class="inisight-triangle" ></div>
								<div style="float: left;  width: calc(100% - 550px);" >
									<p class="inisight-tilte" style="margin-top: 10px;" >{{val.outcome_text}}</p><br />
									<p class="inisight-text" >{{val.short_text.text}}</p>
								</div>
								<div style="float: right;width: 80px;background:#f1f1f1;height: 100%;" class="arrow55" >
									<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="parentId" id="headingID" onclick="" href="#collapse_parentIdClean_insightData_{{val.id}}">
                                        <i class="fa fa-angle-double-down mobileDoubleDownArrows" aria-hidden="true"></i>
                                        <img class="mobileMore-icon" src="\Images\icons\more-icon.png" style="display: none;">
                                        <!--<img class="mobileMore-icon" src="\Images\icons\up-arrow.png" style="display: none;">-->
									</a>
								</div>
								<div style="float: right;    margin-top: 24px;    margin-right: 66px;width: 215px;" class="inisight-action" >
									<div ng-if="val.feedback == '0' " class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'1')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
										<i class="insight-heart-icon feedback0" aria-hidden="true"></i>
									</div>
									<div ng-if="val.feedback == '1'" class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'0')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
										<i class="insight-heart-icon feedback1" aria-hidden="true"></i>
									</div>
									<a ng-if="val.action=='Audience'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onCreateCohortClick(val.id, val.short_text.text);">{{val.action_call}}</a>
									<a ng-if="val.action=='Interact'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onInteractClick(val.id, val.short_text.text);">{{val.action_call}}</a>
								</div>
							</div>
							
						</div>
						<div id="collapse_parentIdClean_insightData_{{val.id}}" class="panel-collapse collapse" style="margin-top: -5px;height: 80px !important;" >
							<div class="inisight-descr-box" ></div>
							<div class="panel-body greenTopBorder" style="border-top: none;padding: 0px;" >
                                <div class="mobileInsightDescriptionHeart">
                                    <p class="mobileInsight-text" style="display: none;">{{val.short_text.text}}</p>
                                    <div>
                                        <p style="margin: 20px 70px 0 168px;text-align: left;" class="mobileInsightDescription" >{{val.long_text}}</p>
                                    </div>
                                    <div style="display: none;" class="mobileInisight-heart">
                                        <div ng-if="val.feedback == '0' " class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'1')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
                                            <i class="insight-heart-icon feedback0" aria-hidden="true"></i>
                                        </div>
                                        <div ng-if="val.feedback == '1'" class="insight-heart-box" ng-click="SetInsightFeedbackFun(val.id,'0')" style="cursor:pointer;display: inline-block;margin-right: 20px;float: left;width: 45px;" >
                                            <i class="insight-heart-icon feedback1" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none;" class="mobileInisight-action">
                                    <a ng-if="val.action=='Audience'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onCreateCohortClick(val.id, val.short_text.text);">{{val.action_call}}</a>
                                    <a ng-if="val.action=='Interact'" class="kpi-button" style="width: 150px;display: inline-block;padding-top: 8px;" ng-click="onInteractClick(val.id, val.short_text.text);">{{val.action_call}}</a>
                                </div>
							</div>
						</div>
						
					</div>
						<!-- <div id="collapse_parentIdClean_insightData_7" class="panel-collapse collapse" style="height: 0px;">
							<div class="panel-body" style="border-top: none;">
								<p style="margin-left:72px; margin-right:60px;" class="ng-binding">Yesterday's least selling product was Panel Boots. Last week it was Midi Dress and last month it was Button Top.</p>
							</div>
						</div> -->
					</span>
				</div>

					</div>
				</div>
			</div>
		</div>
	</div>	
</div>				
				