
<div class="row page-content-top" style="padding-top:30px" >
	<div class="settings_data tab-content">
		<div class="col-md-12">
		
			<div class="portlet box blue"><div class="portlet-title" style="background-color: #41B7E9; padding: 0px;" >
				<div class="caption" style="padding-left: 10px;color: #ffffff;" > <i class="fa fa-users" style="font-size:25px;margin: 0 6px 0 0;" ></i> Companies </div>
			</div>
			<div class="portlet-body"><table class="table table-striped table-bordered table-hover" id="540deeb0-b833-4eef-ad22-b418378241dfreg"><thead><tr><th> Company Name </th> <th> Permission </th><th> Company Name </th> <th> Permission </th></tr> </thead>
			<tbody id="companies_permissions">
				
			</tbody>
			</table></div></div>
			
			<div class="portlet box blue"><div class="portlet-title" style="background-color: #41B7E9; padding: 0px;" >
				<div class="caption" style="padding-left: 10px;color: #ffffff;" > <i class="fa fa-gamepad fa-2x" style="font-size:25px;margin: 0 6px 0 0;" ></i> Applications </div>
			</div>
			<div class="portlet-body"><table class="table table-striped table-bordered table-hover" id="540deeb0-b833-4eef-ad22-b418378241dfreg"><thead><tr><th> Application Name </th> <th> Permission </th><th> Application Name </th> <th> Permission </th></tr> </thead>
			<tbody id="games_permissions">
				
			</tbody>
			</table></div></div>

		</div>
	</div>
</div>