<div ng-if="activeTab.dashboardActive && activeTab.dashboardActive.Graphs" class="status-page" >
	<div>
		<div class="kpi-welcome" id="kpi-welcome-div" >
			<h1 ng-if="statusWelcomeTitle" class="tutorial_test" >{{statusWelcomeTitle}}</h1>
			<span>Here are the top recommendations for you today</span>
		</div>

        <!-- check for Rom
        <div ng-controller="exampleController as ctrl">
            <button ng-click="ctrl.myFunction()">click me</button>
            <button onclick="myFunction()">click me</button>
        </div>

        <img src="http://i.telegraph.co.uk/multimedia/archive/02748/nancufil_2748707a.jpg">
        <img src="http://2.bp.blogspot.com/-Q5H2n-kc1YM/VrOZLcMH1zI/AAAAAAAABAo/3lSK6KopXGA/s1600/1-732943.jpg">
        <img src="http://img.fifa.com/mm/photo/tournament/competition/01/55/93/37/1559337_small.jpg">
        -->
		<div id="prediction" ng-if="OmniChartData.ROI" >
			<h1 class="title" >Prediction</h1>
			<ul class="prediction-ul" >
				<li class="first" >
					<div class="icon" style="background-color:#24c364;" ng-if="OmniChartData.ROI[0].value > 0" ><label>+{{OmniChartData.ROI[0].value}}%</label></div>
					<div class="icon" style="background-color:#41b7e9;" ng-if="OmniChartData.ROI[0].value == 0" ><label>0%</label></div>
					<div class="icon" style="background-color:#ff4800;" ng-if="OmniChartData.ROI[0].value < 0" ><label>{{OmniChartData.ROI[0].value}}%</label></div>
					<div class="body" >
						<div class="head" ><img src="Images/Graph/half-round.png" /></div>
						<div class="foot" >
							<img class="arrow" ng-if="OmniChartData.ROI[0].value > 0" src="Images/Graph/icon-arrow-up-1.png" />
							<img class="arrow" ng-if="OmniChartData.ROI[0].value == 0" src="Images/Graph/icon-arrow-same-1.png" />
							<img class="arrow" ng-if="OmniChartData.ROI[0].value < 0" src="Images/Graph/icon-arrow-down-1.png" />
							
							<label>{{OmniChartData.ROI[0].label}}</label>
							<img class="inform" src="Images/Graph/icon-info-1.png" tooltip="{{OmniChartData.ROI[0].desc}}" tooltip-position="up" />
						</div>
					</div>
				</li>
				<li class="middle" ng-repeat="(key,val) in OmniChartData.List" >
					<div class="icon" style="background-color:#24c364;" ng-if="val.value > 0" ><label>+{{val.value}}%</label></div>
					<div class="icon" style="background-color:#41b7e9;" ng-if="val.value == 0" ><label>0%</label></div>
					<div class="icon" style="background-color:#ff4800;" ng-if="val.value < 0" ><label>{{val.value}}%</label></div>
					<div class="body" >
						<div class="head" >
							<img class="arrow" ng-if="val.value > 0" src="Images/Graph/icon-arrow-up-2.png" />
							<img class="arrow" ng-if="val.value == 0" src="Images/Graph/icon-arrow-same-2.png" />
							<img class="arrow" ng-if="val.value < 0" src="Images/Graph/icon-arrow-down-2.png" />
							
							<img class="inform" src="Images/Graph/icon-info-2.png" tooltip="{{val.desc}}" tooltip-position="down" />
						</div>
						<div class="foot" >
							<label>{{val.label}}</label>
						</div>
					</div>
				</li>
				<li class="last" >
					<div class="icon" style="background-color:#24c364;" ng-if="OmniChartData.Circs[0].value > 0" ><img src="Images/Graph/icon-weather-up.png" /></div>
					<div class="icon" style="background-color:#41b7e9;" ng-if="OmniChartData.Circs[0].value == 0" ><img src="Images/Graph/icon-weather-same.png" /></div>
					<div class="icon" style="background-color:#ff4800;" ng-if="OmniChartData.Circs[0].value < 0" ><img src="Images/Graph/icon-weather-down.png" /></div>
					
					<div class="body" >
						<div class="head" ></div>
						<div class="foot" >
							<label>{{OmniChartData.Circs[0].label}}</label>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="col-md-12 tutorial_status_cards" style="text-align: center;" >
			<div style="margin: 0 auto;    display: inline-block;    text-align: left;width: 100%;" >
				<div ng-if="pickOfTheDayViewLoad" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 450px;"></div>
				<ul class="kpi-chooser-list" ng-if="pickOfTheDayView.length > 0">
					<li class="kpi-chooser-item logEntry" style="width: 25%;" ng-repeat="item in pickOfTheDayView" ng-if="$index < 4" >
						<div class="kpi-container" >
							<span ng-if="!item.descrShow" >
							<span ng-if="item.done == 0">
								<div class="kpi-head" >
									<label class="kpi-head-label" >{{item.dashboard_category}}</label>
									<div class="kpi-head-icon" ng-click="descrShowFun($index,true);" >
										<i class="fa fa-info icon-hover" aria-hidden="true"></i>
									</div>
								</div>
								
								<span class="kpi-top-triangle" ></span>
								<div class="kpi-body-box" >
									<div style="height:155px" >
										<img ng-if="item.isgood == 0" ng-src="../Images/Status/isgood0/{{item.dashboard_category}}.png"  ng-click="descrShowFun($index,true);" class="kpi-image" />
										<img ng-if="item.isgood == 1" ng-src="../Images/Status/isgood1/{{item.dashboard_category}}.png"  ng-click="descrShowFun($index,true);" class="kpi-image" />
									</div>
									<span class="kpi-title">{{item.outcome_text}}</span>
									<div class="kpi-text-box" ><span class="kpi-body">{{item.short_text.text}}</span></div>
									<button ng-if="item.action == 'Audience'" ng-click="onCreateCohortClick(item.id, item.short_text.text);" class="kpi-button">{{item.action_call}}</button>
									<button ng-if="item.action == 'Interact'" ng-click="onInteractClick(item.id, item.short_text.text);" class="kpi-button">{{item.action_call}}</button>
									<button ng-if="item.action == 'None'" ng-click="onGotItClicked(item.id);" class="kpi-button">{{item.action_call}}</button>
									<a class="outline-none" ng-if="item.action == 'EmailSupport'"  href="mailto:support@gingeegames.com" target="_blank" ><button class="kpi-button">{{item.action_call}}</button></a>
									<button ng-if="item.action == 'CreateNewApp'" ng-click="setCurrentCustomerID(CCid); showNewApplication();" class="kpi-button">{{item.action_call}}</button>
									<button ng-if="item.action == 'IntegrateSDK'" ng-click="SDKinstructions('def')" class="kpi-button">{{item.action_call}}</button>
								</div>	
							</span>
							
							<span ng-if="item.done == 1">
								<div class="kpi-head" >
									<label class="kpi-head-label" >{{item.dashboard_category}}</label>
									<div class="kpi-head-icon-green" ng-click="descrShowFun($index,true);" >
										<i class="fa fa-check icon-hover" aria-hidden="true"></i>
									</div>
								</div>
								<span class="kpi-top-triangle" ></span>
								<div class="kpi-body-box" >
									<div style="height:155px" >
										<img ng-if="item.isgood == 0" ng-src="../Images/Status/isgood0/{{item.dashboard_category}}.png"  ng-click="descrShowFun($index,true);" class="kpi-image" />
										<img ng-if="item.isgood == 1" ng-src="../Images/Status/isgood1/{{item.dashboard_category}}.png"  ng-click="descrShowFun($index,true);" class="kpi-image" />
									</div>
									<span class="kpi-title">{{item.outcome_text}}</span>
									<div class="kpi-text-box" ><span class="kpi-body">{{item.short_text.text}}</span></div>
									<button ng-click="setTabFunRRR()" class="kpi-button-green">SEE REPORT</button>
								</div>	
							</span>
							
							</span>
							
							<span ng-if="item.descrShow" ng-click="descrShowFun($index,false)" >
								
								<div class="kpi-head" >
									<label class="kpi-head-label" >{{item.dashboard_category}}</label>
									<div class="kpi-head-icon" ng-click="descrShowFun($index,false);" >
										<i class="fa fa-undo icon-hover" aria-hidden="true"></i>
									</div>
								</div>
								<span class="kpi-top-triangle" ></span>
								<div class="kpi-body-box" >
									<span class="kpi-body-descr">{{item.long_text}}</span>
								</div>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >

		<span ng-if="graphs.GraphType == 'MLMagnitude' && graphs.Visible == '1'"  >
			<div class="col-md-12" style="border: 1px solid #f2f2f2;border-radius: 10px;padding: 15px;margin-bottom:20px" >
				<span id="{{graphs.ID}}" >
					<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Data" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
					<div ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.length === 0" class="chart" >
						<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
					</div>
					<span ng-if="graphs.dataGraph.chartData.ReportDataTable.Data.length > 0" >
						<div mlchart  style="margin-top: 20px;" ></div>
						<div id='container_mlchart'  style="position:relative;width: 1100px;height: 535px;" ></div>
					</span>	
				</span>
			</div>	
			
		</span>
			 
	</span> -->
	<div class= "tutorial_status_overview" style="display: inline-block;    width: 100%;    margin-top: 30px;" >
		<div class="kpi-welcome">
			<div style="    width: 50%;    float: left;" >
				<h1>Product Overview</h1>
				<span>Some other important stats you might find interesting</span>
			</div>
		
			<div data-toggle="modal" data-target="#widget-chooser-modal" class="status-graph-plus" ng-click="getVisFalse();" >
				<i class="fa fa-plus" style="font-size: 22px;" aria-hidden="true"></i>
			</div>
		</div>
		
		<div class="col-md-12" style="text-align: center;" >
		<div class="mobileStatusCanvas" style="margin: 0 auto;" >
				<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
					<span ng-if="graphs.GraphType == 'CounterChart' && graphs.Visible == '1'">
						<span ng-include src="graphs.tplSrc"  id="{{graphs.GraphType}}"></span>
					</span>
				</span>
			
				<span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
					<span ng-if="graphs.GraphType != 'MLMagnitude' && graphs.GraphType != 'OmniChart' && graphs.GraphType != 'MultichoiceTrackingChart' && graphs.GraphType != 'CounterChart' && graphs.GraphType != 'SparkLine' && graphs.GraphType != 'ComparableCounter'  && graphs.Visible == '1'">
						<span ng-include src="graphs.tplSrc"  id="{{graphs.GraphType}}"></span>
					</span>
				</span>


                <span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
                    <span ng-if="graphs.GraphType == 'ComparableCounter' && graphs.Visible == '1'">
                        <span ng-include src="graphs.tplSrc"  id="{{graphs.GraphType}}"></span>
                </span>
                </span>


                <span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
                    <span ng-if="graphs.GraphType == 'MultichoiceTrackingChart' && MultiChTrcChart  && graphs.Visible == '1'">
                        <span ng-include src="'Templates/Dashboard/GraphsTpl/MultichoiceTrackingChart.html'"  id="{{graphs.GraphType}}"pan>
                    </span>
                </span>


                <span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
                    <span ng-if="graphs.GraphType == 'SparkLine' && graphs.Visible == '1'">
                        <span ng-include src="'Templates/Dashboard/GraphsTpl/SparkLine.html'"  id="{{graphs.GraphType}}"></span>
                    </span>
                </span>

		</div>
	</div>
	</div>	
	
	
	<div class="modal fade widget-chooser-modal" id="widget-chooser-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >
		<div class="titledpane widget-chooser-pane">
			<div class="wtitlebar titlepaneTitle" >
				<span class="title" >Add Widgets</span>
				<i class="fa fa-arrow-down widget-arrow-down" aria-hidden="true" data-dismiss="modal" ></i>
			</div>
			<div class="titlepaneContent widgets-container">
				<div class="widget-chooser-list" >
				<span ng-repeat="graphs in activeTab.dashboardActive.Graphs">
					<div ng-if="graphs.Visible == '0' && graphs.GraphType != 'CounterChart' && graphs.imgSrc" class="widget-box-border" >
					<div class="widget-chooser-item" style="background-image: url({{graphs.imgSrc}});" ng-click="statusAddGraph(activeTab.dashboardActive.ID, graphs.ID);" >
						<div class="title">{{graphs.Name}}</div>
						<div class="widget-chooser-item-content">
							<div class="title">{{graphs.Name}}</div>
						</div>
					</div>
					</div>
					<div ng-if="graphs.Visible == '0' && graphs.GraphType == 'CounterChart'"  class="widget-box-border" >
					<div class="widget-chooser-item" ng-click="statusAddGraph(activeTab.dashboardActive.ID, graphs.ID);" >
						<div class="title">{{graphs.Name}}</div>
						<div class="widget-chooser-item-content">
							<div class="title">{{graphs.Name}}</div>
						</div>
						<div class="status_counter_icon">
							<i class="icon-pie-chart"></i>
						</div>
						
						<div class="status_counter_data">
							<h3 class="status_counter_metric" style="    text-align: center;    margin-top: 20px;">
								<span>1234567</span>
							</h3>
						</div>
						<div class="status_counter_title">
							<small>{{title}}</small>
						</div>
					</div>
					</div>
				</span>	
				</div>
			</div>
		</div>
	</div>
</div>

