<span ng-repeat="graph in typeFunnel" >
		<div class="col-md-6" >
			
			<div id="container_{{graph.graphOwnerType}}_{{activeTab.dashboardActive.ID}}_{{graph.ID}}" class="portlet box blue" >
				<div class="portlet-title">
					<div class="graph-text-box-name" style="text-align: left;width: 60%;float:left;padding:0;" >{{graph.Name}}</div>
					<div class="tools" ng-if="graph.dataGraph.chartData.ReportDataTable" >
					
			<span ng-if="graph.graphOwnerType != 'SystemGenerated'" >
				<a title="Delete Graph" alt="Delete Graph" ng-click="setDeleteGraph(graph.ID)" ><i style="font-size: 14px;" class="fa fa-trash dashboard_graph_icon"></i></a>
				<a href="#graph_permissions" title="Graph Permissions" alt="Delete Graph" data-toggle="modal" ng-click="loadGraphPermissions(graph.ID)" ><i class="fa fa-users dashboard_graph_icon"></i></a>	
			</span>
			<span style="float:right" >

				<a ng-if="graph.GraphType != 'SmallTable'" id="first_raw_data_btn_div" href="#show-data" title="Show raw data" alt="Show raw data" data-toggle="modal" ng-click="fillModalData(graph.ID, 'Avg. Load Time (ms) - The average amount of time it takes your pages/app to finish loading completely. ', graph.AxisX, 'Number',graph.Name,graph.Options);">
				<i class="fa fa-database dashboard_graph_icon"></i></a>			
				<a ng-click="saveGraphFun(graph)" title="Save raw data to disk" alt="Save Raw Data to Disk" ><i style="font-size: 14px;" class="fa fa-download dashboard_graph_icon"></i></a>
				<a ng-click="exportToMail(graph)" title="Export data" alt="Export data" ><i style="font-size: 14px;" class="fa fa-share-square-o  dashboard_graph_icon"></i></a>

			</span> 
						
					</div>
					
					<span ng-if="graph.GraphType == 'MultiChoiceFunnel' || graph.GraphType == 'MultiChoiceFunnel_2'" style="width: 60%;display: inline-block;" >
						<span ng-if="graph.GraphType == 'MultiChoiceFunnel'" >
							<select class="select-fulter" ng-model="multiGraph[$index]" ng-change="multiFilterFun(graph.dataGraph,multiGraph[$index],null,graph.GraphType)">
								<option ng-repeat="(key,val) in graph.dataGraph.chartData.ReportDataTable.Products" >{{val.title}}</option>	
							</select>
						</span>
						<span ng-if="graph.GraphType == 'MultiChoiceFunnel_2'" >
							<select class="select-fulter" ng-model="multiGraphMFP1[$index]" style="width: 100px;" >
								<option ng-repeat="(key,val) in graph.dataGraph.chartData.ReportDataTable.Products1" >{{val.title}}</option>	
							</select>
							<select class="select-fulter" ng-model="multiGraphMFP2[$index]" style="margin: 0 8px;width: 100px;" >
								<option ng-repeat="(key,val) in graph.dataGraph.chartData.ReportDataTable.Products2" >{{val.title}}</option>	
							</select>
							<a ng-click="multiFilterFun(graph.dataGraph,multiGraphMFP1[$index],multiGraphMFP2[$index],graph.GraphType)" ng-if="multiGraphMFP1[$index] && multiGraphMFP1[$index] != 'All' && multiGraphMFP2[$index] && multiGraphMFP2[$index] != 'All' " style="margin-top: 6px;display: inline-block;cursor: pointer;" >Get</a>
							<a ng-if="multiGraphMFPflag" ng-click="multiFilterFun(graph.dataGraph,'All','All',graph.GraphType)" style="margin: 6px 0 0 3px;display: inline-block;cursor: pointer;" >Reset</a>
						</span>
					</span>
					
				</div>
				
					
					<div class="portlet-body" >
						
						<div id="{{graph.ID}}" class="chart" slimscroll >
							<div ng-if="graph.responceStatus == -1" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
							<funnel ng-if="graph.responceStatus == 1" ></funnel>
							<div ng-if="graph.responceStatus == 0"  >
								<div style="width: 100%;height: 100%;"><label style="margin-left: 25px;color: #777;" >NO DATA</label></div>
							</div>
						</div>
					</div>
					<div class="caption_desc" ng-if="graph.Description" >{{graph.Description}}</div>
					<div class="caption_desc" ng-if="!graph.Description" >Graph</div>
									
			</div>
		</div>
	</span>	