/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


/*.page-sidebar-menu.fixed{
	position:fixed;
	top:100px;
	left:0;
}*/

.paginate_button 
{
	padding: 1px !important;
}
.form-control.input-small.input-inline
{
	border: 1px solid rgb(165, 165, 165);
	width: 200px !important;
}

.form-control.input-xsmall.input-inline
{
	border: 1px solid rgb(165, 165, 165);
}

.form-control.input-xsmall.input-inline
{
	border: 1px solid rgb(165, 165, 165);
}
.page-sidebar-menu.nav-tabs li{
	float:none;
	/*max-height: 35px;*/
	overflow: hidden;
	width:100%;
}

.chart, .pie, .bars {
	width:100%;
}
.chartPie{width:90%;margin-left: 12px;}

.platform_button {
	background-color: #76c9dc; 
	border-radius: 10px !important; 
	width: 100%; 
	text-align: left;   
	font-size: 12px;
}

.platform_container {
	display: inline-table;
	text-align: center;
    margin-bottom: 10px;
}

.platform_action {
	display: block;
	text-align: center;
	padding-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.platform_code {
    width: 450px;
    height: 80px;
    display: block;
    float: left;
    text-align: center;
    padding-top: 22px;
}

.single_app {
	background: #ffffff;
    width: 218px;
    height: 245px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
}

.single_app .icon_holder {
	margin: 10px 0 0;
	width: 144px;
	height: 144px;
	border-radius: 15px !important;
	border: 1px solid rgb(237, 237, 238);
	overflow: hidden;
	margin-left: 35px;
}

.single_app img.icon {
	width: 144px;
	height: 144px;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.single_app img.icon:hover {
	width: 154px;
	height: 154px;
	margin: -5px;
}

.toolbar {
	text-align: left;
	padding:0 10px;
}
.single_app h3{
	margin: 10px;
}

.toolbar a {
	float:right;
	margin-top: 10px;
}

.toolbar span {
	float:right;
	margin-top: 10px;
}

.toolbar .status_icon {
	vertical-align: bottom;
	float: left;
	margin-top: 20px;
}

.bottom_line {
	border-bottom:1px solid #fff;
}


.new_app {
	position:relative;
}
.new_app a .text{
	position:absolute;
	bottom:30px;
	text-align: center;
	line-height:20px;
	width: 100%;
	color:#c8c8c8;
	font-size:24px;
}
.new_app a{
	width:100%;
	height:100%;
	display:block;
	line-height:260px;
}
.new_app a i 
{
	font-size: 90px;
	color: #c8c8c8;
}

@media (max-width: 1200px) 
{
	.app_name 
	{
		padding-top: 30px;
		font-size:25px !important;
		line-height:30px !important;
	}
	
	.icon_game a
	{
		float: none !important;
	}
}

.icon_game a {
	display:block;
	width:112px;
	height:112px;
	float: left;
	position: relative;
	float:left;
	margin-right:20px;
}

.upload_icon, .upload_text {
	width: 104px;
	margin-left:4px;
	height: 32px;
	background: #000;
	opacity: 0.5;
	position: absolute;
	bottom: 5px;
	left: 0;
	display:none;
	color: #fff;
	padding: 6px;
	font-weight: 300;
}
.upload_icon {
	display:block;
	opacity: 1;
	background: none;

}

.icon_game a:hover > .upload_text {
	display:block;
}
.icon_game a:hover > .upload_icon {
	display:none;
}


.settings_data h1 {
	margin:0;
	font-size: 30px;
	line-height:112px;
}


.error_text {
	color:#ff0000;
}


.loading-page {
	height: 100%;
	width: 100%;
	z-index: 1002;
	background: #41B7E9;
	position: fixed;
	top: 0;
	text-align: center;
	font-size:150px;
	color:#fff;
}
.loading-page i {
	font-size:80px;
}

.loading-page.hide{
	display:none;
}

span.alredy { 
	color:#a94442;
	display:none;
}
.new_users .form-group {
	float:left;
	width:200px;
}
.new_users .input-icon {
	float:left;
	width:200px;
}

.game_list img {
	width:auto;
	height:15px;
	margin:0 5px;
}
th.numeric, td.numeric {
	width: 50px;
	text-align:center;
}

.tutorialLink
{
	color: #06789e !important;
}
.tutorialLink:hover
{
	color: #000000 !important;
}

.popover-content {
    margin: 22px 32px;
}
.popover
{
	z-index: 12000 !important;
	border-radius: 6px !important;
	border: 0px solid #ffffff !important;
	max-width: 620px !important;
	min-width: 320px !important;
	font-size: 16px;
}

.popover-title {

    text-align: center;
    color: #ffffff !important;
    font-weight: 500 !important;
    padding: 12px 14px;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    background-color: #41B7E9;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0 !important; 
	-webkit-border-radius: 6px !important; 
}

.popover .popover-title {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px 5px 0 0 !important;
    margin: 0 !important;
}

.tour-backdrop {
    
	opacity: .4 !important;

}

.btn-default:hover, .btn-default:focus {
    background-color: #e3e3e3 !important;
	color:#ffffff !important;	
}

.btn-default:active {
	padding: 4px 10px 7px 10px !important;
	color:#ffffff !important;	
}


.popover-navigation [data-role="end"] { 
background-color: #41B7E9 !important;
color:#ffffff !important;	

}
/*
.popover>.arrow {

	top: 0px !important;
}*/
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child)
{
	border-top-left-radius: 0 !important;
	
}
/*.floating_plus_red
{
	position: absolute !important;
	
}*/
/*
.input-iconFirstTutorial {
    
	border: 1px solid #06789e!important;
}
*/

.new-icon{
    background: url(/../Images/top.svg) no-repeat;
    float:left;
    width: 22px;height: 22px;
}
.new-icon-user{
	
    background-position: 100% 0;
}
.new-icon-notification{
	
    background-position: 48% 0;
}
.new-icon-learn{
	
    background-position: 0 0;
}

.new-icon-side{
    background: url(/../Images/main-menu.png) no-repeat;
    width: 55px;
    height: 60px;
    display: block;
    margin: 20px auto 5px;
}

.mobile-new-icon-side{
    background: url(/../Images/icons/mobile-main-menu.png) no-repeat;
    width: 42px;
    height: 46px;
    display: inline-block;
}

.engagement-center{background-position: 0% 0%;}
.new-fa-tools{background-position: 17% 0%;}
.advanced{background-position: 17% 0%;}
.new-fa-home{background-position: 33% 0%;}
.new-fa-credit-card{background-position: 49.5% 0%;}
.new-fa-money{background-position: 83% 0%;}
.new-fa-users{background-position: 67% 0%;}
.new-fa-wrench{background-position: 100% 0%;}

.mobile-engagement-center{background-position: -2% 0%;}
.mobile-icon-audiences{background-position: 15% 0%;}
.mobile-new-fa-tools{background-position: 32% 0%;}
.mobile-advanced{background-position: 17% 0%;}
.mobile-new-fa-home{background-position: 32% 0%;}
.mobile-new-fa-credit-card{background-position: 48.5% 0%;}
.mobile-new-fa-money{background-position: 66% 0%;}
.mobile-new-fa-users{background-position: 81% 0%;}
.mobile-new-fa-wrench{background-position: 98% 0%;}


.activeMenu{display:none;
	width: 9px;
    height: 82px;
    background-color: #41B7E9;
    position: absolute;
    z-index: 2;
	}
	
	
/*               tabs          */
#dashboardView_tabs .nav-tabs {    border: none;
    margin-bottom: 35px;}
#dashboardView_tabs .nav-tabs>li{width: 50%;height: 28px;background-color: #E6E6E7;
    padding: 0;margin:0;    text-align: center;
}  
#dashboardView_tabs .nav-tabs>li>a{height: 28px;margin: 0;
    border: none;color:#49555b;
    padding: 2px 0 0 0;}
#dashboardView_tabs .nav-tabs>li>a:hover, #dashboardView_tabs .nav-tabs>li>a:focus{height: 28px;
    padding-top: 2px;    background-color: #F7F7F8;
    }
	
#dashboardView_tabs .nav-tabs>li.active>a, #dashboardView_tabs .nav-tabs>li.active>a:hover, #dashboardView_tabs .nav-tabs>li.active>a:focus{height: 28px;
    padding-top: 2px;    background-color: #F7F7F8;
    color: #41B7E9;}
	
.tabsBox{position: fixed;
    width: 100%;
    height: 30px;
    /* margin-bottom: 30px; */
    z-index: 4;}

	
.tab-content{max-width: 1100px;margin: 0 auto;    position: relative;
    /* margin-top: 142px; */
  }
.page-content{  top: 50px;margin-bottom: 100px;}
   /* box-shadow: 0px 0px 8px #cfcfcf; */


.loading-dashboard{
	display:none;
	height: 100%;
    width: 100%;
    z-index: 1002;
    background: #fff;
    position: fixed;
    top: 58px;
    text-align: center;
    font-size: 150px;
    color: #41B7E9;
    opacity: 0.5;}
.loading-dashboard i {
	font-size:80px;
}	
	
.faHoverClass .fa-star:before{color: #41B7E9;}
select:focus {
    outline: none;
}
.filter-icon{float: left;
    width: 32px;
    height: 32px;
    margin-right: 3px;
    text-align: center;
    color: #fafcfb;
    background-color: #575757;
    padding-top: 8px;
    border-radius: 4px;
    cursor: pointer;}
.filter-icon:hover{color: #fafcfb;
    background-color: #868686;}
.SelectItem{border: 1px solid #d2d2d2;
    color: #555;
    padding: 5px;
    
}
	.filterInput{margin-right: 20px;padding-left:3px;
    height: 40px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 4px;}
a:hover, a:active, a:focus,button:hover, button:active, button:focus{outline:0 !important;}

.uploadDiv {
    width: 100px;
    height: 27px;
    overflow: hidden;
    padding-top: 5px;
    font-weight: bold;
    font-size: 12px;
    color: #444;
    border-radius: 2px !important;
    background-color: #e8e8e8;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
	float: left;
    
}

.uploadDiv input {
    display: block !important;
    width: 100px !important;
    height: 27px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: relative;
    top: -21px;
    cursor: pointer;
    z-index: 100;
}

.permission_manager_head{width: 100%;
    display: inline-block;}
.permission_manager_select_app{width: 30%;
    margin-bottom: 20px;
    float: left;
    margin-left: 20px;}
	
.big-table{width: 100%;position: relative;left: 0%;}

/* .panel-heading {position:relative}
.panel-heading a[data-toggle="collapse"]:after {
  font-family: 'Glyphicons Halflings';
  content: "\e072"; /* "play" icon */
 /* position: absolute;
  color: #b0c5d8;
  font-size: 18px;
  line-height: 22px;
  right: 20px;
  top: calc(50% - 10px);

  /* rotate "play" icon from > (right arrow) to down arrow */
/*  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);
  transform:         rotate(-90deg);
}
.panel-heading a[data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
/*  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform:         rotate(90deg);
} */