
@media (max-width: 991px) {
	.page-header.navbar .page-logo img{
		height:40px;
	}

    .col-md-12{
        width: 100% !important;
        float: left !important;
    }

    .tabsBox {
        position: fixed;
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        z-index: 4;
        top: 68px;
    }

	.page-sidebar-wrapper {position:absolute;}
	.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu{
        /* overflow: hidden; */
        margin-top: 104px !important;
        /* padding-right: 0 !important; */
        height: 130px !important;
        position: fixed !important;
        width: 100%;
    }
}

@media (max-width: 480px) {

    .page-sidebar.navbar-collapse {
        border-top: 0 !important;
        margin: 0px !important;
        position: relative;
        display: block !important;
    }

    .page-sidebar-wrapper{
        display: none !important;
    }

    .page-header.navbar{
        height: 68px !important;
    }

    #prediction {
        width: 95% !important;
        text-align: center;
        border: 1px solid #e7e7e7;
        border-radius: 10px;
        /* margin-bottom: 26px; */
        margin: 40px auto 26px auto !important;
    }

    .status_graph_holder {
        width: 100% !important;
        min-width: 0px !important;
        display: inline-block;
        padding-right: 0%;
        margin-bottom: 20px;
        position: relative;
        max-width: 100% !important;
    }

    .status_display{
        height: 260px !important;
        width: 260px !important;
    }

    .mobileInsightDateDiv {
        margin-right: 16px;
        padding-top: 26px !important;
    }

    .mobileInsightWrapDiv {
        padding: 0px 9px 0px 9px !important;
    }

    .outcome_text p {
        display: block !important;
        color: #535353 !important;
        padding: 22px 0px 0px 13px !important;
        text-align: left !important;
        font-weight: 600 !important;
    }

    .tab-box {
        width: 100%;
        margin: 0;
        padding-top: 30px;
        border: 0 !important;
        border-top: none;
    }

    .insight-heart-box {
        background-color: #fff !important;
        margin: 0 auto !important;
    }

    .inisight-tilte {
        display: block; !important;
    }

    #dashboardView_tabs .nav-tabs>li>a{
        height: 36px;
        margin: 0;
        border: none;
        color: #cbebfa ;
        padding: 12px 0 0 0;
        background-color: #42b8ea;
        border-radius: 0 !important;
    }

    .tab-insight{
        border-radius: 0 !important;
    }

    .tab-insight.tutorial_insights_new.active{
        background: #FFFFFF !important;
        border: 1px solid #e9e9e9 !important;
        border-bottom: none !important;
        border-top: 4px solid #e1e1e1 !important;
        border-left-width: 0 !important;
    }

    .tab-insight.tutorial_insights_done.active{
        background: #FFFFFF !important;
        border: 1px solid #e9e9e9 !important;
        border-bottom: none !important;
        border-top: 4px solid #E9E9E9 !important;
        border-right-width: 0 !important;
    }


    .tab-insight a span {
        vertical-align: middle !important;
        font-size: 19px !important;
        font-weight: bold !important;
        padding: 0 !important;
    }

    .floating_plus_red{
        display: none;
    }

    .nav-tabs-insight li a{
        border-top: 0 !important;
    }

    .mobileDoubleDownArrows{
        display: none;
    }

    .mobileInsight-text{
        width: 100% !important;
        padding: 0px 0px 0px 15px !important;
        height: 100% !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        text-align: left;
        display: block !important;
    }

    .mobileMore-icon{
        display: block !important;
        margin: 25px 0px 0px 22px;
    }

    arrow55 i {
        display: none;
    }

    .outcome_text {
        width: 260px !important;
        height: 40px !important;
        margin: 0px 0px 0px 0px !important;
        position: absolute !important;
    }

    .page-header.navbar .page-logo img{
        margin: 13px 0px 0px 138px;
        display: block !important;
        position: absolute;
    }

    #dashboardView_tabs .nav-tabs>li.active>a, #dashboardView_tabs .nav-tabs>li.active>a:hover, #dashboardView_tabs .nav-tabs>li.active>a:focus{
        height: 36px;
        padding-top: 12px;
        background-color: #41B7E9;
        color: #feffff;
        font-weight: 600;
        letter-spacing: 1px !important;
        border-radius: 0 !important;
        border-bottom: 4px solid #ffe240;
    }

    .systemLogo{
        margin: 4px 0px 0px 138px !important;
    }
    .new-icon-notification{
        margin-top: 11px !important;
    }
    .appIcon img{
        display: none;
    }

    .appIcon.blue{
        display: none;
    }

    .page-header.navbar .menu-toggler.responsive-toggler{
        float: left;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > i {
        display: none;
    }

    .page-header.navbar .top-menu .navbar-nav > li.dropdown:last-child{
        display: none;
    }

    .kpi-welcome{
        text-align: center !important;
        margin: 30px 0px 0px 35px !important;
        width: 80% !important;
    }

    .kpi-welcome h1{
        color: #42b8ea !important;
        font-weight: bold !important;
    }

    .kpi-welcome span{
        color: #646464 !important;
    }

    .kpi-chooser-item{
        width: 100% !important;
        max-width: 100% !important;
    }

    .kpi-head{
        height: 50px !important;
    }

    .kpi-head-label{
        margin: 12px 0px 0px 15px !important;
        font-size: 18px !important;
    }

    .kpi-lastWeek-label{
        margin-top: 10px !important;
        padding-left: 68px;
        font-size: 14px !important;
        color: #696969 !important;
    }

    .mobileGraph{
        width: 100% !important;
        padding-left: 34px !important;
        margin-top: 30px !important;
    }

    mobileGraph2{
        margin-bottom: 40px !important;
    }

    .inisight-info-box{
        display: none;
    }

    .status_comparable_counter {
        height: 260px !important;
    }

    .compcounterAttr canvas{
        width: 260px !important;
        height: 260px !important;
    }

    .mobileStatusCanvas canvas{
        width: 214px !important;
        height: 214px !important;
        margin-left: 76px !important;
    }

    .comp_graph_holder{
        margin-bottom: 50px !important;
    }

    .comparable_title{
        position: relative !important;
        top: 25px !important;
        font-size: 17px !important;
        width: 280px !important;
        margin-left: 6px !important;
    }

    .comparable_counter.insight_panel_view{
        height: 296px !important;
        width: 296px !important;
    }

    .comparable_info{
        right: 9px !important;
    }

    .comparable_flap{
        padding-top: 7px !important;
        padding-right: 25px !important;
    }

    .tabsBox {
        position: fixed;
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        z-index: 4;
        top: 68px;
    }

    .mobileComparDsr{
        height: 260px !important;
        width: 260px !important;
    }

    .mobileGraphsDescription{
        font-size: 18px !important;
        height: 260px !important;
        width: 260px !important;
        padding-top: 79px !important;
    }

    .portlet.box > .portlet-body{
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .page-content-wrapper .page-content{
        padding: 20px 0px 10px 0px !important;
    }

    .mobileInsightBox{
        float: left;
        width: 100% !important;
        height: 100%;
    }

    .mobileOutcome_text{
        display: block !important;
    }

    .mobileInsightDiv{
        font-size: 0px !important;
        height: 66px !important;
        border: 1px solid #cdcdcd !important;
        background-color: #f1f1f1 !important;
        color: #535353 !important;
    }

    .arrow55{
        background-color: #f1f1f1 !important;
        margin-top: -60px !important;
        height: 92% !important;
    }

    .inisight-action{
        display: none;
    }

    .mobileInisight-heart{
        display: inline-block !important;
    }

    .mobileInisight-action{
        display: block !important;
    }

    .mobileInisight-action a{
        background-color: #42b8ea !important;
        width: 146px !important;
        color: #fdfffc;
        border: 1px solid #cdcdcd;
        font-size: 17px !important;
        padding: 10px 0px 10px 0px !important;
        margin: 0 auto !important;
        height: 100% !important;
        display: block !important;
    }

    .inisight-triangle{
        display: none !important;
    }

    .inisight-text{
        display: none !important;
        width: 314px !important;
        padding-left: 15px !important;
    }

    .mobileInsightTab{
        background-color: black !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .inisight-descr-box{
        display: none !important;
    }

    .mobileInsightDescription{
        margin: 0px 0px 0px 0px !important ;
        width: 100% !important;
    }

    .mobileInteractionButton{
        display: inline-block !important;
    }

    .panel-group .panel-heading+.panel-collapse>.panel-body {
        border-left: 2px solid #d2d2d2 !important;
        border-right: 2px solid #d2d2d2 !important;
        border-bottom: 2px solid #d2d2d2 !important;
        padding: 12px 10px 12px 10px !important;
        color: #545454 !important;
        margin-bottom: 20px !important;
    }

    .modal.in .modal-dialog {
        width: 340px !important;
    }

    .counter-continer {
        float: left;
        list-style-type: none;
        width: 85% !important;
        max-width: 100% !important;
        display: table;
        margin-bottom: 30px !important;
        margin-left: 20px !important;
    }

    .portlet.box.blue {
        border: 1px solid #f2f2f2;
        border-radius: 10px;
        width: 100% !important;
    }

    .select-fulter {
        float: left;
        color: #333333;
        width: 30px !important;
        border-radius: 5px;
        padding: 0px !important;
        border: 1px solid #d2d2d2;
    }

    .yellowTopBorder{
        border-top: 8px solid #ffee8c !important;
    }

    .greenTopBorder{
        border-top: 8px solid #37b76d !important;
    }

    .mobileStatusCanvas .mobileDataWrap .status_inner_comparable_number{
        top: 46% !important;
        left: 50% !important;
    }

    .mobileStatusCanvas .mobileDataWrap .status_inner_comparable_precent{
        top: 55% !important;
        left: 50% !important;
    }

    .mobileDataWrap .status_inner_comparable_number{
        top: 44% !important;
        left: 54% !important;
    }

    .mobileDataWrap .status_inner_comparable_precent{
        top: 54% !important;
        left: 55% !important;
    }

    md-backdrop.md-opaque {
        background-color: rgba(0,0,0,0.7);
        opacity: 1 !important;
    }

    #sideNavContainer{
        display: block !important;
    }

    .md-sidenav-left{
        padding-top: 68px;
        background-color: #efefef;
        position: fixed !important;
        height: 100% !important;
    }

    md-sidenav ul {
        list-style: none;
        padding-left: 0 !important;
    }

    .mobileSideMenuWrap{
        width: 100% !important;
        height: 55px !important;
    }

    .mobileSideMenuIcon{
        background-color: #e4e4e4 !important;
        height: 55px !important;
        width: 65px !important;
        display: inline-block !important;
        padding: 7px 0px 0px 13px;
        border-bottom: 1px solid #eeeeee;
    }

    .mobileSideMenuTitleDiv{
        color: #414141 !important;
        background-color: #efefef;
        display: block !important;
        width: calc(100% - 65px);
        height: 55px;
        float: right;
        border-bottom: 1px solid #e6e6e6;
    }

    .mobileSideMenuTitle{
        font-size: 22px;
        padding: 10.5px 0px 0px 20px;
    }

    .mobileAppDetailsText{
        display: inline-block;
        color: #636363;
        font-size: 16px;
    }

    .mobileLearnIconText{
        display: block;
        float: right;
        color: #636363;
        width: calc(100% - 65px);
    }

    .mobileLearnIconWrap{
        width: 100% !important;
    }

    .mobileLearnIconImg{
        display: inline-block !important;
        margin-left: 20px;
    }
   .mobileLearnIconImg > img
    {
        width: 30px;
        height: 30px;
    }

    .mobileLearnIconText{
        display: block;
        float: right;
        color: #636363;
        width: calc(100% - 65px);
    }

    .mobileLearnIconText p{
        padding-top: 7px;
    }

    .mobileAppDetailsWrap{
        background-color: #efefef !important;
        height: 55px;
    }

    .mobileAppDetailsImg{
        display: inline-block !important;
        padding-left: 11px;
        height: 55px;
        width: 65px;
        padding-top: 5px;
    }

    .mobileAppDetailsText{
        display: inline-block;
        color: #636363;
        font-size: 16px;
    }

    .mobileAppDetailsText p{
        padding-top: 7px;
    }

    .mobileAppDetailsImg > img
    {
        width: 40px;
        height: 40px;
    }

    .mobileDropdown{
        list-style-type: none;
        display: inline-block;
        width: 80%;
    }
    .mobileDropdown.open div p{color:#42b8ea}
    .mobileBorderRadiusLast{
        border-bottom-right-radius: 10px;
    }

    .mobileBorderBottomLast{
        border-bottom: 0 !important;
    }

    .mobileDropdownList{
        margin-top: 10px !important;
        background-color: #fff;
        width: calc(100% + 69px);
        left: -68px;
    }

    .mobileLogout p{
        color: red !important;
    }

}

@media (min-width: 412px)and (max-width: 412px) {
    .page-header.navbar .page-logo img{
        margin: 13px 0px 0px 138px ;
        display: block !important;
        position: absolute;
    }

    .systemLogo{
        margin: 4px 0px 0px 138px !important;
    }

    .mobileInsightWrapDiv {
        padding: 0px 9px 0px 9px !important;
    }

    .tabsBox {
        position: fixed;
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        z-index: 4;
        top: 68px;
    }

    .comparable_title {
        position: relative !important;
        top: 25px !important;
        font-size: 17px !important;
        width: 280px !important;
        margin-left: 10px !important;
    }

    .kpi-lastWeek-label {
        padding-left: 80px;
    }

    .mobileGraph{
        width: 100% !important;
        padding-left: 34px !important;
        margin-top: 30px !important;
    }

    .mobileStatusCanvas canvas {
        width: 214px !important;
        height: 214px !important;
        margin-left: 75px !important;
    }

    .mobileSideMenuTitle{
        font-size: 22px;
    }

    .mobileAppDetailsText{

        font-size: 16px;
    }

    .mobileLearnIconText{
        font-size: 16px;
    }

}
@media (max-width: 380px) {
    .page-header.navbar .page-logo img{
        margin: 13px 0px 0px 119px ;
        display: block !important;
        position: absolute;
    }

    .systemLogo{
        margin: 3px 0px 0px 119px !important;
    }

    .comparable_title {
        position: relative !important;
        top: 25px !important;
        font-size: 17px !important;
        width: 280px !important;
        margin-left: 8px;
    }

    .kpi-lastWeek-label {
        margin-top: 10px !important;
        padding-left: 72px !important;
        font-size: 14px !important;
    }

    .mobileGraph{
        width: 100% !important;
        padding-left: 14px !important;
        margin-top: 30px !important;
    }

    .inisight-text {
        width: 295px !important;
        padding-left: 15px !important;
        /*display: block !important;*/
    }

    .tabsBox {
        position: fixed;
        width: 100%;
        height: 30px;
        margin-bottom: 30px;
        z-index: 4;
        top: 68px;
    }

    .mobileStatusCanvas canvas {
        width: 214px !important;
        height: 214px !important;
        margin-left: 58px !important;
    }

    .mobileSideMenuTitle{
        font-size: 22px;
    }

    .mobileAppDetailsText{

        font-size: 16px;
    }

    .mobileLearnIconText{
        font-size: 16px;
    }

}
@media (max-width: 360px){
    .page-header.navbar .page-logo img{
        margin: 13px 0px 0px 111px;
        display: block !important;
        position: absolute;
    }

    .tabsBox {
        position: fixed;
        width: 100%;
        height: 26px;
        margin-bottom: 0px !important;
        z-index: 4;
        top: 68px;
    }

    .comparable_title {
        position: relative !important;
        top: 25px !important;
        font-size: 17px !important;
        width: 280px !important;
        margin-left: 10px !important;
    }

    #dashboardView_tabs .nav-tabs>li.active>a, #dashboardView_tabs .nav-tabs>li.active>a:hover, #dashboardView_tabs .nav-tabs>li.active>a:focus{
        height: 36px;
        padding-top: 12px;
        font-weight: 600;
        letter-spacing: 1px !important;
        border-radius: 0 !important;
    }

    #dashboardView_tabs .nav-tabs>li>a{
        height: 36px;
        margin: 0;
        border: none;
        padding: 12px 0 0 0;
        border-radius: 0 !important;
        letter-spacing: 1px !important;
    }

    .kpi-lastWeek-label {
        padding-left: 80px !important;
    }

    .systemLogo{
        margin: 4px 0px 0px 111px !important;
    }

    .mobileGraph{
        width: 100% !important;
        padding-left: 5px !important;
        margin-top: 30px !important;
    }

    .inisight-text {
        width: 265px !important;
        padding: 0px 0px 0px 15px !important;
        height: 100% !important;
        /*display: block !important;*/
    }

    .mobileInsightDiv {
        font-size: 0px !important;
        height: 66px !important;
    }

    .mobileInsightWrapDiv{
        padding: 0px 9px 0px 9px !important;
    }

    .mobileStatusCanvas canvas {
        width: 214px !important;
        height: 214px !important;
        margin-left: 48px !important;
    }

    .mobileSideMenuTitle{
        font-size: 19px;
    }

    .mobileAppDetailsText{
        font-size: 15px;
    }

    .mobileLearnIconText{
        font-size: 15px;
    }

}

@media (max-width: 320px){
    .page-header.navbar .page-logo img{
        margin: 3px 0px 0px 92px !important;
        display: block !important;
        position: absolute;
    }

    .kpi-welcome{
        margin: 30px 0px 0px 29px !important;
    }

    .kpi-lastWeek-label{
        padding-left: 36px !important;
    }

    .systemLogo{
        margin: 4px 0px 0px 111px !important;
    }

    .inisight-text {
        width: 240px !important;
        padding-left: 15px !important;
        height: 100% !important;
        /*display: block !important;*/
    }

    .mobileGraph{
        width: 100% !important;
        padding-left: 5px !important;
        margin-top: 30px !important;
    }
    .comparable_title{
        position: relative !important;
        top: 25px !important;
        font-size: 16px !important;
        width: 260px !important;
    }
    .comparable_counter.insight_panel_view{
        padding-right: 39px !important;
    }

    .mobileStatusCanvas canvas {
        width: 214px !important;
        height: 214px !important;
        margin-left: 16px !important;
    }

    .mobileSideMenuTitle{
        font-size: 17px;
    }

    .mobileAppDetailsText{

        font-size: 14px;
    }

    .mobileLearnIconText{
        font-size: 14px;
    }
}