.tooltipD {
  display: none;
  position: absolute;
 background-color: #fcfcfc;
  padding: 7px 10px;
  max-width: 250px;
  color: #49555b;
  border: 1px solid #999;
  border-radius:10px;
  z-index:3;
}

.tooltipD-show {
  display: inherit;
}

.tooltipD-arrow {
  position: absolute;
	width: 0;
	height: 0; 
}

.tooltipD-down .tooltipD-arrow {
  top: -5px;
  left: 50%;
  margin-left: -5px;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid #999;
}

.tooltipD-up .tooltipD-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  	border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #999;
}

.tooltipD-right .tooltipD-arrow {
  left: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-right: 5px solid #999;
}

.tooltipD-left .tooltipD-arrow {
  right: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #999;
}