<link href="Styles/dashboards_styles.css" type="text/css" rel="stylesheet"></link>
 <div class="page-header navbar navbar-fixed-top" style="background-color:#41B7E9" >
	<div class="page-header-inner">
	
		<div class="page-logo">
			<a href="/#/" >
				<img src="Images/cssApp/logoDefault.svg" alt="logo" class="logo-default"/>
			</a>
		</div>
		<h1 ng-if="curApp.label == 'Select App'" style="margin: 0 0 0 10%;padding: 0;width: 50%;float: left;color: #fff;text-align: center;" >Admin panel</h1>
		<h1 ng-if="curApp.label != 'Select App'" style="margin: 0 0 0 10%;padding: 0;width: 50%;float: left;color: #fff;text-align: center;" >Admin panel - {{curApp.label}}</h1>
		<div class="top-menu">
			
			<ul class="nav navbar-nav hide-on-very-small-screen" style="float: right;margin-right: 70px;" >
				<li class="dropdown dropdown-user tutorial_learn_btn" style="    padding: 0px 20px 0 4px;" >
					<a class="dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" >
						<span class="appName" title="{{activeAppLabel}}" style="font-size: 16px;" >{{curApp.label}}</span> 
						<i class="fa fa-angle-down floatLeft" style="font-size: 12px;color: #FFF;margin-top: 4px;" ></i>
					</a>
					
					<ul class="dropdown-menu pull-right" style="max-height:300px;overflow-y:auto;" >
						<li ng-repeat="(key,val) in applicationsArr" ng-click="getAppDataFun(val.Token);" > <!-- ng-if="val.GameName != activeAppLabel"  -->
							<span class="ellipsis faHoverClass" >
								<label style="cursor:pointer;float:left;width: calc(100% - 30px);" >{{val.GameName}}</label>
							</span>
						</li>
					</ul>
				</li>
				<li ng-click="addAppModalOpenFun();" ><span class="appName" title="{{activeAppLabel}}" style="font-size: 16px;margin-top: 13px;cursor:pointer;" >Create New App</span></li>
				<!-- <i class="fa fa-plus-square-o" aria-hidden="true" style="color: #FFFFFF;    margin-top: 18px;    margin-left: 5px;    font-size: 14px;" ></i> -->
			</ul>
			
			<div class="appIcon blue"  style="background: url(Images/cssApp/bgDefault.png) no-repeat;float: right;" >
				<img class="icon" title="{{}}" ng-src="{{curApp.icon}}" />
			</div>
			
		</div>
	</div>
</div>

<div class="page-content" style="padding-top: 58px;" ng-if="curApp.label != 'Select App'" >
		<!--<div id="dashboardView_tabs" >
		<div class="tabsBox">
			<ul class="nav nav-tabs">
				<li class="nav active" ><a href="#A" data-toggle="tab">Audience Stats</a></li>
				<li class="nav" ><a href="#B" data-toggle="tab">Insights</a></li>
			</ul>
		</div>
		</div>-->
	
	
	
	
	<!--***************************-->
<div class="status-page" >
	<div class="col-md-12">
		
		<ul class="nav-tabs-center">
			<li class="tab-center-admin active">
				<a href="#Admin_AudienceStats" data-toggle="tab">Audience Stats</a>
			</li>
			<li class="tab-center-admin">
				<a href="#Admin_Insights" data-toggle="tab" id="view-reports">Insights</a>
			</li>
		</ul>
		<div class="tab-content" style="width: 100%; max-width: 1300px; margin-left: auto; margin-right: auto; margin-top: 25px;">
			
			<div class="tab-pane fade in active" id="Admin_AudienceStats">
				
			<div style="width:100%;float: left;" >
				<div class="accordion" id="ranksholderAccordion" style="width: 100%;" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
						<div class="audience-accordion" >
						
						
							<div class="audience-accordion-name" >	
								<p>Ranked Audiences</p>
							</div>
							<div class="inisight-triangle" ></div>
							
							<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;" ng-click="getRanksDetailsFun()" >
								<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="#ranksholderAccordion" href="#ranksHolder"> 
									<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
								</a>
							</div>
						
							<div style="color: #a4a4a4;width: 42%;    padding-top: 34px;    float: left;    text-align: left;    text-overflow: ellipsis;display: -webkit-box;    -webkit-line-clamp: 2;    -webkit-box-orient: vertical;    overflow: hidden;" >
								<p class="audience-label" ></p>
							</div> 
							
						</div>
						
					</div>
					<div id="ranksHolder" class="panel-collapse collapse audience-details" >
					<div id="ranksAccordion" >
						<span ng-if="!ranksArr" style="display: inline-block;width: 100%;text-align: center;padding-top: 20px;" >
				<i style="font-size: 30px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			</span>
			<p ng-if="ranksArr.length == 0" >NO DATA</p>
				<div id="pierankHolder" class="panel-collapse collapse audience-details" >
					<div id="pieranksAccordion" >
					
					<div style="width: 400px;height:400px;text-align: center;padding: 20px;margin: 20px auto;">
			<canvas id="pie" class="chart chart-pie"
				chart-data="ranksdata.data" chart-labels="ranksdata.labels" chart-options="options">
			</canvas> 
		</div>	</div>	</div>	
		
		
		<div style="width:100%;float: left;" >
				<div class="accordion" id="rankspieholderAccordion" style="width: 100%;" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
						<div class="audience-accordion" >
						
						<div class="audience-accordion-name">	
								<p>Ranked Pie Chart</p>
							</div>
							<div class="inisight-triangle" ></div>
							
							<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;">
								<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="#rankspieholderAccordion" href="#rankspieHolder"> 
									<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
								</a>
							</div>
						
							<div style="color: #a4a4a4;width: 42%;    padding-top: 34px;    float: left;    text-align: left;    text-overflow: ellipsis;display: -webkit-box;    -webkit-line-clamp: 2;    -webkit-box-orient: vertical;    overflow: hidden;" >
								<p class="audience-label" ></p>
							</div> 
							
						</div>
						
					</div>
					<div id="rankspieHolder" class="panel-collapse collapse audience-details" >
						<div style="width: 400px;height:400px;text-align: center;padding: 20px;margin: 20px auto;">
			<canvas id="pie" class="chart chart-pie"
				chart-data="ranksdata.data" chart-labels="ranksdata.labels" chart-options="options">
			</canvas> 
		</div>	
			</div>


				</div>


			</div>	 
				<div class="panel-heading feeds accordion-toggle" style="width: 100%;" ng-repeat="(key,val) in ranksArr" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
						<div class="audience-accordion" >

							<div class="audience-accordion-name" >
								<p>#{{val.rank.id}}.
							{{val.rank.name}}</p>
							</div>
							<div class="inisight-triangle" ></div>
							<div title="edit name" class="audience-accordion-icon icon-25"  style="position:relative;width: 43px;float: left;" >
							<img style="cursor: pointer;float: left;"  src="Images/audience/edit.png" ng-click="val.rank.editName = !val.rank.editName;val.rank.newName = val.rank.name" />
							<div ng-if="val.rank.editName" style="position: absolute;z-index: 1;background: #FFF;top: 65px;left: -65px;border-radius: 2px;width: 213px;border: 1px solid #cdcdcd;" >

								<p style="padding:10px 10px 0 10px;color: #555555;" >
									<input type="text" ng-model="val.rank.newName" class="newName" />
								</p>
								<p ng-if="val.rank.newName == val.rank.name || val.rank.newName == ''" style="border-bottom: 1px solid #cdcdcd;padding: 10px;color: #999999;" >
									Apply
								</p>
								<p ng-if="val.rank.newName != val.rank.name && val.rank.newName != ''" ng-click="editRankNameFun(val.rank);val.rank.editName = !val.rank.editName" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >
									Apply
								</p>
								<p ng-click="val.rank.editName = !val.rank.editName;val.rank.newName = val.rank.name" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>

							</div>
						</div>
							<div class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;"  >
							<p>{{val.rank.calculation_date}}
							</p>
						</div>
						<div class="audience-accordion-icon"  style="width: 150px;padding-top: 23px;position: relative;" >
								<p>{{val.rank.size  | number : 0}}  people</p>
						</div>


						<div style="color: #a4a4a4;width: 220px;padding-top: 20px;float: left;text-align: left;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;">
						
							<p ng-if="val.rank.description.length>=99" class="audience-label" title={{val.rank.description}}>{{val.rank.description}}</p>
							<p ng-if="val.rank.description.length<99" class="audience-label">{{val.rank.description}}</p>
						</div>

						</div>

					</div>


				</div>


			</div>
			</div>


				</div>


			</div>	 
		
			<div class="create-audience-box" ng-click="addBehaviorTypeModalFun();" style="margin-top: 15px;" >
				<label style="font-size: 18px;margin: 16px;cursor:pointer;" >Add New Tendency</label><div class="create-btn" ></div>
			</div>


			<div class="create-audience-box" ng-click="createBehaviorModalFun();" style="float: left; margin-top: 15px;" >
				<label style="font-size: 18px;margin: 16px;cursor:pointer;" >Add New Behavioral</label><div class="create-btn" ></div>
			</div>
			<div style="width:100%;float: left;" >
			<span ng-if="!newBehaviorsArr" style="display: inline-block;width: 100%;text-align: center;padding-top: 20px;" >
				<i style="font-size: 30px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			</span>
			<p ng-if="newBehaviorsArr.length == 0" >NO DATA</p>

				<div class="accordion" id="behaviorTypeAccordion" style="width: 100%;" ng-repeat="typeOfBehav in newBehaviorsArr" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
			
						<div class="audience-accordion" >
						
							<div class="audience-accordion-name" >	
								<p>{{typeOfBehav.typeName}}</p>
							</div>
							<div class="inisight-triangle" ></div>
							
							<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;" ng-click="getBehaviorTypeDetailsFun()" >
								<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="#behaviorTypeAccordion" href="#behaviors_{{typeOfBehav.subtype}}"> 
									<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
								</a>
							</div>
						
							<div style="color: #a4a4a4;width: 42%;    padding-top: 34px;    float: left;    text-align: left;    text-overflow: ellipsis;display: -webkit-box;    -webkit-line-clamp: 2;    -webkit-box-orient: vertical;    overflow: hidden;" >
								<p ng-if="typeOfBehav.typeDescr.length>=99" class="audience-label" title="{{typeOfBehav.typeDescr}}" >{{typeOfBehav.typeDescr}}</p>
								<p ng-if="typeOfBehav.typeDescr.length<99" class="audience-label">{{typeOfBehav.typeDescr}}</p>
							</div> 
							<div ng-if="typeOfBehav.isactive == ''" title="calculate" class="audience-accordion-icon" style="width: 100px;padding-top: 23px;position: relative;">
								<i style="font-size: 25px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
							</div>
							<div ng-if="typeOfBehav.isactive == '1'" title="calculate" class="audience-accordion-icon" style="padding:20px" >
								<i ng-click="activateTendencyFun(typeOfBehav,'0');typeOfBehav.isactive = ''" class="fa fa-toggle-on" aria-hidden="true"  style="color: #41B7E9;font-size: 20px;cursor: pointer;" ></i>
								<p class="audience-label ng-binding">Active</p>
							</div>
							<div  ng-if="typeOfBehav.isactive == '0'" title="calculate" class="audience-accordion-icon" style="padding:20px 8px">
								<i ng-click="activateTendencyFun(typeOfBehav,'1');typeOfBehav.isactive = ''" class="fa fa-toggle-off" aria-hidden="true" style="color: #41B7E9;font-size: 20px;cursor: pointer;" ></i>
								<p class="audience-label ng-binding">Not Active</p>
							</div>
							
							<div title="Tendency icon" class="audience-accordion-icon" style="padding:20px 8px;cursor:pointer">
								
								<p ng-click="updateModelTNDiconFun();TendencyIcon.TendencyID = typeOfBehav.subtype" data-toggle="modal" data-target="#tendencyIconUpdete" class="audience-label" >Settings tendency icon</p>
							</div>
							
						</div>
						
					</div>
					<div  id="behaviors_{{typeOfBehav.subtype}}" class="panel-collapse collapse audience-details" >
						<div  id="piebehaviorHolder" class="panel-collapse collapse audience-details" >
					<div id="piebehaviorAccordion" >
					
				<!--	<div style="width: 400px;height:400px;text-align: center;padding: 20px;margin: 20px auto;">
			<canvas id="pie" class="chart chart-pie"
				chart-data="ranksdata.data" chart-labels="ranksdata.labels" chart-options="options">
			</canvas> 
		</div>-->	</div>	</div>	
		
		
		<div style="width:100%;float: left;" >
				<div class="accordion" id="behaviorpieholderAccordion_{{typeOfBehav.subtype}}" style="width: 100%;" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
						<div class="audience-accordion" >
							<div class="audience-accordion-name" >	
								<p>{{typeOfBehav.typeName}} Pie Chart</p>
							</div>
						
							<div class="inisight-triangle" ></div>
							
							<div class="audience-accordion-icon" style="width: 80px;background:#f1f1f1;height: 100%;">
								<a style="list-style: none; text-decoration: none;" data-toggle="collapse" data-parent="#behaviorpieholderAccordion_{{typeOfBehav.subtype}}" href="#behaviorpieHolder_{{typeOfBehav.subtype}}"> 
									<i class="fa fa-angle-double-down" aria-hidden="true"></i>	
								</a>
							</div>
						
							<div style="color: #a4a4a4;width: 42%;    padding-top: 34px;    float: left;    text-align: left;    text-overflow: ellipsis;display: -webkit-box;    -webkit-line-clamp: 2;    -webkit-box-orient: vertical;    overflow: hidden;" >
								<p class="audience-label" ></p>
							</div> 
							
						</div>
						
					</div>
					<div ng-if="typeOfBehav.piedata.data.length > 0" id="behaviorpieHolder_{{typeOfBehav.subtype}}" class="panel-collapse collapse audience-details" >
						<div style="width: 400px;height:400px;text-align: center;padding: 20px;margin: 20px auto;">
			<canvas ng-if="typeOfBehav.piedata.data.length > 0" id="pie" class="chart chart-pie"
				chart-data="typeOfBehav.piedata.data" chart-labels="typeOfBehav.piedata.labels" chart-options="options">
			</canvas> 
					<li ng-if="typeOfBehav.piedata.data.length == 0" style="text-align: center;padding: 10px 0;" >NO DATA</li>
		</div>	
			</div>
		
		
		
		
		
		
		
		
					<div id="behaviorAccordion" >
				<div class="panel-heading feeds accordion-toggle" style="width: 100%;" ng-repeat="(key,val) in typeOfBehav.data" ng-if="val.behavior.isactive == '1'" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
						
						<div class="audience-accordion" >

							<div class="audience-accordion-name" >
								<p>{{val.behavior.name}}</p>
							</div>
							<div class="inisight-triangle" ></div>
							<div ng-if="val.behavior.isactive == ''" title="calculate" class="audience-accordion-icon" style="width: 75px;padding-top: 23px;position: relative;">
								<i style="font-size: 25px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
							</div>
							<div ng-if="val.behavior.isactive == '1'" title="calculate" class="audience-accordion-icon" style="padding:20px" >
								<i ng-click="activateBehaviorFun(val.behavior,'0');val.behavior.isactive = ''" class="fa fa-toggle-on" aria-hidden="true"  style="color: #41B7E9;font-size: 20px;cursor: pointer;" ></i>
								<p class="audience-label ng-binding">Active</p>
							</div>
							<div  ng-if="val.behavior.isactive == '0'" title="calculate" class="audience-accordion-icon" style="padding:20px 8px" >
								<i ng-click="activateBehaviorFun(val.behavior,'1');val.behavior.isactive = ''" class="fa fa-toggle-off" aria-hidden="true" style="color: #41B7E9;font-size: 20px;cursor: pointer;" ></i>
								<p class="audience-label ng-binding">Not Active</p>
							</div>
							<div title="edit name" class="audience-accordion-icon icon-25"  style="position:relative;width: 43px;float: left;" >
								<img style="cursor: pointer;float: left;"  src="Images/audience/edit.png" ng-click="val.behavior.editName = !val.behavior.editName;val.behavior.newName = val.behavior.name" />
								<div ng-if="val.behavior.editName" style="position: absolute;z-index: 1;background: #FFF;top: 65px;left: -65px;border-radius: 2px;width: 213px;border: 1px solid #cdcdcd;" >

									<p style="padding:10px 10px 0 10px;color: #555555;" >
										<input type="text" ng-model="val.behavior.newName" class="newName" />
									</p>
									<p ng-if="val.behavior.newName == val.behavior.name || val.behavior.newName == ''" style="border-bottom: 1px solid #cdcdcd;padding: 10px;color: #999999;" >
										Apply
									</p>
									<p ng-if="val.behavior.newName != val.behavior.name && val.behavior.newName != ''" ng-click="editBehaviorNameFun(val.behavior);val.behavior.editName = !val.behavior.editName" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >
										Apply
									</p>
									<p ng-click="val.behavior.editName = !val.behavior.editName;val.behavior.newName = val.behavior.name" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>

								</div>
							</div>
						
								<div  ng-if="!val.behavior.recalculetedNOW" title="calculate" class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;" >
							<img ng-if="val.behavior.isactive == '1'" src="Images/audience/refresh.png" style="cursor: pointer;" class="calculatedShow" ng-click="recalculetedBehaviorFun(val.behavior.behaviorid);" />
							<img ng-if="val.behavior.isactive=='0' || val.behavior.isactive==''" src="Images/audience/refresh.png" style="opacity:0.3;" class="calculatedShow"  />
							<p class="audience-label" >{{val.behavior.calculation_date}}</p>
<!--<div ng-if="val.calculatedShow" style="position: absolute;z-index: 1;background: #FFF;top: 50px;left: 0px;border-radius: 2px;width: 150px;border: 1px solid #cdcdcd;" >
	<span ng-if="val.status == 'pending'" >
		<span ng-if="val.is_active && val.is_active == '1'" >
			<p style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    color: #555555;" >Next Calculation : {{val.nextruntime}}</p>
			<p ng-click="deleteAutomationFun(val.audienceid);val.calculatedShow = false" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" > Cancel Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
		<span ng-if="!val.is_active" >
			<p ng-click="recalculetedFun(val.audienceid);val.calculatedShow = false;"  style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    cursor: pointer;    color: #555555;" >Now</p>
			<p ng-click="showAutomationFun(val.audienceid);val.calculatedShow = false;"  style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
	</span>
	<span ng-if="val.status == 'calculation'" >
		<p  style="padding: 10px;border-bottom: 1px solid #cdcdcd;color: #555555;" >In process</p>
		<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
	</span>
</div>-->
						<!--</div>
								<div class="audience-accordion-icon " style="width: 75px;padding-top: 23px;position: relative;" >
								<p class="audience-label">{{val.behavior.calculation_date}}</p>
							</div>-->
							
						
						
				

						</div>
							
														<span ng-if="val.behavior.recalculetedNOW">
				<div class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;">
					<i style="font-size: 20px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				</div>
				</span>
							<div class="audience-accordion-icon " style="width: 220px;padding-top: 20px;position: relative; float: left;text-align: left" >
								<p ng-if="val.behavior.description.length>=99"class="audience-label" title="{{val.behavior.description}}" >{{val.behavior.description | limitTo : 100 }}</p>
									<p ng-if="val.behavior.description.length<99"class="audience-label">{{val.behavior.description | limitTo : 100 }}</p>
							</div>
								<div class="audience-accordion-icon" style="width: 75px;padding-top: 35px;position: relative;" >
								<p class="audience-label">{{val.behavior.size|number : 0}}</p>
							</div>
							
		
					</div>


				</div>


			</div>
			
				<div class="panel-heading feeds accordion-toggle" style="width: 100%;" ng-repeat="(key,val) in typeOfBehav.data" ng-if="val.behavior.isactive == '0'" >
					<div class="panel-heading feeds accordion-toggle" style="background-color: #ffffff;" >
						
						<div class="audience-accordion" >

							<div class="audience-accordion-name" >
								<p>{{val.behavior.name}}</p>
							</div>
							<div class="inisight-triangle" ></div>
							<div ng-if="val.behavior.isactive == ''" title="calculate" class="audience-accordion-icon" style="width: 75px;padding-top: 23px;position: relative;">
								<i style="font-size: 25px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
							</div>
							<div ng-if="val.behavior.isactive == '1'" title="calculate" class="audience-accordion-icon" style="padding:20px" >
								<i ng-click="activateBehaviorFun(val.behavior,'0');val.behavior.isactive = ''" class="fa fa-toggle-on" aria-hidden="true"  style="color: #41B7E9;font-size: 20px;cursor: pointer;" ></i>
								<p class="audience-label ng-binding">Active</p>
							</div>
							<div  ng-if="val.behavior.isactive == '0'" title="calculate" class="audience-accordion-icon" style="padding:20px 8px" >
								<i ng-click="activateBehaviorFun(val.behavior,'1');val.behavior.isactive = ''" class="fa fa-toggle-off" aria-hidden="true" style="color: #41B7E9;font-size: 20px;cursor: pointer;" ></i>
								<p class="audience-label ng-binding">Not Active</p>
							</div>
							<div title="edit name" class="audience-accordion-icon icon-25"  style="position:relative;width: 43px;float: left;" >
								<img style="cursor: pointer;float: left;"  src="Images/audience/edit.png" ng-click="val.behavior.editName = !val.behavior.editName;val.behavior.newName = val.behavior.name" />
								<div ng-if="val.behavior.editName" style="position: absolute;z-index: 1;background: #FFF;top: 65px;left: -65px;border-radius: 2px;width: 213px;border: 1px solid #cdcdcd;" >

									<p style="padding:10px 10px 0 10px;color: #555555;" >
										<input type="text" ng-model="val.behavior.newName" class="newName" />
									</p>
									<p ng-if="val.behavior.newName == val.behavior.name || val.behavior.newName == ''" style="border-bottom: 1px solid #cdcdcd;padding: 10px;color: #999999;" >
										Apply
									</p>
									<p ng-if="val.behavior.newName != val.behavior.name && val.behavior.newName != ''" ng-click="editBehaviorNameFun(val.behavior);val.behavior.editName = !val.behavior.editName" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >
										Apply
									</p>
									<p ng-click="val.behavior.editName = !val.behavior.editName;val.behavior.newName = val.behavior.name" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>

								</div>
							</div>
						
								<div  ng-if="!val.behavior.recalculetedNOW" title="calculate" class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;" >
							<img ng-if="val.behavior.isactive == '1'" src="Images/audience/refresh.png" style="cursor: pointer;" class="calculatedShow" ng-click="recalculetedBehaviorFun(val.behavior.behaviorid);" />
							<img ng-if="val.behavior.isactive=='0' || val.behavior.isactive==''" src="Images/audience/refresh.png" style="opacity:0.3;" class="calculatedShow"  />
							<p class="audience-label" >{{val.behavior.calculation_date}}</p>
<!--<div ng-if="val.calculatedShow" style="position: absolute;z-index: 1;background: #FFF;top: 50px;left: 0px;border-radius: 2px;width: 150px;border: 1px solid #cdcdcd;" >
	<span ng-if="val.status == 'pending'" >
		<span ng-if="val.is_active && val.is_active == '1'" >
			<p style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    color: #555555;" >Next Calculation : {{val.nextruntime}}</p>
			<p ng-click="deleteAutomationFun(val.audienceid);val.calculatedShow = false" style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" > Cancel Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
		<span ng-if="!val.is_active" >
			<p ng-click="recalculetedFun(val.audienceid);val.calculatedShow = false;"  style="    padding: 10px;    border-bottom: 1px solid #cdcdcd;    cursor: pointer;    color: #555555;" >Now</p>
			<p ng-click="showAutomationFun(val.audienceid);val.calculatedShow = false;"  style="border-bottom: 1px solid #cdcdcd;padding: 10px;cursor: pointer;    color: #555555;" >Automation</p>
			<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
		</span>
	</span>
	<span ng-if="val.status == 'calculation'" >
		<p  style="padding: 10px;border-bottom: 1px solid #cdcdcd;color: #555555;" >In process</p>
		<p ng-click="val.calculatedShow = false" style="    padding: 10px;cursor: pointer;    color: red;" > Close X</p>
	</span>
</div>-->
						<!--</div>
								<div class="audience-accordion-icon " style="width: 75px;padding-top: 23px;position: relative;" >
								<p class="audience-label">{{val.behavior.calculation_date}}</p>
							</div>-->
							
						
						
				

						</div>
							
														<span ng-if="val.behavior.recalculetedNOW">
				<div class="audience-accordion-icon" style="width: 150px;padding-top: 23px;position: relative;">
					<i style="font-size: 20px;color: #666666;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				</div>
				</span>
							<div class="audience-accordion-icon " style="width: 220px;padding-top: 20px;position: relative; float: left;text-align: left" >
								<p ng-if="val.behavior.description.length>=99"class="audience-label" title="{{val.behavior.description}}" >{{val.behavior.description | limitTo : 100 }}</p>
									<p ng-if="val.behavior.description.length<99"class="audience-label">{{val.behavior.description | limitTo : 100 }}</p>
							</div>
								<div class="audience-accordion-icon" style="width: 75px;padding-top: 35px;position: relative;" >
								<p class="audience-label">{{val.behavior.size|number : 0}}</p>
							</div>
							
		
					</div>


				</div>


			</div>
			
			
			</div>


				</div>


			</div>	 
		</div>
		<div class="tab-pane fade in active" id="Admin_Insights"></div>		
			</div>
		</div>
	</div>
</div>


																<!--   ADD APP -->
									
	<div class="modal fade" id="addApp" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog audience-modal" style="max-width: 600px;min-width: 600px;width: 600px;" >
			<div class="modal-content">
				<div ng-if="addAppModal.loader" style="background:#FFF;opacity:0.5;width: 100%;height:100%;position: absolute;text-align: center;padding-top: 39%;">
					<i style="font-size: 30px;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
				</div>
				<div ng-if="addAppModal.mSuccess != ''" style="background:#FFF;opacity:0.5;width: 100%;height:100%;position: absolute;text-align: center;padding-top: 39%;">
					<h3 style="color:green;" >{{addAppModal.mSuccess}}</h3>
				</div>
				<div ng-if="addAppModal.mError != ''" style="background:#FFF;opacity:0.5;width: 100%;height:100%;position: absolute;text-align: center;padding-top: 39%;">
					<h3 style="color:red;" >{{addAppModal.mError}}</h3>
				</div>
				<div class="modal-header" style="height: 50px;" >
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title0" style="margin: 0 0 0 20px;" >Add App</h4>
				</div>
				
				<div class="portlet-body" style="padding: 20px 20px 0 20px;text-align: center;">
					<form name="addAppForm" style="height: 385px;" >
						<input type="text" placeholder="Company Name" ng-model="addAppModal.CompanyName" class="audienceModal-select" style="padding-top:0;margin-bottom: 10px;" required />
						<input type="text" placeholder="First Name" ng-model="addAppModal.FirstName" class="audienceModal-select" style="padding-top:0;margin-bottom: 10px;" required />
						<input type="text" placeholder="Last Name" ng-model="addAppModal.LastName" class="audienceModal-select" style="padding-top:0;margin-bottom: 10px;" required />
						<input type="mail" placeholder="Email" ng-model="addAppModal.Email" class="audienceModal-select" style="padding-top:0;margin-bottom: 10px;" required />
						<input type="password" placeholder="Password" ng-model="addAppModal.Password" class="audienceModal-select" style="padding-top:0;margin-bottom: 10px;" required />
						
						<span style="width:90%;display: inline-block;text-align: left;margin-bottom: 10px;" ><label>Trial</label><input type="checkbox" ng-model="addAppModal.Trial" style="margin-left: 10px;" /></span>
						<span ng-if="addAppModal.Trial" >
							<input type="text" placeholder="Cupon" ng-model="addAppModal.Cupon" class="audienceModal-select" style="padding-top:0;margin-bottom: 10px;" />
							<input type="number" placeholder="Trial Days" ng-model="addAppModal.TrialDays" class="audienceModal-select" style="padding-top:0;margin-bottom: 10px;" />
						</span>
					</form>
					
				</div>
				<div class="modal-footer"  style="width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
					<div class="btn-yellow3"  data-dismiss="modal"  style="width: 50%;border-radius: 0 0 0 6px;" >Cancel</div>
					<div class="btn-complete" ng-if="!addAppForm.$valid" style="width: 50%;opacity: 0.5;" >Complete <span class="v" ></span></div>
					<div class="btn-complete" ng-if="addAppForm.$valid" ng-click="addAppfun();" style="width: 50%;" >Complete <span class="v" ></span></div>
				</div>
			</div>
		</div>
	</div> 

<div class="modal fade" id="tendencyIconUpdete" role="dialog" >
	<div class="modal-dialog audience-modal" style="max-width: 500px;min-width: 500px;width: 500px;" >
    
		 <div class="modal-content" style="display: inline-block;width: 100%;" >
		 
			<div ng-if="TendencyIcon.loader" style="background:#FFF;opacity:0.5;width: 100%;height:100%;position: absolute;text-align: center;padding-top: 39%;z-index: 1;">
				<i style="font-size: 30px;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			</div>
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" style="opacity: 0.5;" >&times;</button>
				<span style="display: flex;width: 100%;" >
					<h4 class="modal-title0" style="margin: 0 0 0 20px;" >Tendency icon</h4>
				</span>
			</div>
			
			<div class="modal-body" style="padding:20px 20px 0 20px;float: left;width: 100%;text-align:center;" >
				
				<button ng-click="deleteTendencyIconFun()" style="background: #ec3434;border: none;border-radius: 10px;padding: 10px 20px;color: #FFFFFF;font-size: 16px;" >Delete tendency icon</button>
			
				<div style="width: 100%;height: 20px;border-bottom: 1px solid #999999;text-align: center;margin:10px 0 25px 0;">
					<span style="font-size: 20px;background-color: #FFFFFF;padding: 0 10px;margin-top: 5px;display: inline-block;">
						OR
					</span>
				</div>	
	<div class="newUpload" style="display: inline-block;width: 100%;min-height: 214px;"  >
	<label style="float: left;width: 100%;" >Update tendency icon</label>
		<div style="float: left;width: 60%;text-align: center;" >
			<div style="padding: 20px;border: 3px dashed #d6d6d6;border-radius: 20px;cursor: pointer;" class="upload" ngf-max-size="20MB" ngf-resize="{width: 154}" ngf-drop="profPicReadSRCFun($file)"	ngf-select="profPicReadSRCFun($file)" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'" ng-model="modelUploadImg.image" >
				<img src="Images/icons/icon-upload-photo.png" />
				<h3>Click or drop image here</h3>
			</div>
		</div>
		<div style="float: left;width: 40%;text-align: center;" >
			<div ng-if="!modelUploadImg.code || modelUploadImg.code == ''" >
				<img id="code" ng-src="Images/icons/icon-user-profile.png" style="width: 154px;" />
			</div>
			<div ng-if="modelUploadImg.code != ''" >
				<div>
					<img id="code" ng-src="{{modelUploadImg.code}}" style="width: 154px;border-radius: 20px;" />
				</div>
				<div style="margin-top: 10px;" >
					<i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer;" ></i>
					<label type="button" ng-click="profPicRemoveFun()" style="cursor: pointer;" >Remove</label>
				</div>
			</div>
		</div>
	</div>
	
	<div style="height:20px;width:100%" > {{modelUploadImg.statusImgMes}} </div>	
	
			</div>
			
			<div class="modal-footer"  style="width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
				<div class="btn-yellow3" data-dismiss="modal" style="width: 50%;border-radius: 0 0 0 6px;" >Cancel</div>
				<!-- <div class="btn-complete" ng-if="" style="width: 50%;opacity: 0.5;" >Upload<span class="v" ></span></div> -->
				<div class="btn-complete" ng-click="profPicUploadFun()" style="width: 50%;" >Upload<span class="v" ></span></div>
			</div>
			
		</div>
	</div>
</div>

	
	
<div class="modal fade" id="addNewBehavioralType" role="dialog" >
	<div class="modal-dialog audience-modal" style="max-width: 500px;min-width: 500px;width: 500px;" >
    
		 <div class="modal-content" style="display: inline-block;width: 100%;" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" style="opacity: 0.5;" >&times;</button>
				<span style="display: flex;width: 100%;" >
					<h4 class="modal-title0" style="margin: 0 0 0 20px;" >New Tendency</h4>
				</span>
			</div>
			
			<div class="modal-body" style="padding:20px 20px 0 20px;float: left;width: 100%;" >
	<div style="margin-bottom: 15px;width: 100%;display: inline-block;" >		
		<label>Tendency name</label>
		<input type="text" ng-model="newAudienceType.name" class="audienceModal-select" style="padding-top:0;" placeholder="enter name" />
	</div>
	<div style="width: 100%;display: inline-block;margin-bottom: 25px;" >		
		<label>Tendency description</label>
		<input type="text" ng-model="newAudienceType.descr" class="audienceModal-select" style="padding-top:0;" placeholder="enter description" />
	</div>

	<div class="newUpload" style="display: inline-block;width: 100%;min-height: 214px;"  >
	<label style="float: left;width: 100%;" >Tendency icon</label>
		<div style="float: left;width: 60%;text-align: center;" >
			<div style="padding: 20px;border: 3px dashed #d6d6d6;border-radius: 20px;cursor: pointer;" class="upload" ngf-max-size="20MB" ngf-resize="{width: 154}" ngf-drop="profPicReadSRCFun($file)"	ngf-select="profPicReadSRCFun($file)" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'" ng-model="modelUploadImg.image" >
				<img src="Images/icons/icon-upload-photo.png" />
				<h3>Click or drop image here</h3>
			</div>
		</div>
		<div style="float: left;width: 40%;text-align: center;" >
			<div ng-if="!modelUploadImg.code || modelUploadImg.code == ''" >
				<img id="code" ng-src="Images/icons/icon-user-profile.png" style="width: 154px;" />
			</div>
			<div ng-if="modelUploadImg.code != ''" >
				<div>
					<img id="code" ng-src="{{modelUploadImg.code}}" style="width: 154px;border-radius: 20px;" />
				</div>
				<div style="margin-top: 10px;" >
					<i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer;" ></i>
					<label type="button" ng-click="profPicRemoveFun()" style="cursor: pointer;" >Remove</label>
				</div>
			</div>
		</div>
	</div>
	
	<div style="height:20px;width:100%" > {{modelUploadImg.statusImgMes}} </div>	
	
			</div>
			
			<div class="modal-footer"  style="width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
				<div class="btn-yellow3" ng-click="audienceModal.step = 3" style="width: 50%;border-radius: 0 0 0 6px;" >Cancel</div>
				<div class="btn-complete" ng-if="!newAudienceType.name || !newAudienceType.descr" style="width: 50%;opacity: 0.5;" >Complete <span class="v" ></span></div>
				<div class="btn-complete" ng-if="newAudienceType.name.length > 0 && newAudienceType.descr.length > 0" ng-click="addBehaviorTypeFun()" style="width: 50%;" >Complete <span class="v" ></span></div>
			</div>
			
		</div>
	</div>
</div>

<div class="modal fade" id="createAudienceModal" role="dialog">
    <div class="modal-dialog audience-modal">
    
      <!-- Modal content-->
		 <div class="modal-content" style="height: 590px;" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" style="opacity: 0.5;" >&times;</button>
				<span style="display: flex;width: 100%;" >
					<h4 class="modal-title0">Create Behavioral</h4>
				</span>
			</div>
			<!-- class="audience-modal-name" -->
			<div class="modal-body" style="padding: 0;float: left;width: 100%;" >
				<!-- step 0 -->
				
				<div ng-if="audienceModal.step == 0 && audienceModalDetails.length > 0" style="padding:5px 40px;height: 465px;" >
					<div class="audience-items" >
						<div ng-repeat="(key,val) in audienceModalDetails" class="audience-item" >
		
								<p>{{val.checkEventName}}</p>
								<div class="details-box-action" >
									<div class="details-action" ><div class="details-action-delete" ng-click="audienceDelItemFun(val.itemID)"  ></div><div class="details-action-edit" ng-click="audienceEditItemFun(val.itemID)" ></div></div>
								</div>
								
								
								<div class="next-condition" ng-if="!$last" style="margin-top: 50px;" >
									<div ng-if="val.NextCondition == 'AND'" class="icon-and" ></div>
									<div ng-if="val.NextCondition == 'OR'" class="icon-or" ></div>
									<div style="width: 100%;" ng-click="changeConditionFun($index);" >
										<button class="and-or" ng-class="val.NextCondition == 'AND' ? 'and-or-active' : ''" >AND</button><button class="and-or" ng-class="val.NextCondition == 'OR' ? 'and-or-active' : ''" >OR</button>
									</div>
								</div>
						
						</div>
						
					</div>
					<div ng-click="audienceModal.step = 2" class="add-icon" style="margin: 0; position: absolute;    right: 25px;    bottom: 21px;" >
						<div class="status-graph-plus" style="    width: 100%;    height: 100%;    text-align: center;    padding-top: 55px;    margin: 0;" >
							<i class="fa fa-plus" style="font-size: 40px;" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<!-- step 1 -->
				<div ng-if="audienceModal.step == 1" style="width:100%;float: left;height: 100%;" >
					<div class="ActionType" >
						<div style="padding: 20px 20px 0 20px;float: left;width: 84%;" class="ActionType" >
							<div style="float: left;margin: 10px 20px 0 10px;height: 100%;" >
								<div class="active-step-num" >1</div>
								<div class="active-step-border" ></div>
							</div>
							
							<p style="margin: 0 0 23px 0;font-size: 18px;color:#555;" >Behavioral</p>
								<div style="float: left;    margin: 60px 30px 0 0;" >
									<div class="details-action-step1" ><img src="Images/audience/icon-action.png" style="margin: 12px;" /></div>
								</div>
								
							
							<div style="float: left;    width: 50%;" >
								<div style="width:100%;display: inline-block;margin-bottom: 20px;" >
								<label>Behavioral name</label>
								<input type="text" ng-model="newAudience.name" class="audienceModal-select" placeholder="Enter behavioral name" style="padding: 0 12px 0 20px;" />
					</div>
							<div style="width:100%;display: inline-block;" >
								<label>Behavioral type</label>
									
	<div class="dropdown" >
		<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
			<input type="text" ng-model="newAudience.typeName" ng-keyup="searchAudTypeFun(newAudience.typeName)" class="audienceModal-select" style="padding-top:0" placeholder="Select behavioral type" />
			<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
		<ul class="dropdown-menu" style="width:100%;max-height: 184px;    overflow: auto;" >
			<li ng-if="!audienceTypeArr" style="text-align: center;padding: 10px 0;" ><i class="fa fa-spinner fa-spin" aria-hidden="true" ></i></li>
			<li ng-if="audienceTypeArr.length == 0" style="text-align: center;padding: 10px 0;" >NO DATA</li>
			<li ng-if="audienceTypeArr.length > 0" ng-repeat="type in tempAudienceTypeArr" >
				<a ng-click="checkAudienceTypeFun(type)" tabindex="-1" >{{type}}</a>
			</li>
		</ul>
	</div>
	</div>
					<div style="width:100%;display: inline-block;" >
					<label>Behavioral description</label>
					<textarea ng-model="newAudience.description"  placeholder="Enter behavioral description" style="width: 100%;height: 100px;padding: 9px 12px 9px 20px;border: 2px solid rgb(179, 179, 179);" ></textarea>
					</div>
					</div>
							
						</div>
						
						<div class="active-step-right" style="overflow: auto;" >
							<label>Behavior</label>
							<p>Behaviors are a subset of actions that has a psychological meaning.<br/>
							These behaviors are mathematically calculated in accordance to the data in your databases, giving you a great way to understand who are your users or how big is a certain behavioral group becoming.<br/><br/>
							For example: you can find out who your Loyal customers are and recalculate that group regularly to see if this group is growing or shrinking.</p>
						</div>
						
					</div>
					
					<div style="width:100%;display: inline-block;" >
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Tuning</label>
						</div>
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >3</div>
							<label style="margin-top: 9px;" >Timing</label>
						</div>
					</div>
					
				</div>
				
				<!-- step 2 action -->
				<div ng-if="audienceModal.step == 2" style="width:100%;" class="ActionType" >
					
					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" >Behavioral</label>
							<span class="system-checkmark"></span>
							<!-- <img src="Images/audience/step-ok.png" style="float: right;" /> -->
						</div>
					</div>
					
					<div style="height: 100%;" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 84%;" >
							<div style="float: left;margin: 0 43px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >2</div>
								<div class="active-step-border" ></div>
							</div>
							
							<div style="float: left;padding-top: 23px;    width: 90%;" >
								<p style="margin: 0 0 23px 0;font-size: 18px;color:#555;" >Tuning</p>
								<div style="float: left;    margin: 60px 30px 0 0;" >
									<div class="details-action-step1" ><img src="Images/audience/icon-action.png" style="margin: 12px;" /></div>
								</div>
								
								<div style="float: left;    width: 50%;" >
									<label>Users who</label>
									
	<div class="dropdown" >
		<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
			<input type="text" ng-model="audienceModal.data.checkEventName" ng-keyup="searchEventFun(audienceModal.data.checkEventName)" class="audienceModal-select" style="padding-top:0" placeholder="did what?" />
			<div class="audienceModal-select-icon" >
				<i class="fa fa-search" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
		<ul class="dropdown-menu" style="width:100%;max-height: 184px;    overflow: auto;" >
			<li ng-if="!tempEventDescrArr" style="text-align: center;padding: 10px 0;" ><i class="fa fa-spinner fa-spin" aria-hidden="true" ></i></li>
			<li ng-if="tempEventDescrArr" ng-repeat="(k,v) in tempEventDescrArr" >
				<a ng-click="checkEventTypeFun(v)" tabindex="-1" >{{v}}</a>
			</li>
		</ul>
	</div>
									
								 	<div ng-if="audienceModal.data.Modifier == '1'" textual >
										<div class="dropdown" textual >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >{{newAudience.ConditionType}}</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
											
											<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals'; audienceModal.data.Condition = '1001'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'ends with'; audienceModal.data.Condition = '1002'" >ends with</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals'; audienceModal.data.Condition = '1003'" >equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not null'; audienceModal.data.Condition = '1004'" >not null</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'contains'; audienceModal.data.Condition = '1005'" >contains</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'starts with'; audienceModal.data.Condition = '1006'" >starts with</a></li>		
											</ul>
										</div>
										<input type="text" ng-model="audienceModal.data.Value" class="audienceModal-select" placeholder="enter text" style="padding: 0 12px 0 20px;" />
									</div>

									<div ng-if="audienceModal.data.Modifier == '2'" numeric >
										<div class="dropdown" numeric >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >{{newAudience.ConditionType}}</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
										<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'less than';audienceModal.data.Condition = '2001'" >less than</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals';audienceModal.data.Condition = '2002'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'greater than';audienceModal.data.Condition = '2003'" >greater than</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals';audienceModal.data.Condition = '2004'" >equals</a></li>
												<!-- <li><a tabindex="-1" ng-click="newAudience.ConditionType = 'between';audienceModal.data.Condition = '2005'; newAudience.viewByCondition = 2;"  >between</a></li> -->	
											</ul>
										</div>
										
										<span ng-if="newAudience.viewByCondition == 1" >
											<input type="number" ng-model="audienceModal.data.Value" class="audienceModal-select" style="padding: 0 12px 0 20px;" />
										</span>
										<span ng-if="newAudience.viewByCondition == 2" >
											<input type="number" ng-model="audienceModal.data.ValueFrom" class="audienceModal-select" style="width:46%;margin-right:8%" placeholder="enter number from" />
											<input type="number" ng-model="audienceModal.data.ValueTo" class="audienceModal-select" style="width:46%;" placeholder="enter number to" />
										</span>
									</div>
									
									<div ng-if="audienceModal.data.Modifier == '3'" ng-init="audienceModal.tempValueArr = audienceModal.valueArr" closed_group >
										<div class="dropdown" closed_group >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >{{newAudience.ConditionType}}</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
											<ul class="dropdown-menu" style="width:100%">
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals';audienceModal.data.Condition = '3001'" >equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals';audienceModal.data.Condition = '3002'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'contains';audienceModal.data.Condition = '3003'" >contains</a></li>
												<!-- <li><a tabindex="-1" ng-click="newAudience.ConditionType = 'starts with';audienceModal.data.Condition = '3004'" >starts with</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'ends with';audienceModal.data.Condition = '3005'" >ends with</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not null';audienceModal.data.Condition = '3006'" >not null</a></li>	 -->
											</ul>
										</div>
									
	<div class="dropdown" >
		<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
			<input type="text" ng-model="audienceModal.data.Value" ng-keyup="searchValueFun(audienceModal.data.Value)" class="audienceModal-select" style="padding-top:0" placeholder="select" />
			<div class="audienceModal-select-icon"  >
				<i class="fa fa-search" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
		<ul class="dropdown-menu" style="width:100%;max-height: 170px;    overflow: auto;" >
			<li><a tabindex="-1" ng-repeat="(k,v) in audienceModal.tempValueArr" ng-click="audienceModal.data.Value = v" >{{v}}</a></li>
		</ul>
	</div>
								
									</div>
									
									<div ng-if="audienceModal.data.Modifier == '4'" date ng-init="audienceModal.data.Value = audienceDateDef" >
										<div class="dropdown" date >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<div class="audienceModal-select" >
			<span ng-if="newAudience.ConditionType == 'greater than'" >before</span>
			<span ng-if="newAudience.ConditionType == 'less than'" >after</span>
			<span ng-if="newAudience.ConditionType != 'greater than' && newAudience.ConditionType != 'less than'" >{{newAudience.ConditionType}}</span>
		</div>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
											<ul class="dropdown-menu" style="width:100%">												
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'not equals';audienceModal.data.Condition = '4001'" >not equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'equals';audienceModal.data.Condition = '4002'" >equals</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'greater than';audienceModal.data.Condition = '4003'" >before</a></li>
												<li><a tabindex="-1" ng-click="newAudience.ConditionType = 'less than';audienceModal.data.Condition = '4004'" >after</a></li>
												<!-- <li><a tabindex="-1" ng-click="newAudience.ConditionType = 'between';audienceModal.data.Condition = '4005'; newAudience.viewByCondition = 2;" >between</a></li> -->
											</ul>
										</div>
										<span ng-if="newAudience.viewByCondition == 1" >
											<div id="audienceDate" >
												<div audiencedate class="tooltips btn btn-fit-height grey-salt">
													<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
												</div>
											</div>
										</span>
										<span ng-if="newAudience.viewByCondition == 2" >
											<div id="audienceDateFrom" >
												<div audiencedate class="tooltips btn btn-fit-height grey-salt">
													<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
												</div>
											</div>
											<div id="audienceDateTo" >
												<div audiencedate class="tooltips btn btn-fit-height grey-salt">
													<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
												</div>
											</div>
										</span>
									</div> 
									
								</div>
							</div>
						</div>
						
						<div class="active-step-right" style="overflow: auto;" >
							<label>Action</label>
							<p>Actions are basically things you reported that your users have done or did not do. The actions you selected will define the audience you create.<br/><br/>
							 It can be selected from a given (dynamic) set of event types. These can very between interacting with an email, viewing a screen, purchasing more than 2000 dollars in the past week etc.<br/>
							Than you use modifiers to filter the audience by this action and set action timing. for example: Users that visited a the home screen in the past week. Users who spent less than 5$ in the past month.</p>
						</div>
					</div>
					
					<div style="width:100%;display: inline-block;" >
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >3</div>
							<label style="margin-top: 9px;" >Timing</label>
						</div>
					</div>
					
				</div>
				
				<!-- step 3 -->
				<div ng-if="audienceModal.step == 3" style="width:100%;" class="ActionType" >
					
					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" >Behavior</label>
							<!-- <label style="margin-top: 9px;" ng-if="audienceModal.data.Type == 'Action'" >Action</label> -->
							<span class="system-checkmark"></span>
						</div>
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;height:100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Tuning</label>
							<span class="system-checkmark"></span>
						</div>
					</div>
					
					<div style="height: 100%;" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 84%;" >
							<div style="float: left;margin: 0 43px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >3</div>
								<div class="active-step-border" ></div>
							</div>
							<div style="float: left;padding-top: 23px;    width: 90%;" >
								<p style="margin: 0 0 23px 0;font-size: 18px;color:#555;" >Timing</p>
								<div style="float: left;    margin: 60px 30px 0 0;" >
									<div class="details-action-step1" ><img src="Images/audience/icon-action.png" style="margin: 12px;" /></div>
								</div>
							<div style="float: left;width:50%" >
								<label>when did the user performed the action?</label>
								
<div class="dropdown" >
	<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
		<span ng-if="!audienceModal.data.TimingDefinition" >
			<div class="audienceModal-select" ng-init="audienceModal.data.TimingDefinition = 'always';audienceModal.data.TimingDefinitionView = 'always'" >{{audienceModal.data.TimingDefinitionView}}</div>
		</span>
		<span ng-if="audienceModal.data.TimingDefinition" >
		<div class="audienceModal-select" >{{audienceModal.data.TimingDefinitionView}}</div>
		</span>
		<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
	</div>
	<ul class="dropdown-menu" role="menu" aria-labelledby="menu1"  style="width:100%" >
		<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingDefinition = 'always';audienceModal.data.TimingDefinitionView = 'always'" >always</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingDefinition = 'last';audienceModal.data.TimingDefinitionView = 'in the last'" >in the last</a></li>
	</ul>
</div>
<span ng-if="audienceModal.data.TimingDefinition == 'last'" >
	<div style="position: relative;width: 100%;height:40px; margin-bottom: 20px;">
		<input type="number" ng-model="audienceModal.data.Timing"  class="audienceModal-select" min="0"  style="padding: 0 12px 0 20px;" />
	</div>
																	
	<div class="dropdown" >

		<div class="dropdown-toggle audienceModal-select-box" data-toggle="dropdown"  >
			<div class="audienceModal-select" ng-init="audienceModal.data.TimingPeriod = 'days';" >{{audienceModal.data.TimingPeriod}}</div>
			<div class="audienceModal-select-icon" ><i class="fa fa-angle-down" aria-hidden="true" style="font-size: 16px;    margin-top: 9px;" ></i></div>
		</div>
		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="width:100%"> 
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingPeriod = 'days'" >days</a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="audienceModal.data.TimingPeriod = 'months'" >months</a></li>
		</ul>
	</div>
</span>								
							
							</div>
							
							</div>
						</div>
						<div class="active-step-right" style="overflow: auto;" >
							<label>Action</label>
							<p>Actions are basically things you reported that your users have done or did not do. The actions you selected will define the audience you create.<br/><br/>
							 It can be selected from a given (dynamic) set of event types. These can very between interacting with an email, viewing a screen, purchasing more than 2000 dollars in the past week etc.<br/>
							Than you use modifiers to filter the audience by this action and set action timing. for example: Users that visited a the home screen in the past week. Users who spent less than 5$ in the past month.</p>
						</div>
					</div>

					
				</div>
				
				<div ng-if="messageError.empty" style="position: absolute;    bottom: 20px;width:100%;text-align:center; color: red;    font-size: 18px;" >please fill in all the information before applying</div>
				<div ng-if="messageError.name" style="position: absolute;    bottom: 20px;width:100%;text-align:center;color: red;    font-size: 18px;" >Must supply a name for this audience</div>
				<div ng-if="messageError.emptyBehaviorsArr" style="position: absolute;    bottom: 50px;width:100%;text-align:center;color: red;    font-size: 18px;" >No data</div>
				
			</div>
			
			<div class="modal-footer" ng-if="audienceModal.step != 0" style="    position: absolute;bottom: 0;width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
				<span ng-if="audienceModal.step == 1" >
					<div ng-if="newAudience.name == '' || newAudience.type == '' || newAudience.description == ''" class="btn-yellow1" ng-click="messageError.empty = true" >Next</div>
					<div ng-if="newAudience.name != '' && newAudience.type != '' && newAudience.description != ''" class="btn-yellow1" ng-click="audienceModal.step = 2" >Next</div>
				</span>
				<span ng-if="audienceModal.step == 2" >
					
					<div class="btn-back" ng-click="audienceModal.step = 1;" ><img src="Images/audience/go-back.png" /></div>
					<span ng-if="audienceModal.data.Modifier == '2'" >
						<div  class="btn-yellow3" ng-if="audienceModal.data.Value < 0" ng-click="messageError.empty = true" >Next</div>
						<div  class="btn-yellow3" ng-if="audienceModal.data.Value >= 0" ng-click="audienceModal.step = 3" >Next</div>
						<div ng-if="audienceModal.data.Value  < 0" class="btn-complete" ng-click="messageError.empty = true" >Complete <span class="v" ></span></div>
						<div ng-if="audienceModal.data.Value  >= 0" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" >Complete <span class="v" ></span></div>
					</span>
					<span ng-if="audienceModal.data.Modifier != '2'" >
						<div  class="btn-yellow3" ng-if="audienceModal.data.Value == ''" ng-click="messageError.empty = true" >Next</div>
						<div  class="btn-yellow3" ng-if="audienceModal.data.Value != ''" ng-click="audienceModal.step = 3" >Next</div>
						<div ng-if="audienceModal.data.Value  == ''" class="btn-complete" ng-click="messageError.empty = true" >Complete <span class="v" ></span></div>
						<div ng-if="audienceModal.data.Value  != ''" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" >Complete <span class="v" ></span></div>
					</span>
					
				</span>
				<span ng-if="audienceModal.step == 3" >
					<div class="btn-back" ng-click="audienceModal.step = 2" ><img src="Images/audience/go-back.png" /></div>
					
					<div ng-if="audienceModal.data.TimingDefinition != 'always' && !audienceModal.data.Timing" class="btn-complete" ng-click="messageError.empty = true" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
					
					<div ng-if="audienceModal.data.TimingDefinition != 'always' && audienceModal.data.Timing > 0" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
			
					<div ng-if="audienceModal.data.TimingDefinition == 'always'" class="btn-complete" ng-click="setItemAudienceModalFun();audienceModal.step = 0" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
				</span>
			</div>
			<div class="modal-footer" ng-if="audienceModal.step == 0 && audienceModalDetails.length > 0" style="float: left;    width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
				<div class="btn-yellow1" ng-click="CreateAudienceFun();" data-dismiss="modal" >SAVE</div>
			</div>
		 </div>
      
    </div>
</div>