<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper tutorial_upper_panel" >
		<div id="navbar_holder" class="page-sidebar navbar-collapse collapse page-content-top" >	
			
			<div class="dashboards_items">
				<ul role="menu" aria-labelledby="dropdownMenu" id="dashboards_nav" class="page-sidebar-menu remArrow tutorial_ftue_topmenu" >
					<li class="tutorial_engagement Center" ng-click="setTabFun(0,'Center')" style="background:#49555B" >
						<!-- <div class="activeMenu" ></div> -->
						<a href="" class="waves-effect" role="tab" data-toggle="tab" id="engmCenterTab" >
							<i class="new-icon-side engagement-center" ></i>
							<div class="title" >Engagement Center</div>
						</a>
					</li>
					<li style="background:#49555B" ng-click="setTabFun(0,'Cohorts')" class="dropdown-submenu pull-rihgt tutorial_tools Cohorts" > 
					
                                       	<!--  <div class="activeMenu" ></div> -->
						<a href="" class="waves-effect" role="tab" data-toggle="tab" ng-click="startAudincesFun();" id="audienceTab" >
							<i class="nav-icon-audiences"  ></i>
							<div class="title">Audiences</div>
						</a>
					</li>
					<li ng-repeat="(key,val) in dashboards" ng-class="$index == 0 ? 'active' : ''" ng-if="activeAppLabel != 'Certua' && val.Visible == 0 && val.DashboardType == 'Status'" class="tutorial_{{val.ID}} {{val.Name}}"  style="background:#49555B" >
						<a id="{{val.ID}}" href="" class="waves-effect tutorial_topbar_item_{{val.ID}}" role="tab" data-toggle="tab" ng-click="setTabFun(val.ID,val.Name)">
							<i class="new-icon-side new-{{val.Icon}}" ></i>
							<div class="title">{{val.Name}}</div>
						</a>
					</li>	
					<li ng-repeat="(key,val) in dashboards" ng-class="$index == 0 || (activeAppLabel == 'Certua' && val.Name == 'Insurance') ? 'active' : ''" ng-if="val.Parent == '' && val.Visible != 0" class="tutorial_{{val.ID}} {{val.Name}}" style="background:#49555B" >
						<a ng-if="val.Visible == 1" id="{{val.ID}}" href="" class="waves-effect tutorial_topbar_item_{{val.ID}}" role="tab" data-toggle="tab" ng-click="setTabFun(val.ID,val.Name)">
							<i class="new-icon-side new-{{val.Icon}}" ></i>
							<div class="title">{{val.Name}}</div>
						</a>
						<a ng-if="val.Visible == 2" href="" class="waves-effect" style="cursor: default;opacity:0.5" >
							<i class="new-icon-side new-{{val.Icon}}" ></i>
							<div class="title">{{val.Name}}</div>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
		<div>
			<span ng-if="HasWritePermission==false" style="text-align: center;display: block;font-size: 15px; color: #49555B;background: #FFF;"> Info: You have <span style="color: #aa0000;">read only</span> permissions for this application! </span>
		</div>

	</div>

    <div id = "sideNavContainer" layout = "row" ng-cloak style="display: none;">
        <md-sidenav md-component-id = "left" class = "md-sidenav-left">

            <div class="mobileAppDetailsImg">
                <img src="\Images\icons\profile-icon.png">
            </div>
            <li class="dropdown dropdown-user tutorial_dropdown_btn mobileDropdown" >
                <div class="mobileAppDetailsText" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding-top: 12px;cursor:pointer;" >
                    <p>{{activeAppLabel}}</p>
                </div>

                <ul class="dropdown-menu pull-right tutorial_dropdown_list mobileDropdownList" >
                    <!--
                    <li><a ng-click="updateImageModalOpenFun('user')" ><i class="fa fa-file-image-o" aria-hidden="true" ></i>Update Profile Picture </a></li>
                    <li><a style="color: rgba(128, 128, 128, 0.5);cursor: default;" ><i class="fa fa-dollar"></i> My Bills </a></li>
                    <li><a style="color: rgba(128, 128, 128, 0.5);cursor: default;" ><i class="fa fa-inbox"></i> Inbox <span id="inbox_text_holder"></span></a></li>
                    -->
                    <li class="mobileLogout"><span style="padding: 16px 13px;" ng-click="logoutFun();" ><img src="Images/icons/logout-icon.png" style="margin-right: 7px;width: 23px;margin-right: 34px;" />Logout</span></li>
                </ul>
            </li>


        <ul role="menu" aria-labelledby="dropdownMenu" id="mobile-dashboards_nav" class="page-sidebar-menu remArrow tutorial_ftue_topmenu" >
            <li class="tutorial_engagement Center" ng-click="setTabFun(0,'Center')"  >
                <!-- <div class="activeMenu" ></div> -->
                <a href=""  role="tab" data-toggle="tab" id="engmCenterTab" >
                    <div class="mobileSideMenuWrap">
                        <div class="mobileSideMenuIcon" style="border-top-right-radius: 10px;">
                            <i class="mobile-new-icon-side mobile-engagement-center" ></i>
                        </div>
                        <div class="mobileSideMenuTitleDiv" ><p class="mobileSideMenuTitle" >Engagement Center</p></div>
                    </div>
                </a>
            </li>
            <li ng-click="setTabFun(0,'Cohorts')" class="dropdown-submenu pull-rihgt tutorial_tools Cohorts" >

                <!--  <div class="activeMenu" ></div> -->
                <a href="" role="tab" data-toggle="tab" ng-click="startAudincesFun();" id="audienceTab" >
                    <div class="mobileSideMenuWrap">
                        <div class="mobileSideMenuIcon">
                            <i class="mobile-new-icon-side mobile-icon-audiences"  ></i>
                        </div>
                        <div class="mobileSideMenuTitleDiv" ><p class="mobileSideMenuTitle" >Audiences</p></div>
                    </div>
                </a>
            </li>
            <!--
            <li ng-repeat="(key,val) in dashboards" ng-class="$index == 0 ? 'active' : ''" ng-if="activeAppLabel != 'Certua' && val.Visible == 0 && val.DashboardType == 'Status'" class="tutorial_{{val.ID}} {{val.Name}}"  style="background:#49555B" >
                <a id="{{val.ID}}" href="" class="mobileSideMenuWrap tutorial_topbar_item_{{val.ID}}" role="tab" data-toggle="tab" ng-click="setTabFun(val.ID,val.Name)">
                    <div class="mobileSideMenuWrap">
                        <div class="mobileSideMenuIcon">
                            <i class="mobile-new-icon-side mobile-new-{{val.Icon}}" ></i>
                        </div>
                        <div class="mobileSideMenuTitleDiv" ><p class="mobileSideMenuTitle">{{val.Name}}</p></div>
                    </div>
                </a>
            </li>
-->
            <li ng-repeat="(key,val) in dashboards" ng-class="$index == 0 || (activeAppLabel == 'Certua' && val.Name == 'Insurance') ? 'active' : ''" ng-if="val.Parent == '' && val.Visible != 0" class="tutorial_{{val.ID}} {{val.Name}}"  >

                <a ng-if="val.Visible == 1" id="{{val.ID}}" href="" class="tutorial_topbar_item_{{val.ID}}" role="tab" data-toggle="tab" ng-click="setTabFun(val.ID,val.Name)">
                    <div class="mobileSideMenuWrap">
                        <div class="mobileSideMenuIcon" ng-class="$last ? 'mobileBorderRadiusLast' : ''" >
                            <i class="mobile-new-icon-side mobile-new-{{val.Icon}}" ></i>
                        </div>
                        <div class="mobileSideMenuTitleDiv" ng-class="$last ? 'mobileBorderBottomLast' : ''" ><p class="mobileSideMenuTitle">{{val.Name}}</p></div>
                    </div>
                </a>

                <!--
                <a ng-if="val.Visible == 2" href="" class="mobileSideMenuWrap" style="cursor: default;opacity:0.5" >
                    <div class="mobileSideMenuWrap">
                        <div class="mobileSideMenuIcon">
                            <i class="mobile-new-icon-side mobile-new-{{val.Icon}}" ></i>
                        </div>
                        <div class="mobileSideMenuTitleDiv" ><p class="mobileSideMenuTitle">{{val.Name}}</p></div>
                    </div>
                </a>
                -->
            </li>

        </ul>
        <div class="mobileLearnIconWrap">
            <div class="mobileLearnIconImg">
                <img src="\Images\icons\learn-icon.png">
            </div>
            <div class="mobileLearnIconText">
                <p>Learn</p>
            </div>
        </div>
    </md-sidenav>
</div>
