<link href="Styles/dashboards_styles.css" type="text/css" rel="stylesheet"></link>
<script src="Javascript/dashboards_libs.js" type="text/javascript" ></script>

<div class="page-header-fixed page-quick-sidebar-over-content" >

		<div ng-include src="'Templates/Global/top-panel.html'" ></div>

		<!-- <div class="clearfix"></div> -->
		
		<div class="page-container">
			<div ng-include src="'Templates/Dashboard/dashbrd.side-panel.html'" ></div>
			<div ng-include src="'Templates/Dashboard/page-content.html'" ></div>		
			
		</div>
</div>
<!--                  POPUPS            -->
<div class="modal fade" id="addCampaignDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Add New Track</h4>
			</div>
    <div class="modal-body" id="addcampaign_box">
		<div class="form-group">
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<td><label>Context Description</label></td>
						<td><input type="text" name="CampaignName" id="CampaignName" style="width: 100%;"></td>
					</tr>
					<tr>
						<td><label>Redirection Link <i class="fa fa-info-circle tooltips" style="color:#0266c8" alt="Paste in your app store or website target page." title="Paste in your app store or website target page."></i></label></td>
						<td><input type="text" name="RedirectionLink" id="RedirectionLink" style="width: 100%;"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<label id="addCampaignError" style="color:#ff0000"></label>
		</div>
		<div align="center"><button class="btn green newBtn" ng-click="onAddCampaign();">Submit</button></div>
		  
    </div>

		<div class="buttons"></div>
        <div class="loading" style="display:none;background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;min-height: 300px;"></div>
		</div>
	</div>
</div>
	<!-- <div class="modal fade" id="modal_country_select" style="overflow-y: hidden ! important;" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Filter</h4>
				</div>
				<div class="modal-body permission_box" id="modal_country_select_and_apply_div">
					<div class="portlet-body flip-scroll">
						
						<div class="filterAge" style="margin-bottom: 10px;" >
					
					<label style=" width: 150px; font-size: 17px;" >Age</label>

							<span>min </span><input type="number" ng-model="filter.age.min" class="filterInput" />
							<span>max </span><input type="number" ng-model="filter.age.max" class="filterInput" />
						</div>
						<div class="filterValue" style="margin-bottom: 10px;" >
							<label style=" width: 150px; font-size: 17px;" >Account Value</label>
							<span>min </span><input type="number" ng-model="filter.val.min" class="filterInput" />
							<span>max </span><input type="number" ng-model="filter.val.max" class="filterInput" />
						</div>
						<div class="filterGender" id="filterInsurance" style="position:relative;" >
							<label style=" width: 150px; font-size: 17px;" >Gender</label>
			
			<multiselect-dropdown arr="{{filter.gender}}" ></multiselect-dropdown>
	
							
						</div>
						
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button class="btn gray" ng-click="clearFilters();">Clear (no filtering)</button>
							<button data-dismiss="modal" class="btn green" ng-click="commitCountries();">Apply & Refresh</button>
							<button data-dismiss="modal" class="btn gray" ng-click="clearFilters();">Dismiss</button>
						</div>
								
					</div>
				</div>
			</div>
			
		</div>
	</div>		 -->
	
	<div class="modal fade" id="modal_dashboard_filter" style="overflow-y: hidden ! important;" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Filter</h4>
				</div>
				<div class="modal-body permission_box" >
					<div class="portlet-body flip-scroll">
					<div>
						<ul class="nav nav-tabs tutorial_all_view" id="filterTabs" >
							<li class="active" id="firstTab" ><a href="#Country" data-toggle="tab">Filter by country</a></li>
							<li><a href="#Platform" data-toggle="tab">Filter by platform</a></li>
							<li ng-if="activeAppLabel == 'Certua' || activeAppLabel == 'Insurance'" ><a href="#Business" data-toggle="tab">Business</a></li>
						</ul>
					</div>
						<div class="tab-content" style="height: 174px;" id="tabContent" >
							<div class="tab-pane fade active in" id="Country" style="padding-top:20px" >
								<span ng-if="!filterCountryArr" >
									<div style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 50px;"></div>
								</span>
								<span ng-if="filterCountryArr" id="filterCountryArr" >
									<multiselect-dropdown arr="{{filterCountryArr}}" ></multiselect-dropdown>
								</span>
							</div>
							<div class="tab-pane fade" id="Platform" style="padding-top:20px" >
								<span ng-if="!filterPlatformArr" >
									<div style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 50px;"></div>
								</span>
								<span ng-if="filterPlatformArr" id="filterPlatformArr" >
									<multiselect-dropdown arr="{{filterPlatformArr}}" ></multiselect-dropdown>
								</span>
							</div>
							<div class="tab-pane fade" id="Business">
								<div class="filterGender" id="filterInsurance" style="position:relative;" >
									<label style=" width: 150px;" >Gender</label>
									<multiselect-dropdown arr="{{filter.gender}}" ></multiselect-dropdown>
								</div>
								<div class="filterAge" style="margin: 10px 0;" >
									<label style=" width: 150px;" >Age</label>

									<span>min </span><input type="number" ng-model="filter.age.min" class="filterInput" />
									<span>max </span><input type="number" ng-model="filter.age.max" class="filterInput" />
								</div>
								<div class="filterValue" style="margin-bottom: 10px;" >
									<label style=" width: 150px;" >Account Value</label>
									<span>min </span><input type="number" ng-model="filter.val.min" class="filterInput" />
									<span>max </span><input type="number" ng-model="filter.val.max" class="filterInput" />
								</div>
							</div>			
						</div>
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button class="btn gray" data-dismiss="modal"  ng-click="clearFilters();">Clear & Refresh (no filtering)</button>
							<button data-dismiss="modal" class="btn green" ng-click="getDataBySelectedFilter();">Apply & Refresh</button>
							<button data-dismiss="modal" class="btn gray" >Dismiss</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>	
	
	<!-- END PAGE LEVEL SCRIPTS -->
<!-- 	<div class="modal fade" id="userImage" tabindex="-1" role="userImage" aria-hidden="true"></div> -->
	<div class="modal fade" id="show-data" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" id="graphRawDataModal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" ></h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						
						<div id="view_raw_data_div">
							<table class="table table-bordered table-striped table-condensed flip-content" id="view_raw_data_table"><thead class="flip-content">
									<tr id="raw-table-head">
										<th></th><th></th>
									</tr></thead><tbody></tbody></table>
						</div>
						
						<div class="modal-footer" style="padding: 10px 0px 0px 0px;">
							<button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
						</div>
						
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	<div class="modal fade" id="custom-graph" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Create New Graph</h4>
				</div>
				<div class="modal-body permission_box" style="padding: 0px 15px;">
					<div class="portlet-body flip-scroll" style="margin:15px;">
						
						
						<div class="input-icon create_graph" style="margin-bottom: 6px;">
								<i class="fa fa-pencil-square-o"></i>
								<input id="graph_title" class="newmail form-control placeholder-no-fix form-control-graph" onchange="titleChanged(this.value)" placeholder="Graph Title" name="email" type="text"></input>
							</div>
							
							<div class="input-icon create_graph" style="margin-bottom: 6px;">
								<i class="fa fa-pencil-square-o"></i>
								<input id="graph_description" class="newmail form-control placeholder-no-fix form-control-graph" placeholder="Graph Description" name="email" type="text"></input>
							</div>
												
						<!-- GRAPH TYPE -->
						<div class="input-icon create_graph" style="margin-bottom: 6px; padding-top: 15px;">
							<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Graph Type *</h4>
							<i id="tooltiptester" class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Determines the graph type"></i>
							<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="graph_type_title">Graph Type <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" role="menu"  style="width:100%">
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="graphTypeSelected('<i class=\'fa fa-bar-chart\'></i> Bar Chart', 'BarChart');" tabindex="-1" ><i class="fa fa-bar-chart"></i> Bar Chart</a></li>
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="graphTypeSelected('<i class=\'fa fa-line-chart\'></i> Line Chart', 'BasicChart');" tabindex="-1" ><i class="fa fa-line-chart"></i> Line Chart</a></li>
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="graphTypeSelected('<i class=\'fa fa-pie-chart\'></i> Pie Chart', 'PieChart');" tabindex="-1" ><i class="fa fa-pie-chart"></i> Pie Chart</a></li>
								
								<li role="presentation" class="divider"></li>								
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="graphTypeSelected('<i class=\'fa fa-tachometer\'></i> Counter', 'CounterChart');" tabindex="-1" ><i class="fa fa-tachometer"></i> Counter</a></li>
								
								<!--Am charts-->
								<li role="presentation" class="divider"></li>
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="graphTypeSelected('<i class=\'fa fa-bar-chart\'></i> Am Bar Chart', 'amBarChart');" tabindex="-1" ><i class="fa fa-bar-chart"></i> Am Bar Chart</a></li>
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="graphTypeSelected('<i class=\'fa fa-line-chart\'></i> Am Line Chart', 'amLineChart');" tabindex="-1" ><i class="fa fa-line-chart"></i> Am Line Chart</a></li>
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="graphTypeSelected('<i class=\'fa fa-pie-chart\'></i> Am Pie Chart', 'amPieChart');" tabindex="-1" ><i class="fa fa-pie-chart"></i> Am Pie Chart</a></li>
								<!--Am charts-->
								
							</ul>
						</div> 						
						
						<!-- HIDDEN DIV -->
						<div id="stage_2" style="display:none">
						
							<!-- EVENT NAME -->
							<div class="input-icon create_graph" style="margin-bottom: 6px; margin-top:5px">
								<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Event Name *</h4>
								<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="The event we are going to use in order to query the data (y-axis on graphs, data provider on pie / counter)"></i>
								<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="event_title">Event Name <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu" role="menu" style="width:100%">
								<div class="slimScrollDiv" id="custom_events_dropdown" style="position: relative; overflow: hidden; width: auto; height: 200px;"></div>
								<div style="background: rgb(161, 178, 189) none repeat scroll 0% 0%; width: 12px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 63.4921px;" class="slimScrollBar ui-draggable"></div>
								</ul>
							</div>
						
							
							<div id="stage_3" style="display:none"><!-- </div>
							
							
								<!-- EVENT Modifier -->
								<div class="input-icon create_graph" style="margin-bottom: 6px">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Modifier *</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Determines what modifier to put on the selected 'Event Name' above. Every event name has its own set of modifiers."></i>
									<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="values_title">Values <i class="fa fa-angle-down"></i>
									</button>
									

									<ul class="dropdown-menu" role="menu" style="width:100%">
										<div class="slimScrollDiv" id="custom_values_dropdown" style="position: relative; overflow: hidden; width: auto; height: 200px;"></div>
										<div style="background: rgb(161, 178, 189) none repeat scroll 0% 0%; width: 12px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 63.4921px;" class="slimScrollBar ui-draggable"></div>
									</ul>
								</div>
								
								<div class="input-icon create_graph" style="margin-bottom: 6px" id="group_by">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Group By *</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Determions a field to group the result set by."></i>
									<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="group_by_title">None <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu" style="width:100%">
									<div class="slimScrollDiv" id="groupby_values_dropdown" style="position: relative; overflow: hidden; width: auto; height: 200px;"></div>
									<div style="background: rgb(161, 178, 189) none repeat scroll 0% 0%; width: 12px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 63.4921px;" class="slimScrollBar ui-draggable"></div>
									</ul>
								</div>
								
								<!-- MEASURE PERIOD -->
								<div class="input-icon create_graph" style="margin-bottom: 6px;" id="measure_period">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Measure Period *</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Determines grouping by dates (relevant only for bar / line charts). eg. Monthly will give results grouped by moneths."></i>
									<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="period_title">None <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu" role="menu"  style="width:100%">
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="periodSelected('Monthly');" tabindex="-1" >Monthly</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="periodSelected('Daily');" tabindex="-1" >Daily</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="periodSelected('Hourly');" tabindex="-1" >Hourly</a></li>
									</ul>
								</div>
								
								<!-- DASHBOARD NAME -->
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Dashboard Name *</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="The dashboard this graph will be stored into."></i>
									<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="dashboard_title">Dashboard Name <i class="fa fa-angle-down"></i></button>
									<ul class="dropdown-menu" role="menu" style="width:100%">										
										<div class="slimScrollDiv" id="dashboard_names_dropdown" style="position: relative; overflow: hidden; width: auto; height: 200px;">
										</div>
									</ul>
								</div>

								<!-- FILTERS -->
								
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Filters</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="The field to filter result set by. You can set as many as you wish. Similar filtered fields will be grouped by 'OR', Different fields will be grouped by 'AND'."></i>
									<a href="#create-filters" data-toggle="modal" ng-click="resetFilterModal();"><div class="floating_plus"><i class="fa fa-pencil"></i></div></a>
									<div class="filtersbox" id="filters_scroll">
									</div>
								</div>
								
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Permissions</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Set users that can view this graph in thier account. Users must have permissions to at least 'read' current game to appear in this list."></i>
									<!--<input tabindex="-1" id="permissions_div" class="form-control select2 select2-offscreen" value="" type="hidden">-->
									
									<select class="js-example-basic-multiple" id="permissions_div" multiple="multiple" style="width:100%;">
							  
									</select>
								</div>
							</div>
						</div>
						
						<div class="modal-footer" style="padding: 10px 0px 0px 0px;">
							<a href="#preview-graph" data-toggle="modal" ng-click="showPreview();" id="preview_btn"><button class="btn blue">Preview</button></a>
							<button data-dismiss="modal" class="btn green" ng-click="sendGraph();" id="conmfirm_btn">Apply</button>
							<button class="btn default" data-dismiss="modal" aria-hidden="true">Dismiss</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	
	
	
	<div class="modal fade" id="custom-funnel" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="funnel_modal_title" style="margin-left:15px;font-size: 26px;" >Create New User Funnel</h4>
					<div class="funnel_description_title" id="funnel_modal_desc" style="margin-left:15px;" >Create New User Funnel</div>
				
				</div>
				<div class="modal-body permission_box" style="padding: 0px 15px;">
					<div class="portlet-body flip-scroll" style="margin:15px;">
						
						<div style=" min-height:300px">
							<div id="funnel_step_1">
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<i class="fa fa-pencil-square-o"></i>
									<input id="funnel_title" class="newmail form-control placeholder-no-fix form-control-graph" placeholder="Funnel Title *" type="text"></input>
								</div>
								
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<i class="fa fa-pencil-square-o"></i>
									<input id="funnel_description" class="newmail form-control placeholder-no-fix form-control-graph" placeholder="Funnel Description" type="text"></input>
								</div>
							</div>
							
							
							<!-- HIDDEN DIV -->
							<div id="funnel_step_2" style="display: none;">
								
								
								<!--<div id="stage_3" style="display:none"> </div>
								
									<!-- FILTERS -->
									
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Funnel Events</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Add and sort a series of events that lead towards your defined goal"></i>
									<span ng-if="isGetFunnelEvents === true" ><a  ng-click="resetFunnelEventModal();"><div class="floating_plus">New Step <i class="fa fa-plus"></i></div></a></span>
									<span ng-if="isGetFunnelEvents === false" ><div class="floating_plus">New Step <i class="fa fa-spinner" aria-hidden="true"></i></div></span>
									<div class="filtersbox" id="funnel_events_scroll" style="min-height:200px;">
									</div>
								</div>
								<!--</div>-->
							</div>
							
							<div id="funnel_step_3" style="display: none;">
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Dashboard Name *</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="The dashboard this graph will be stored into."></i>
									<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="dashboard_funnel_title">Dashboard Name <i class="fa fa-angle-down"></i></button>
									<ul class="dropdown-menu" role="menu" style="width:100%">										
										<div class="slimScrollDiv" id="dashboard_names_dropdown_funnel" style="position: relative; overflow: hidden; width: auto; height: 200px;">
											<li role="presentation" class="divider"></li>
											<li role="presentation" ng-repeat="(key,val) in funnelDashboardNames" style="width:100%" ><a role="menuitem" ng-click="dashboardFunnelSelected(val.name, val.id);" tabindex="-1">{{val.name}}</a></li>
										</div>
									</ul>
								</div>
							</div>
							
							
							<div id="funnel_step_4" style="display: none;">
								<div class="input-icon create_graph" style="margin-bottom: 6px;" id="newFunnelUsersArr" >
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Permissions</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Set users that can view this graph in thier account. Users must have permissions to at least 'read' current game to appear in this list."></i>
									<!--<input tabindex="-1" id="permissions_div" class="form-control select2 select2-offscreen" value="" type="hidden">-->
									
									<!-- <select class="js-example-basic-multiple" id="permissions_div_funnel" multiple="multiple" style="width:100%;">
							  
									</select> -->
									
		<!-- <div class='btn-group' data-ng-class='{open: open}' style='width: 100%;position: relative;height: 50px;'>
			<ul style="padding: 0;display: inline-block;position: absolute;top: 3px;" >
				<li ng-repeat='opt in filter.gender' ng-if='opt.add' style='list-style-type: none;float:left;' >
					<div class="SelectItem" >{{opt.name}}<i ng-click='delSelectItem(opt)' class='fa fa-times' aria-hidden='true' ></i></div>
				</li>
			</ul>
			
			<div style='width: 100%;border: 1px solid #d2d2d2;display: inline-block;height: 46px;padding: 12px;' ng-click='openDropdown()' >
				<div class='dropdown-toggle' style='float:right;text-align: center;box-shadow: none;    margin-top: -4px;    height: 34px;' >
				<i ng-class="openGenderFlag ? 'fa fa-angle-double-down' : 'fa fa-angle-double-down des'" aria-hidden="true" style="margin-top: 0;"></i></div>
			</div>
			
            <ul class='dropdown-menu' aria-labelledby='dropdownMenu' style='position:relative;top: -6px;    width: 100%;    border: 1px solid #d2d2d2;    box-shadow: none;'>
				<li style='cursor:pointer;' ng-repeat='option in filter.gender' ng-if='!option.add' ><a ng-click='addSelectItem(option)'><span ng-class='getClassName(option)' aria-hidden='true'></span> {{option.name}}</a></li>
            </ul>
			
        </div> -->
							<span ng-if="newFunnelUsersArr" >
								<multiselect-dropdown arr="{{newFunnelUsersArr}}" ></multiselect-dropdown>
							 </span>
								</div>
							</div>
						</div>
						
						<div class="modal-footer" style="padding: 10px 0px 0px 0px;">
							<button class="btn green-seagreen" ng-click="sendFunnel();" id="funnel_confirm" style="display: none;">Finish</button>
							<a  ng-click="previewFunnel();" id="funnel_preview" style="display: none;"><button class="btn green">Preview</button></a>
							<button class="btn green" ng-click="backFunnelStep();" id="funnel_back" style="display: none;">Back</button>
							<button class="btn green" ng-click="nextFunnelStep();" id="funnel_next" style="display: none;">Next</button>
							<button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
<div class="modal fade" id="createFunnelModal" role="dialog">
    <div class="modal-dialog audience-modal" style="width: 900px;min-width: 900px;" >
    	  
      <!-- Modal content-->
		 <div class="modal-content" style="height: 603px;" >
			<div class="modal-header" style="height:50px;" >
				<h4 class="modal-title0" style="margin-top:1px;" >Create Funnel</h4>
				<div style="position: absolute;right: 5px;background: transparent;font-size: 30px;margin: 0 5px;padding: 0;height: 42px;width: 32px;text-align: center;top: 0;cursor: pointer;" data-dismiss="modal">×</div>
			</div>
			<!-- class="audience-modal-name" -->
			<div class="modal-body" style="padding: 0;float: left;width: 100%;" >
				
				<!-- step 1 -->
				<div ng-if="funnelModal.step == 1" style="width:100%;float: left;height: 100%;" >
					<div class="ActionType" >
						<div style="padding: 20px 20px 0 20px;float: left;width: 80%;" class="ActionType" >
							<div style="float: left;margin: 10px 20px 0 10px;height: 100%;" >
								<div class="active-step-num" >1</div>
								<div class="active-step-border" ></div>
							</div>
							<p style="margin: 3px 0 23px 70px;font-size: 18px;color:#555;" >Settings</p>
							<div style="padding-top: 17px;    margin-left: 7%;" >
								
								<div style="position:relative;height: 40px;margin-bottom: 15px;" >
									<input type="text" ng-model="funnelModal.data.Name" class="audienceModal-select" placeholder="Enter funnel name" style="padding: 0 12px 0 20px;" />
								</div>
								<div style="position:relative;height: 40px;margin-bottom: 15px;" >
									<input type="text" ng-model="funnelModal.data.Description" class="audienceModal-select" placeholder="Enter funnel description" style="padding: 0 12px 0 20px;" />
								</div>
								<div class="dropdown" dashboard >
									<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
										<input type="text" ng-model="funnelModal.DashboardName" class="audienceModal-select" style="padding-top:0" placeholder="Select dashboard" />
										<div class="audienceModal-select-icon"  >
											<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 21px;margin-top: 3px;" ></i>
										</div>
									</div>
									<ul class="dropdown-menu" style="width:100%;max-height: 170px;    overflow: auto;" >
										<li><a tabindex="-1" ng-repeat="(k,v) in funnelModal.dashboarDatadArr" ng-click="funnelModal.data.Dashboardid = v.id;funnelModal.DashboardName = v.name" >{{v.name}}</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="active-step-right" style="overflow: auto;width: 20%;" >
							<label>Settings</label>
							<p>Select the title and description for user funnel.<br/>
							Select the dashboard for the graph. This action CANT be changed.
							</p>
						</div>
					</div>
					
					<div style="width:100%;display: inline-block;" >
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Events</label>
						</div>
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >3</div>
							<label style="margin-top: 9px;" >Permissions</label>
						</div>
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >4</div>
							<label style="margin-top: 9px;" >Preview</label>
						</div>
					</div>
					
				</div>
				
				<!-- step 2 action -->
				<div ng-if="funnelModal.step == 2" style="width:100%;" class="ActionType" >
					
					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" >Settings</label>
							<span class="system-checkmark"></span>
						</div>
					</div>
					
					<div style="height: 100%;" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 80%;" >
							<div style="float: left;margin: 0 20px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >2</div>
								<div class="active-step-border" ></div>
							</div>
							
							<div style="float: left;padding-top: 23px;    width: 90%;" id="funnelModalStep2">
								<p style="margin:0 0 23px 20px;font-size: 18px;color:#555;" >Events</p>
								
								<div style="float: left;    width: 100%;" >
									
	<div style="float:left;width:43%;margin-right: 2%;" >								
		<div class="dropdown" >
			<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
				<input type="text" ng-model="funnelModal.checkType" class="audienceModal-select" style="padding-top:0" placeholder="Select Type Event" />
				<div class="audienceModal-select-icon" >
					<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 21px;margin-top: 3px;" ></i>
				</div>
			</div>
			<ul class="dropdown-menu" style="width:100%;max-height: 184px;    overflow: auto;" >
				<li ng-if="!funnelModal.eventDataArr" style="text-align: center;padding: 10px 0;" ><i class="fa fa-spinner fa-spin" aria-hidden="true" ></i></li>
				<li ng-if="funnelModal.eventDataArr" ng-repeat="(k,v) in funnelModal.eventDataArr" >
					<a ng-click="funnelModal.checkType = v.event " tabindex="-1" >{{v.event}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div style="float:left;width:43%;margin-right: 2%;" >	
		<span ng-repeat="(key,val) in funnelModal.eventDataArr" >	
			<div class="dropdown" ng-if="funnelModal.checkType == val.event" >
				<div data-toggle="dropdown" class="searchEventInput audienceModal-select-box" >
					<input type="text" ng-model="funnelModal.checkAction" class="audienceModal-select" style="padding-top:0" placeholder="Select Event" />
					<div class="audienceModal-select-icon" >
						<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 21px;margin-top: 3px;" ></i>
					</div>
				</div>
				<ul class="dropdown-menu" style="width:100%;max-height: 184px;    overflow: auto;" >
					<li ng-if="funnelModal.eventDataArr" ng-repeat="(k,v) in val.actions" >
						<a ng-click="funnelModal.checkAction = v" tabindex="-1" >{{v}}</a>
					</li>
				</ul>
			</div>							
		</span>	
	</div>
	<div style="float: right;margin-top: 3px;" >
		<button ng-if="funnelModal.checkAction && funnelModal.checkAction != ''" class="btn green" ng-click="addEventFun(funnelModal.checkType,funnelModal.checkAction)" >Add</button>
	</div>
	
	</div>	
	
	<span ng-if="funnelModal.checkEvent.length > 0" >
	<label style="width: 100%;" >Selected events: </label>
	<div style="width:100%;float:left;border: 1px solid #d2d2d2;max-height: 177px;overflow:auto;padding: 5px 5px 0;border-radius: 5px;" >
		<label ng-repeat="(key,val) in funnelModal.checkEvent" style="border: 1px solid #d2d2d2;color: #555;padding: 5px;margin-right: 5px;" >
			<label>{{val.label}}: </label><label style="margin-left: 5px;" >{{val.act}}</label>
			<i ng-click="delEventFun($index)" class="fa fa-times" aria-hidden="true" style="margin-left:5px;cursor:pointer" ></i>
		</label>
	</div>					
							
							</div>
						</div>
						
						<div class="active-step-right" style="overflow: auto; width: 20%;" >
							<label>Events</label>
							<p>Select your funnel events. must add at least 2 events.</p>
						</div>
					</div>
					
					<div style="width:100%;display: inline-block;" >
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >3</div>
							<label style="margin-top: 9px;" >Permissions</label>
						</div>
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >4</div>
							<label style="margin-top: 9px;" >Preview</label>
						</div>
					</div>
					
				</div>
				
				<!-- step 3 -->
				<div ng-if="funnelModal.step == 3" style="width:100%;" class="ActionType" >
					
					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" >Settings</label>
							<span class="system-checkmark"></span>
						</div>
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;height:100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Events</label>
							<span class="system-checkmark"></span>
						</div>
					</div>
					
					<div style="height: 100%;" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 80%;" >
							<div style="float: left;margin: 0 20px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >3</div>
								<div class="active-step-border" ></div>
							</div>
							
							<div style="float: left;padding-top: 23px;    width: 90%;" id="funnelModalStep2">
								<p style="margin:0 0 23px 20px;font-size: 18px;color:#555;" >Permissions</p>
								
								<div users ng-if="funnelModal.userDataArr.length > 0" style="height: auto;margin-bottom: 15px;">
									<multiselect-dropdown arr="{{funnelModal.userDataArr}}" ></multiselect-dropdown>
								</div>
								
								<div users ng-if="funnelModal.userDataArr.length == 0" style="height: auto;margin-bottom: 15px;">
									NO DATA
								</div>
								
							</div>	
						</div>
						<div class="active-step-right" style="overflow: auto; width: 20%;" >
							<label>Permissions</label>
							<p>Select which users will be able to see your funnel.</p>
						</div>
					</div>
					<div style="width:100%;display: inline-block;" >
						<div style="background: #ebebeb;border-top: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >4</div>
							<label style="margin-top: 9px;" >Preview</label>
						</div>
					</div>
				</div>
				
				
				<!-- step 4 -->
				<div ng-if="funnelModal.step == 4" style="width:100%;" class="ActionType" >
					
					<div style="width:100%;" >
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;" >
							<div class="step-num" >1</div>
							<label style="margin-top: 9px;" >Settings</label>
							<span class="system-checkmark"></span>
						</div>
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;height:100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Events</label>
							<span class="system-checkmark"></span>
						</div>
						<div style="background: #ebebeb;border-bottom: 1px solid #cdcdcd;float: left;width: 100%;height:100%;" >
							<div class="step-num" >2</div>
							<label style="margin-top: 9px;" >Permissions</label>
							<span class="system-checkmark"></span>
						</div>
					</div>
					
					<div style="height: 100%;" >
						<div style="padding: 0 20px 0 20px;height: 100%;float: left;    width: 100%;" >
							<div style="float: left;margin: 0 20px 0 10px;position: relative;height: 100%;" >
								<div class="active-step-num" >3</div>
								<div class="active-step-border" ></div>
							</div>
							<div style="float: left;padding-top: 23px;    width: 90%;" >
								<p style="margin: 0 0 5px 20px;font-size: 18px;color:#555;" >Preview</p>
								<div style="float: left;margin:0;width:100%" >
					<div class="portlet box blue" >
						<div class="portlet-title">
							<div style="text-align: left;width: 50%;float: left;margin-top: 10px;font-size: 16px;font-weight: 600;color: #41B7E9;overflow: hidden;text-overflow: ellipsis;" >{{funnelModal.data.Name}}</div>
						</div>
						
						<div class="portlet-body" >
							<div class="chart" slimscroll style="height:166px;"  >
								<div ng-if="!funnelModal.prevFunnelData" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
								<funnelprev ng-if="funnelModal.prevFunnelData"  ></funnelprev>
							</div>
						</div>
						<div class="caption_desc" ng-if="funnelModal.data.Description" >{{funnelModal.data.Description}}</div>
						<div class="caption_desc" ng-if="!funnelModal.data.Description" >Graph</div>
					</div>
								</div>
							<div style="float: left;width:50%" >
							
							
							</div>
							
							</div>
						</div>
						
					</div>

					
				</div>
				
				<div ng-if="messageError.empty" style="position: absolute;bottom: 124px;width:100%;text-align:center; color: red;font-size: 18px;background-color: rgba(0,0,0,0.3);padding: 10px;" >Please fill in all the information before applying</div>
				<div ng-if="messageError.event" style="position: absolute;bottom: 8px;width:100%;text-align:center;color: red;font-size: 18px;background-color: rgba(0,0,0,0.3);padding: 10px;" >You must select at least two events</div>
				
			</div>
			
			<div class="modal-footer" style="    position: absolute;bottom: 0;width: 100%;    padding: 0px;    border: 0px;    height: 50px;" >
				<span ng-if="funnelModal.step == 1" >
					<div ng-if="funnelModal.data.Name == '' || funnelModal.data.Description == '' || funnelModal.data.Dashboardid == '' " class="btn-yellow3" style="width: 100%;border-radius: 0 0 6px 6px;" ng-click="messageError.empty = true" >Next</div>
					<div ng-if="funnelModal.data.Name != '' && funnelModal.data.Description != '' && funnelModal.data.Dashboardid != '' " class="btn-yellow3" style="width: 100%;border-radius: 0 0 6px 6px;" ng-click="funnelModal.step = 2" >Next</div>
				</span>
				<span ng-if="funnelModal.step == 2" >
					<div class="btn-back" ng-click="changeTypeFun('Action');funnelModal.step = 1;" ><img src="Images/audience/go-back.png" /></div>
					<div  class="btn-yellow3" ng-if="funnelModal.checkEvent.length < 2" ng-click="messageError.event = true" >Next</div>
					<div  class="btn-yellow3" ng-if="funnelModal.checkEvent.length >= 2" ng-click="funnelModal.step = 3;previewFunnelFun()" >Next</div>
					<div ng-if="funnelModal.checkEvent.length < 2" class="btn-complete" ng-click="messageError.event = true" >Complete <span class="v" ></span></div>
					<div ng-if="funnelModal.checkEvent.length >= 2" class="btn-complete" ng-click="createFunelFun()" >Complete <span class="v" ></span></div>
				</span>
				<span ng-if="funnelModal.step == 3" >
					<div class="btn-back" ng-click="changeTypeFun('Action');funnelModal.step = 2;" ><img src="Images/audience/go-back.png" /></div>
					<div  class="btn-yellow3" ng-click="funnelModal.step = 4;funnelModalSaveUsersArrFun();previewFunnelFun()" >Next</div>
					<div class="btn-complete" ng-click="funnelModalSaveUsersArrFun();createFunelFun()" >Complete <span class="v" ></span></div>
				</span>
				<span ng-if="funnelModal.step == 4" >
					<div class="btn-back" ng-click="funnelModal.step = 3" ><img src="Images/audience/go-back.png" /></div>
					<div class="btn-complete" ng-click="createFunelFun()" style="width:93%;border-left:0;" >Complete <span class="v" ></span></div>
				</span>
			</div>
			
		 </div>
      
    </div>
</div>
	
	
	
	
	<div class="modal fade" id="add_funnel_events" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog" style="width: 320px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Add Funnel Event</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
					
							<!-- FILTER EVENT -->
							<div class="input-icon create_graph" style="margin-bottom: 6px;">
								<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Event Type</h4>
								<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="List events by types e.g. Clicks, Screens, Purchase, Custom..."></i>
								<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="funnel_event_type_title">Funnel Event Type <i class="fa fa-angle-down"></i></button>
								<ul class="dropdown-menu" role="menu"  style="width:100%">
									<div class="slimScrollDiv" id="funnel_events_type_dropdown" style="position: relative; overflow: hidden; width: auto; height: 200px;">
										<li role="presentation" class="divider"></li>
										<li role="presentation" ng-repeat="(key,val) in funnelEventsActions" style="width:100%"><a role="menuitem" ng-click="funnelActionTypeSelected(val);" tabindex="-1">{{val}}</a></li>
									</div>
								</ul>
							</div>
							
							<div class="input-icon create_graph" style="margin-bottom: 6px;">
								<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Event</h4>
								<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Event name as tagged from the application. Could be button's id, screen id etc"></i>
								<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="funnel_event_title">Select Event <i class="fa fa-angle-down"></i></button>
								<ul class="dropdown-menu" role="menu"  style="width:100%">
									<div class="slimScrollDiv" id="funnel_events_dropdown" style="position: relative; overflow: auto; width: auto; height: 200px;">
										<li role="presentation" class="divider"></li>
										<li role="presentation" ng-repeat="(key,val) in eventsByActions[funnelSelectedAction]" style="width:100%"><a role="menuitem" title="{{val}}" ng-click="funnelEventSelected(val);" tabindex="-1">{{val}}</a></li>
									</div>									
								</ul>
							</div>
							
							<div class="modal-footer" style="padding: 10px 0px 0px 0px;">
								<button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
								<button data-dismiss="modal" class="btn green" ng-click="addFunnelEvent();">Add</button>
							</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	
	
	
	<div class="modal fade" id="create_cohort" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Create new Audience</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<!-- <div id="cohorts_loading" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div> -->
						<div id="cohorts_content">
							<div style="display: inline-block; font-size: 16px;padding-right: 10px;padding-bottom: 50px; padding-left: 3px;height: 30px;padding-top: 40px;">Name</div>
							<div style="display: inline-block; padding-left:10px; width: 500px;height: 30px;padding-top: 9px;">
								<input id="cohort_name" class="form-control placeholder-no-fix form-control-graph cohorts_dropdown" placeholder="Cohort name" type="text">
							</div>
							
							<div class="divider" style="border-bottom: 1px solid #EFEFEF; margin: 20px 0 40px 0;"></div>
							
							<div style="display: inline-block;font-size: 16px;padding-right: 10px;padding-bottom: 10px; padding-left: 3px;">Segment by</div>
							
							<div class="dropdown" style="display: inline-block;">
								<button class="btn gray dropdown-toggle cohorts_dropdown" id="cohorts_action_title" type="button" data-toggle="dropdown">Select Action
								<span class="caret cohort_caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="cohorts_action">
									<li role="presentation" ng-repeat="(key,val) in lines" ><a role="menuitem" tabindex="-1" ng-click="selectEventCategory(key)">{{key}}</a></li>
								</ul>
							</div>
							
							<div class="dropdown" style="display: inline-block; padding-left:10px;" id="cohort_events_list">
								<button class="btn gray dropdown-toggle cohorts_dropdown" id="cohorts_sel_event_title" type="button" data-toggle="dropdown">Select Event
								<span class="caret cohort_caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="cohorts_sel_event">
									<li role="presentation" ng-repeat="(key,val) in lines22" ><a role="menuitem" tabindex="-1" ng-click="selectEvent($index)">{{val.value}}</a></li>								
								</ul>
							</div>
							
							<span id="cohorts_modifiers_block">
								<div class="dropdown" style="display: inline-block; padding-left:10px;">
									<button class="btn gray dropdown-toggle cohorts_dropdown" id="cohorts_condition_title" type="button" data-toggle="dropdown">>
									<span class="caret cohort_caret"></span></button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="cohorts_condition"> 
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectMod('>')">></a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectMod('<')"><</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectMod('=')">=</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectMod('>=')" id="cohort_ge">>=</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectMod('<=')" id="cohort_le"><=</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectMod('!=')" id="cohort_ne">!=</a></li>
									</ul>
								</div>
								
								
								<div style="display: inline-block; padding-left:10px; width: 80px;height: 36px;padding-top: 9px;">
									<input id="cohorts_amount_input" class="form-control placeholder-no-fix form-control-graph cohorts_dropdown" value="1" type="number"  min="0" step="1">
								</div>
								<span id="ui-spinner"></span>
								
								<span style="font-size: 16px; padding-right: 10px;padding-bottom: 10px; padding-left: 3px;">times.</span>
							
							</span>
							
							<br/>
							
							
							
							<div id="cohorts_timing_block" style="padding-top:0px;">
								<div class="dropdown" style="display: inline-block; margin-left: 104px;">
									<button class="btn gray dropdown-toggle cohorts_dropdown" id="cohorts_within_title" type="button" data-toggle="dropdown">last
									<span class="caret cohort_caret"></span></button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1"  id="cohorts_within">
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectTimingDef('last')">last</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectTimingDef('within')">within</a></li>
									</ul>
								</div>
								
								<div style="display: inline-block; padding-left:10px; width: 80px;height: 30px;padding-top: 9px;">
									<input id="cohorts_within_amount_input" class="form-control placeholder-no-fix form-control-graph cohorts_dropdown" min="0" value="1" type="number">
								</div>
								
								<div class="dropdown" style="display: inline-block; padding-left:10px;">
									<button class="btn gray dropdown-toggle cohorts_dropdown" id="cohorts_groupby_title" type="button" data-toggle="dropdown">days
									<span class="caret cohort_caret"></span></button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="cohorts_groupby"> 
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectTimingPeriod('days')">days</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectTimingPeriod('weeks')">weeks</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectTimingPeriod('months')">months</a></li>
									</ul>
								</div>
							
							
								<span style="font-size: 16px;padding-right: 10px;padding-bottom: 10px; padding-left: 3px;" id="cohort_first_use_desc"></span>
								
							</div>
							
							<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
								<button data-dismiss="modal" class="btn grey" style="float: right;" >Close</button>
								<button class="btn green" ng-click="createCohortFun();" style="float: right;    margin-right: 20px;" >Create</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>

	
	
	<div class="modal fade" id="create_cohort_lite" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 700px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Create new Audience</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<div id="cohorts_lite_loading" style="display:none; background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div>
						<div id="cohorts_lite_content">
							<br/>
							<h4 class="modal-title" style="margin-bottom: 3px;">Audience name: </h4>
							<input id="lite_cohort_name" name="listName" type="text" style="margin-bottom:10px; width:100%;"/>
							<br/>
							<h4 class="modal-title" style="margin-bottom: 3px;">Select required segment </h4>
							<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%;" id="choose_segment_button" data-template-id="">
							</button>
							<ul class="dropdown-menu" role="menu" id="choose_segment_dropdown"  style="position: relative; width:100%; margin-bottom:10px; left:0;">
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="mailingListsCohortSelected('All Emails')" tabindex="-1" class="ng-binding">All Emails</a></li>
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="mailingListsCohortSelected('Opened Emails')" tabindex="-1" class="ng-binding">Opened Emails</a></li>
								<li role="presentation" style="width:100%"><a role="menuitem" ng-click="mailingListsCohortSelected('Non-Opened Emails')" tabindex="-1" class="ng-binding">Non-Opened Emails</a></li>
							</ul>
							
							<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
								<button data-dismiss="modal" class="btn gray">Close</button>
								<button class="btn green" ng-click="mailingListsCreateCohort();">Create</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	<div class="modal fade" id="create-filters" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >New filter</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
					
							<!-- FILTER EVENT -->
							<div class="input-icon create_graph" style="margin-bottom: 6px;">
								<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Filter By Event</h4>
								<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Filter field. Result set will be filtered by this field."></i>
								<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="filter_event_title">Filter By Event <i class="fa fa-angle-down"></i></button>
								<ul class="dropdown-menu" role="menu"  style="width:100%">
									<div class="slimScrollDiv" id="filter_by_event_dropdown" style="position: relative; overflow: hidden; width: auto; height: 200px;"></div>									
								</ul>
							</div>
							
							<div id="stage_2_filters">
							</div>
								
								<!-- FILTER Functionality -->
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
									<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Operator</h4>
									<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Operators to apply on selected event above."></i>
									<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%" id="filter_functionality_title">Operator <i class="fa fa-angle-down"></i></button>
									<ul class="dropdown-menu" role="menu"  style="width:100%" id="fields_dropdown">
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="filterFunctionalitySelected('Equals ( = )', '2005', '0');" tabindex="-1" >Equals ( = )</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="filterFunctionalitySelected('Not Equals ( != )', '2006', '0');" tabindex="-1" >Not Equals ( != )</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="filterFunctionalitySelected('Greater ( > )', '2002', '1');" tabindex="-1" >Greater ( > )</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="filterFunctionalitySelected('Less ( < )', '2001', '1');" tabindex="-1" >Less ( < )</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="filterFunctionalitySelected('Between ( < X < )', '2007', '2');" tabindex="-1" >Between ( < X < )</a></li>
									</ul>
								</div>
								<div id="filter_free_values">
								
									<div id="filter_free_values_0" class="input-icon create_graph" style="margin-bottom: 6px;">
										<i class="fa fa-pencil-square-o"></i>
										<input id="free_value_0" class="newmail form-control placeholder-no-fix" placeholder="Free Values" name="values" type="text"></input>
									</div>
									
									<div id="filter_free_values_1" class="input-icon create_graph" style="margin-bottom: 6px;">
										<i class="fa fa-pencil-square-o"></i>
										<input id="free_value_1" class="newmail form-control placeholder-no-fix freevalue" placeholder="Free Values" name="values" type="text"></input>
										<label id="filter_free_values_1_and_eq" class="freevaluecheck">
											<input id="filter_free_values_1_and_eq_val" name="toasts" value="success" checked="" type="checkbox"> & Equals 
										</label>
									</div>
									
									<div id="filter_free_values_2" class="input-icon create_graph" style="margin-bottom: 6px">
										<i class="fa fa-pencil-square-o"></i>
										<input id="free_value_2" class="newmail form-control placeholder-no-fix freevalue" placeholder="Free Values" name="values" type="text"></input>
										<label id="filter_free_values_2_and_eq" class="freevaluecheck">
											<input id="filter_free_values_2_and_eq_val" name="toasts" value="success" checked="" type="checkbox"> & Equals 
										</label>
									</div>
								</div>
							
							<div class="modal-footer" style="padding: 10px 0px 0px 0px;">
								<button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
								<button data-dismiss="modal" class="btn green" ng-click="addFilterLine();">Add</button>
							</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	
	<div class="modal fade" id="preview-graph" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog" style="width: 50%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title"style="font-size:30px;">Preview</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet box blue" >
						<div class="portlet-title">
							<div style="text-align: left;width: 50%;float: left;margin-top: 10px;font-size: 16px;font-weight: 600;color: #41B7E9;overflow: hidden;text-overflow: ellipsis;" >{{prevFunnelName}}</div>
						</div>
						
						<div class="portlet-body" >
							<div id="{{graphs.ID}}" class="chart" slimscroll >
								<div ng-if="!prevFunnelData" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 100%;"></div>
								<funnelprev ng-if="prevFunnelData"  ></funnelprev>
							</div>
						</div>
						<div class="caption_desc" ng-if="prevFunnelDescription" >{{prevFunnelDescription}}</div>
						<div class="caption_desc" ng-if="!prevFunnelDescription" >Graph</div>
					</div>
				</div>
				<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin:10px;">
					<button class="btn default" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	<div class="modal fade" id="search-user" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title"style="font-size:30px;">Search Users</h4>
				</div>
				<div class="modal-body permission_box">
				
					<div id='search_user_loading' style="display:none; margin-bottom:10px;"><i class="fa fa-cog fa-spin" style="color:#888; font-size:25px;"></i><span style="color:#888; font-size:15px; margin-left:10px;">Searching...</span></div>
					<div id='search_user_box'>
						<div style="display: inline-block; font-size: 15px;color: #555;margin-right: 10px; margin-left: 20px;"> Search By: </div>
						
						<div class="portlet-body flip-scroll" style="display: inline-block;">
							<div class="dropdown">
							  <button class="btn default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
								<span id="search_title">User ID</span>
								<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a  ng-click="UserSearchSearchBy('userid');">User ID</a></li>
								<li><a  ng-click="UserSearchSearchBy('hardwareid');">Hardware ID</a></li>
								<li><a  ng-click="UserSearchSearchBy('email');">Email</a></li>
								<li><a  ng-click="UserSearchSearchBy('fullname');">Full Name</a></li>
								<li><a  ng-click="UserSearchSearchBy('lastname');">Last Name</a></li>
							  </ul>
							</div>			
						</div>
						
						
						<div id="search_field_single_user" class="input-icon create_graph" style="margin-bottom: 26px; margin-top: 5px;width:80%;margin-left: 20px;">
							<i class="fa fa-pencil-square-o"></i>
							<input id="search_user_input" class="newmail form-control placeholder-no-fix form-control-graph" placeholder="Search Field" type="text"></input>
						</div>
						<div id="search_field_single_user_fullname" class="input-icon create_graph" style="margin-bottom: 26px; margin-top: 5px;width:80%;margin-left: 20px;display:none">
							<i class="fa fa-pencil-square-o"></i>
							<input style="margin-bottom: 15px;"  id="search_user_input_first" class="newmail form-control placeholder-no-fix form-control-graph" placeholder="First Name" type="text"></input>						

							<i class="fa fa-pencil-square-o"></i>
							<input id="search_user_input_last" class="newmail form-control placeholder-no-fix form-control-graph" placeholder="Last Name" type="text"></input>
							
						</div>
						
						
						<div ng-if="viewResStatus == 1" >
							<div style="font-size: 15px;color: #555;margin-right: 10px; margin-left: 20px;">Results: No users found.</div>
						</div>
						<div ng-if="searchUsersData.length > 0" >
							<div style="font-size: 15px;color: #555;margin-right: 10px; margin-left: 20px;">Results:</div>
							<div id='search_user_result_panel' style='margin: 10px 0 20px 20px;color: rgb(85, 85, 85);font-size: 15px;border: 1px solid rgb(170, 170, 170);'>
								<div ng-repeat="(key,val) in searchUsersData" ng-click="selectUser(val.userid)" style="border: 1px solid rgb(170, 170, 170);margin: 10px;padding: 10px;border-radius: 5px !important;" >
									<span ng-if="val.firstname != 'null' || val.lastname != 'null'" >Name : <span ng-if="val.firstname != 'null'" >{{val.firstname }} </span>  <span ng-if="val.lastname != 'null'" >{{val.lastname }}</span></span>
									<span ng-if="val.email != 'null'" >Email : {{val.email }} </span>
									<span ng-if="val.gender != 'null'" >Gender : {{val.gender }} </span>
									<span ng-if="val.userid != 'null'" >UserID : {{val.userid }} </span>
								</div>
							</div>
						</div>
					</div>
					
					
					
					<div class="modal-footer" style="padding: 10px 0px 0px 0px;">
						<button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
						<button id='search_user_box' class="btn green" ng-click="UserSearchSearchForUser();">Search</button>
					</div>
					
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	
	<div class="modal fade" id="delete-graph" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title"style="color:#aa0000; font-size:30px;">Warnning!</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<h3> Are you sure you wish to permanently delete this graph? </h3>
						<p> Notice: This action can not be un-done.	</p>
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button class="btn default" data-dismiss="modal" aria-hidden="true" >Cancel</button>
							<button data-dismiss="modal" class="btn red" ng-click="deleteGraphByID();">Delete</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	<div class="modal fade" id="graph_permissions" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Change graph users</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
					
						<div ng-if="!graphowner" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 50px;"></div>
						
						<span ng-if="graphowner" >
							<h3>Owner</h3>
							<input class="newmail form-control placeholder-no-fix" placeholder="{{graphowner}}" type="text" disabled></input>
							
							<div ng-if="graphUsersArr.length > 0" id="graphUsersArr" >	
								<h3>Permissions</h3>				
								<multiselect-dropdown arr="{{graphUsersArr}}" ></multiselect-dropdown>
							</div>
							
							<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
								<button data-dismiss="modal" class="btn green" ng-click="applyPermissions()";>Apply</button>
								<button data-dismiss="modal" class="btn gray">Close</button>
							</div>
						</span>		
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	<div class="modal fade" id="modal_platform_select" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Filter By Platform</h4>
				</div>
				<div class="modal-body permission_box" id="modal_platform_select_and_apply_div">
					<div class="portlet-body flip-scroll">
						
						<div style=" padding: 20px 0px 0px 0px;">
						<button class="btn gray" ng-click="clearPlatforms();">Clear (no filtering)</button>
						</div>
						
						<select class="js-example-basic-multiple" id="global_platform" multiple="multiple" style="width:100%; margin-top:10px;">
						</select>
						
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button data-dismiss="modal" class="btn green"  ng-click="commitPlatforms();">Apply & Refresh</button>
							<button data-dismiss="modal" class="btn gray" ng-click="onDismissPlatforms();">Dismiss</button>
						</div>
								
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	<div class="modal fade" id="export_content_modal" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Export data</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						
						<div style=" padding: 20px 0px 0px 0px;">
							Copy this URL:
						</div>
	
						<textarea class="" id="export_url" style="width:100%; margin-top:10px; height:350px;">
						</textarea>
						
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button data-dismiss="modal" class="btn gray">Close</button>
							<button ng-click="showAlertCopy('Link');" class="btn blue copybtn" ngclipboard data-clipboard-target="#export_url" data-clipboard-action="copy">Copy</button>
						</div>
								
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class="modal fade" id="sample_users_modal" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Sample Users</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						
						<div id="sample_users_title" style=" padding: 20px 0px 0px 0px;">
							Audience name
						</div>
	
						<div class="" style="width:100%; margin-top:10px; height:350px;">
						
							<table id="cohorts_sample_users_table_div" class="table table-striped table-bordered table-hover" style="border-bottom:0;" >
								<thead>
									<tr>
										<th> User ID </th>
									</tr> 
								</thead>
								<tbody id="cohort_sample_users">									
								</tbody>
							</table>
							
						</div>
						
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button data-dismiss="modal" class="btn gray">Close</button>
						</div>
								
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	
	<div class="modal fade" id="export_cohort" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Export Audience</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<div id="export_cohorts_loading" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div>
						<div id="export_cohorts_content">
							<div style="display: inline-block;font-size: 16px;padding-right: 10px;padding-bottom: 10px; padding-left: 3px;">Export to</div>
							<div class="dropdown" style="display: inline-block;">
								<button class="btn gray dropdown-toggle cohorts_dropdown" id="export_cohorts_title" type="button" data-toggle="dropdown">Select Target
								<span class="caret cohort_caret"></span></button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="export_cohorts_dropdown">
									<li>CSV</li>
								</ul>
							</div>
							
							<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
								<button data-dismiss="modal" class="btn gray">Close</button>
								<button class="btn green" ng-click="exportCohort();">Export</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	
	
	<div class="modal fade" id="session_data" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" >Session Events</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<div class="" style="width:100%; margin-top:10px;">
						
							<table id="session_data_table_div" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th> # </th>
										<th> Event Type </th>
										<th> Event Time </th>
									</tr> 
								</thead>
								<tbody id="session_data_table_body">									
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	

	
	<div class="modal fade" id="create_cohort_from_insights" tabindex="-1" role="basic" aria-hidden="false" >
		<div class="modal-dialog">
			<div class="modal-content col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Create new Audience from Insight:</h4>
					<div id="create_cohort_from_insights_header"><span class="label label-sm" style="color:#2779A1;"><i class="fa fa-user" style="font-size: 3em;line-height: 1;" aria-hidden="true"></i></span><span class="desc" style="font-size: 16px;color: #000000;font-weight: 600;padding-top: 10px;padding-left: 10px;">{{insightPopupTitle}}</span></div>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<div id="create_cohort_from_insights_loading" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div>
						<div id="create_cohort_from_insights_content">
							<h5 class="modal-title" style="margin-bottom: 3px;">Curve will create a new Audience from this insight's corresponding users.</h5>
							<br>
							<h4 class="modal-title" style="margin-bottom: 3px;">Audience name: </h4>
							<form name="insight">
								<input data-ng-model="Input.insight" required data-insight-id="{{insightPopupID}}" id="create_cohort_from_insights_name" type="text" style="margin-bottom:10px; width:100%;" />
								<br>
								<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
									<button data-dismiss="modal" class="btn gray">Close</button>
									<button ng-disabled="insight.$invalid" class="btn green" ng-click="createCohortFromInsight();">Create</button>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="create_interaction_from_insights" tabindex="-1" role="basic" aria-hidden="false" >
		<div class="modal-dialog">
			<div class="modal-content col-md-12" style="padding: 20px 20px 20px 20px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Create new Audience</h4>
				</div>
				
				<div class="modal-body permission_box">
				<form name="insight" novalidate>
				
				
					<p style="font-size:18px;font-weight:bold;" >{{createAudienceInsightModel.title}}</p>
				
					<div class="portlet-body flip-scroll">
					
							<p  style="font-size:16px;" >Curve will create a new cohorts from this insight's corresponding users.</p>
							
							<input name="name" ng-model="createAudienceInsightModel.name" required type="text" style="margin-bottom:10px; width:100%;" placeholder=" * Audience name" />
							<hr />
							<div class="input-icon create_graph" style="margin-bottom: 6px;">
								<h4 class="modal-title" style="margin-bottom: 3px; font-weight: bold;float:left;margin-right: 10px">Would you like to interact with this audience?</h4>
								<div style="" ng-click="createAudienceInsightModel.interaction = !createAudienceInsightModel.interaction;createAudienceInsightModel.actionType = 'none';clearAudienceInsightModelFun();" >
									<button class="and-or and-or-active" ng-class="createAudienceInsightModel.interaction == false ? 'and-or-active' : ''">NO</button>
									<button class="and-or" ng-class="createAudienceInsightModel.interaction == true ? 'and-or-active' : ''">YES</button>
								</div>
								
									<ul style="list-style:none;padding: 0;text-align: center;width: 100%;margin-top:15px" ng-if="createAudienceInsightModel.interaction" >
										<li ng-click="createAudienceInsightModel.actionType = 'mail';clearAudienceInsightModelFun();" style="display:inline-block;width:30%;text-align: center;cursor:pointer;"><i class="fa fa-envelope-o" style="font-size: 40px;color:#41B7E9;" aria-hidden="true"></i>
											<label style="width: 100%;margin-top: 5px;font-weight: bold;" ng-click="onInteractSelected('Send E-mail');" >Send E-mail</label>
											<span ng-if="createAudienceInsightModel.actionType == 'mail'" class="radio-yellow" style="margin: 10px auto;"></span>
											<span ng-if="createAudienceInsightModel.actionType != 'mail'" class="radio-grey" style="margin: 10px auto;"></span>
										</li>
										<li ng-click="createAudienceInsightModel.actionType = 'sms';clearAudienceInsightModelFun();" style="display:inline-block;width:30%;text-align: center;cursor:pointer;"><i class="fa fa-commenting-o" style="font-size: 40px;color:#41B7E9;" aria-hidden="true"></i>
											<label style="width: 100%;margin-top: 5px;font-weight: bold;" ng-click="onInteractSelected('Send SMS');" >Send SMS</label>
											<span ng-if="createAudienceInsightModel.actionType == 'sms'" class="radio-yellow" style="margin: 10px auto;"></span>
											<span ng-if="createAudienceInsightModel.actionType != 'sms'" class="radio-grey" style="margin: 10px auto;"></span>
										</li>
										<li ng-click="createAudienceInsightModel.actionType = 'push';clearAudienceInsightModelFun();" style="display:inline-block;width:30%;text-align: center;cursor:pointer;"><i class="fa fa-bell-o" style="font-size: 40px;color:#41B7E9;" aria-hidden="true"></i>
											<label style="width: 100%;margin-top: 5px;font-weight: bold;" ng-click="onInteractSelected('Send Push');" >Send Push</label>
											<span ng-if="createAudienceInsightModel.actionType == 'push'" class="radio-yellow" style="margin: 10px auto;"></span>
											<span ng-if="createAudienceInsightModel.actionType != 'push'" class="radio-grey" style="margin: 10px auto;"></span>
										</li>
									</ul>
							</div>	
					</div>
				
				
				<div ng-if="createAudienceInsightModel.actionType == 'mail'" >	
					<input name="subject" required type="text" placeholder=" * Subject" style="margin-bottom:10px; width:100%;" data-ng-model="createAudienceInsightModel.subject" />
					<textarea name="content" required placeholder=" * Text" provide="markdown" rows="10" data-width="100%" style="margin-bottom:10px; width:100%; display:block;border-bottom: 1px solid #A9A9A9;" data-ng-model="createAudienceInsightModel.text" ></textarea>
				</div>
				<div ng-if="createAudienceInsightModel.actionType == 'push'" >
					<div style="float:left;margin-right: 20px;margin-bottom: 10px;" >	
						<input ng-click="createAudienceInsightModel.UseBatch = !createAudienceInsightModel.UseBatch;createAudienceInsightModel.BulkSize = 100" type="checkbox">
						<label class="modal-title" style="margin-bottom: 3px;display: inline;"> Send in bulks</label>
					</div>
					<div ng-if="createAudienceInsightModel.UseBatch" >
						<label class="modal-title" style="display: inline;">Send in a bulk of size </label>
						<input type="number" min="1" data-ng-model="createAudienceInsightModel.BulkSize" />
					</div>
					<textarea name="content" required placeholder=" * Text" provide="markdown" rows="10" data-width="100%" style="margin-bottom:10px; width:100%; display:block;border-bottom: 1px solid #A9A9A9;" data-ng-model="createAudienceInsightModel.text" ></textarea>
				</div>
				<div ng-if="createAudienceInsightModel.actionType == 'sms'" >
					<input name="subject" required type="text" placeholder=" * Sent from" style="margin-bottom:10px; width:100%;" data-ng-model="createAudienceInsightModel.subject" />
					<textarea required placeholder=" * Text" name="content" provide="markdown" rows="10" data-width="100%" style="margin-bottom:10px; width:100%; display:block;border-bottom: 1px solid #A9A9A9;" data-ng-model="createAudienceInsightModel.text" ></textarea>
				</div>
				</form>
				</div>
				<div class="modal-footer" style="padding: 20px;">
					<button data-dismiss="modal" class="btn gray">Cancel</button>
					<button class="btn green-seagreen" ng-click="createAudienceInteract();" ng-disabled="insight.$invalid" >Create</button>
				</div>
			</div>
		</div>
	</div>	
	
	<!-- <div class="modal fade" id="create_interaction_from_insights" tabindex="-1" role="basic" aria-hidden="false" >
		<div class="modal-dialog">
			<div class="modal-content col-md-12" style="padding: 20px 20px 20px 20px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Create new Audience</h4>
					<div id="create_interaction_from_insights_header"><span class="label label-sm" style="color:#2779A1;"><i class="fa fa-user" style="font-size: 3em;line-height: 1;" aria-hidden="true"></i></span><span class="desc" style="font-size: 16px;color: #000000;font-weight: 600;padding-top: 10px;padding-left: 10px;">{{insightPopupTitle}}</span></div>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<div id="create_interaction_from_insights_loading" style="background: transparent url(&quot;Images/AjaxLoader.gif&quot;) no-repeat scroll center center; width: 100%; height: 100px;"></div>
						<div id="create_interaction_from_insights_content">
							<h5 class="modal-title" style="margin-bottom: 3px;">Curve will create a new cohorts from this insight's corresponding users.</h5>
							<br>
							<h4 class="modal-title" style="margin-bottom: 3px;">Audience name: </h4>
							<form name="insight">
								<input data-ng-model="Input.insight" required data-insight-id="{{insightPopupID}}" id="create_interaction_from_insights_name" type="text" style="margin-bottom:10px; width:100%;" />
								<br>
							</form>
						</div>
					</div>
				</div>
				<div id="create_interaction_loader" style="display: none; overflow: auto;">
					<h3 class="modal-title" style="margin-bottom: 10px; font-weight: bold;">Creating Audience ...</h3>
					<div class="new_app loading" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;min-height: 300px;"></div>
				</div>
				<div id="create_interaction_select_action" style="display: none; overflow: auto;">
								<div class="input-icon create_graph" style="margin-bottom: 6px;">
						<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Would you like to interact with this audience?</h4>
						<br/><br/>
									<button class="btn green dropdown-toggle" data-toggle="dropdown" style="width:100%;" id="create_interaction_select_action_button">
									</button>
									<ul class="dropdown-menu" role="menu" id="create_interaction_select_action_dropdown"  style="width:100%">
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="onInteractSelected('Send E-mail');" tabindex="-1" >Send E-mail</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="onInteractSelected('Send SMS');" tabindex="-1" >Send SMS</a></li>
										<li role="presentation" style="width:100%"><a role="menuitem" ng-click="onInteractSelected('Send Push');" tabindex="-1" >Send Push</a></li>
									</ul>
								</div>
					<br/><br/><br/><br/><br/><br/>
				</div>
				<div id="create_interaction_email_step" style="display: none; overflow: auto;">
					<h3 class="modal-title" style="margin-bottom: 10px; font-weight: bold;">Send E-mail</h3>
					<form>
						<input id="email_editor_subject" name="subject" type="text" placeholder="Subject" style="margin-bottom:10px; width:70%;"/>
						<textarea id="email_editor_textarea" name="content" provide="markdown" rows="10" data-width="90%" style="margin-bottom:10px; width:90%; display:block;border-bottom: 1px solid #A9A9A9 !important;" ></textarea>
					</form>
				</div>
				<div id="create_interaction_push_step" style="display: none; overflow: auto;">
					<h3 class="modal-title" style="margin-bottom: 10px; font-weight: bold;">Send Push Notification</h3>
					<form>
						<textarea id="push_editor_textarea" name="content" provide="markdown" rows="10" data-width="90%" style="margin-bottom:10px; width:90%; display:block;border-bottom: 1px solid #A9A9A9 !important;" ></textarea>
					</form>
					<br/><br/>
					<input id="push_batch_checkBox" ng-click="PushEditorOnUseBatchChecked();" type="checkbox">
					<h4 class="modal-title" style="margin-bottom: 3px;display: inline;"> Send in bulks</h4>
					<div id="push_batch_number_holder" style="display:none; padding-left: 16px;">
						<h4 class="modal-title" style="display: inline;">Send in a bulk of size </h4>
						<input id="push_batch_number" name="listName" type="number" min="1"/>
					</div>
					<br/><br/>
				</div>
				<div id="create_interaction_sms_step" style="display: none; overflow: auto;">
					<h3 class="modal-title" style="margin-bottom: 10px; font-weight: bold;">Send SMS</h3>
					<form>
						<h4 class="modal-title" style="margin-bottom: 3px;">Sent from: </h4>
						<input id="sms_editor_sentFrom" type="text" style="margin-bottom:10px; width:50%;"/>
						<br/><br/>
						<textarea id="sms_editor_textarea" name="content" provide="markdown" rows="10" data-width="90%" style="margin-bottom:10px; width:90%; display:block;border-bottom: 1px solid #A9A9A9 !important;" ></textarea>
					</form>
				</div>
				<div class="modal-footer" style="padding: 20px 0px 0px 0px;">
					<button data-dismiss="modal" class="btn gray">Cancel</button>
					<button class="btn green-seagreen" ng-click="onInteractCreateAudience();" id="create_interaction_create_button" style="display: none;">Just Create Audience</button>
					<button class="btn green" ng-click="onInteractSelectedConfirm();" id="create_interaction_interact_button" style="display: none;">Create & Interact</button>
					<button ng-disabled="insight.$invalid" class="btn green" ng-click="onInteractNext();" id="create_interaction_next_button">Next</button>
					<button class="btn green-seagreen" ng-click="onInteractSendAndCloseClick();" id="create_interaction_send_button" style="display: none;">Send & close</button>
				</div>
			</div>
		</div>
	</div>	
	 -->
	
	
	
	
	<div class="modal fade" id="user_segments_and_characteristics" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog" style="width: 95%; margin: 30px auto; max-width: 900px;">
			<div class="modal-content col-md-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h3 class="modal-title" style="margin: 10px 0px 5px 0px;">User Segments And Characteristics</h3>
					<div>
						<h5 class="modal-title" style="margin-bottom: 3px;">Curve automatically segments your paying users to easy to retarget groups. These groups are calculated for you daily and can also be exported into Audiences.</h5>
					</div>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<div  style="overflow-y: scroll;height: 500px;">
							<div class="task-list panel-collapse collapse in" id="user_segments_and_characteristics_table_body">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	

		
	<div class="modal fade" id="send_email_modal" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog" style="width: 90%; max-width:800px;">
			<div class="modal-content">			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="send_email_title" style="color:#a1a1a1; font-size:30px;"></h4>
				</div>
				<div  style="padding: 20px 20px 20px 20px;">
					<div id="input_email_cotainer">
						<div class="input-icon create_graph" style="margin-bottom: 6px;">
							<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Recepient's E-mail </h4>
							<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="Enter one E-mail."></i><br/>
							<i class="fa fa-pencil-square-o"></i>
							<input id="recepient_email" class="form-control placeholder-no-fix form-control-graph" name="recepient_email" type="text" placeholder="Recepient" style="margin-bottom:10px; width:90%; color:#000000 !important;"/>
							
							<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">E-mail From</h4>
							<i class="fa fa-info-circle tooltips" style="display:inline-block;  margin-top: 7px; color:#0266c8" alt="" title="The E-mail that the Recepient will see he got this E-mail from. Can be only one E-mail."></i><br/>
							<i class="fa fa-pencil-square-o"></i>
							<input id="sender_email" class="form-control placeholder-no-fix form-control-graph" name="sender_email" type="text" value="Curve <info@curve.tech>" style="margin-bottom:10px; width:90%; color:#000000 !important;"/>
							
							<h4 class="modal-title" style="display:inline-block; margin-bottom: 3px;">Subject </h4>
							<i class="fa fa-pencil-square-o"></i>
							<input id="email_editor_subject" class="form-control placeholder-no-fix form-control-graph" name="subject" type="text" placeholder="Subject" style="margin-bottom:10px; width:90%; color:#000000 !important;"/>
							<textarea id="send_email_editor_textarea" name="content" provide="markdown" rows="20" data-width="90%" style="margin-bottom:10px; width:90%; display:block;border-bottom: 1px solid #A9A9A9 !important;" ></textarea>
						</div>
					</div>
					<div class="modal-footer" style="padding: 10px 0px 0px 0px;">
						<button class="btn green-seagreen" ng-click="sendEmailSendEmail()" id="email_cohort_confirm">Send & close</button>
						<button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	
	<div class="modal fade" id="delete-prompt" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title"style="color:#aa0000; font-size:30px;">Warnning!</h4>
				</div>
				<div class="modal-body permission_box">
					<div class="portlet-body flip-scroll">
						<h3 id="delete-prompt-title"> Are you sure you wish to permanently delete this? </h3>
						<p id="delete-prompt-remark"> Notice: This action can not be un-done.	</p>
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button id="delete-prompt-cancel" class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
							<button id="delete-prompt-accept" data-dismiss="modal" class="btn red" ng-click="deleteCohort(null,true)" >Delete</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>

	<div class="modal fade" id="notify-box" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" style="color:#aa0000; font-size:30px;" id="notification_title">TITLE</h4>
				</div>
				<div class="modal-body permission_box" style="padding: 25px;">
					<div class="portlet-body flip-scroll">
						<h3 id="notification_msg_1"> Are you sure you wish to permanently delete this graph? </h3>
						<p id="notification_msg_2"></p>
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button data-dismiss="modal" class="btn red" id="notify-right-btn">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>

	