<div id="data_filter_panel" class="pull-right page-toolbar page-content-top tutorial_data_filter_panel mobileInsightDateDiv" style="margin-right: 16px;">
<div>
	<div ng-if="activeTab.dashboardActive.Name != 'Single Customer'" ng-click="reloadCurrentTab()" class="filter-icon" >
		<i class="fa fa-refresh" aria-hidden="true"></i>
	</div>
	
	<div ng-if="activeTab.dashboardActive.Name != 'Single Customer'" ng-click="getPlatformsAndCountries();" class="filter-icon" >
		<i class="fa fa-filter" aria-hidden="true"></i>
	</div>
	
	<div ng-if="activeTab.dashboardActive.Name == 'Single Customer'" ng-click="reloadSingleTabFun()" class="filter-icon" >
		<i class="fa fa-refresh" aria-hidden="true"></i>
	</div>
	
	<!-- <div ng-if="activeTab.dashboardActive.Name == 'Insurance'" data-toggle="modal" data-target="#modal_country_select" ng-click="simulateRangeClick();" class="filter-icon" >
		<i class="fa fa-filter" aria-hidden="true"></i>
	</div> -->
	
	<div ng-if="activeTab.dashboardActive.Name == 'Single Customer'" ng-click="initSearch()" class="tooltips btn btn-fit-height grey-salt" >
		<span class="thin uppercase visible-lg-inline-block" >Search Users</span>
	</div>
	
	<!-- <span id="userjourney_toolbox" ng-if="dateStatus.singleDate" >
		<div calendar id="dashboard-report-single-date" class="tooltips btn btn-fit-height grey-salt">
			<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
		</div>
	</span> ng-if="!dateStatus.singleDate"  -->

	<span id="date_range_graph" >
		<div calendar id="dashboard-report-range" class="tooltips btn btn-fit-height grey-salt" data-placement="top"> 
			<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp; <i class="fa fa-angle-down"></i>
		</div>
	</span>
	
</div>
	
		<div ng-if="activeTab.dashboardActive.Name == 'Single Customer'" class="input-icon create_graph" style="margin-bottom: 6px; margin-top:5px; color:#000;margin-bottom: 30px;">
			<i class="input-icon-search"><img src="Images/icons/login.png"></i>
			<input id="users_search_input" ng-model="usersSearch.input" class="newmail form-control placeholder-no-fix form-control-graph " placeholder="User/Hardware ID *" type="text">
		</div>

</div>					
<div ng-if="activeTab.dashboardActive.Name == 'Single Customer'" style="width:auto;padding: 40px 0 0px 20px;" class="kpi-welcome">
	<h1 class="">{{activeTab.dashboardActive.Name}}</h1>
</div>
			
		<!-- <div class="clearfix"></div> -->

			
		<div class="tutorial_advanced_view_graphs" >
		
			<div class="graphs_data" style="position:relative;">
				
				<div class="tab-pane" id="'+div_id+'">
				
					<div class="col-md-12" ng-if="activeTab.dashboardActive.Name != 'Single Customer'" >
						<div style="margin-top: 0; margin-bottom: 22px;" class="kpi-welcome">
							<h1 class="">{{activeTab.dashboardActive.Name}} Growth Opportunities</h1>
							<span>Explore kpis:</span>
						</div>
						<div style="margin-bottom:15px" ng-if="filtersOBJflag" > Filtered by <span ng-repeat="(key,val) in filtersOBJ" ><span style="font-weight: bold;margin-left: 10px;" >{{key}}:</span> <span>{{val}}</span></span></div>
					</div>
					
					<div ng-if="activeTab.dashboardActive.Name == 'Single Customer'" style="padding: 0 30px;    margin-bottom: 30px;" >
						
						<div class="user-detl-continer" >
							<div class="user-detl-head">
								<img ng-src="../Images/Dashboard/counter.png" src="../Images/Dashboard/counter.png">
								<h5>User Details</h5>
							</div>
							<div class="user-detl" >
								<div class="user-detl-list" >
									<span ng-repeat="graphs in activeTab.dashboardActive.Graphs track by $index"  >
										<span ng-if="graphs.GraphType == 'UserCardEntries'  && graphs.Visible == '1'" >
											<ul>
												<li ng-repeat="(key,val) in graphs.Titles" >
													<label>{{val.title}}: </label>
													<label ng-if="!graphs.dataGraph.chartData.ReportDataTable.Records && SingleCustomerData" style="color: #999;" >Loading...</label>
													<label ng-if="graphs.dataGraph.chartData.ReportDataTable.Records.length == 0 || graphs.dataGraph.chartData.ReportDataTable.Records[0] === null || SingleCustomerData === false" style="color: #999;" >NO DATA</label>
													<label ng-if="graphs.dataGraph.chartData.ReportDataTable.Records && graphs.dataGraph.chartData.ReportDataTable.Records.length > 0 && SingleCustomerData" >{{val.data}}</label>
												</li>
											</ul>
										</span>
									</span>
								</div>
								<button class="but-grey" style="opacity: 0.8;cursor: default;" >Find Similar User</button>
							</div>
							<div class="user-audienc" >
								<h6>Audiences</h6>
									<div class="user-audienc-list"  >
										<label ng-if="!UserCohortsList && SingleCustomerData" style="color: #999;" >Loading...</label>
										<label ng-if="UserCohortsList.length == 0 || SingleCustomerData === false" style="color: #999;" >NO DATA</label>
										<ul ng-if="UserCohortsList.length > 0 && SingleCustomerData" >
											<li ng-repeat="(key,val) in UserCohortsList" >
												<div style="float: left;width: 55px;" ><i class="fa fa-users" style="color: #cecdcd;font-size: 30px;margin-top: 6px;" aria-hidden="true"></i></div>
												<label style="font-size: 14px;width: calc(100% - 55px);margin-bottom: 0px;overflow-x: hidden;" >{{val.Name}}</label>
												<label style="color: #c3c3c3;" >{{val.Count}} Users, calculated: {{val.LastUpdate}}</label>
												<hr style="    margin: 3px 0 12px 0;" />
											</li>
										</ul>
									</div>
								<button class="but-grey" style="float: right;opacity: 0.8;cursor: default;" >Create Look alikes</button>
								<button class="but-grey" style="float: right;opacity: 0.8;cursor: default;margin-right: 5px;" >Back To Audience</button>
							</div>
						</div>
					</div>
					
					<div ng-if="activeTab.dashboardActive && activeTab.dashboardActive.Graphs">
					
						<span ng-repeat="graphs in activeTab.dashboardActive.Graphs track by $index"  >

							<span ng-if="graphs.GraphType == 'OmniChart' && graphs.Visible == '1'"  >
							<div class="col-md-12" style="border: 1px solid #f2f2f2;border-radius: 10px;padding: 15px;margin-bottom:20px" >
								<span id="{{graphs.ID}}" >
									<div ng-if="!graphs.dataGraph.chartData.ReportDataTable.Delivery" style="background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;height: 400px;"></div>
									
									<span ng-if="graphs.dataGraph.chartData.ReportDataTable.Delivery" >
										<div style="height: 78px;z-index: 1;position: absolute;width: 30%;right: 20px;" >
											<p>Filter by Audience</p>
											<select class="select-fulter" ng-model="multiGraph[$index]" ng-change="multiFilterFun(graphs.dataGraph,multiGraph[$index])" style="width: 100%;" >
												<option ng-repeat="(key,val) in graphs.dataGraph.chartData.ReportDataTable.Products" >{{val.title}}</option>	
											</select>
										</div>
										<div omnichart style="margin-top: 20px;" ></div>
										<div id='container_omnichart'  style="position:relative;width: 1100px;height: 535px;" ></div>
									</span>	
								</span>
							</div>	
							
							
						<!-- 	<div class="col-md-12" style="border: 1px solid #f2f2f2;border-radius: 10px;padding: 15px;margin-bottom:20px;" >
								
								<div mlchart  style="margin-top: 20px;" ></div>
								<div id='container_mlchart'  style="position:relative;width: 1100px;height: 535px;" ></div>
									
							</div> -->
							
							</span>
							 
						</span>
					
					<div class="col-md-12">
						<span ng-if="typeCounterChart.length > 0 " ng-repeat="graphs in typeCounterChart track by $index" >
						
							<span ng-include src="'Templates/Dashboard/GraphsTpl/CounterChart.html'" ></span>
						</span>	
						
						<!-- <span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >

							<span ng-if="graphs.GraphType == 'CounterChart'  && graphs.Visible == '1'">

									<span ng-include src="graphs.tplSrc" id="{{graphs.ReportID}}"></span>
									
							</span>
							
						</span> -->
						
					</div>
					
					<span ng-if="activeTab.dashboardActive.Name == 'AlgoSOD'" >
						<div  id="chartdiv555Div" class="col-md-12" style="float: right;width: 100%;margin-bottom: 10px;overflow: hidden;" ><div id="chartdiv555" style="width:60%;height:400px;margin-left:20%" class="portlet box blue" ></div></div>
					</span>
					
					<div class="col-md-12">	
					
						<span ng-repeat="graphs in activeTab.dashboardActive.Graphs track by $index"  >
						
<span ng-if="graphs.GraphType != 'PieChart' && graphs.GraphType != 'MultiChoicePie' && graphs.GraphType != 'Funnel' && graphs.GraphType != 'MultiChoiceFunnel'  && graphs.GraphType != 'MultiChoiceFunnel_2' && graphs.GraphType != 'MLMagnitude' && graphs.GraphType != 'OmniChart' && graphs.GraphType != 'BasicChart' && graphs.GraphType != 'MultichoiceTrackingChart' && graphs.GraphType != 'CounterChart' && graphs.GraphType != 'ComparableCounter' && graphs.GraphType != 'SparkLine' && graphs.GraphType != 'UserCardEntries' && graphs.GraphType != 'BarChart' && graphs.GraphType != 'amMap' && graphs.GraphType != 'TrackingChart' && graphs.GraphType != 'BasicChart' && graphs.GraphType != 'SmallTable' && graphs.GraphType != 'MultiChoiceLines' && graphs.Visible == '1'">
	
	<!-- && graphs.GraphType != 'BarChart' && graphs.GraphType != 'amMap' && graphs.GraphType != 'TrackingChart' && graphs.GraphType != 'BasicChart' && graphs.GraphType != 'SmallTable' && graphs.GraphType != 'MultiChoiceLines' -->

								<span ng-include src="graphs.tplSrc" id="{{graphs.ReportID}}" ></span>
									
							</span>
							
						</span>
						

						<span ng-if="dashboardView.active != 4 && plotChart.length > 0" >
							<span ng-repeat="graphs in plotChart track by $index"  >
								<span ng-include src="graphs.tplSrc" id="{{graphs.ReportID}}" ></span>
							</span>
						</span>	
						
						<span ng-if="dashboardView.active != 4 && PieChart.length > 0" >
							<span ng-include src="'Templates/Dashboard/Tpls/PieChart.html'" ></span>
						</span>	
						
						<span ng-if="dashboardView.active != 4 && typeFunnel.length > 0" >
							<span ng-include src="'Templates/Dashboard/Tpls/typeFunnel.html'" ></span>
						</span>	
					
						
						
					</div>
					
					
					<div class="col-md-12">	
					
						<span ng-repeat="graphs in activeTab.dashboardActive.Graphs track by $index"  >
						
							<span ng-if="graphs.GraphType == 'MultichoiceTrackingChart' && MultiChTrcChart  && graphs.Visible == '1'">

								<span ng-include src="'Templates/Dashboard/GraphsTpl/MultichoiceTrackingChart.html'"  id="{{graphs.ReportID}}"></span>
									
							</span>
							
						</span>
					
					</div>
					
					<div class="col-md-12">
					
						<span ng-repeat="graphs in activeTab.dashboardActive.Graphs track by $index"  >
						
							<span ng-if="graphs.GraphType == 'SparkLine' && graphs.Visible == '1'">

								<span ng-include src="'Templates/Dashboard/GraphsTpl/SparkLine.html'"  id="{{graphs.ReportID}}"></span>
									
							</span>
							
						</span>
						
					</div>
					
					
					</div>
				</div>
				
			</div>
			
		</div>