
	<div class="page-content-wrapper">
	
		<div class="page-content" ng-if="dashboardView.active == 1" >
			<span ng-include src="'Templates/Dashboard/Tpls/EngagementCenter.html'" ></span>
		</div>
		
		<!-- <div class="page-content" ng-if="dashboardView.active == 2" >
			<span ng-include src="'Templates/Dashboard/Tpls/PermissionManager.html'" ></span>
		</div>
		
		<div class="page-content" ng-if="dashboardView.active == 3" >
			<span ng-include src="'Templates/Dashboard/Tpls/MyPermissions.html'" ></span>
		</div> -->
		
		<div class="page-content" ng-if="dashboardView.active == 4 && activeAppLabel != 'Certua'" >
			<span ng-include src="'Templates/Dashboard/Tpls/Status.html'" ></span>
		</div>
		
		<div class="page-content" ng-if="dashboardView.active == 5" >
			<span ng-include src="'Templates/Dashboard/GraphsTpl/cohorts.html'" ></span>
		</div>
		
		<div class="page-content" ng-if="dashboardView.active == 6" >
			<span ng-include src="'Templates/Dashboard/ml.html'" ></span>
		</div>
		
		<div class="page-content" ng-if="dashboardView.active == 7" style="overflow: inherit;" >
			<span ng-include src="'Templates/Dashboard/settings.html'" ></span>
		</div>
		
		<div class="page-content" ng-if="dashboardView.active == 10" >
			<iframe src="ML/examples/bubble.html" style="width:100%; height:1000px;" ></iframe>
		</div>
		
		
		<!-- <div class="page-content" ng-if="dashboardView.active == 8" > -->
			<!-- <span ng-include src="'Templates/Dashboard/Tpls/filters.html'" ></span> -->
		<!-- </div> -->
		
		<div>
			<span ng-if="HasWritePermission==false">|</span>
		</div>
		
		
		
		<div class="page-content" ng-if="dashboardView.active == 0" >

		<div  ng-if="dashboardView.tabs" id="dashboardView_tabs">
		<div class="tabsBox" >
			<ul class="nav nav-tabs tutorial_all_view">
				<li class="nav active tutorial_basic_view" ng-click="vizibleTabFlugFun(true);" ><a href="#A" data-toggle="tab">Basic View</a></li>
				<li class="nav tutorial_advanced_view" ng-click="vizibleTabFlugFun(false);" ><a href="#B" data-toggle="tab">Advanced View</a></li>
			</ul>
		</div>
			<!-- Tab panes -->
			<div class="tab-content page-content" >
				<div class="tab-pane fade in active" id="A">
					
					<div class="col-md-12 tutorial_basic_kpi" style="    background-color: #FFF;" >
					
						<div style="margin-top: 0; margin-bottom: 37px;" class="kpi-welcome">
							<h1 class="">{{activeTab.dashboardActive.Name}} Growth Opportunities</h1>
							<span>Explore application KPI list</span>
						</div>
						<div class="mobileGraph" style="max-width: 1100px;margin: 0 auto;float: none;" >
							<!-- <span ng-repeat="graphs in activeTab.dashboardActive.Graphs"  >
					
								<span ng-if="graphs.GraphType == 'ComparableCounter' && graphs.Visible == '1'">

									<span ng-include src="graphs.tplSrc" ></span>
										
								</span>
								
							</span> -->
							
							<span class="mobileGraph2" ng-repeat="graphs in typeComparableCounter"  >
					
								<span ng-if="graphs.GraphType == 'ComparableCounter' && graphs.Visible == '1'">

									<span ng-include src="graphs.tplSrc" ></span>
										
								</span>
								
							</span>
							
						</div>
					</div>
					<span ng-include src="'Templates/Dashboard/Tpls/insights.html'" ></span>
					
					
				</div>
				
				<div class="tab-pane fade" id="B">
					<span ng-include src="'Templates/Dashboard/includesGraph.html'" ></span>
					<div ng-if="dashboardView.active == 0" data-toggle="modal" data-target="#dashboard-graph-plus" class="dashboard-graph-plus" ng-click="modalAllGraphFun();" title="Add/Remove graph" >
						<i class="fa fa-plus" style="font-size: 22px;" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			
		
			<div class="dropdown floating_plus floating_plus_red" id="newGraphBtn">
				<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" >
					<i class="fa fa-pencil" style="font-size: 25px;    color: #FFF;"></i>
				</a>
			
			<ul class="dropdown-menu" style="top: -189%;    left: -111px;" >
				<li>
					<!-- <a href="#custom-graph"  ng-click="resetMainModal();" data-toggle="modal" >
					<span>New Graph</span></a> -->
					<a>
					<span style="color: rgba(128, 128, 128, 0.5);cursor: default;">New Graph</span></a>
				</li>
				<li>
					<a href="#createFunnelModal"  ng-click="createFunnelModalOpenFun();" data-toggle="modal">
					<span>New Funnel</span></a>
				</li>
				<li>
					<a ng-click="createNewCohortLinkFun();" >
					<span>New Audience</span></a>
				</li>
			</ul>
			</div>

		</div>
		<div ng-if="!dashboardView.tabs" >
			<div class="status-page" >
				<span ng-include src="'Templates/Dashboard/includesGraph.html'" ></span>
			</div>
			<!-- <span ng-include src="'Templates/Dashboard/GraphsTpl/userjourney.html'" ></span> -->
			
		</div>

<!-- 
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn green">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Dismiss</button>
						</div>
					</div>

				</div>
			</div>

			
						
			 -->
		</div>
	</div>
	
	
	
	<div class="modal fade" id="dashboard-graph-plus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Add Graph</h4>
				</div>
			<div class="modal-body">
				<div class="graphCheck" ng-click="checkAllGraph(dashboardGraphAll)" style="margin: 0 24px 0 10px;" ><span ng-if="dashboardGraphAll" class="v" ></span></div><span style="float:right" >Select all </span><br />
				<span ng-repeat="graphs in AddRemove.tempStatusGraph">
				
					<div ng-if="graphs.GraphType != 'CounterChart' && graphs.graphOwnerType == 'SystemGenerated' && graphs.GraphType != 'ComparableCounter'" style="border-bottom: 1px solid #cdcdcd;padding: 3px;width: 100%;display: inline-block;" class="" ng-click="checkGraph(activeTab.dashboardActive.ID, graphs.ID);" >
						<div style="width: 70px;text-align:center;float: left;" ><img style="height: 60px;" ng-src="{{graphs.imgSrc}}" /></div>
						<div style="font-weight: bold;margin-left: 10px;float: left;">{{graphs.Name}}</div><br />
						<div style="margin-left: 10px;float: left;" >{{graphs.Description}}</div>
						<div class="graphCheck" ><span ng-if="graphs.Visible == '1'" class="v" ></span></div>
					</div>
					
					<!-- <div ng-if="graphs.GraphType == 'CounterChart'"  style="border-bottom: 1px solid #cdcdcd;padding: 3px;width: 100%;display: inline-block;" ng-click="checkGraph(activeTab.dashboardActive.ID, graphs.ID);"  >
						<div   style="width: 70px;text-align:center;float: left;" >
							<div class="status_counter_icon" style="margin: 0;padding: 0;text-align: center;" ><i class="icon-pie-chart" style="font-size: 40px;" ></i></div>
							<span>3540286</span>
						</div>
						<div style="font-weight: bold;margin-left: 10px;float: left;">{{graphs.Name}}</div><br />
						<div style="margin-left: 10px;float: left;" >{{title}}</div>
						<div style="margin-left: 10px;float: left;" >Description</div>
						<div class="graphCheck" ><span ng-if="graphs.Visible == '1'" class="v" ></span></div>						
					</div> -->
					
				</span>		
			</div>
				<div class="modal-footer" style="border:0;" >
					<button type="button" class="btn green" data-dismiss="modal" ng-click="reloadCurrentTabGrahpList()" >Save changes</button>
					<button type="button" class="btn default" data-dismiss="modal">Dismiss</button>
				</div>
			</div>

		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	