
	<div class="row page-content-top">
		<div class="settings_data tab-content">
			<div style="background-color: #ffffff; padding:20px">
				<div class="settings_panel">
					
					<span style="display:inline-block; margin-right:10px;position:relative;" ng-mouseenter="showDiv=!showDiv" ng-mouseleave="showDiv=!showDiv" ng-init="showDiv=false" >
						<span ng-show="showDiv" style="cursor:pointer;" ng-click="updateImageModalOpenFun('app')" >
							<div style="position: absolute;    z-index: 1;    background: #000;    opacity: 0.5;    top: 0;    left: 0;    width: 100%;    height: 100%;    border-radius: 3px;" ></div>
							<div style="position: absolute; z-index:2;color: #FFFFFF;    padding: 10px;width: 100%;text-align:center;" >
								<i class="fa fa-file-image-o" aria-hidden="true" style="font-size: 27px;" ></i>
								<p style="margin: 10px 0;" >Upload Icon</p>
							</div>
						</span>
						<img ng-show="activeAppImg.icon || activeAppImg.icon != ''"  class="icon" title="{{activeAppLabel}}" ng-src="{{activeAppImg.icon}}" style="width:112px;height:112px; border-radius: 15px !important;" />
						<img ng-show="!activeAppImg.icon || activeAppImg.icon == ''"  class="icon" title="{{activeAppLabel}}" ng-src="{{appsArr[0].Icon}}" style="width:112px;height:112px; border-radius: 15px !important;" />
					</span>
					
					<span>
						<h1 class="app_name" style="display: inline; vertical-align: bottom;">{{activeAppLabel}}</h1>
					</span>									
					<h2 id="report_token" ng-if="activeAppLabel != 'Demo'" >
						Report Token: <span class="token tutorial_settings_token" id="tokenHolder" style="border: 1px solid #eee;background: #eee;border-radius: 5px !important;padding: 2.5px 5px;font-size: 20px;">{{Token}}</span>
						<button ng-click="showAlertCopy('Token');" class="btn blue copybtn" ngclipboard data-clipboard-target="#tokenHolder" data-clipboard-action="copy">Copy</button>
					</h2>
					
					<h2 id="report_token" ng-if="activeAppLabel == 'Demo'" >
						Report Token: <span class="token tutorial_settings_token" id="tokenHolder" style="border: 1px solid #eee;background: #eee;border-radius: 5px !important;padding: 2.5px 5px;font-size: 20px;">****************</span>
					</h2>
					
					<div class = "portlet light bordered" style="margin-top: 30px;">
						<div class="portlet-title tabbable-line">
							<div class="caption">
								<span class="caption-subject green bold uppercase">Settings Panel</span>
							</div>
							
							<ul class="nav nav-tabs tutorial_other_apis">
								<li id="external_apis"  ng-class="settingsActiveTab == 'apis' ?  'active tutorial_external_apis' : 'game_mode'" ng-click="setSettingsTab('apis')" >
									<a href="#settings_external_apis" data-toggle="tab" style="cursor: pointer;" > External APIs </a>
								</li>
								
								<li id="graphs_and_dash" class="game_mode" style="opacity: 0.5;cursor: default;" >
									 <a> Graphs & Dashboards </a> <!-- href="#settings_graphs_and_dashboards" data-toggle="tab" -->
								</li>
								<li class="game_mode" ng-class="settingsActiveTab == 'reporting' ?  'active' : 'game_mode'" ng-click="setSettingsTab('reporting')" href="#settings_report_list" data-toggle="tab" >
									<a style="cursor: pointer;" > Reporting </a>  <!-- href="#settings_report_list" data-toggle="tab" -->
								</li>
								<li id="inapp_pricing"  ng-class="settingsActiveTab == 'pricing' ?  'active' : 'game_mode'" ng-click="setSettingsTab('pricing')" href="#settings_inapp_pricing" data-toggle="tab" >
									<a style="cursor: pointer;" > Inapp Pricing </a>  <!-- href="#settings_inapp_pricing" data-toggle="tab" -->
								</li>
								<li id="inapp_pricing"  ng-class="settingsActiveTab == 'permissions' ?  'active' : 'game_mode'" ng-click="setSettingsTab('permissions')" href="#settings_my_permissions" data-toggle="tab" >
									<a style="cursor: pointer;" > My permissions </a>  <!-- href="#settings_inapp_pricing" data-toggle="tab" -->
								</li>
								<li id="inapp_pricing"  ng-class="settingsActiveTab == 'permissions_manage' ?  'active' : 'game_mode'" ng-click="setSettingsTab('permissions_manage')" href="#settings_permission_manager" data-toggle="tab" >
									<a style="cursor: pointer;" > Permissions Manager </a>  <!-- href="#settings_inapp_pricing" data-toggle="tab" -->
								</li>
							</ul>
						</div>
						<div class="tab-content">
							<div ng-class="settingsActiveTab == 'reporting' ?  'active' : 'tab-pane settings_list'" id="settings_report_list">
								
								<table style="width:100%" class="campaigns-table" >
									<thead>
										<tr style="border-bottom: 1px solid #dcdcdc; height:60px;" >
											<th style="width: 70px;" > Enabled </th>
											<th> Event </th>
										</tr>
									</thead>
									<tbody>
										
										<tr style="border-bottom: 1px solid #dcdcdc; color: #333;height:50px;" ng-repeat="(key,val) in GameConfigAdminArr.Flags" ng-if="!lineData.deleteItem" class="odd gradeX">
											<td style="text-align:center;" ng-click="val.Enabled = !val.Enabled; changeData.ConfigAdmin = true;"  >
												<span ng-if="!val.Enabled" >
													<i class="fa fa-times" aria-hidden="true" style="color: red;font-size: 20px;cursor: pointer;border: 1px solid;padding: 1px 3px;" ></i>
												</span>
												<span ng-if="val.Enabled" >
													<i class="fa fa-check" aria-hidden="true" style="color: green;font-size: 20px;cursor: pointer;border: 1px solid;padding: 1px;" ></i>
												</span>
											</td>
											<td>{{val.FlagDescription}}</td>
										</tr>
									</tbody>
								</table>
								<div ng-if="changeData.ConfigAdmin" class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px; border-top-width: 0;">
									<button class="btn gray" ng-click="GetGameConfigAdmin();">Discard & Reload</button>
									<button class="btn green" ng-click="updateGameConfigAdmin();">Submit & Apply</button>
								</div>
						</div>
							
							<div ng-class="settingsActiveTab == 'apis' ?  'active' : 'tab-pane settings_list'" id="settings_external_apis">
								<div class="portlet-body" style="padding: 20px 20px 20px 20px;">
									<div id="setup_external_apis_content">
										<table style="width:100%" class="campaigns-table" >
											<thead>
												<tr>
													<!-- <th style="padding: 17px 0;"> <i class="fa fa-pencil" style="color:#7e7e7e"></i> </th>
													<th> <i class="fa fa-trash-o" style="color:#7e7e7e"></i> </th> -->
													<th style="width:170px"> Service <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="A service for external actions."></i></th>
													<th style="width:150px"> Type <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="The type of the service."></i></th>
													<th> Data <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="The data for this specific service."></i></th>
													<th style="text-align: right;height: 61px;">Delete <i class="fa fa-info-circle tooltips" style="color:#0266c8" alt="" title=""></i> </th>
												</tr>
											</thead>
											<tbody>
												<tr style="border-top: 1px solid #dcdcdc; color: #333;border-bottom: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; color: #333;padding: 10px;cursor: pointer;" class="odd gradeX" ng-click="ExternalAPIs_createNewEditLine();">
													<td><img style="height: 40px;" src="Images/api_icons/plus.jpg" /></td> 
													<td>Add a new service</td>
													<td style="text-align: right;    height: 61px;" colspan=2 >
														<button class="but-grey">+ New</button>
													</td>
												</tr>
												<tr style="border-bottom: 1px solid #dcdcdc; color: #333;" ng-repeat="(lineKey,lineData) in ExternalAPIsTableData" ng-if="!lineData.deleteItem" class="odd gradeX">
													<!-- <td><a ng-click="ExternalAPIs_updateAndRedrawEditLine(lineData.uniqueID) "><i class="fa fa-pencil"></i></a></td>
													<td><a class="remove_field" ng-click="ExternalAPIs_removeData(lineData.uniqueID)"><i class="fa fa-trash-o" style="color:#ff0000"></i></a></td> -->
													<td>{{lineData.name}}</td>
													<td class="text-uppercase">{{lineData.type}}</td>
													<td style="padding: 10px;">
														<table style="width: 100%;" ><tbody id="service_data_fields">
															<tr  ng-repeat="(k,v) in lineData.data" class="odd gradeX">
																<td style="padding-bottom: 5px;" >
																	<span style="width: 100%;display:inline-block;">{{v.key}}</span>
																	<span ng-if="!v.edit" >
																		<input value="{{v.val}}" style="width: 350px;background: #efefef;border: 1px solid #999;padding: 7px;border-radius: 5px;" disabled /> 
																		<i class="fa fa-pencil" ng-click="v.edit = true" style="cursor:pointer;" ></i>
																	</span>
																	<span ng-if="v.edit" >
																		<input style="width: 350px;border: 1px solid #999;padding: 7px;border-radius: 5px;margin-right: 1%;" ng-model="ExternalAPIsTableData[lineData].data[k].newVal" ng-init="ExternalAPIsTableData[lineData].data[k].newVal = v.newVal" />
																		<button class="btn gray" ng-click="v.newVal = v.val; v.edit = false" >Cancel</button>
																		<button ng-if="ExternalAPIsTableData[lineData].data[k].newVal != ''" class="btn green" ng-click="v.val = ExternalAPIsTableData[lineData].data[k].newVal;v.newVal = ExternalAPIsTableData[lineData].data[k].newVal; v.edit = false; changeData.ExternalAPIsList = true;" >Save</button>
																	</span>
																</td>
															</tr></tbody>
														</table>
													</td>
													<td style="text-align: right;" ><i ng-click="lineData.deleteItem = true;changeData.ExternalAPIsList = true;" class="fa fa-trash-o" style="color:#ff0000;cursor:pointer;" ></i></td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div id="setup_external_apis_loader" class="setup_dashboards loading" style="display:none; background:rgba(255, 255, 255, 255) url('Images/AjaxLoader.gif') no-repeat scroll center center;width: 100%;min-height: 100px;"></div> 
									<div ng-if="changeData.ExternalAPIsList" class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px; border-top-width: 0;">
										<button class="btn gray" ng-click="ExternalAPIs_relaodExternalAPIsData();">Discard & Reload</button>
										<button class="btn green" ng-click="updateExternalAPIsData();">Submit & Apply</button>
									</div>
								</div>
							</div>
							<!-- <div class="tab-pane settings_list active" id="settings_graphs_and_dashboards">
								<div class="modal-body permission_box" style="padding: 0px !important;">
									<div class="setup_dashboards loading" style="display:none; background:rgba(255, 255, 255, 255) url('Images/AjaxLoader.gif') no-repeat scroll center center;width: 100%;min-height: 100px;"></div> 
									<div class="portlet-body flip-scroll" id="graph_setup_portlet">
										<div class="portlet green box">
											<div class="portlet-body util-btn-margin-bottom-5">
												<div aria-activedescendant="j2_8" role="tree" id="tree_2" class="tree-demo jstree jstree-2 jstree-default">
												</div>
											</div>
										</div>
										<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
											<button class="btn gray" ng-click="relaodDashboardsData();">Discard & Reload</button>
											<button class="btn green" ng-click="sendState();">Apply</button>
										</div>
									</div>
								</div>
							</div> -->
							<div ng-class="settingsActiveTab == 'pricing' ?  'active' : 'tab-pane settings_list'" id="settings_inapp_pricing">
								<div class="portlet-body" style="padding: 20px 20px 20px 20px;">
									<div id="setup_Inapp_pricing_content">
									
									
										<table id="inapp_pricing_table_holder" style="width:100%" class="campaigns-table" >
											<thead>
												<tr>
													<th> ID* <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] The inapp purchase identifier as specified in the store description."></i></th>
													<th> Package Name* <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] An informative package description."></i></th>
													<th> Price* <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] The package price as specified in the store."></i></th>
													<th> Currency <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[OPTIONAL] Currency used as specified in the store."></i></th>
													<th> Version <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[OPTIONAL] versioning to help you keep track of the inapps."></i></th>
													<th  style="width: 137px;text-align:center;" >Edit <i class="fa fa-info-circle tooltips" style="color:#0266c8" alt="" title=""></i></th>
													<th style="text-align: right;height: 61px;">Delete <i class="fa fa-info-circle tooltips" style="color:#0266c8" alt="" title=""></i> </th>
												</tr> 
											</thead>
											<tbody id="inapp_pricing_table">
												<tr style="border-top: 1px solid #dcdcdc; color: #333;border-bottom: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; color: #333;padding: 10px;cursor: pointer;" class="odd gradeX" ng-click="InAppPricing_createNewEditLine()" >
													<td><img style="height: 40px;" src="Images/api_icons/plus.jpg"></td> 
													<td>Create</td>
													<td></td><td></td><td></td><td></td>
													<td style="text-align: right;    height: 61px;" colspan="2">
														<button class="but-grey">+ New</button>
													</td>
												</tr>	
		<tr ng-repeat="(key,val) in PurchasePricesArr" ng-if="!val.deleteItem" style="border-top: 1px solid #dcdcdc; color: #333;border-bottom: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; color: #333;height: 55px;cursor: pointer;" class="odd gradeX" >
			<td>
				<span ng-if="!val.edit" >
					<input value="{{val.value.package_id}}" style="width: 96%;background: #efefef;border: 1px solid #999;padding: 7px;border-radius: 5px;" disabled /> 
				</span>
				<span ng-if="val.edit" >
					<input style="width: 96%;border: 1px solid #999;padding: 7px;border-radius: 5px;margin-right: 1%;" ng-model="PurchasePricesArr[$index].newVal.package_id" ng-init="PurchasePricesArr[$index].newVal.package_id = val.newVal.package_id" />
				</span>
			</td>
			<td>
				<span ng-if="!val.edit" >
					<input value="{{val.value.package_name}}" style="width: 96%;background: #efefef;border: 1px solid #999;padding: 7px;border-radius: 5px;" disabled /> 
				</span>
				<span ng-if="val.edit" >
					<input style="width: 96%;border: 1px solid #999;padding: 7px;border-radius: 5px;margin-right: 1%;" ng-model="PurchasePricesArr[$index].newVal.package_name" ng-init="PurchasePricesArr[$index].newVal.package_name = val.newVal.package_name" />
				</span>
			</td>
			<td>
				<span ng-if="!val.edit" >
					<input value="{{val.value.package_cost}}" style="width: 96%;background: #efefef;border: 1px solid #999;padding: 7px;border-radius: 5px;" disabled /> 
				</span>
				<span ng-if="val.edit" >
					<input style="width: 96%;border: 1px solid #999;padding: 7px;border-radius: 5px;margin-right: 1%;" ng-model="PurchasePricesArr[$index].newVal.package_cost" ng-init="PurchasePricesArr[$index].newVal.package_cost = val.newVal.package_cost" />
				</span>
			</td>
			<td>
				<span ng-if="!val.edit" >
					<input value="{{val.value.package_currency}}" style="width: 96%;background: #efefef;border: 1px solid #999;padding: 7px;border-radius: 5px;" disabled /> 
				</span>
				<span ng-if="val.edit" >
					<input style="width: 96%;border: 1px solid #999;padding: 7px;border-radius: 5px;margin-right: 1%;" ng-model="PurchasePricesArr[$index].newVal.package_currency" ng-init="PurchasePricesArr[$index].newVal.package_currency = val.newVal.package_currency" />
				</span>
			</td>
			<td>
				<span ng-if="!val.edit" >
					<input value="{{val.value.package_version}}" style="width: 96%;background: #efefef;border: 1px solid #999;padding: 7px;border-radius: 5px;" disabled /> 
				</span>
				<span ng-if="val.edit" >
					<input style="width: 96%;border: 1px solid #999;padding: 7px;border-radius: 5px;margin-right: 1%;" ng-model="PurchasePricesArr[$index].newVal.package_version" ng-init="PurchasePricesArr[$index].newVal.package_version = val.newVal.package_version" />
				</span>
			</td>
			<td  style="width: 137px;text-align:center;" >
				<span ng-if="!val.edit" >
					<i class="fa fa-pencil" ng-click="val.edit = true" style="cursor:pointer;" ></i>
				</span>
				<span ng-if="val.edit" >
					<button class="btn gray" ng-click="PurchasePricesCancel(val,$index)" >Cancel</button>
					<button ng-if="PurchasePricesArr[$index].newVal.package_id != '' && PurchasePricesArr[$index].newVal.package_name != '' && PurchasePricesArr[$index].newVal.package_cost != ''" class="btn green" ng-click="PurchasePricesEdit(val,$index)" >Save</button>
				</span>
			</td>
			<td style="text-align: right;" ><i ng-click="val.deleteItem = true;changeData.PurchasePricesArr = true;" class="fa fa-trash-o" style="color:#ff0000;cursor:pointer;" ></i></td> 
		</tr>
											</tbody>
										</table>
										
										
									</div>
									<div id="setup_Inapp_pricing_loader" class="setup_dashboards loading" style="display:none; background:rgba(255, 255, 255, 255) url('Images/AjaxLoader.gif') no-repeat scroll center center;width: 100%;min-height: 100px;"></div> 
									<div ng-if="changeData.PurchasePricesArr" class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px; border-top-width: 0;">
										<button class="btn gray" ng-click="relaodInappPricingData();">Discard & Reload</button>
										<button class="btn green" ng-click="updatePurchasePricesData();">Submit & Apply</button>
									</div>
								</div>
							</div>
							
							<div ng-class="settingsActiveTab == 'permissions' ?  'active' : 'tab-pane settings_list'" id="settings_my_permissions">
								<div class="portlet-body" style="padding: 20px 20px 20px 20px;">
									
			
			<div class="portlet-body" style="display: inline-block;width: 100%;" >
			
						<table style="width:50%;float:left;overflow:auto;" cellspacing="0" cellpadding="0" >
							<tr style="color: #333;border-bottom: 1px solid #dcdcdc; color: #333;height: 55px;border-right: 1px solid #dcdcdc;    border-top: 1px solid #dcdcdc;" >
								<th style="width: 25%;" > Application Name </th> <th style="width: 25%;text-align:right; padding-right: 3%;" > Permission </th>
							</tr>
							<tr  ng-repeat="(key,val) in games" ng-if="$index%2 == 0" style=" color: #333; color: #333;height: 55px;border-right: 1px solid #dcdcdc;" ng-style="{'border-bottom': ($last ? null : '1px solid #dcdcdc' )}"  >
								<td style="width: 50%;" >{{val.gamename}}</td>
								<td style="width: 50%;text-align:right; padding-right: 3%;" ><label style="background-color: #afc9e1; color: #FFFFFF; padding: 4px 8px; display: inline; border-radius: 2px;" >{{val.permission}}</label></td>
							</tr>
						</table>
					
						<table style="width:50%;overflow:auto;" cellspacing="0" cellpadding="0" >
							<tr style="color: #333; border-bottom: 1px solid #dcdcdc;height: 55px;border-top: 1px solid #dcdcdc;" >
								<th style="width: 25%;padding-left: 3%;" > Application Name </th> <th style="width: 25%;text-align:right;" > Permission </th>
							</tr>
							<tr  ng-repeat="(key,val) in games"  ng-if="$index%2 != 0" style="color: #333; color: #333;height: 55px;" ng-style="{'border-bottom': ($last ? null : '1px solid #dcdcdc' )}" >
								<td style="width: 50%;padding-left: 3%;" >{{val.gamename}}</td>
								<td style="width: 50%;text-align:right;" ><label style="background-color: #afc9e1; color: #FFFFFF; padding: 4px 8px; display: inline; border-radius: 2px;" >{{val.permission}}</label></td>
							</tr>
						</table>
						
				</div>
			
									
									</div>
								</div>
								
								<div ng-class="settingsActiveTab == 'permissions_manage' ?  'active' : 'tab-pane settings_list'" id="settings_permission_manager" style="min-height: 400px;" >
									<div class="portlet-body" style="padding: 20px 20px 20px 20px;display:inline-block;width: 100%;">
										<div>
							
		<div class="permission_manager_head" >
			<label style="float: left;margin-top: 4px;" >Select Application</label>
			<div class="dropdown permission_manager_select_app" >
				<button class="btn grey dropdown-toggle" data-toggle="dropdown" style="width:100%" >{{selectedAppName}}<i class="fa fa-angle-down" style="float:right;" ></i></button>
				<ul class="dropdown-menu" style="width:100%">
					<li ng-repeat="(key,val) in UsersPermissionsArr" >
						<a ng-click="permissionsAppSelected(val.gameid);" tabindex="-1" >{{val.gamename}}</a>
					</li>
				</ul>
			</div>
		</div>
		
		<table style="width:50%;float:left;overflow:auto;" cellspacing="0" cellpadding="0" ng-if="permissionCurApp" >
			<tr><th colspan=4 style="text-align: center;    border-right: 1px solid #dcdcdc;    padding: 5px;" >Registered Users</th></tr>
			<tr style="color: #333;border-bottom: 1px solid #dcdcdc; color: #333;height: 55px;border-right: 1px solid #dcdcdc;    border-top: 1px solid #dcdcdc;" >
				<th style="width: 25%;" >Email</th> <th style="width: 25%;text-align:right; padding-right: 3%;" > Permission </th>
				<th style="width: 30%;text-align:center;" >Edit</th> <th style="text-align:right; padding-right: 3%;" > Delete </th>
			</tr>
			<tr  ng-repeat="(key,val) in permissionCurApp.users" ng-if="!val.deleteItem" style=" color: #333; color: #333;height: 55px;border-right: 1px solid #dcdcdc;" ng-style="{'border-bottom': ($last ? null : '1px solid #dcdcdc' )}"  >
				<td style="width: 25%;" >{{val.email}}</td>
				<td style="width: 25%;text-align:right; padding-right: 3%;" >
					<span ng-if="val.edit == 0" >
						<label style="background-color: #afc9e1; color: #FFFFFF; padding: 4px 8px; display: inline; border-radius: 2px;" >{{val.permission}}</label>
					</span>
					<span ng-if="val.edit == 1" >
						<select style=" border: 1px solid #dcdcdc; border-radius: 2px; padding: 5px 6px 6px 6px;color: #888888;" ng-model="key55" ng-change="val.newPermission = key55" ><option>None</option><option>Read</option><option>Write</option><option>Admin</option></select>
					</span>
					<span ng-if="val.edit == 2" >
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size: 18px;" ></i>
					</span>
				</td>
				<td  style="width: 137px;text-align:center;" >
					<span ng-if="val.edit == 0" >
						<i class="fa fa-pencil" ng-click="val.edit = 1" style="cursor:pointer;" ></i>
					</span>
					<span ng-if="val.edit == 1" >
						<button class="btn gray" ng-click="val.edit = 0" >Cancel</button>
						<button ng-if="val.newPermission != '' && val.newPermission != val.permission" class="btn green" ng-click="userPermissionEdit(val,'r');val.edit = 2;val.permission = val.newPermission" >Apply</button>
					</span>
				</td>
				<td style="text-align: right;padding-right: 3%;" ><i ng-click="userPermDelete(val);val.deleteItem = true;" class="fa fa-trash-o" style="color:#ff0000;cursor:pointer;" ></i></td> 
			</tr>
		</table>
	
		<table style="width:50%;overflow:auto;" cellspacing="0" cellpadding="0" ng-if="permissionCurApp" >
			<tr><th colspan=4 style="text-align: center;padding: 5px;" >Pending Users</th></tr>
			<tr style="color: #333;border-bottom: 1px solid #dcdcdc; color: #333;height: 55px; border-top: 1px solid #dcdcdc;" >
				<th style="width: 25%;padding-left: 3%;" >Email</th> <th style="width: 25%;text-align:right;" > Permission </th>
				<th style="width: 30%;text-align:center;" >Edit</th> <th style="text-align:right; padding-right: 3%;" > Delete </th>
			</tr>
			<tr>
				<td  colspan=4 >
					<div ng-if="permissionCurApp" class="invite_user" style="display: inline-block;width: 100%;" >
						<div style="width: 90%; margin: 10px auto;" >
						<div class="input-icon input-iconFirstTutorial" style="float: left;border: 1px solid #dcdcdc;border-radius: 2px;margin-right: 3px;width: 267px;" >
							<i class="fa fa-envelope"></i>
							<input id="newUserEmail" class="newmail form-control placeholder-no-fix" type="text" placeholder="Email" name="email" style="height: 29px;" />
							
						</div>
						
						<select id="newUserPermission" style="border: 1px solid #dcdcdc;border-radius: 2px;padding:5px 6px 6px 6px;color: #888888;float: left;" >
							<option value="None" selected="selected" >None</option><option value="Read" >Read</option><option value="Write" >Write</option><option value="Admin" >Admin</option></select>
						<button style="float: left;margin-left: 3px;" class="btn grey newBtn" ng-click="onAddClick();">Invite User</button>
						</div>
					<span id="emailAlready" class="alredy has-error" style="display: none;float:left">Email already in the list</span>
					</div>
				</td>
			</tr>
			<tr  ng-repeat="(key,val) in permissionCurApp.tempusers" ng-if="!val.deleteItem" style=" color: #333; color: #333;height: 55px;" ng-style="{'border-bottom': ($last ? null : '1px solid #dcdcdc' )}"  >
				<td style="width: 25%;padding-left: 3%;" >{{val.email}}</td>
				<td style="width: 25%;text-align:right; padding-right: 3%;" >
					<span ng-if="val.edit == 0" >
						<label style="background-color: #afc9e1; color: #FFFFFF; padding: 4px 8px; display: inline; border-radius: 2px;" >{{val.permission}}</label>
					</span>
					<span ng-if="val.edit == 1" >
						<select style=" border: 1px solid #dcdcdc; border-radius: 2px; padding: 5px 6px 6px 6px;color: #888888;" ng-model="key55" ng-change="val.newPermission = key55" ><option>None</option><option>Read</option><option>Write</option><option>Admin</option></select>
					</span>
					<span ng-if="val.edit == 2" >
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size: 18px;" ></i>
					</span>
				</td>
				<td  style="width: 137px;text-align:center;" >
					<span ng-if="val.edit == 0" >
						<i class="fa fa-pencil" ng-click="val.edit = 1" style="cursor:pointer;" ></i>
					</span>
					<span ng-if="val.edit == 1" >
						<button class="btn gray" ng-click="val.edit = 0" >Cancel</button>
						<button ng-if="val.newPermission != '' && val.newPermission != val.permission" class="btn green" ng-click="userPermissionEdit(val,'p');val.edit = 2;val.permission = val.newPermission" >Apply</button>
					</span>
				</td>
				<td style="text-align: right;padding-right: 3%;" ><i ng-click="userPermDelete(val);val.deleteItem = true;" class="fa fa-trash-o" style="color:#ff0000;cursor:pointer;" ></i></td> 
			</tr>
		</table> 
		
												
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="edit_service_token" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog service_token_modal">
			<div class="modal-content">			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" style="color:#a1a1a1; font-size:30px;">Configure Service</h4>
				</div>
				
				<div class="portlet-body" style="padding: 20px 20px 20px 20px;">
					<table class="table table-striped table-bordered table-hover" style="overflow:inherit" >
						<thead>
							<th style="width:220px"> Service <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] Select a service for external actions."></i></th>
							<th style="width:150px"> Type <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] The type of the service."></i></th>
							<th> Data <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] The data for this specific service."></i> (* - Optional)</th>
						</thead>
						<tbody id="edit_service_token_table">
							<tr class="odd gradeX">
								<td>
									<div class="dropdown">
										<button class="btn gray dropdown-toggle cohorts_dropdown" id="select_service_title" type="button" data-service-title="{{ExternalAPIsEditLineData.newTitle}}" data-isNewLine="{{ExternalAPIsEditLineData.isNewLine}}" data-uniqueID="{{ExternalAPIsEditLineData.uniqueID}}" data-toggle="dropdown">{{ExternalAPIsEditLineData.newTitle}}<span ng-if="ExternalAPIsEditLineData.isNewLine==true" class="caret cohort_caret"></span></button>
										<ul ng-if="ExternalAPIsEditLineData.isNewLine==true" class="dropdown-menu" role="menu" aria-labelledby="menu1" id="select_service_action">
											<li  ng-repeat="(lineKey,lineData) in ExternalAPIsList" role="presentation">
												<a role="menuitem" tabindex="-1"  ng-click="ExternalAPIs_onServiceSelected(lineData.name, ExternalAPIsEditLineData.isNewLine, ExternalAPIsEditLineData.uniqueID)">{{lineData.name}} [{{lineData.type}}]</a></li>
										</ul>
									</div>
								</td>
								<td><input class="text-uppercase service_token_line_type" id="edit_line_type" type="text" value="{{ExternalAPIsEditLineData.type}}" disabled/></td>
								<td>
									<table>
										<tbody id="service_data_edit_fields">
											<tr ng-repeat="(key,value) in ExternalAPIsEditLineData.keys" class="odd gradeX">
												<td>
													<span style="width: 150px;display:inline-block;">{{value}}</span>
													<input class="service_token_line_type" style="width:350px;" id="edit_line_metadata_{{key}}" type="text" value="{{ExternalAPIsEditLineData.values[key]}}"/>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
						<button data-dismiss="modal" class="btn gray">Discard</button>
						<button class="btn green" ng-click="ExternalAPIs_onCompleteEditLine();">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <div class="modal fade" id="upload_icon" tabindex="-1" role="upload_icon" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Upload Application Icon</h4>
				</div>
				<div class="modal-body">
				   <form class="game_icon upload" action="http://prod.curve.tech/includes/upload.php" method="post" enctype="multipart/form-data">
						<table style="width:100%" >
							<tr><td>File:</td><td><div class="uploadDiv" >Choose File<input type="file" accept=".png,.jpg,.JPG,.PNG,.jpeg,.GPEG" name="file1" id="appIconInputFile" /></div>
							<span style="    color: #41B7E9;    padding-top: 3px;    display: flex;" id="addIconSelectedFileName" >No file chosen</span></td></tr>
							<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
							<tr><td>&nbsp;</td><td  style="text-align: right;" ><input class="btn green" type="submit" value="Upload" ng-click="uploadCompanyPic()" /></td></tr>
							<tr><td><input id="CustomerId" type="hidden" name="CustomerId" value="{{curCustID}}" /> </td></tr>
							<tr><td><input id="AppToken" type="hidden" name="AppToken" value="{{Token}}" /></td></tr>
						</table>
					</form>
					
					<div class="game_icon loading" style="display:none;background: url(Images/AjaxLoader.gif) no-repeat center center;width: 100%;min-height: 300px;"></div> 
				</div>
			</div>
		</div>
	</div>
 -->

	<!-- <div class="modal fade" id="userImage" tabindex="-1" role="userImage" aria-hidden="true"></div> -->
	
	 <div class="modal fade" id="edit_Inapp_pricing" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog pricing_modal">
			<div class="modal-content">			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" style="color:#a1a1a1; font-size:30px;">Add Pricing</h4>
				</div>
				
				<div class="portlet-body" style="padding: 20px 20px 20px 20px;">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<th> ID* <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] The inapp purchase identifier as specified in the store description."></i></th>
							<th> Package Name* <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] An informative package description."></i></th>
							<th> Price* <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[MANDATORY] The package price as specified in the store."></i></th>
							<th> Currency <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[OPTIONAL] Currency used as specified in the store."></i></th>
							<th> Version <i class="fa fa-info-circle tooltips" style="color:#0266c8" title="[OPTIONAL] versioning to help you keep track of the inapps."></i></th>
						</thead>
						<tbody id="edit_inapp_pricing_table">
						</tbody>
					</table>
						
					<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
						<button data-dismiss="modal" class="btn gray">Discard</button>
						<button class="btn green" ng-click="InAppPricing_onCompleteEditLine();">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div> 
	
	
	
	
	
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	<!----------------------------------------- MUST BE LAST!!!!!! --------------------------->
	
	<!-- <div class="modal fade" id="notify-box" tabindex="-1" role="basic" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" style="color:#aa0000; font-size:30px;" id="notification_title">TITLE</h4>
				</div>
				<div class="modal-body permission_box" style="padding: 25px;">
					<div class="portlet-body flip-scroll">
						<h3 id="notification_msg_1"> Are you sure you wish to permanently delete this graph? </h3>
						<p id="notification_msg_2"></p>
						<div class="modal-footer" style="padding: 20px 0px 0px 0px; margin-top:20px;">
							<button data-dismiss="modal" class="btn grey" id="notify-left-btn" style="display:none;">Close</button>
							<button data-dismiss="modal" class="btn red" id="notify-right-btn">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
